[2021-06-02 20:48] ltrung commented on #1331
Unfortunately, we do not support start the same meeting with same attendeeId for now. So you would need to pass in new attendeeId for each `DefaultMeetingSession`.

[2021-06-02 21:10] ltrung commented on #1330
@gavandivya Thanks, I have reproduced the issue. The problem is that our current build script in package.json `node script/webpack-wrapper.js` does not work in Windows. For now, could you replace the scripts part in the demos/browser package.json with the following and try again.
[code]

[2021-06-02 22:40] ldai1 commented on #1318
Hi,

For your last question, you probably can use audioVideoDIdStartConnecting, which is present with reconnection boolean parameter which they can use: https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L2506

To automatically pause video for a user, you probably can use this downlink policy `VideoPriorityBasedPolicy`, which providing the ability to ex

[2021-06-02 22:42] ltrung commented on #1330
#1344 should fix this issue so closing this issue.

[2021-06-02 22:42] #1330 closed

[2021-06-03 04:34] abhimanusharma commented on #1335
@dpwspoon Thanks for the clarification, Let me try this one, I will close this issue after successful implementation of the above.

[2021-06-03 04:39] abhimanusharma commented on #1331
@ltrung I think different AttendeeId should be for the different attendee but I am passing the attendee id of one attendee with the meeting id for all new attendees.

[2021-06-03 05:55] abhimanusharma commented on #1334
@ltrung I don't think this issue should be closed because I think it's unsafe to use AWS_ACCESS and AWS_SECRET on client side application as it will be exposed easily. Also during creation of userArn our AWS accountId will also exposed, Is this the correct way to implement this? Is it safe? Shouldn't there be a better way?

[2021-06-03 05:56] akash4chandran commented on #1284
@dpwspoon Thanks for your reply, No I haven't used Sigv4 in WebSocket request before, and now with your guidelines have included sigv4 in my request, but it produces the same unauthorized error.

![Screenshot 2021-06-03 at 11 19 38](https://user-images.githubusercontent.com/35295545/120594134-1bf5de00-c45e-11eb-8bb9-9b26e9cb9d0d.png)

In addition to that, now have used HTTPS Request for establishi

[2021-06-03 09:24] paramonych commented on #1332
I am using the parcel bundler along with the Svelte3 components

I would prefer to use the context independent prebuilt and tested version of the chime sdk js library, rather that building it as a node module. Is it possible?

Here is the simple Lambda function for JOIN and END endpoints and the client side code
[parcel-minimum.zip](https://github.com/aws/amazon-chime-sdk-js/files/6590490/parcel-m

[2021-06-03 10:19] OliverEberlei commented on #632
Is this something you are considering to add in the future? You are mixing the audio streams for every user anyway, aren't you? Since every user gets a downmix of all audio channels, minus their own audio, afaik.

Having the ability to specify individual volumes from each user to each other user would be amazing!

Example: User A thinks User B is too loud, so they want to reduce the volume of User

[2021-06-03 12:52] mrnav90 opened #1345 "How to implement Connection Indicator in Chime SDK?"
Hi everyone.
I'm trying to research implement `Connection Indicator` like image below:
<img width="233" alt="Screen Shot 2021-06-03 at 16 17 27" src="https://user-images.githubusercontent.com/9253581/120647177-816cbd80-c4a4-11eb-9ed7-1f3c5f1f59f0.png">
<img width="389" alt="Screen Shot 2021-06-03 at 16 17 52" src="https://user-images.githubusercontent.com/9253581/120647206-8893cb80-c4a4-11eb-8daa-

[2021-06-03 18:09] XHatan commented on #1318
Thanks for reporting this.
Looking at server side log and the incident logs you provided , this does not result from bandwidth.
The server encountered a sending error and hanged up for the receiving attendee (hence we only saw the receiving attendee lost websocket).

@Russelldan554  we will probably need some help to debug this further. While we are looking at this issue, were you able to reproduc

[2021-06-03 18:15] ltrung commented on #1331
Sound like you have resolved the issue on your end so closing this now. Feel free to reopen if you have more questions.

[2021-06-03 18:15] #1331 closed

[2021-06-03 22:06] ldai1 commented on #1345
Hi, thanks for using the Chime JS SDK. Yes, you can use the new method we recently launched to get these WebRTC metrics: https://aws.github.io/amazon-chime-sdk-js/interfaces/clientmetricreport.html#getobservablevideometrics. We also render those metrics in our meeting demo app to show those stats when you toggle the video WebRTC stats button and hover your mouse on video tiles. You can find the im

[2021-06-03 22:25] michhyun1 commented on #1003
@lavluda, Yes, I've been able to reproduce the bug. I haven't been able to reproduce this in other browsers, and I cannot reproduce this with other WebRTC based apps because it requires WebAudio to be enabled and I don't know how to enable WebAudio for other WebRTC based apps.

[2021-06-03 22:32] ltrung commented on #1334
I closed this issue since you already discussed with @dpwspoon in thread #1335. Could you post your question there?

[2021-06-04 00:49] ltrung commented on #1305
@massimo-bortolamei-hegias #1328 allows you to reset the device cache by passing in forceUpdate so closing the issue for now. Feel free to reopen or open new issues if you still have issues.

[2021-06-04 01:56] mrnav90 commented on #1345
@ldai1
Hi, Thank you for your reply.
We need more info about ( Uplink and DownLink ) for  both `Local user` and `Remote user`
Currently, we just only get
`Uplink for local user` -> `videoUpstreamMetricsKeyStats`
`Downlink for remote user` -> `videoDownstreamMetricsKeyStats`

How to get data `Packet loss` for Local user?
And about 2 observer of `AudioVideoObserver` not working.
We tried to add 2 ob

[2021-06-04 09:35] lavluda commented on #1003
@michhyun1 yes, we are using it for our meeting system. Yes, this bug only exists on the safari browser. For us, the workaround for this is to disable WebAudio for safari user, which is not best solution.

[2021-06-04 16:00] jheising commented on #1316
@XHatan hello, yes I've tried ideal, exact, and everything in between and it doesn't seem to matter. I am able to produce almost all the time on a Samsung S20. It also seems to happen pretty often on the Pixel 5 as well. Can you tell me which devices you are trying on? For many of them it works great, but S20's and Pixel 5's are pretty common.

In further testing it seems to be a combo more of the

[2021-06-04 17:20] ltrung commented on #386
@abhimanusharma @russliu270 Can you guys open a new issue? This has been closed so we may miss your questions here.

[2021-06-04 18:04] vsimeikoKG commented on #1317
@ltrung ,

I tried to recreate the issue last week with https://webclient.app.chime.aws/, but I was not able to get same broken behaviour. It happens time to time.

-----

I installed locally latest `master` branch which has your PR #1329 merged in. I attached logs with debug level as well where the issue happens.

Note: we can detect local audio input volume through `MediaStream`, so device is wo

[2021-06-04 18:29] XHatan commented on #1316
Thanks for the pointers.
I cleaned up and removed the goog constraints  in the master branch since most of them are deprecated. I guess you already try comment those out so I am not sure if it will help.

Yeah, I do not have Samsung and Pixel devices right now. just trying out on huawei and ios

[2021-06-04 21:25] dnnejo commented on #632
Thank you for the interest in the SDK and feature suggestion, we will keep this issue open till this request is fulfilled.

[2021-06-04 21:48] ldai1 commented on #1345
In our new method we recently launched, we provide both upstream and downstream metrics for local user. If you print the output of  `getObservableVideoMetrics`, you will see a list of metrics for each attendeeId include the local attendee. For the local attendee, you will see the metrics with following:
[code]
for all other attendees, you will get following metrics:
[code]
Do you see any informati

[2021-06-05 12:29] abhimanusharma opened #1349 "Hearing my own voice after initializing audioVideo.chooseAudioInputDevice"
I had to initialize audioInput device as the mute button was not working without initializing this. So, when the user just click on the invitation link and then selecting their audio video devices. In case user don't choose anything from audioVideo device list then the default device should select.

**Describe the bug**
The issue is other users don't hear any audio until the audio input device is

[2021-06-05 15:57] mrnav90 commented on #1345
@ldai1
Thank you reply and support.

1. About method `getObservableVideoMetrics` when we join 1 local user and 3 remote users then we can get array data of list user. But at local user we need to know `downlink info` of all remote users, it's mean each user have `Bitrate` = 100Kbps so local user should have `Bitrate downlink` = 300Kbps. ( Could you check my image attachment at issue detail )

2. W

[2021-06-05 17:25] rakesh-eltropy opened #1350 "Chrome not asking for audio/video permission in iOS.."
**Describe the bug**

Chrome is not asking for audio/video permission in iOS, hence not able to use audio/video controls. It's working fine in Safari. Is this a known issue in iOS Chrome? or someone can help me with this. I am using` amazon-chime-sdk-component-library-react`.

**Platform**
 - OS: iOS
 - Browser: Chrome
 - Browser Version: 91
 - Amazon Chime SDK GitHub Commit: master

[2021-06-05 18:38] abhimanusharma opened #1351 "Unhandled rejected during meeting join in Mozilla firefox browser"
[code]

Firefox is throwing this error.

**Meeting and attendee IDs:**
"attendeeId":"8c99db7a-0107-8ae3-3010-6174393fb9ea",
 MeetingId: "79627d89-ed23-4c83-8b33-cebea007437d"

**Describe the bug**
While joining the meeting form mozilla browser, it showing this error.

**Screenshots**
![Screenshot from 2021-06-05 23-18-44](https://user-images.githubusercontent.com/5707050/120900780-73f63580-c654-11

[2021-06-05 18:45] Russelldan554 commented on #1318
@XHatan We are consistently able to reproduce this with our puppeteer testing containers. They are just puppeteer scripts that connect to the meeting and sit there for awhile. These are launched in Fargate with varying cpu and memory limits although we noticed it happens whether we give it .5 cpu or 4 cpu.

We have not tried to recreate it in the demo. We have been using the sdk in our app for ove

[2021-06-07 09:44] junedlanja commented on #1336
In my case on meeting leave or any exceptions, I'm redirecting users to another page. But on the old page, I'm still getting event ** audioVideoDidStop**. What you log need? info level logs? @ldai1

[2021-06-07 13:37] konstantin-tarasov-clearscale commented on #543
:+1: yes, this workaround works.

[2021-06-07 16:17] vsimeikoKG opened #1352 "Camera LED stays ON after calling stopLocalVideoTile()"
**Meeting and attendee IDs:**
- Attendee 1 ID - 8c7c286c-44b3-74f8-9e2c-a3d241ce2184
- Attendee 2 ID - df99ab57-d8e1-51de-d518-0982f1a23bfe
- Meeting ID - db027c1a-c0bc-43d7-8d1e-257938ee2c6c

**Timeline**
- Open two Chrome tabs: anonymous and regular.
- Join the meeting from regular tab as attendee 1.
- Join the meeting from anonymous tab as attendee 2.
- Video starts correctly for both attendees

[2021-06-07 17:16] ltrung commented on #1270
Closing due to inactivity. Feel free to reopen if you still have issue.

[2021-06-07 17:16] #1270 closed

[2021-06-07 17:47] michhyun1 commented on #1350
Hi @rakesh-eltropy - can you please check if you've allowed Microphone and Camera access on the Chrome application level? I think you'll need to enable it in your phone's Settings > Chrome > Microphone/Camera enabled

[2021-06-07 20:17] ltrung commented on #1325
Closing this as a dup of #474

[2021-06-07 20:17] #1325 closed

[2021-06-07 20:35] michhyun1 commented on #1003
@lavluda thanks for bringing this up - this might be a bug on the WebKit side. I haven't seen this behavior on other browsers. I'll try to repro this using a mediaRecorder and audio graph and then see if the audio graph goes flat when I switch tabs.

[2021-06-07 20:52] Russelldan554 commented on #1318
@XHatan We noticed today while testing that the bug has stopped happening. We tested on our develop and beta sites and the beta site code has not changed in a week so it does not seem like anything we fixed on our end. Is it possible the chime servers were updated? I will keep you informed if we see it pop up again but we just spent a while testing and it did not happen once.

[2021-06-08 09:18] abhimanusharma opened #1353 "Callback is not working in realtimeSubscribeToAttendeeIdPresence"
I am initializing this handler on component mount, I tried to debug this but even the first console.log is not logging anything inside the callback. Inside the meeting, Video tiles disappearing, audio coming and going, mute/unmute button is not working, unable to get list of attendees.

Here is my code.

[code]

try catch is not working either. I don't understand how can I debug this.

Nothing is

[2021-06-08 21:33] #1308 closed

[2021-06-08 22:09] simmkyu commented on #1314
The `chime:AttendeeDropped` event occurs as soon as the Chime SDK attendee is dropped from the meeting. Poor or no internet connection causes the dropped event.

The Chime SDK for JavaScript automatically retries the connection when the SDK detects the following unstable connectivity event:
- No audio packets (WebRTC)
- Bad audio delay (WebRTC)
- No pong reply (WebSocket)

Feel free to reopen the

[2021-06-08 22:09] #1314 closed

[2021-06-08 22:11] vidya-mohan commented on #1238
Resolving due to no response

[2021-06-08 22:11] #1238 closed

[2021-06-08 22:28] vidya-mohan commented on #1227
Resolving as no logs. Please see https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#how-can-i-get-amazon-chime-sdk-logs-for-debugging

[2021-06-08 22:28] #1227 closed

[2021-06-08 22:28] vidya-mohan commented on #1170
Resolving as no response

[2021-06-08 22:28] #1170 closed

[2021-06-08 22:29] vidya-mohan commented on #1231
Resolving as no response

[2021-06-08 22:29] #1231 closed

[2021-06-08 22:29] vidya-mohan commented on #1248
Resolving as no response

[2021-06-08 22:29] #1248 closed

[2021-06-08 22:30] vidya-mohan commented on #1249
Resolving, pls reactivate in case of questions or cut a new issue

[2021-06-08 22:30] #1249 closed

[2021-06-08 22:34] vidya-mohan commented on #1336
You can find guidance https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#how-can-i-get-amazon-chime-sdk-logs-for-debugging . I would recommend keeping the original bug template when opening the request that calls out the steps or helpful information to go faster in the issue

[2021-06-08 22:49] XHatan commented on #821
we haven't seen it for a long time. I think Chrome fixed the issue.

[2021-06-08 22:49] #821 closed

[2021-06-09 00:14] XHatan commented on #1316
@jheising I could reproduce this in a Huawei device. but this does not work for me even if I comment out the code like you mentioned
https://github.com/aws/amazon-chime-sdk-js/issues/1316#issuecomment-848181394

it looks like in Android Chrome, last acquired media stream needs to be completely released before getUserMedia could return a new media stream

[2021-06-09 00:31] simmkyu commented on #1321
How about removing and re-adding an observer only when the `audioVideo` becomes available?

[code]

[2021-06-09 04:12] abhimanusharma commented on #1353
Early binding/ Late binding issue.

[2021-06-09 04:12] #1353 closed

[2021-06-09 08:04] abhimanusharma opened #1355 "Facing CORS issues while working with AWS Chime messaging SDK"
I took the example from :
https://github.com/aws/amazon-chime-sdk-component-library-react/blob/master/demo/chat/src/api/ChimeAPI.js

I am getting below error.
[code]

here is my code:

[code]

I don't understand how can I pass the  **x-amz-chime-bearer request header** from the above function of my reactjs client app.

[2021-06-09 16:59] AlexMCarv commented on #1321
That is an interesting approach, but I actually realized something. Rather than use the useAudioVideo hook, it would be best to use the useMeetingManager, and access the audioVideo from there. Just tested the following approach and I am consistently being able to log all events I can manually trigger. This way the cleanup effect only runs when the meetingManager changes, which fixes the issue with

[2021-06-09 17:30] vidya-mohan commented on #1352
@vsimeikoKG could you please look at the guidance in our FAQs on the order of the APIs being called https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#after-leaving-a-meeting-the-camera-led-is-still-on-indicating-that-the-camera-has-not-been-released-what-could-be-wrong

Since you are building a React app, we also have a React SDK here and you can compare and use components against this S

[2021-06-09 17:42] vidya-mohan commented on #1303
Closing as no response

[2021-06-09 17:42] #1303 closed

[2021-06-09 18:14] peili opened #1356 "Sound Quality issue: VoiceFocus with builtin Noise Cancellation Microphones (Headphones)"
Amazon Voice Focus noise suppressor can cause distorted audio when a device with active audio input noise cancellation is used.

Devices we are able to reproduce include: Bose QuietComfort and Jabra Evolve 75 MS.
There is no indicator/observer to detect the quality issue in the SDK. The user manually has to disable Amazon Voice Focus, when other participants share feedback about that bad quality a

[2021-06-09 19:29] michhyun1 commented on #1317
@vsimeikoKG Thanks for the logs. I was looking at the section where the infinite loop exists, and something caught my eye:

You call chooseAudioInputDevice with the parameter 'default'. Looking at the listAudioInputDevices output, you'd expect the 'default' device to be the Bluetooth headphones.
`
listAudioInputDevices false -> [{"deviceId":"default","kind":"audioinput","label":"Default - HD 4.40B

[2021-06-09 21:15] simmkyu commented on #1332
I followed the [dev.to blog post](https://dev.to/alexparra/basic-svelte-app-with-parcel-30i5) to set up a minimal Svelte app with Parcel. I could import the "Chime SDK for JavaScript" library, add an audio-video observer, and start a meeting without the circular dependency error.

1. Download and unzip [parcel-svelte.zip](https://github.com/aws/amazon-chime-sdk-js/files/6626868/parcel-svelte.zip).

[2021-06-09 21:22] vsimeikoKG commented on #1317
@michhyun1 ,

We rewrote some logic and we implemented Singleton for MediaStreams because of iOS Safari bug.

Here is an updated hook with the same infinite loop issue:
[code]

Hopefully, it makes it a bit easier to recreate the issue with `MediaStream.clone()`.

If it doesn't help, then I will proceed with your suggested debugging steps with our old code.

[logs.txt](https://github.com/aws/amazon

[2021-06-09 22:05] vsimeikoKG opened #1357 "Invalid camera gets selected when using MediaStream.clone() with chooseVideoInputDevice()"
**Meeting and attendee IDs:**
Meeting ID - f6464f45-7a03-4531-9632-4c2cc0912074
Attendee ID - abf5d8cb-a3cb-dc39-642d-5f60526b5afd

**Timeline**
- Open browser with 2 video inputs available: USB and FaceTime cameras.
- Join the meeting with camera A selected.
- I can see my local video preview from camera A, but all other attendees can see output from camera B.

**Describe the bug**
Chime connects

[2021-06-09 22:20] simmkyu commented on #1349
Right, you should not hear your voice in any condition. The issue may happen if you join the same meeting using two browser tabs or windows in the same local machine. Could you ensure that you have only one website using WebRTC, audio, and camera? Also, the Chime SDK for JavaScript does not have any API to hear your own audio. Please make sure that you do not have any other setup that may cause th

[2021-06-09 22:44] simmkyu commented on #1351
[code]

The Chime SDK for JavaScript uses the browser's [getUserMedia API](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia) to acquire access to the microphone and camera. According to the [getUserMedia API exceptions](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#exceptions), the `AbortError` indicates:

1. The following Firefox bug reports

[2021-06-09 23:06] dpwspoon commented on #1355
Sorry for the confusion.  Currently the APIs for the chime application and the chime messaging SDK are in the same documentation and package.  We are working on separating them.  The API you are looking for is create-app-instance-user.  The Messaging SDK apis generally have "channel" or "app-instance" in the name.

[2021-06-09 23:08] simmkyu commented on #1356
The Chime SDK for JavaScript offers two observer methods for the Amazon Voice Focus feature: `voiceFocusFellBackToInnerStream` and `voiceFocusInsufficientResources`. The `voiceFocusInsufficientResources` method indicates that the user experiences audio glitching. When this event occurs, you may disable the Voice Focus, limit video tiles, and notify the user.

Please see the Amazon Voice Focus guid

[2021-06-09 23:22] simmkyu commented on #1321
Yeah, the `useAudioVideo()` the Chime React Component Library returns the `null` whenever the attendee leaves a meeting.

Please reopen if you have any additional questions. We will keep this issue informed when the Chime SDK team adds a meeting-event observer in the Chime React Component Library.

[2021-06-09 23:22] #1321 closed

[2021-06-09 23:55] rnewman commented on #1356
Do you see the same issue on the same machine, same meeting, with Voice Focus enabled, but switching to e.g., built-in microphones?

[2021-06-09 23:57] rnewman commented on #1356
Which browser and version is exhibiting issues?

[2021-06-10 06:48] jungmal opened #1358 "How can I respond to end of support for Node.js 10 in Lambda?"
Hi,

I'm using severless demo and it is composed by Node.js 10.x
As you know, support is ended of for Node.js 10 in Lambda.

So, how can i handle it?

just replace nodejs10.x to nodejs12.x or nodejs14.x
in https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/serverless/template.yaml
and re-deploy serverless app?
(I don't know if this will)

or any other solutions?

thank you.

[2021-06-10 07:36] abhimanusharma commented on #1355
@dpwspoon  I understand that, but I want to know what is **AppInstanceUserId**?
Is this the email id or uuid of new user that I want to create for messaging?
I want an anonymous user to create an channel and send message to another anonymous user. Their email id is not saving on cognito or anywhere just saving them temporarily in db as records.

[2021-06-10 09:02] rlebosse opened #1359 "Too much pause unpause make a binded video blank"
**Describe the bug**

In order to preserve the user's data, each time there is a new `videoTile` (thanks to `videoTileDidUpdate`) I use `audioVideo.pauseVideoTile(tileId)` to pause the video stream.
When the attendee is displayed on screen on a `<video>` element, the video is unpaused with `audioVideo.unpauseVideoTile(tileId)` then bound to the `<video>` element.

Since the number of attendees tha

[2021-06-10 10:53] ajaysankarnair commented on #127
@hiteshranaut  which ionic whats the good way to integrate video call

[2021-06-10 13:04] tkulis opened #1360 "Change username in chime meeting"
Hi,

sorry for reporting this as a bug.
I cannot find Info, if it is possible to change username in one Chime meeting?

[2021-06-10 13:25] abhimanusharma commented on #1355
@dpwspoon Ok thanks for pointing me in the right direction. So now I am able to create an app instance user and got the userArn but that user can't do anything.
When I tried to call the createChannel api using that app instance user's ARN then I am getting below error.

[code]

I am passing the exact same userArn as I've received from the previous request but still getting errors.

[2021-06-10 13:35] abhimanusharma commented on #1349
Ok thanks for pointing out. I was opening multiple tabs/windows of the same system on my local machine.

There is one more issue that on the device selection screen other users with the same meeting url can hear this user before him joining the meeting.

One more thing when I am doing `this.meetingSession.audioVideo.unbindAudioElement()` this is muting all users in the meeting instead of current u

[2021-06-10 13:46] abhimanusharma commented on #1351
@simmkyu
1. I am using same meeting response and attendee response to create the meeting session on next screen/route. As our design is that way. I tried to pass the message session using circular json and many other to the next route (React Class Component) but as you already know this isn't possible so I had to create new session. I also tried to check remember me option in the mozilla device ch

[2021-06-10 14:12] abhimanusharma commented on #1335
@dpwspoon I was stuck when using MessegingSessionConfiguration but as per your suggestion I tried to use AWS STS but I am getting 403 unauthorized error.
[code]

I have added all the policies for the above user for STS.
[code]

#1355
Now I tried to use CreateAppInstanceUser to generate the userArn. Then use that userArn to create a messaging channel but getting **422 Unprocessable Entity**

[code]

[2021-06-10 15:51] vsimeikoKG commented on #1352
@vidya-mohan ,

I tried using the following and it still didn't work:
[code]

Attendee is still present in the meeting, so I can't call `audioVideo.stop()`

[2021-06-10 21:05] michhyun1 commented on #1317
@vsimeikoKG Which iOS Safari bug are you referring to?

Also,  I have been trying to reproduce this issue with your reproduction steps, but I haven't been able to reproduce it. In this case above, you are using a MediaStream as an input instead of the string 'default'. I also havent been able to reproduce the issue using a MediaStream as the parameter.

Could you try one thing - we recently added

[2021-06-10 21:07] michhyun1 commented on #1272
@tylerlot if you could provide a snippet of those debug logs when the infinite loop occurs that would be helpful.

Also, I have a slight suspicion that it might have something to do with the device cache that we maintain in the demo. Perhaps you can try this:

https://github.com/aws/amazon-chime-sdk-js/blob/5a68c57387b79c5c9361270d8a0878f6ede1ad2b/src/devicecontroller/DeviceController.ts#L57

When

[2021-06-10 21:35] simmkyu commented on #1351
Both the Chime SDK for JavaScript and the AppRTC use the same [getUserMedia API](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia) from the browser.

1. App level permission: Ensure that Firefox has access to your camera device in your OS.
2. Website level permission: Ensure that your website has access to your camera device. The AbortError usually indicates that the user

[2021-06-10 21:50] simmkyu commented on #1349
Yes, if you open the website enabled by the Chime SDK JavaScript in multiple tabs/windows, you will hear your voice unless muting one tab's audio input and output.

⠀

I guess that the user has already joined a meeting. Otherwise, other attendees should not be able to hear the user's audio. This should be a severe issue, but I am not aware of any ongoing issue in our support queue.

When this bug

[2021-06-10 22:01] tylerlot commented on #1272
@michhyun1 sounds good, in the meantime should I just update the boolean for listing out the devices to be true (even before we confirm if the deviceCache is the root of the issue?)

[2021-06-10 22:22] simmkyu commented on #1360
The Amazon Chime SDK for JavaScript (this repository) does not have the **username** concept, parameter, or API.

I assume that you mean the Chime Application. You can specify the `username` parameter in the [CreateUser API action](https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateUser.html#chime-CreateUser-request-Username), but I cannot find other Chime APIs to change the username.

[2021-06-10 22:22] #1360 closed

[2021-06-10 22:22] ltrung commented on #1358
Thanks for bringing this to our attention. I have updated our Lambda Node version to 14 in serverless demo deploy template.
You can checkout the latest code and re-deploy your own stack.

[2021-06-10 22:22] #1358 closed

[2021-06-10 22:37] michhyun1 commented on #1272
@tylerlot yeah, you can try that for now - I've been trying to reproduce this a couple times now but I haven't been able to. Is there any specific repro steps that could help me reproduce this? Debug logs would be very helpful otherwise.

[2021-06-10 22:56] vidya-mohan commented on #1254
Is this a consistent repro? Could we check if the recent build of Chrome fixes this ?

[2021-06-10 23:03] simmkyu commented on #1254
@vidya-mohan No repro. We observed the issue only once in the meeting on May 5.

[2021-06-10 23:29] michhyun1 commented on #1350
@rakesh-eltropy Did this resolve your issue?

[2021-06-10 23:31] #1305 closed

[2021-06-10 23:33] ltrung commented on #1277
@antoineveldhoven Closing due to inactivity. Feel free to reopen.

[2021-06-10 23:33] #1277 closed

[2021-06-10 23:58] aws-geoff commented on #1263
Hi @peili,

Thanks for creating this issue.  From what AWS region is your app making these CreateAttendee API calls?

Thanks,
Geoff

[2021-06-11 00:52] vidya-mohan commented on #1254
ok i will resolve it as its not actionable - we can reactivate with more details

[2021-06-11 00:52] #1254 closed

[2021-06-11 01:01] vidya-mohan commented on #233
https://github.com/aws/amazon-chime-sdk-js/pull/1281

[2021-06-11 01:01] #233 closed

[2021-06-11 03:48] abhimanusharma commented on #1355
@dpwspoon I was stuck when using MessegingSessionConfiguration but as per your suggestion I tried to use AWS STS but I am getting 403 unauthorized error.
[code]

I have added all the policies for the above user for STS.
[code]

#1355
Now I tried to use CreateAppInstanceUser to generate the userArn. Then use that userArn to create a messaging channel membership but getting **422 Unprocessable Entit

[2021-06-11 07:32] tkulis commented on #1360
Hi @simmkyu ,

sorry for confusion and wrong wording.
I was referring to **attendee** terminology.
in node.js MeetingDemo app that is this part.
![image](https://user-images.githubusercontent.com/8543254/121648515-e1acc200-ca97-11eb-820c-12eeda162dc1.png)

[2021-06-14 04:30] hitesh-encora commented on #127
@ajaysankarnair I was not able to found SDK working for cordova for chime.

[2021-06-14 20:33] vsimeikoKG commented on #1317
@michhyun1 ,

We faced an iOS bug where `getUserMedia()` call was erasing all previous MediaStream objects, so we implemented a simple Singleton for handling video & audio MediaStream objects. https://bugs.webkit.org/show_bug.cgi?id=179363

I tried using forceUpdate, but it didn't help:
[code]

Also, I've updated chime version to 2.11.0, so it should have extra debug logs.

Here is a debug level l

[2021-06-14 20:43] vsimeikoKG commented on #1352
@simmkyu @vidya-mohan ,

Thanks for the summary!

I was able to resolve the issue by making sure that there is only one active promise for `audioVideo.chooseVideoInputDevice()`. Seems to work as expected.

However, it would be great if there would be some kinda `LogLevel.WARN` or `LogLevel.ERROR` message for such situations since it's not documented in the documentation.

I think the issue can be

[2021-06-14 20:49] vsimeikoKG commented on #1357
@ltrung ,

I saw you added a `Bug` label to the issue.

Is there any timeline for this issue to get fixed?

Thanks!

[2021-06-14 21:09] vsimeikoKG commented on #1352
UPD.

Looks like it handles camera OFF/ON state locally for me, but for other attendees in the meeting it doesn't work properly.

I made some additional changes to properly reset video input with `audioVideo.chooseVideoInputDevice(null)`, so hopefully that fixes the issue for other users.

I'll try to gather some logs if the issue persists.

[2021-06-14 23:54] michhyun1 commented on #1317
@vsimeikoKG is there any way you can use a deviceId instead of 'default' or a MediaStream when calling chooseAudioInputDevice? It seems as if there is a bug when using a mediaStream with chooseAudioInputDevice.

Is there a way you can implement this method using a deviceId instead?

[2021-06-14 23:54] michhyun1 commented on #1350
Resolving dude to inactivity  - please reopen if needed

[2021-06-14 23:54] #1350 closed

[2021-06-15 07:41] abhimanusharma commented on #1351
I will provide all the details soon. I am testing on Brave and other browsers too.

[2021-06-15 14:25] vsimeikoKG commented on #1317
@michhyun1 ,

If I use `deviceId`, then it works correctly:
[code]

Is there any plans to to get `chooseAudioInputDevice` to work with `MediaStream` objects?

P.S. There is a [similar issue](https://github.com/aws/amazon-chime-sdk-js/issues/1357) for `chooseVideoInputDevice()` when using `MediaStream`.

[2021-06-15 16:15] ltrung commented on #1357
@vsimeikoKG We have been able to reproduced this bug and are currently discussing on how best to fix this.

[2021-06-15 17:06] michhyun1 commented on #1317
@vsimeikoKG yes, we recently found this bug, and we've noted it. Are you unblocked now? The same issue should exist in chooseVideoInputDevice, as they re-use similar code. Using deviceId is the suggested method for calling chooseAudio/VideoInput device, and we'll work on fixing the bug related to using MediaStream as the parameter.

[2021-06-15 17:29] vsimeikoKG commented on #1317
@michhyun1 ,

We're currently blocked by this as we need to use MediaStream outside of the Chime meeting for:
1) Video preview
2) Audio indicator
3) Audio testing

We are currently using `deviceId`, but we need to switch to the new MediaStream singleton logic that we implemented in order to fix the iOS issue.

[2021-06-16 00:23] #1355 closed

[2021-06-16 00:35] abhimanusharma opened #1367 "How to RealtimeReceiveChannelMessages ?"
I am trying to find out how can a participant know that they received a message and update the message in the UI of both the sender and the receiver.

I have started a messaging session using message session endpoint for every participant that is joining the meeting.

https://docs.aws.amazon.com/chime/latest/dg/websockets.html

I have found this documentation but unable to figure out a way to setu

[2021-06-16 00:36] #1349 closed

[2021-06-16 00:39] #1335 closed

[2021-06-16 00:44] ltrung commented on #1367
@abhimanusharma So we have 2 way to send message for chime SDK. One is realtime send data message which you can example implementation here https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L875.
The other is to use chime messaging API. For this all you need to do is to setup a messaging session and subscribe to `  messagingSessionDidReceiveMessage` as

[2021-06-16 05:11] abhimanusharma commented on #1367
@ltrung

Started session on my client app:

[code]

Here is sending request from my client to my backend app.

[code]

I am not receiving anything in **messagingSessionDidReceiveMessage**

[2021-06-16 17:41] michhyun1 commented on #1317
@vsimeikoKG thanks for letting us know. We're working on fixing this bug with using the MediaStream in chooseAudioInputDevice API. If you could perhaps give us more details on why you need the singleton and what your use case is? It seems like you are calling the chooseAudioInputDevice multiple times, which calls getUserMedia behind the scenes and thus triggers the iOS bug. Have you tried stopping

[2021-06-16 18:08] ltrung commented on #1367
Did you receive any error in console.log? Could you verify the userArn exists using `DescribeAppInstanceUser` (https://docs.aws.amazon.com/chime/latest/APIReference/API_DescribeAppInstanceUser.html)

[2021-06-16 19:17] michhyun1 commented on #1317
@vsimeikoKG we've merged a fix for using the mediaStream as the input for chooseAudioInputDevice. It's currently sitting on the HEAD of master branch. You may try using that and see if this unblocks you.

[2021-06-16 21:06] ldai1 commented on #1322
The signal strength 0 to 2 are used in our backend service. We expose 0 to 1 as value indicators in JS SDK. Documentation update with pr: https://github.com/aws/amazon-chime-sdk-js/pull/1368

[2021-06-16 21:27] peili commented on #1356
Yes.

[2021-06-16 21:28] peili commented on #1356
Chrome 91.0.4472.101, Chime SDK 2.11.0

[2021-06-17 00:27] abhimanusharma commented on #1367
I am not receiving any error, I am getting successful message sent in response also my AppInstanceUserArn exists.

[2021-06-17 01:34] abhimanusharma commented on #1367
I am not receiving any error, I am getting successful message sent in response also my AppInstanceUserArn exists.

When I am trying to run the demo, I am getting below error when trying to create a channel.

![Screenshot from 2021-06-17 07-01-16](https://user-images.githubusercontent.com/5707050/122316775-10181a80-cf3a-11eb-8f9d-02a17e9d15a7.png)

Also I was facing issue while running the app in h

[2021-06-17 04:20] abhimanusharma opened #1369 "Getting empty array in listChannels response"
I am using aws chat demo to implement chime's messaging/chat sdk.

Here is my sample code.
[code]
**Payload:**
[code]
I am getting channel ARN in response.

Using the same userArn and appInstanceArn I am calling listChannels.
[code]

**Payload:**
[code]
Getting empty array in response.

[2021-06-17 11:35] prashanthacharyam commented on #1054
Updating the browserslist did fix the error. Thanks.

[2021-06-17 14:35] vsimeikoKG commented on #1357
@ltrung ,

We tested the latest changes from master branch and your changes fixed our problem.

Much appreciated for the quick fix for the bug!

[2021-06-17 17:33] anuranduttaroy commented on #1367
Hey @abhimanusharma

I tried looking up the error "Missing region in config" and found some articles online like this one https://stackoverflow.com/questions/31039948/configuring-region-in-node-js-aws-sdk/39563972

I think you are missing adding the region in the `AWS.config`. Could you try adding the below line in your code and see if that fixes the issue?

[code]

[2021-06-17 18:29] ltrung commented on #1357
@vsimeikoKG Thanks. I will close the issue for now.

[2021-06-17 18:29] #1357 closed

[2021-06-18 16:59] XHatan commented on #1359
Thanks @rlebosse for opening the issue.

Could you explain more why pausing and unpausing the tile ?

FYI, pausing and unpausing are actual network operations to stop/resume receiving the stream data. So frequent use of the `pauseVideoTile` API is quite a network overhead

[2021-06-18 17:32] jingwy commented on #1369
Hi,

According to your code, you are creating a private channel.

When listChannels is called with an AppInstanceUser that is not AppInstanceAdmin, and the Privacy field is not specified, listChannels returns only public channels for the AppInstance by default.

However, when listChannels is called with an AppInstanceUser that is an AppInstanceAdmin, and the Privacy field is not specified, listCha

[2021-06-19 00:09] #1322 closed

[2021-06-19 06:16] abhimanusharma commented on #1367
@anuranduttaroy  Can you tell me in which file of the demo I have to write above code as the AWS is configure in the demo using the config file by default where the region is already set. Refer line [#134](https://github.com/aws-samples/amazon-chime-sdk/blob/main/apps/chat/src/providers/AuthProvider.jsx#L134) of chat demo.

Also my original question left unanswered, In what case the **messagingSes

[2021-06-19 06:18] abhimanusharma commented on #1369
@jingwy I want to all list private channels which are related to the current AppInstanceUser, In other words, I want all the channels in which this AppInstanceUser is a member of. Shouldn't he receive list of all the channels in which he is a member by default?

Can you also tell me, what could be the case when **messagingSessionDidReceiveMessage** is not receiving response in realtime from endpoi

[2021-06-21 06:15] E5920 opened #1372 "remote video is not coming when added more than 2rd user"
@michhyun1, i am facing issue when i have added  more than 2 users then 1st user, 2nd user screen, remote video is not coming while 3rd user screen remote video is perfectly fine & this is happen when i have added number of users. i don't know how is going to unbind videoElement after added more than 2 user, pl check & give a suggestion.

3rd user screenshot.
![image](https://user-images.githubuse

[2021-06-21 14:15] E5920 opened #1373 "if user turned off their own video then video element is not removed"
@michhyun1, i am facing issue when user turned off their own video then remote video element is not removed. in ideal condition videoelement should be removed, please correct me

Html Code.

< *ngFor="let user of videoElementStatus | keyvalue">

<id="{{user.key}}">

ts code :-

videoElementStatus: { [index: string]: number; } = {};
private domElement(className : string, key : string) {
if(classNam

[2021-06-21 14:37] vsimeikoKG commented on #1352
Issue was resolved after we updated to the latest master branch that has #1366 fix.

Additionally, we updated our code to make sure there is no multiple calls to `choose[audio|video]InputDevice`.

[2021-06-21 14:37] #1352 closed

[2021-06-21 15:14] gavandivya opened #1374 "Can I deploy the serverless meet in other region or is us-east-1 the only option?"
### What are you trying to do?
I am able to run the browser meeting demo and now want to deploy it as serverless meeting.

cd demos/serverless
npm install
npm run deploy -- -r us-east-1 -b <my-bucket> -s <my-stack-name> -a meeting

here while npm run deploy is it possible to create bucket in some other AWS region or us-east-1 is the only option?

[2021-06-21 16:26] massimo-bortolamei-hegias opened #1375 "Do not disconnect after one missed pong - set maximum amount of missable pongs"
I noticed that as soon as I miss one pong, and receive the next one out of order, my client disconnects automatically.
Is it possible to configure the maximum amount of missable pongs to something higher?

Sometimes the workload in our webapp is too high and a pong can be missed, causing the disconnection.

In addition, I also noticed (but I don't know if its related) that after a missed pong I ca

[2021-06-21 17:08] ldai1 commented on #1345
Hi @mrnav90,

Thanks for your response and patience. We are working on adding the `PacketLost` for local user, which targeting to get released in our next version.

Currently we are not supporting the accumulated bytes received for local user. We are in the progress to migrate to using standard getStats() API. We will consider to get it included in our migration. Thanks for bringing this up.

I am

[2021-06-21 20:56] vidya-mohan commented on #1336
Resolving as no update on data

[2021-06-21 20:56] #1336 closed

[2021-06-22 12:50] Coachtube commented on #1332
@simmkyu @vidya-mohan Thank you guys for the update! It worked for me after updating the SDK vesion from 2.10.0 to 2.11.0

![image](https://user-images.githubusercontent.com/30532310/122927475-20455500-d393-11eb-91bb-29d8c907fa73.png)

[2021-06-22 13:18] ahnytae commented on #754
@anuranduttaroy  Hi,
Why is realtimeSendDataMessage limited to 2KB?

I want to send more than 2KB of data.
Is there anything bad about exceeding 2KB?

[2021-06-22 13:18] ahnytae commented on #754
@anuranduttaroy
Hi,
Why is realtimeSendDataMessage limited to 2KB?

I want to send more than 2KB of data.
Is there anything bad about exceeding 2KB?

[2021-06-22 15:37] immvijay commented on #1257
Hi @mark-vanr , The new SDK API UpdateSipMediaApplicationCall will allow you to trigger a Lambda function at any time while a call is active, replacing the current actions with new actions returned by the invocation. Please download the latest version of the SDK to try this out.  For further details on the API, please refer to the AWS documentation : https://docs.aws.amazon.com/chime/latest/APIRef

[2021-06-22 16:11] #1332 closed

[2021-06-22 17:16] mark-vanr commented on #1257
Thanks @immvijay I've checked it out and this is exactly what I needed!

[2021-06-22 17:34] jingwy commented on #1369
Hi,

I think [ListChannelMembershipsForAppInstanceUser](https://docs.aws.amazon.com/chime/latest/APIReference/API_ListChannelMembershipsForAppInstanceUser.html) API is what you are looking for.  It will return you all the channels for a user.

[2021-06-22 18:06] michhyun1 commented on #1317
@vsimeikoKG thats great to hear. Is there any additional issues you are facing now? If not, please feel free to close this issue out. thanks

[2021-06-22 18:07] vsimeikoKG commented on #1317
@michhyun1 ,
No issues. Closing the ticket.

[2021-06-22 18:07] #1317 closed

[2021-06-23 00:52] devalevenkatesh commented on #1375
Yes, you can configure missed pongs by changing the [`connectionHealthPolicyConfiguration `](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/meetingsession/MeetingSessionConfiguration.ts#L62) while creating the `MeetingSessionConfiguration`.

The Amazon Chime SDK for JS uses defaults specified in the default [`ConnectionHealthPolicyConfiguration`](https://github.com/aws/amazon-chime-sdk

[2021-06-23 01:24] devalevenkatesh commented on #1374
Hi @gavandivya ,

Yes, It is possible to deploy (create AWS S3 bucket and AWS CloudFormation template) the demo in a different region. I just tried with below command and it worked for me.
[code]

Closing this issue please feel free to create new issue if you run into problems.

[2021-06-23 01:24] #1374 closed

[2021-06-23 01:36] devalevenkatesh commented on #1372
Hi @E5920 ,

Thanks for reporting the issue, it looks like your bind and unbind video element logic may not be correct to handle more users.

The JS SDK [browser meeting demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser) shows how you can implement such a scenario. Request you to go through it and understand the implementation for your use-case.

We also have few video

[2021-06-23 01:36] #1372 closed

[2021-06-23 01:56] devalevenkatesh commented on #1373
Hi @E5920 ,

As suggested in an other issue #1372 request you to go over the JS SDK meetingV2 demo implementation.

In order to handle the tile show-hide we have a [DemoTileOrganizer](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L89) responsible to acquire and release tile indexes from the available video elements. We store a mapping from tileId t

[2021-06-23 01:56] #1373 closed

[2021-06-23 02:20] husaindevelop opened #1381 "Unable to join chime meeting session with Request URL"
Be informed, we have deployed amazon chime singlejs sdk to implement our own meeting session. It was successfully deployed with the help of aws documentation. Self-Video shows up, meeting is initialized, attendees registered and even guest video shows up if we open the page on another tab. But what i'm unable to do is to join that particular meeting with a REQUEST URL eg ?join=109010101. I used th

[2021-06-23 03:33] gavandivya commented on #1374
Okay I thanks. So I hope it will even work in ap-south-1 region. Because previously  when I tried doing it and used ap-south-1, I was caught into some error.

[2021-06-23 08:18] mrnav90 commented on #1345
@ldai1
Hi, thank you for your support.
About method `getObservableVideoMetrics` it will receive video metrics data. But when we set turn off camera it not receive data, so now how to get PacketLost ?
About observer `connectionDidBecomeGood` `connectionDidBecomePoor` I saw it not working for me so I can use `PacketLost` calc network connection via code example.
[code]
Can you help or tell me know c

[2021-06-23 13:28] gavandivya commented on #1374
I am able to run the serverless chime demo(Create s3 bucket) in ap-south-1 so now where will my data stored? Is US-east-1 the only storage available or will my s3 bucket will be used for storage client and meeting details?

[2021-06-23 13:43] gavandivya opened #1383 "Deployed serverless meet in ap-south-1 where will my meeting will be stored?"
### What are you trying to do?

I am able to deploy the serverless demo meeting(Create s3 bucket) in the ap-south-1 region. So where will my meeting and client data store??
It will be on ap-south-1 i.e the S3 bucket I created or will be in the us-east-1 region as default, as mentioned by AWS chime documentation.

[2021-06-23 16:53] Berkyle commented on #1284
Hi all, thanks for you patience. My team decided to create an IAM role to provision temporary credentials for our application users on the client by utilizing the STS assume-role API, parameterizing the app instance user resource using session tags.

This issue can be closed, thanks for pointing me in the right direction.

[2021-06-23 16:55] #1284 closed

[2021-06-23 16:56] ltrung commented on #1284
@Berkyle Thanks for letting us know. Glad it worked for you.

[2021-06-23 18:51] devalevenkatesh commented on #1383
Yes, so the resources created as part of the deploy script like the S3 bucket and the CloudFormation created resources will be in `ap-south-1` if that's what is meant by "client data store".

For meeting, the media region defaults to `us-east-1`. In the locally deployed demo app, we do not specify `MediaRegion` in `CreateMeeting` API hence default region would be `us-east-1`.

Below documentation

[2021-06-23 19:01] gavandivya commented on #1383
Okay, client data means the information that is entered while joining the chime meeting like the meeting title, user name and the location in with meeting is hosted. And what about the meeting Id and attendee Id created that is created.  So where all this data is stored?

Because in documentation it is mentioned that if we have meet in us-east-1 then only the user info will be stored otherwise it

[2021-06-23 19:18] devalevenkatesh commented on #1381
Hi @husaindevelop ,

Thanks for reporting this issue. From the code, you are creating meeting session configuration and meeting session twice. This is not required.
[code]

This code block is also repetitive, the latter two lines are fine, you can remove the first two line:
[code]

Please correct me if I am understanding incorrectly. So you are trying to create / re-use the meeting response and cr

[2021-06-23 20:04] Berkyle opened #1384 ""TypeError: Chime is not a constructor" via aws-sdk with MessagingSessionConfiguration"
### What are you trying to do?

I'm trying to initialize a messaging session on the client side using the AWS SDK and the AWS SDK's Chime client.

### How can the documentation be improved to help your use case?

Document how to utilize the AWS-SDK in the browser in order to subscribe to message events.

### What documentation have you looked at so far?

I've followed documentation within this rep

[2021-06-23 21:07] Berkyle commented on #1384
Turns out the fix is just to not use a wildcard import. It would probably be best to update this in the documentation since I imagine a lot of use cases will involve developing a chat application for the browser.

[code]

[2021-06-23 22:24] vidya-mohan commented on #1257
thanks @mark-vanr for the confirmation. I am resolving the issue after your acknowledgement

[2021-06-23 22:24] #1257 closed

[2021-06-24 01:31] husaindevelop commented on #1381
To put it in short words, i'm trying to join the room which already has attendees, I was able to somehow create a meeting with two persons successfully. But after closing the window and few hours after, if i try to recall that meeting id with attendees, the page shows up blank. Why is that ? Should it not just re-enter the meeting session.

[2021-06-24 01:50] husaindevelop opened #1386 "Unable initializing chime singlejs sdk in android webview"
Be informed, we have deployed chime singlejs sdk in our web app and android apps. Under web app, it is working just fine, but on android webview, the amazon chime sdk just does not initialize, so much so even self-camera itself does not show up. All the permissions are given, but yet even basics do not work (camera initialization). Only a play icon is visible in those video-frames.  Tell us how we

[2021-06-24 02:15] husaindevelop opened #1387 "Unable to add video tiles in chime singlejs sdk"
Be informed, we have deployed amazon chime sdk singlejs for setting up meeting. The meeting is established successfully, self-video and guest video tile - 1 opens up. But we are unable to get multiple user to open in multiple video tiles. We also invoked UpdateTiles function under class "Observer" as referenced in blog:https://www.sufle.io/blog/serverless-meetings-with-amazon-chime-sdk, but it doe

[2021-06-24 11:51] abhimanusharma commented on #1369
Thank you so much, that is exactly what I was looking for.

[2021-06-24 11:51] #1369 closed

[2021-06-24 12:33] nickfedorbg opened #1388 "When the user connect from the iOS device attendeePresenceReceived doesn't trigger"
**Meeting and attendee IDs:**
MeetingId: 5dea1a02-2b8e-4e5a-bfec-e080961e0706
iOS AttendeeId:  81b81382-7ca7-0cfe-4ef4-72674fc0b81f
Desktop AttendeeId: 7104f889-1a05-45f9-80c0-62b48128e8e6

**Timeline**
2021-06-24T12:18:47.786Z - Starting meeting
2021-06-24T12:21:12.337Z - iOS attendee start joining meeting

**Describe the bug**
When the attendee joins the meeting from the iOS device, all other at

[2021-06-24 14:00] devalevenkatesh commented on #1381
An Amazon Chime meeting auto-ends in below cases:
- No audio connections are present in the meeting for more than five minutes.
- Less than two audio connections are present in the meeting for more than 30 minutes.
- Screen share viewer connections are inactive for more than 30 minutes.
- The meeting time exceeds 24 hours.

https://docs.aws.amazon.com/chime/latest/dg/mtgs-sdk-mtgs.html

Since, you

[2021-06-25 00:14] vidya-mohan commented on #1318
thanks @Russelldan554 , we will close the issue for now

[2021-06-25 00:14] #1318 closed

[2021-06-25 00:42] vidya-mohan commented on #1367
@abhimanusharma have you looked at https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/chat ?

[2021-06-25 01:18] ldai1 commented on #1345
Hi,

If you turn off camera, you won't get video quality metrics for yourself, the packet lost will be 0 for your video stream metrics. We are adding the the packets loss for local user and packets received for remote users in this [pr](https://github.com/aws/amazon-chime-sdk-js/pull/1382) as you requested.

Also did you check our implementation in the meeting app demo [here](https://github.com/aw

[2021-06-25 02:42] devalevenkatesh commented on #1386
Hi @husaindevelop ,

Thanks for reporting the issue. Currently, we do not have official support for Android Webview.
Could you please let us which Andriod webview version you are using?

Currently supported browsers: https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html#mtg-browsers.

[2021-06-25 02:53] devalevenkatesh commented on #1387
Hello @husaindevelop ,

This looks very similar to one of the recently closed issues: #1372

In the pasted code above, I am not sure if you have missed adding above in code or calling `updateTiles` function from `videoTileDidUpdate` observer. Could you please check that?

Our JS SDK [browser meetingV2 demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser/app/meetingV2) sho

[2021-06-25 04:38] husaindevelop commented on #1386
While we are able to view on mobile browser, fail doing through an android webview app compiled with version 30, though it carries a chrome browser frame, that was duly acknowledged by amazon chime supported browsers: https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html#mtg-browsers

What we expect is its resolution, that will enable an identical view outcome on both android webview app a

[2021-06-25 06:12] husaindevelop commented on #1381
I think that answers the question. We are fine with it. Thank you for the reply. I'm closing the ticket.

[2021-06-25 06:12] #1381 closed

[2021-06-25 09:23] bachvutrong opened #1390 "How to set and edit user information effectively in Chime SDK"
### What are you trying to do?
Hi.
I'm trying to set and edit the user information in a room (i.e. user avatar, ...). Is there any way to do that like a data channel but not message channel, so that if a user update the avatar, the others will be synchronized and display it correctly"

[2021-06-25 11:08] paul365 opened #1391 "Control output volume level"
### What are you trying to do?

Hi, I'm trying to control the output volume of the chime meeting just on my end, but can't find any documentation on how to do it. I've seen it being done with the input but what I want to control is the output volume. Thanks!

### How can the documentation be improved to help your use case?

Show steps and/or example of the to control the output volume.

### What d

[2021-06-25 11:57] abhimanusharma commented on #1367
@vidya-mohan Obviously I did, sorry but If you tried to read previous comments then you would know what I have tried.
I have tried everything that mentioned in the doc and as suggested by @ltrung and @anuranduttaroy

Instead of sending the url please read the comment and reply with a solution.

[2021-06-25 16:58] devalevenkatesh commented on #1388
Hello,

Thanks for reporting the issue.

Could you please clarify what is "attendeePresenceReceived"? Is it the meeting event you receive in `eventDidReceive` AudioVideoObserver?

[2021-06-25 17:07] nickfedorbg commented on #1388
Hi @devalevenkatesh.

Yes, I have subscribed for the "realtimeSubscribeToAttendeeIdPresence" event. And the callback function doesn't call when the iOS user joins meetings. Also, when the user joins from a desktop or Android phone I see the following messages in the console:
![image](https://user-images.githubusercontent.com/69472493/123460656-a01c2b00-d5f0-11eb-8ef7-a6fc4660f104.png)

But when th

[2021-06-25 19:05] devalevenkatesh commented on #1391
Hello @paul365 ,

Currently, The Amazon Chime SDK for JavaScript has no APIs to control the output volume of the Amazon Chime meeting. However as a workaround, you might be able to change the volume for the audio element you bind using the `bindAudioElement` API like explained below. You can get the audio element which is used to bind the audio from the meeting and then change the volume for it.
[

[2021-06-25 19:06] #1391 closed

[2021-06-25 22:19] devalevenkatesh commented on #1386
Sorry I could not understand the issue specifically.

Could you please tell us if you are able to use Amazon Chime JS SDK in Android Webview and are having problem with resolution? (As per latest comment). Is this video resolution or something else?
Also, in the initial description you said that the nothing is working with Amazon Chime JS SDK hence we would like to confirm the exact issue.

[2021-06-25 22:32] michhyun1 commented on #1386
@husaindevelopthe sdk does not currently support android webviews. You'll find the [list of user-agents](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/browserbehavior/DefaultBrowserBehavior.ts#L12-L24) that we use to identify supported browsers.

Android webviews should support WebRTC, so theoretically, you should be able to add the browser name extracted from the user-agent by ua-par

[2021-06-25 22:46] devalevenkatesh commented on #1390
Hi @bachvutrong ,

Thanks for your interest in the Amazon Chime SDK for JavaScript.

Unfortunately, we do not have a direct way for your use case to do synchronization across all attendees (local + remote) in an meeting. Assuming that by data channel you mean the WebRTC datamessages and message channel means the JS SDK messaging session. Using data messages you can use AudioVideoFacade's [`realtim

[2021-06-25 22:46] #1390 closed

[2021-06-26 00:32] devalevenkatesh commented on #1388
Hello,

Thanks for providing more information. I have went through the attached logs and see that the IOS attendee could not join the meeting and hence the attendee presence callback did not trigger. The other attached log is Chrome which works fine.

In the provided logs, I see your app never calls `chooseAudioInputDevice` API and hence Safari runs into an issue of no attendee presence triggering

[2021-06-26 00:32] #1388 closed

[2021-06-26 00:33] devalevenkatesh commented on #1387
Closing this issue for now. Please feel free to re-open or create new one if provided information does not help. Thanks!

[2021-06-26 00:33] #1387 closed

[2021-06-27 00:56] husaindevelop commented on #1387
@devalevenkatesh, Hi.

Using the following query to add video tiles.
[code]
Note:This process is tested on one laptop with multiple tabs simultaneously

- Second tab opened, the first tile opens up without any issue. One-to-one conversation starts successfully.
- Third tab opened, the second tile does not open up. Need refreshing the page to start conversation between two other video tiles, but on

[2021-06-27 01:10] husaindevelop commented on #1386
@devalevenkatesh, No by resolution, we mean solution to the problem we are facing, which is amazon chime SDK not working in android webview. That's the issue. This SDK works just fine in mobile chrome browser but not in android webview, which actually runs a chrome browser client frame.  Naturally, i thought it would work considering chrome is a supported browser as per your documentation.

Not pu

[2021-06-27 01:44] husaindevelop commented on #1386
Do you support cross platform technologies like cordova, react, ionic. We won't mind changing to them if chime support them.

[2021-06-27 06:17] husaindevelop opened #1392 "chime sdk not working in android chrome browser"
**Meeting and attendee IDs:**
25bad551-68fd-4ac4-b7ac-5c1

**Timeline**
11:40 IST: Opened our chime sdk test page in android version 10 mobile chrome browser
11:40 IST: Asked for permission for microphone and webcam
11:41 IST: Self-video does not show up

**Describe the bug**
Unlike in web app, even self-video does not show up let alone video tiles. Page asks for permissions for video and micropho

[2021-06-27 18:01] husaindevelop opened #1393 "Unable integrating voicefocus in chime sdk singlejs"
I'm trying to integrate voicefocus feature in our chime sdk singlejs demo as per the documentation given hereunder:
https://aws.github.io/amazon-chime-sdk-js/modules/amazonvoice_focus.html

But unfortunately all the codes given there is of typescript language, which obviously does not work with javascript codes. The first line of code 'transformer' itself fails.

Our javascript sdk code is as give

[2021-06-28 03:27] paul365 commented on #1391
Thanks!

[2021-06-28 11:22] gsudhanshu opened #1394 "Can a single tileId be bound to 2 videoElements?"
I have a requirement where a single tileId is to be bound to 2 different videoElements, is this possible using sdk js?

[2021-06-28 17:06] devalevenkatesh commented on #1394
Hi @gsudhanshu ,

Currently, we do not support this use case in the JS SDK. We can bind only a single video element to a video tileId. Closing this issue for now please feel free to re-open if you have more questions.

[2021-06-28 17:13] devalevenkatesh commented on #1392
Hi @husaindevelop ,

Thank you for reporting the issue. Can you please check the meetingId again? We could not find the meetingId to check the events for it. Also, could you please provide browser console logs to know what error you are running into?

[2021-06-28 17:54] husaindevelop commented on #1392
I will send you soon

[2021-06-28 17:55] michhyun1 commented on #1394
I believe a given tileState [can only reference one videoElement](https://github.com/aws/amazon-chime-sdk-js/blob/2e2c7e36631d898b925e6e341c28f72dafcfa8d6/src/videotile/VideoTileState.ts#L61), so technically you cannot map a tileId to two different videoElements at the same time - however, you can play the same video stream on two different videoElements, you just need to be careful not to lose re

[2021-06-28 17:58] husaindevelop opened #1395 "Increase the height of video tile while keeping width same"
Be informed, we are using chime sdk singlejs to deploy our own video chat application. We are trying to currently stretch our video tile vertically (height) while keeping the width same. Currently it is only stretching proportionately, which is not a desired result for us. For example zoom application has a fit-to-window height video tile, while keeping the width same.  Is it possible to do with t

[2021-06-29 01:09] devalevenkatesh commented on #1383
Hello @gavandivya ,

The `meetingId` and the `attendeeId` apart from the actual audio video media from the `CreateMeeting` and `CreateAttendee` API will be still stored in `us-east-1`. The media will be stored nearest to your region if you use nearest media region API as linked in above documentation otherwise you can specify `mediaRegion` as we do in our demo [here](https://github.com/aws/amazon-

[2021-06-29 01:35] husaindevelop commented on #1395
Thanks to secondary sources, could find a way out to present the video graphic the way we envisage.

[2021-06-29 01:35] #1395 closed

[2021-06-29 19:35] xuesichao commented on #474
Hi everyone, although we have not fully resolved this issue yet, we have made some progress. Through our observations, we believe this issue is likely to be related to some restriction of browser.

As we mentioned before:

In some cases, the browser seems to block the output of this fake audio input, causing the server to fail to receive the signal, which further prevents the user from joining the

[2021-06-30 11:42] narender016 commented on #429
![16250531991047250424828558485483](https://user-images.githubusercontent.com/65656990/123954468-0ecd0000-d9c6-11eb-9c78-f8c82da2fce0.jpg)
Sometimes I got this error when session is started
And then start sharing vidwo

[2021-06-30 15:05] rakesh-eltropy commented on #175
@vidya-mohan do we have any first class API support for meeting recording, ability to send stream to Kinesis etc now?

[2021-06-30 15:13] devalevenkatesh commented on #1375
Hello, we are closing this issue now. Please feel free to create or re-open if you have more questions.

[2021-06-30 15:13] #1375 closed

[2021-06-30 15:16] devalevenkatesh commented on #1384
Thanks for pointing this out and helping us correct it. We will be updating the README for this soon.

[2021-06-30 15:39] gmonn opened #1402 "Audio/Video lag in meeting Sessions"
We are testing our application before goLive and we are starting to see issues where the audio streams are lagging behind the video streams for meetings. While this appears to be random, we are seeing some of the lag when connecting to the meetings from Chromebooks, Safari 13.1.2 and then some on Chrome as well.

We have looked through our logs and don't see anything that really sticks out, we hav

[2021-06-30 16:10] devalevenkatesh commented on #1402
Hello @gmonn ,

Could you please help us with below details to look into the issue:
1. Console logs for the affected meetings with `meetingId`, `attendeeId`. You can follow [this](https://aws.github.io/amazon-chime-sdk-js/modules/apioverview.html#1a-create-a-logger) guide to create and pass the logger while creating the meeting session.
2. Version of JS SDK you are using.
3. Is this same observati

[2021-06-30 16:20] ldai1 commented on #1345
Hi,

We will be releasing the packet loss percent for video upstream and packet received for video downstream so that you will get both uplink data and downlink data for local attendee.

You won't get PacketLost when you turn off camera. But you will still get packet lost data for remove attendees if they turn on their video.

Can you include the code snippet that you use the observer and how you

[2021-06-30 16:32] gmonn commented on #1402
I don't have the logs for these four meetings, but we have changed the logger level and will try and reproduce in our load testing meeting this afternoon in our staging environment.

(1)
However we have seen the lag in these four meetings so far:
MeetingId - 454c4b34-2774-4944-b866-cd336b590706 ( Meeting on 6/24 )
AttendeeId - 7f36d125-9a27-414f-6dec-00467e11f559
Browser - MacOS - Safari - 13.1.2

[2021-06-30 19:56] michhyun1 commented on #429
@narender016 if you could create a new issue instead, that would be much appreciated. Thanks. Please include logs and more details if you can. Thanks.

[2021-06-30 20:02] mvaghasia opened #1403 "Non host attendees wait until host join meeting"
### What are you trying to do?

I wants attendees should be in wait page until host join meeting.  Do you have any event  which can notify attendees that host join meeting. Will it possible to get host join event through existing socket connection ?

### How can the documentation be improved to help your use case?

### What documentation have you looked at so far?

socket data which can be receive

[2021-07-01 07:10] mrnav90 commented on #1345
Hi @ldai1
This short code I'm using observer.
Just call: `meetingObserver.subscribe();`
I don't know how to trigger this event? it's mean you say we need to call a function for trigger event? or this event will be trigger automated?
If not correct, could you help explain for me?

Thanks
[code]

[2021-07-01 07:26] massimo-bortolamei-hegias commented on #1375
Hey @devalevenkatesh sorry for not getting back to you. I followed your advice and tried setting `ConnectionHealthPolicyConfiguration.missedPongsLowerThreshold = 4` and  `ConnectionHealthPolicyConfiguration.missedPongsUpperThreshold= 10`. We are now testing to see if this will solve our problem. If that is not the case, I'll open a new issue with more logs. Thanks

[2021-07-01 08:51] E5920 opened #1405 "active speaker screen is not working"
@devalevenkatesh , i am facing issue with active speaker screen, when speaker is activated then controll is not coming in "activeSpeakerCallback(attendeeIds )"  so that way active speaker  not  detecting. pl check my code and suggest

ts  file

t ileIdToIndex: {[tileId: number]: string; } = {};
  attendeeIdToTileid: {[attendeeId: string]: number; } = {};
  activeAttendeeId:string = "";

constructo

[2021-07-01 09:29] E5920 opened #1406 "getting end call message when chime app is running"
@devalevenkatesh , i am facing issue when  chime application running sometime it's working fine but most of the time getting end call message , have only added activeSpeakerCallback(attendeeIds ) for active speaker then issue is creating, pl  check & suggest.

ts file.
t ileIdToIndex: {[tileId: number]: string; } = {};
attendeeIdToTileid: {[attendeeId: string]: number; } = {};
activeAttendeeId:str

[2021-07-01 11:50] gsudhanshu commented on #1403
@mvaghasia we had a similar use case and we implemented this through our application. I think you need to build that into your application

[2021-07-01 11:53] gsudhanshu commented on #1394
@michhyun1 in case I bind a tileId to 1 video element. Then how can I play that videostream onto another videoelement? I do not know how to access video stream from tileId .

[2021-07-01 14:32] mvaghasia commented on #1403
Can you provide more details how did you implement ? Have you created new socket with yours server which used for notify attendees of host join event ?

[2021-07-01 17:42] devalevenkatesh commented on #1393
Hello @husaindevelop ,

Can you please let us know if you are removing and not using any types while following the VF guide?

As you correctly pointed, the guide follows TypeScript but not JavaScript. Can you please let us know if removing the types while following the guide works for you?

For example, removing type for `transformer` below in [this step](https://aws.github.io/amazon-chime-sdk-js/

[2021-07-01 22:05] michhyun1 commented on #1394
if you have the tileId, you can getVideoTile.state(). The VideoTileState will have a reference to the video stream that is bound to that video tile id.

https://aws.github.io/amazon-chime-sdk-js/classes/videotilestate.html#boundvideostream

Just a reminder that this is not a supported use case of the SDK, but feel free to work with the stream to build your own solution.

[2021-07-01 23:48] devalevenkatesh commented on #1163
Hi @shriyajuneja ,

We have an duplicate issue #1316  with possible problem discussed. We are closing this one to track the progress there.

[2021-07-01 23:48] #1163 closed

[2021-07-02 03:31] devalevenkatesh commented on #1406
Hello,

Sorry, I could not understand the issue completely. Could you please clarify below questions?
1. What do you mean by the "end call message"?
2. From the code, it looks like based on active speaker you want to bind and show the video tile for the active speaker. But this is my guess, could you please help us understand your use case here?
3. We have a subscribe and unsubscribe functions whi

[2021-07-02 04:38] gsudhanshu commented on #1406
@devalevenkatesh @michhyun1

We are already using the subscribe method in the constructor

[code]

We are using callback this.activeSpeakerCallback but this callback function is not being called. And most of the times we are getting control in audiovideodidstop

[code]

We are concerned why this is happening?

[2021-07-02 05:24] abhimanusharma opened #1409 "Chime url expired after some time but it available again after 24 hours or so. Why?"
### What are you trying to do?

Trying to create unique meeting url which should not be available again once meeting has ended.
Trying to schedule a meeting in future (say 4 days in future.) that should not be accessible once the host ends the meeting or scheduled meeting time. Mute/Unmute other participants.

### How can the documentation be improved to help your use case?
How to achieve the belo

[2021-07-02 06:06] gsudhanshu commented on #1406
@michhyun1 @devalevenkatesh

Also, I observed that there is an interface

[ActiveSpeakerObserver](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.audiovideo.audio.activespeakerdetector/-active-speaker-observer/index.html
)

but I am not able to import it from amazon-chime-sdk-js, how can I use this for my use case?
*Use case to show active

[2021-07-02 16:42] devalevenkatesh commented on #1406
Hi @gsudhanshu ,

Could you please help us with `meetingId`, `attendeeId` and corresponding console logs?

This will help us understand how the `audioVideoDidStop` occurs. If you are calling the `audioVideo.stop()` or something else.

[2021-07-02 17:25] ldai1 commented on #1345
Does you class implements [AudioVideoObserver](https://github.com/aws/amazon-chime-sdk-js/blob/48e1d3842f7bd72a2110659155e4c8df0bce7628/src/audiovideoobserver/AudioVideoObserver.ts) ? According to this [guide](https://github.com/aws/amazon-chime-sdk-js/blob/11f66bb9ba2bb35582501ffb8b56b2f5f3008c1d/guides/04_Quality_Bandwidth_Connectivity.md), the `connectionDidBecomeGood` can only be triggered as

[2021-07-02 17:28] ldai1 commented on #1345
code to add packetLossPercent for video upstream and packetReceived for video downstream: https://github.com/aws/amazon-chime-sdk-js/pull/1382

[2021-07-02 17:41] devalevenkatesh commented on #1405
Hi,

Thanks for reporting the issue. Checking through the code, is this pasted code is in its own class?

If so checking if the constructor is having the correct access to `this.meeting.meetingSession.audioVideo`. Want to know if the `audioVideo` is the valid one to which you are adding the active speaker callback subscription.

Could you try creating the meeting session in this constructor and th

[2021-07-02 20:46] michhyun1 commented on #1403
@gsudhanshu unfortunately, we don't have a way to do this using the Amazon Chime SDK for Javascript today. However, you may try to build your own implementation around the SDK to support your use case.

[2021-07-02 20:51] michhyun1 commented on #1409
@abhimanusharma Can you please clarify for us a few things?  Which meeting URL are you referring to? How are you scheduling meetings - the SDK does not have such functionality. Are you referring to the Chime App?

[2021-07-02 21:45] gsudhanshu commented on #1405
[code.zip](https://github.com/aws/amazon-chime-sdk-js/files/6757183/code.zip)
check the attached code files

[2021-07-03 02:38] gsudhanshu commented on #1403
@mvaghasia you can use socket.io websockets to implement the same

[2021-07-03 02:41] gsudhanshu commented on #1406
@devalevenkatesh sometimes it works, sometimes we get the error. When I get the error then I am unable to get logs as the system would freeze as I try to access console logs

[2021-07-03 03:38] husaindevelop commented on #1393
It does not show up any error now, but voicefocussupported is showing false. Do i need to include this code as well:
`import { VoiceFocusDeviceTransformer } from 'amazon-chime-sdk-js';`
…
`const isVoiceFocusSupported = await VoiceFocusDeviceTransformer.isSupported();`

[2021-07-03 05:00] garyzhon commented on #1367
Hi @anuranduttaroy

Here is the documentation on providing credentials to AWS SDK. https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/setting-credentials-node.html

If you like to set the credentials within your js code, you can provide your credentials like this. You client app would get the session credentials from your web service. For testing and development purpose only, you ca

[2021-07-03 13:39] gsudhanshu commented on #1403
@mvaghasia you can contact me for details garg.sudhanshu@gmail.com

[2021-07-04 07:19] gsudhanshu opened #1411 "Remote video tile stops automatically after few seconds"
@devalevenkatesh @michhyun1

We are trying to create a conference section to our chime meeting app in which different attendees join and their remote video tiles appear side by side. It was working just fine and then we added some code to display names of attendees and the remote video tile would disappear after few seconds of joining. Not able to figure out why.

looking at logs found this piece:

[2021-07-05 06:39] abhimanusharma commented on #1409
@michhyun1 I am referring to Chime-SDK-JS, I want a user as host who can manage other participants and moderate a meeting.
I am creating meeting using chime-sdk-js, where some urls are active after 3-4 days of meeting end or meeting creation but some meeting titles are returning not found even after 10 minutes of idle time on that meeting url. There is nothing about the expiration time of meeting

[2021-07-05 07:43] gavandivya commented on #1383
So lets consider a situation
All the users are in India, so the nearest location for hosting meet will be ap-south-1.
I deployed the video application using ap-south-1 so all the deployment script and object created by cloudformation is in S3 bucket of ap-south-1.
Now how will I know which user joined the meeting and for how much time. Even the start and end time of video meeting. Where will I fin

[2021-07-05 10:47] mrnav90 commented on #1345
Hi @ldai1
I've implement class like you said.
Add observer, connect audio-video success but can't see trigger event `connectionDidBecomeGood`
Could you help me press down detail like: step by step or show me a video demo trigger event?

And like you said before.
`
We will be releasing the packet loss percent for video upstream and packet received for video downstream so that you will get both upli

[2021-07-05 13:10] rlebosse opened #1412 "What does "Bump maxVideos limit from 16 to 25" means ?"
I've seen that the PR [Bump maxVideos limit to 25](https://github.com/aws/amazon-chime-sdk-js/pull/1365) was released in the version 2.12.0.

Does this mean that from now, the maximum of simultaneous videos in a meeting is 25 (and not 16 anymore) ?
Has the switch been done automatically on Amazon Chime servers side or do we need to do something to pass from 16 to 25 videos ?

In the https://docs.a

[2021-07-05 13:33] rlebosse commented on #1359
In my webapp, I display :
* Only **n** (n < 16) videos on the user's screen
* Those ***n* videos displayed are the attendees with the most recent activity

In order to limit the network data usage of the user, the videos that are not currently displayed on his screen are paused.
But when there is a switch and a video displayed is replaced by another : the remove one is **paused** and the displayed

[2021-07-06 09:24] #1403 closed

[2021-07-06 10:40] gsudhanshu commented on #1406
@devalevenkatesh Pls find attached the logs, we are getting following error:

meetingFailed event:

main.445b0c10e527078841c1.js:1 Rajat Failed during a meeting: Signaling client is not ready in  Object
eventDidReceive @ main.445b0c10e527078841c1.js:1

[demo.evareg.com-1625567651465.log](https://github.com/aws/amazon-chime-sdk-js/files/6769352/demo.evareg.com-1625567651465.log)

[2021-07-06 16:06] vsimeikoKG opened #1413 "TypeError: Cannot read property 'configuration' of undefined"
**Meeting and attendee IDs:**
Chime meeting ID - ef24957f-aee5-47bd-a619-bff799030706, 6e209c45-a16c-4f87-b023-ff34cd640706
Chime attendee ID - 90d90753-7325-ef91-942e-7d2e90044792 (attendee ID changes every time when user changes the room)

**Timeline**
- User joins room A
- User joins room B
- User joins room A
- Repeat until the error happens

**Describe the bug**
Sometimes when user changes th

[2021-07-06 16:34] gsudhanshu commented on #1409
@abhimanusharma

schhedule a meeting say meeting1 in your appllication for say 15th july with a host user (say user1)
then have attendees wait in a waiting room untill the host starts(this is when chime meeting is created)
have all attendees  join this meeting

manage all this in your application.

We have implemented this solution in our application.

[2021-07-06 16:43] gsudhanshu commented on #1394
Thanks @michhyun1

Will implement if the need arises.

[2021-07-06 16:43] #1394 closed

[2021-07-06 17:29] michhyun1 commented on #1383
@gavandivya Have you checked out this [blog post](https://aws.amazon.com/blogs/business-productivity/monitoring-and-troubleshooting-with-amazon-chime-sdk-meeting-events/)? Perhaps it fits your use case to get access to that data.

[2021-07-06 17:43] michhyun1 commented on #1409
@abhimanusharma The expiration for meetings is defined at the bottom of this page: https://docs.aws.amazon.com/chime/latest/dg/mtgs-sdk-mtgs.html

[2021-07-06 18:22] devalevenkatesh commented on #1383
So, the information about which user joined and for how much time, you can implement the `eventDidReceive` observer which will provide events with certain attributes as explained in the above blog post Michael linked.

The meetingId, attendeeId from the `CreateMeeting` and `CreateAttendee` response will be stored in `us-east-1`.
If by clientId you mean the meeting title or username that will get s

[2021-07-06 19:48] dnnejo commented on #1412
The number of video tiles is listed as an adjustable service-side enforced quota, with a default number of 16.  If adjusted, customers needed to "edit" the SDK to remove the hardcoded "16".  This change allows those customers to use the SDK direct from NPM without any edits.
You can request an increase for the number of video tiles via the AWS Console, Service Quotas, Amazon Chime in the US-EAST-1

[2021-07-06 19:51] michhyun1 commented on #1412
@rlebosse I'll close this issue for now - please reopen if necessary.

[2021-07-06 19:51] #1412 closed

[2021-07-06 20:02] devalevenkatesh commented on #1413
Hello, Thanks for reporting this issue.

From the logs, the meeting session destroyed line appears actually before the `audioVideo.stop()` completes.

Can you please check below points if it solves your issue?
1. await the `destory()` calls in your code.
2. As a different approach, can you implement [`audioVideoDidStop`](https://aws.github.io/amazon-chime-sdk-js/interfaces/audiovideoobserver.html#

[2021-07-06 22:03] devalevenkatesh commented on #1393
The guide says that `VoiceFocusDeviceTransformer.isSupported()` is a static method and it cheaply checks for the Amazon Voice Focus support. The support is determined by browser + performance requirements as explained in the guide under [Can I use Voice Focus in my application?](https://aws.github.io/amazon-chime-sdk-js/modules/amazonvoice_focus.html#can-i-use-amazon-voice-focus-in-my-application)

[2021-07-06 22:03] #1393 closed

[2021-07-06 22:47] gsudhanshu commented on #1411
@ltrung any suggestions?

[2021-07-06 22:49] gsudhanshu commented on #1406
@ltrung @michhyun1 @devalevenkatesh any suggestions in this direction?

[2021-07-06 22:50] gsudhanshu commented on #1405
@devalevenkatesh @michhyun1 @ltrung

[2021-07-07 07:10] ldai1 commented on #1345
Hi,

My understanding of downlink data anda uplink data for local user is:

for packet loss uplink, you can use the videoUpstreamPacketSent
for packet loss downlink, you can use the videoUpstreamPacketLossPercent, this value is calculated in this [funciton](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/clientmetricreport/DefaultClientMetricReport.ts#L53-L66), you can do some calculati

[2021-07-07 08:53] linuxbunter213 opened #1414 "Trying to bash bionic framework with k8s in a bionic suit with power armour and Mandelbrot"
### What are you trying to do?

*For example: I'm trying to start a meeting session with audio.*

### How can the documentation be improved to help your use case?

*For example: Include a section on how to configure the meeting session.*

### What documentation have you looked at so far?

*For example: README.md, Amazon Chime SDK Developer Guide, etc.

[2021-07-07 09:19] mrnav90 commented on #1345
@ldai1
Hi, thank you for your support.

I'll try your demo.

Thanks.

[2021-07-07 16:04] rlebosse opened #1415 "WKWebView : When I enable my local camera or the remote attendee enables his, the Chime Meeting connection is lost (it goes from connected to connecting)"
**Describe the bug**
I tried to user `amazon-chime-sdk-js` on an iPhone with iOS 14.6.
I'm able to join the Chime Meeting with my camera off but as soon as I enabled my camera (`startLocalVideo`), I get the following warnings :

[code]

The same thing happens if it's the remote attendee who enables its own camera.

When I execute the same code directly in the Safari app, the problem does not occur

[2021-07-07 16:49] michhyun1 commented on #1411
@gsudhanshu I am seeing this log:
[code]

and also:

[code]

This seems to be related to your implementation. Perhaps you should double check the startAudioPreview implementation to make sure a audioVideo instance is created before calling startVideoPreview. And for the second log, I'm not sure what youre trying to do, but there is an error there as well.

[2021-07-07 20:02] michhyun1 commented on #1415
@rlebosse Could you please give us more details on how you're doing this? This is within an a WKWebView, right?

We recently released a [WKWebView demo](https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/iOS-WKWebView-sample) - perhaps you can try it out. The demo allows you to open the iOS app, load the WKWebview and navigates to a serverless meeting demo URL and you can join the meet

[2021-07-07 20:11] shriyajuneja opened #1417 "TypeError: undefined is not an object (evaluating 'navigator.mediaDevices.enumerateDevices')"
**Meeting and attendee IDs:**

MeetingId: "3ac92b55-efcb-4b4c-9cc2-4dc15e4f0706"
AttendeeId: "2884a91f-e183-cf34-355f-6cf880193862"

**Describe the bug**
try running demo meeting in chrome on iPhone 12 mini

**Screenshots**
![Image from iOS](https://user-images.githubusercontent.com/14612003/124816829-9a2a3080-df86-11eb-98b3-387465054fb5.png)

**Platform**
 - OS: iOS 14.2
 - Browser: Google Chrome

[2021-07-07 20:22] michhyun1 commented on #1405
@gsudhanshu thanks for sharing your code. I see you are calling audioVideo.start on `meeting.meetingSession.audioVideo.start();` in the CallVideoComponent constructor.
[code]

Can you confirm that this `this.meeting.meetingSession.audioVideo.subscribeToActiveSpeakerDetector(new DefaultActiveSpeakerPolicy(), this.activeSpeakerCallback, 1000);` is actually being called? If so, do you need to be usin

[2021-07-07 20:34] michhyun1 commented on #1406
@gsudhanshu that link is for the amazon-chime-sdk-android, not for the JS SDK. It looks like from your code, you subscribe to the activeSpeaker correctly:

[code]

You can see on the [documentation](https://aws.github.io/amazon-chime-sdk-js/) use case #12 how to implement the active speaker detector interface.

It might be an issue with the meetingSession that youre subscribing to. A ended meeting

[2021-07-07 21:39] michhyun1 commented on #1417
@shriyajuneja Thanks for bringing this to our attention - which meeting url are you joining? I just tried joining my serverless meeting demo from iOS chrome with no issues, but I am using an iPhone 11.

[2021-07-07 23:00] tenge-amzn commented on #1011
Hi there,
We launched a service to capture the content of the meeting. Check out if you are interested in using our service to capture the SDK meeting. You won't need to provision your own infrastructure to do the job.
[What's new?](https://aws.amazon.com/about-aws/whats-new/2021/07/the-amazon-chime-sdk-adds-media-capture-pipelines-to-enable-capture-of-meeting-video-audio-and-content-streams/)
[Bl

[2021-07-07 23:04] #1011 closed

[2021-07-08 01:49] Aarondorn2 commented on #1011
This is amazing, thank you so much!

[2021-07-08 06:41] shriyajuneja commented on #1417
I am trying browser demo, It's working fine for me in iPhone 11, iPhone X, iPhone 12 and 12 pro, This issue comes only in iPhone 12 mini and is reproducible on BrowserStack iOS chrome too.

[2021-07-08 07:38] ReneS1991 opened #1418 "Firefox video sharing results in losing audio-track for attendee that shares"
NOTE: This issue is not necessarily about reporting a bug, but rather asking about a workaround.

Some time ago I reported the bug about sharing a video file that is black for recipients when send in Chrome or Edge: https://github.com/aws/amazon-chime-sdk-js/issues/1031

Now, I stumbled upon the problem that in Firefox when sharing a video-file (from an html `<video>` stream) the audio of that vid

[2021-07-08 08:48] suman2755 opened #1419 "Facing high cpu usage when multiple users turns the webcam on"
We are seeing an issue with cameras flickering, freezing, and in some cases turning off.
We have noticed that each time an user turns the webcam on the CPU % increase.
We noticed that each time an user turns the webcam on the CPU % increase. If we all have our camera off it’s fine. Every time someone turned their camera on CPU increased causing freezing. For instance one person turned camera on CP

[2021-07-08 17:28] michhyun1 commented on #1419
@suman2755 Thanks for using the Chime SDK for Javascript. Could you please provide more details about your use case? Have you tried running the server-less meeting demo? Perhaps you can compare your implementation with the demo to see if there are any discrepancies that might be causing the high CPU usage. Also, for future reference, could you please complete the issue template form so that we can

[2021-07-08 17:39] michhyun1 commented on #1031
Closing this issue - tracking it in https://github.com/aws/amazon-chime-sdk-js/issues/1059

[2021-07-08 17:39] #1031 closed

[2021-07-08 17:43] devalevenkatesh commented on #1402
Hello,

Checking if you found logs for other occurrences if any? Those will help us understand the issue more.

Few more suggestions:
1. We have a guide around quality, bandwidth and connectivity. Could you please go through it and implement the explained observers to understand or get logs if there is some issue in bandwidth estimation pointing to network issues.
[Quality, Bandwith and Connectivi

[2021-07-08 17:50] #1345 closed

[2021-07-08 18:11] michhyun1 commented on #1417
@shriyajuneja Can you please try upgrading to 14.3. I just noticed you're on 14.2 still. https://blog.bitsrc.io/ios-14-3-brings-webrtc-to-wkwebview-closing-gap-on-ios-accessibility-90a83fa6bda2

[2021-07-08 19:50] soroka-ihor opened #1420 "Amazon Chime messaging application"
### What are you trying to do?

I'm trying to create a messaging application, using Amazon Chime SDK (java).

 I figured out with creating appInstanceUser, messageChannel, adding this user to the channel and send a message to it.

I've finished with my backend layer, and trying to impelement client interface. But I can't understand how to send messages in real time. I'm completely new to JS and TS

[2021-07-08 23:54] ldai1 commented on #1420
Hi,

Thanks for using Amazon Chime SDK.

You can go here to check our sample code for sending messages: https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/chat. It also has a full messaging example.

Basically you need to do is to setup a messaging session and subscribe to messagingSessionDidReceiveMessage as shown in this example https://github.com/aws/amazon-chime-sdk-js/blob/master/

[2021-07-09 02:20] soroka-ihor commented on #1420
Hi @ldai1 ,

Thanks for that fast reply! I'm gonna try to deal with react example you linked, and will let you know if I figured it out

[2021-07-09 04:30] E5920 opened #1423 "session not getting destroyed"
@devalevenkatesh  , i am facing issue with session/session object not getting destroyed.my requirement is session object should be destroy.i have tried two ways for destroying a session but not succeed. pl check & suggest.

public closeModal()  {
 this.meeting.meetingSession.destroy();
    console.log("inside ");
    this.meeting.meetingId = null;
    this.meeting.userId = null;
}

or

 public clo

[2021-07-09 04:55] devalevenkatesh commented on #1423
Hi @E5920 ,

Thanks for reporting the issue. We request you to please follow the issue reporting template. It is helpful to get the required information so that we can better understand and help solving the issue. This also saves us some early communication to get the `meetingId` and corresponding logs for the issue. You can pick the "Issue: Bug Report" template while creating the issue if you fin

[2021-07-09 05:13] abhimanusharma commented on #1409
Thank you for the clarifications.

[2021-07-09 05:13] #1409 closed

[2021-07-09 05:25] ivanpetrushev commented on #1031
There are multiple browser/device issues, isn't it better to track them in their original tickets?

It is good to have one compiled index ticket, but every issue will have its own status, progress and discussion.

Putting all in one will create a mess.

[2021-07-09 16:34] michhyun1 commented on #1367
@abhimanusharma We don't see any reply from you, please close this issue if your issue has been resolved. Thanks

[2021-07-09 16:37] rnqayush opened #1424 "How to establish a connection between the Web meeting and the Mongo DB."
hello team,,
1- i have a react native chime meeting app for Edtech which is connected to mongoDB. teacher can specify a time in that app and attendees can join in during that specified time. Also the app is programmed to end after 60 minutes from starting of meeting.

2- we are sending a link to attendees email and they have option to join with app or amazon-chime-sdk-js meeting url .

3- I want t

[2021-07-09 16:47] devalevenkatesh commented on #1386
Hi @husaindevelop ,

We do not officially support cordova, ionic and xamarin as documented in the supported browsers linked in above comments. However, we have a react library if you want to try. It gives you UI components, hooks and providers to build a audio-video application.

Github: https://github.com/aws/amazon-chime-sdk-component-library-react
[React SDK documentation](https://aws.github.io

[2021-07-09 16:53] devalevenkatesh commented on #1392
Hello, In an different issue, we see that you mentioned the Amazon Chime SDK for JavaScript is working fine in chrome browser, checked [here](https://github.com/aws/amazon-chime-sdk-js/issues/1386#issuecomment-869082589).

Hence, we are closing this issue due to inactivity. Please feel free to re-open or create new issue if you need more help.

[2021-07-09 16:53] #1392 closed

[2021-07-09 17:32] abhimanusharma commented on #1367
@michhyun1 I replied 14 days ago and have not received any related reply to my question yet. I am unable to run the demo on my local and unable to receive real time channel message using Chime Messaging SDK, I don't see any other article or video tutorial related to that anywhere, I am sorry I can not close this issue until I get any positive reply for at least one of my queries.

[2021-07-09 18:52] michhyun1 commented on #1367
@abhimanusharma  by looking at your screenshot errors, it seems like you are having issues with configuring your AWS credentials. Have you made any progress with the information that @garyzhon provided you above?

[2021-07-11 05:05] suman2755 commented on #1419
@michhyun1 Thanks for the reply. Regarding our use case. We have hosted serverless chime application and our clients are using that. Several clients have reported cameras flickering, freezing, and in some cases turning off. At first, we believed it may be down to internet connectivity but we've had several cases where clients have been in the same room/building (in one scenario sitting next to one

[2021-07-12 09:40] mrnav90 commented on #1082
Hi @vidya-mohan @ldai1
How about this issue?
I think more people need feature in Chime SDK.

Thanks

[2021-07-12 11:53] peili opened #1427 "WebSocket connection fails signal.*.app.chime"
Amazon Chime MeetingId: 495ec176-4fb6-4879-9fda-3bb584050706
We're experiencing issues with the WebSocket connection. They intermittently fail for some users.

Chime JS SDK version: 2.12.0

chunk-vendors.163d6223.js:2684 WebSocket connection to 'wss://signal.m1.ue1.app.chime.aws/control/495ec176-4fb6-4879-9fda-3bb584050706?X-Chime-Control-Protocol-Version=3&X-Amzn-Chime-Send-Close-On-Error=1&X-Amz

[2021-07-12 17:21] ldai1 commented on #1427
Hi,

Thanks for reporting the issue. Is that possible to provide more logs from the console? The console log will probably will have api response like `TaskFailed` or `SignalingBadRequest`. you will probably see those [status code](https://aws.github.io/amazon-chime-sdk-js/enums/meetingsessionstatuscode.html) for an unexpected meeting ended session.

Also have you implemented any observers like `c

[2021-07-12 17:58] michhyun1 commented on #1082
@mrnav90 We've triaged this feature request, but we can't make any promises on delivery dates on this feature. Thanks for using the Chime SDK for Javascript!

[2021-07-12 18:25] peili commented on #1427
@ldai1 Unfortunately that's the only log, that the WebSocket connection failed.

[2021-07-12 18:34] #1420 closed

[2021-07-13 06:41] rnqayush commented on #1424
Still waiting for the response, Kindly help me with this

[2021-07-13 18:01] devalevenkatesh commented on #1427
Hi @peili ,

Could you please check our [Networking FAQs](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#networking) if you find any configuration changes on the affected laptops like blocking any ports? Checking if we can rule out if that's an issue.

[2021-07-13 18:02] devalevenkatesh commented on #1383
Hello,

We are closing this issue now. Please feel free to re-open or create new if you have more questions.

[2021-07-13 18:02] #1383 closed

[2021-07-13 19:43] michhyun1 commented on #1316
@jheising Following up on this thread. Have you tried what @XHatan has suggested above? For some devices, the mediaStream needs to be explicitly released before activating a new stream. I'd  recommend trying to call `stopLocalVideoTile` and then `startLocalVideoTile` when you switch between video inputs. Can you try this and get back to me? If you're doing this with a video preview - you can use `

[2021-07-13 20:00] devalevenkatesh commented on #1424
Hi @rnqayush,

There may be different approaches but here is an approach that can help. You would have to create a scheduler and a polling mechanism to check whether a meeting can be created say some X minutes before your scheduled start of the meeting.

The scheduler will create/update a table in the MongoDB which will hold the scheduled meeting and its status (INACTIVE | CREATE | ACTIVE). When a

[2021-07-13 22:39] michhyun1 commented on #1419
@suman2755 If you could, would you mind filing a ticket through the support queue so that we can assist you further? Thanks. https://github.com/aws/amazon-chime-sdk-js#troubleshooting-and-support

[2021-07-13 22:39] #1419 closed

[2021-07-13 22:40] michhyun1 commented on #1417
@shriyajuneja Can you confirm if this resolved your issue? Thanks

[2021-07-14 06:41] shriyajuneja commented on #1417
Yes, it resolved the issue. Thanks.

[2021-07-14 07:59] peili commented on #1427
It was an intermittent issue and only affected users in Europe connecting to US East (N. Virginia), that's why I don't think it's caused by blocked ports / Firewall restrictions, because that would be permanent. Currently we can't reproduce it anymore.

[2021-07-14 11:39] i-soroka opened #1429 "Messaging in real time"
### What are you trying to do?

*I'm trying to add real time chating feature to this https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser/app/messagingSession example. Could you please, if it even possible, provide me with steps, those I basically need to do?*

### How can the documentation be improved to help your use case?

*Would be great if you add this feature as an official e

[2021-07-14 18:19] #1429 closed

[2021-07-14 22:44] vidya-mohan commented on #175
@rakesh-eltropy we launched better support: https://github.com/aws/amazon-chime-sdk-js/issues/1011

[2021-07-14 23:17] vidya-mohan commented on #1189
@gustavofamorim we recently launched support for Meeting capture on the server. Could you see if this meets your requirements: https://github.com/aws/amazon-chime-sdk-js/issues/1011#issuecomment-875988324

[2021-07-14 23:19] vidya-mohan commented on #1297
@paul365  - I am resolving as duplicate of https://github.com/aws/amazon-chime-sdk-js/issues/1253 . Please follow that issue for updates

[2021-07-14 23:19] #1297 closed

[2021-07-15 00:36] rakesh-eltropy commented on #175
Brilliant, thank you @vidya-mohan. This will make AWS Chime SDK even better.

[2021-07-15 05:38] i-soroka commented on #1429
@ltrung hi and thank you. This example doesn't run on Windows — i tried it on a few Windows machines, and result the same: the app has started but nothing is available on localhost:3000 or localhost:9000
![stuck](https://user-images.githubusercontent.com/80392255/125734640-97a373e8-6b77-4e82-b1b7-303796733d55.PNG)

[2021-07-15 06:48] ltrung commented on #1429
Could you try to use `https://localhost:9000` instead? You may need to ignore a security warning but it worked for me in Windows.

[2021-07-15 07:39] i-soroka commented on #1429
@ltrung just tried with https on 9000 port, and it says that it is unsecure connection with expired SSL cert.

[2021-07-15 07:53] i-soroka commented on #1429
@ltrung okay i've fixed it. In webpack.config.js change 'https' to 'false', and 'host' to 'localhost' and it works.

[2021-07-15 18:49] jing-chen1 commented on #1272
Closing the issue for now. Feel free to reopen it if you still have problems.

[2021-07-15 18:49] #1272 closed

[2021-07-15 18:53] jing-chen1 commented on #1263
Closing the issue for now. Feel free to reopen it if you still have problems.

[2021-07-15 18:53] #1263 closed

[2021-07-15 21:05] michhyun1 commented on #1427
@peili I'm going to close this issue for now - it seems as if it was a transient issue. If you could please open a new issue if this occurs again and please provide all of the information in the new issue template so that its easier for us to debug the issue. Please include the meeting and attendeeId as well. Thanks

[2021-07-15 21:05] #1427 closed

[2021-07-15 23:02] jing-chen1 commented on #1384
Hi @Berkyle, we have tested that wildcard import works with the demo, however, removing the wildcard *does not* work. So would keep the README as is.

Could you please compare your Webpack configuration with the [chat demo](https://github.com/aws-samples/amazon-chime-sdk/blob/main/apps/chat/webpack.config.js)? The chat demo is a modern chat messaging application. Hope it helps.

[2021-07-16 02:23] Ardenexal opened #1439 "Add the ability to send DataMessages to the Meeting while in SignallingOnly mode"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-07-16 05:03] #1264 closed

[2021-07-16 09:41] dimabory commented on #342
Hi @ltrung. I don't see any mentions in [FAQs](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html) that event bridge is only supported in us-east-1. Did you miss adding this explanation?

[2021-07-16 10:06] dimabory opened #1440 "Purpose of AudioAttendeeRemoved"
### What are you trying to do?

The flow is pretty much simple. I'm trying to kick off an attendee from the existing meeting, therefore I call [DeleteAttendee](https://docs.aws.amazon.com/chime/latest/APIReference/API_DeleteAttendee.html) API. As soon as an attendee is removed I expect to get [AudioAttendeeRemoved](https://aws.github.io/amazon-chime-sdk-js/enums/meetingsessionstatuscode.html#audio

[2021-07-17 09:36] rnqayush commented on #1424
thank you @devalevenkatesh for your reply, I understand completely whatever you have suggested But my concern is this that i want to start meeting at a specific time and attendee should not be able to join that meeting before a particular time.
 I have my time details stored in my database. So in order to get that time i will have to make an api call so that i can set when to allow attendees to st

[2021-07-17 22:36] Russelldan554 opened #1445 "Event Bridge - chime:MeetingEnded event fired and participants were still able to use meeting like normal as if it had not ended."
### What happened and what did you expect to happen?

We received a chime:MeetingEnded event from event bridge even though  no end meeting calls were made and multiple people were in the meeting. We did not get any signaling in the meeting itself and our video and audio remained working. For the participants in the meeting it was as if nothing happened. This is a big problem for us as we rely on t

[2021-07-19 07:39] FlapperA opened #1446 "Camera permission pop-up does not show. No camera can be selected"
### What happened and what did you expect to happen?

We have a scenario where we have a desktop client that only has a virtual camera “attached”. This is because the camera is not directly attached to the desktop client and we use the virtual camera to read the RTSP-feed and simulate that as a webcam.

In a clean setup we expect that the virtual camera is recognized and shown in the selection lis

[2021-07-19 18:10] ltrung commented on #1440
@dimabory Thanks for bringing this to our attention. As mentioned in PR #1299, this status is not landed yet so it is not working right now. For now, please use `SignalingBadRequest` to handle attendee removed from meeting.

[2021-07-19 18:37] devalevenkatesh commented on #1424
As explained this feature would have to be implemented on your side and you do not need to implement the API inside the `amazon-chime-sdk-js`. You have to implement these `fetch` calls in your front end application logic where you would handle a user loading your webpage. Your front-end will need to make the HTTP calls to your backend which will provide you either with the status of the meeting or

[2021-07-19 20:13] Russelldan554 commented on #1445
Sorry we were creating a phantom chime meeting from a race condition in our DB. This is not an issue on the chime sdk.

[2021-07-19 20:13] #1445 closed

[2021-07-20 05:52] franko-franicevich opened #1448 "User sometimes sees ‘blank’ video streams for other users when joining a conference with Simulcast enabled on Chrome."
### What happened and what did you expect to happen?

When a user joins a conference with simulcast enabled, you expect to see all other participants :)

We’ve encountered what is a *very* common problem when enabling simulcast. In a conference, when a user joins when there’s already a reasonable number of users (usually 4 or more), it’s likely that one or more of the remote users will be heard, a

[2021-07-21 18:17] dnnejo opened #1455 "Live transcription with Amazon Transcribe"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-07-22 02:52] Rajan-Gupta1 opened #1457 "Getting Started feedback"
### What are you trying to do?
Build a sample Angular App which will use Chime SDK

*For example: I'm trying to start a meeting session with audio.*

### How can the documentation be improved to help your use case?
Provide example of how the html code will look for an audio/video session using Chime

*For example: Include a section on how to configure the meeting session.*
Provide a simpler exampl

[2021-07-22 19:16] devalevenkatesh commented on #1457
Hello @Rajan-Gupta1 ,

Thank you for reporting the issue. I will check with the team on adding a documentation about this. But for now, from the UI side you would need simply need below HTML code to use for a 1:1 audio-video meeting.
[code]

[code]

Check [API Overview](https://aws.github.io/amazon-chime-sdk-js/modules/apioverview.html) and our README for more information. Check our meeting [demo]

[2021-07-22 21:29] jing-chen1 commented on #1415
Closing due to inactivity. Feel free to reopen if you still need help.

[2021-07-22 21:29] #1415 closed

[2021-07-22 21:33] jing-chen1 commented on #1423
Closing due to inactivity. Feel free to reopen if you still need help.

[2021-07-22 21:33] #1423 closed

[2021-07-22 22:05] simmkyu commented on #1446
In the screenshots, you seem to use the [Amazon Chime SDK React Components Library](https://github.com/aws/amazon-chime-sdk-component-library-react). Since 2.6.0 of the Chime SDK React Components Library, we support user-defined control for device permission prompts. For example, you can suppress the device permission prompts for audio, video, or both. Could you follow the [Implement view-only/obs

[2021-07-23 01:52] Rajan-Gupta1 commented on #1457
@devalevenkatesh Thanks Venkat for the code snippets. What would be the way that a attendee would join the session? I would imagine that the way Chime works is that there would be an https:// link that is send to attendee via email or sms which the attendee will click on which will connect its browser to the session or do I need to build an app which has the audio/video tags that the attendee laun

[2021-07-23 15:23] devalevenkatesh commented on #1457
Thank you for your feedback. The Amazon Chime SDK for JavaScript provides APIs to create, start and manage a meeting session. It does not provide any link mechanism with existing attendee join flow. Its up to builders how to use the APIs according to their use-case. It differs from use-case to use-case what that implementation would look like.

Now for example in case of link mechanism, you have t

[2021-07-26 12:41] Sagar1219 opened #1460 "Camera Light opening but video preview not available."
### What happened and what did you expect to happen?

I am using chime SDK for JS to integrate into the client application & in the video preview section, I am unable to see the video being played, although camera light starts to blink. There is no permission issue. Have gone through the complete README and Getting Started Documentation but this issue is still not resolving.

### Have you reviewed

[2021-07-26 23:22] simmkyu commented on #1460
The Chime SDK for JavaScript offers the `meetingSession.audioVideo.startVideoPreviewForVideoInput` API for previewing your video: https://aws.github.io/amazon-chime-sdk-js/interfaces/audiovideofacade.html#startvideopreviewforvideoinput

Sorry for the confusion that the README does not include a usage example for this API. You can find an example in the Chime SDK meeting demo. Before starting a mee

[2021-07-27 06:16] Sagar1219 commented on #1460
Hey, I was already using audioVideo.startVideoPreviewForVideoInput() yet it's not working.
This is the code for video previweing,
[code]
It's not catching any error from the try catch statement, but got this in the console log :

[code]

Yet again, the camera light is opened but no preview available.

[2021-07-27 06:59] shettyaditsathish opened #1463 "Video not Streaming into Ubuntu Platform"
### What happened and what did you expect to happen?

I am using JXBrowser(https://www.teamdev.com/jxbrowser) which is a chromium browser encapsulated in JAVA FX window.

On Ubuntu video/screenshares from other users does not show up in chime.

I keep seeing these errors

[2232:2333:0727/115223.148096:WARNING:video_receive_stream2.cc(779)] No decodable frame in 200 ms, requesting keyframe.
11:52:2

[2021-07-27 06:59] dimabory commented on #1440
Can you also let us know when it's expected to be landed?

[2021-07-27 11:47] ElielCohen opened #1464 "Bandwidth set in SDP for non-unifiedPlan (multicast) seems wrong"
### What happened and what did you expect to happen?

Hi Everyone,

To my understanding, we are wrongly setting the AS value in SDP for non unified plan :

Here is code excerpt from the relevant file :

**src/sdp/DefaultSDP.ts**

200 | dstLines.push(`b=TIAS:${maxBitrateKbps * 1000}`);
201 | } else {
202 | dstLines.push(`b=AS:${maxBitrateKbps}`);

It seems that we should as well, for non unifiedPla

[2021-07-27 12:31] shettyaditsathish commented on #1463
Closing this issue as it was a JXBrowser issue. Sorry for the inconvenience

[2021-07-27 12:31] #1463 closed

[2021-07-28 04:47] devalevenkatesh commented on #1460
Hello @Sagar1219 ,

From the pasted code, you call `audioVideo.startVideoPreviewForVideoInput(document.getElementById('video-preview'));` right after the `videoInputDevices.then` call. Hence, due to the asynchronous nature, the `audioVideo .startVideoPreviewForVideoInput` runs before `audioVideo.chooseVideoInputDevice` API and hence you are running into the "cannot bind video preview" error log.

[2021-07-28 07:17] Sagar1219 commented on #1460
Hi @devalevenkatesh

Thanks for the response. I added the snippet that you shared, and I am getting the below error:

`
chime_js.js:72 Uncaught SyntaxError: await is only valid in async functions and the top level bodies of modules
`

This error is coming at this line:
`
const videoInputDevices = await audioVideo.listVideoInputDevices();
`

Things to consider here: I am using the [min.js ](https:/

[2021-07-28 12:28] anasmasood94 opened #1467 "Turning on video on browser disconnects user when one user is connected on IOS web view"
### What happened and what did you expect to happen?

I am using aws-chime-sdk-js to integrate chime and using the same thing as web view in an IOS app. Everything works fine when users are connected using only browsers but in case one user is on the browser and the other is using web view, as soon as the browser user opens the camera the call disconnects.

I have noticed that as soon as `startLoc

[2021-07-28 13:20] shriyajuneja commented on #1316
Hi @michhyun1,  I'm using ```selectVideoInputDevice``` from amazon-chime-sdk-component-library-react, In my case below solution works. But ideally this should be handled in selectVideoInputDevice or chooseVideoInputDevice.
[code]

[2021-07-28 15:29] hensmi-amazon commented on #1464
Good catch, I think the code was originally assuming that only Firefox would be using unified plan.  We will take a look.

[2021-07-28 16:16] devalevenkatesh commented on #1460
Sorry I assumed you would change the code snippet to an `async-await` function. So we have two options here:
1. Wrap the provided snippet in an `async` function. You can check the `async-await` pattern in the MDN docs [here](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await). For this, you have to change parent functions to be `async` since the `await` keyword can

[2021-07-28 17:50] michhyun1 commented on #1316
There is a fix in PR right now - https://github.com/aws/amazon-chime-sdk-js/pull/1452

[2021-07-28 18:20] michhyun1 commented on #1467
@anasmasood94 can you please confirm the iOS version you are using?

[2021-07-28 19:34] devalevenkatesh commented on #1163
@shriyajuneja could you please check update on #1316 which mentions a PR with the fix? We would appreciate if you try it out and let us know if it works out of the box without any workaround. Just commenting here for you to get an update. It would be great if you update in the #1316 issue once tested.

[2021-07-28 19:59] anasmasood94 commented on #1467
@michhyun1 I am using IOS version 14.6 for testing and as for the back end, I am using ruby on rails application instead of a serverless architecture.

[2021-07-29 12:56] kanovic commented on #1446
It looks like it is assuming there is always an audio input source in the `stream` definition `getUserMedia()` object paramater and the video property is awaited and checked on the `enumerateDevices()` function.

[code]

[2021-07-29 13:22] Sagar1219 commented on #1460
Hi @devalevenkatesh ,

My issue has been resolved. I have a similar issue with audio mute/unmute as well. Will apply this approach & if the issue still persists, then will open another issue ticket for that one.

Thanks for the help. Closing this one now.

[2021-07-29 13:22] #1460 closed

[2021-07-29 19:48] michhyun1 commented on #1316
@jheising Please feel free to try out the master branch - a fixed has been merged. Please let us know if that fix works for you! Thanks.

[2021-07-29 22:18] anuranduttaroy commented on #1446
Hey @FlapperA, did you get a chance to try the [Chime SDK for JavaScript serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless) and see if the bug is reproducible as mentioned by @simmkyu here https://github.com/aws/amazon-chime-sdk-js/issues/1446#issuecomment-885265723

[2021-07-29 23:28] ghdna opened #1472 "Unable to retrieve the attendee id from Chime"
### Unable to retrieve the attendee id from Chime

I'm following the official Getting Started [here](https://aws.github.io/amazon-chime-sdk-js/modules/gettingstarted.html#meeting-service), I was able to create a meeting and retrieve meeting Id. But the next step of creating an attendee isn't getting me the attendee ID.
I am following this code verbatim
[code]
That's because the response from `chim

[2021-07-30 00:56] ghdna commented on #1472
Update: I figured it out. The method `chime.createAttendee` is missing the `promise()` in the official documentation [here](https://aws.github.io/amazon-chime-sdk-js/modules/gettingstarted.html#meeting-service)
The correct method should be
[code]

Closing now

[2021-07-30 00:56] #1472 closed

[2021-07-30 09:17] kanovic commented on #1446
Hi @anuranduttaroy, @FlapperA is on holiday and as his colleague I am watching this bug topic. I tried the suggestion from @simmkyu in his [comment](https://github.com/aws/amazon-chime-sdk-js/issues/1446#issuecomment-885265723). There are some scenarios I tried.

## Scenario 1 (original from @FlapperA but in serverless demo)
### Steps I took to reproduce:

1. Disable all audio input devices (as I

[2021-07-31 07:42] shriyajuneja commented on #1417
Hi @michhyun1 [documentation](https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html#mtg-browsers) says supported browsers are Google Chrome for Android and iOS (10.0 and later) but I had to update iOS to 14.3. Can we update it in documentation ?

[2021-08-02 09:12] magussiro opened #1480 "singlejs bundle error occured"
### What happened and what did you expect to happen?

I'm server side developer using php to   createmeeting and attendee ,response is fine, I'm tring as simple as pure js and html to make a PoC js web client ,but someting went wrong , I'm not using this js sdk for create meeting and create attendee

version : release 2.14.0
OS: Mac Catalina 10.15.7
node version : v12.14.1
npm version 6.13.4

symp

[2021-08-02 09:24] magussiro commented on #1480
and this is my reference
https://qiita.com/idaaki/items/c3f507776451fb5a0915

[2021-08-02 17:58] michhyun1 commented on #1417
@shriyajuneja thanks for bringing this to our attention. I'll be sure to make the necessary changes. Thanks. I'll go ahead and close this ticket again.

[2021-08-02 17:58] #1417 closed

[2021-08-03 20:56] simmkyu commented on #1480
I wasn't able to reproduce the bug. Could you ensure that you ran your script after successfully loading the generated file, e.g., `amazon-chime-sdk.min.js`?

---

I tested the same setup in the following environment.

[code]

I cloned the repository, installed 2.14.0, and ran the bundle command.

[code]

I saw the same output from `npm run bundle`.

[code]

⠀

To test the generated `amazon-chime-

[2021-08-04 00:52] devalevenkatesh commented on #1457
We are closing this issue. Please feel free to create new one if you have more questions.

[2021-08-04 00:53] devalevenkatesh commented on #1424
We are closing this issue now. Please feel free to create new one for any further help.

[2021-08-04 00:53] #1424 closed

[2021-08-04 00:54] devalevenkatesh commented on #1405
We are closing this issue due to in-activity, please feel free to create a new if you need more help.

[2021-08-04 00:54] #1405 closed

[2021-08-04 00:55] devalevenkatesh commented on #1406
We are closing this issue due to in-activity, please feel free to create a new if you need more help.

[2021-08-04 00:55] #1406 closed

[2021-08-04 00:55] devalevenkatesh commented on #1402
We are closing this issue due to in-activity, please feel free to create a new if you need more help.

[2021-08-04 00:55] #1402 closed

[2021-08-04 00:56] devalevenkatesh commented on #1411
We are closing this issue due to in-activity, please feel free to create a new if you need more help.

[2021-08-04 00:56] #1411 closed

[2021-08-04 02:03] magussiro commented on #1480
I'm redo the all step and it's Work! I don't know why
maybe something contaminated my environment

anyway ,thanks fo help!

[2021-08-04 02:04] #1480 closed

[2021-08-04 02:13] magussiro commented on #1480
by the way, my chrome devtool setting Disable cache is enabled, maybe another setting effected

[2021-08-04 04:29] franko-franicevich commented on #1448
For further reference, this is the fix we've implemented that resolves the issue for us. It is based on the *assumption* that it is safe to ignore individual stream index updates during critical moments as they arrive quickly and regularly and we'd see another within a second or two with updated information.

https://github.com/circles-learning-labs/amazon-chime-sdk-js/compare/a62b72558618e31fea53

[2021-08-04 06:57] gsudhanshu opened #1486 "video and screen share does not work on 1 system"
### What happened and what did you expect to happen?

we are using aws chime sdk js for our meeting and conference application. On one particular system the video and screen share would not work.

System - win10, chrome browser

logs attached:
main.3d338280260dc6198c78.js:1 2021-08-03T10:52:34.033Z [ERROR] MyLogger - failed to connect

### Have you reviewed our existing documentation?

- [X] GitHu

[2021-08-04 10:57] mkmuduli opened #1487 "When Share a uploaded video through startContentShare method it is show GREEN screen to remote participants."
### What happened and what did you expect to happen?

when a user share a uploaded video by below code . it is showing green to remote participants.
Currently i am using chime demo application. it is happening there.

`let videoStream = video.captureStream();`
`await meetingManager.audioVideo.startContentShare(videoStream);`

Screen Share Participants Side
<img width="240" alt="Screenshot 2021-08-

[2021-08-04 18:49] neeltrivedi commented on #1467
I am seeing the same issue using iOS 14.5 and rails application

[2021-08-04 19:09] Dev-shubham45 opened #1490 "502 while starting media capture"
### What happened and what did you expect to happen?

Getting 502 error while starting and ending media capture from demo app.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws/amazon-chime-sdk-js#amazon

[2021-08-04 19:56] devalevenkatesh commented on #1487
I could not reproduce this issue on my machine.

System Information:
macOs Catalina v10.15.7
Google Chrome 92.0.4515.107 (Official Build) (x86_64)

Here is the screen recording:

https://user-images.githubusercontent.com/61809205/128243908-81597ae3-5630-498b-95e4-d69e568f176c.mov

Would like to know some more information below:
1. Are you using the Chime JS SDK demo as is or it is your own app?
2.

[2021-08-04 20:02] anuranduttaroy commented on #1490
Hey @Dev-shubham45 thanks for reporting the issue. In order to help us debug it, could you provide us the `INFO` level logs of the session when you are seeing this error?

Also, one more thing to confirm, did you see any errors while deploying the serverless demo with the media capture functionality?

[2021-08-04 22:03] devalevenkatesh commented on #1486
Hello,

Thanks for reporting the issue. We see that you are using a very old version of Amazon Chime SDK for JavaScript as well as the Chrome browser.

You are running into Websocket connection failures on that specific device.
[code]
If this is a wider impact, the issue should be appearing on multiple devices as well, please let us know if that is the case. Further, check if you are using any mid

[2021-08-04 23:12] jing-chen1 commented on #1384
Closing it now. Feel free to reopen if you still have issues.

[2021-08-04 23:12] #1384 closed

[2021-08-05 00:57] devalevenkatesh commented on #1467
@neeltrivedi could you please provide your logs for troubleshooting as well?

[2021-08-05 03:41] gsphyo91 opened #1493 "[Question] Screen Share in mobile environment"
I am developing a video meeting service using Javascript SDK.
I want to provide the same service for Android and iOS. However, Screen Share does not work in the mobile browser.

Is there a way to provide Screen Share in a mobile environment using Javascript SDK without using Android SDK or iOS SDK?

[2021-08-05 16:34] neeltrivedi commented on #1467
@devalevenkatesh I don't have logs setup yet. But I see the same issue on this meeting sample app [https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/meeting](url) if i both the users are using Safari browser

[2021-08-05 16:42] michhyun1 commented on #1467
@neeltrivedi Can you please clarify the use case? As I understand, you are trying to join a meeting from an iOS WebView, and another attendee from Safari (iOS?).

Can you please explain what the repro steps are for both the happy path and failure path?

[2021-08-05 17:26] ltrung commented on #1493
@gsphyo91 JS SDK relies on `GetDisplayMedia` to capture screen from browser. Unfortunately, this is not available in mobile browsers for now: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getDisplayMedia.

[2021-08-05 17:26] #1493 closed

[2021-08-05 17:51] neeltrivedi commented on #1467
@michhyun1 I am trying to use iOS WebView(also tried iOS safari) and Chrome (macOs)  to join meeting.

Happy path steps:

1. User1 joins the meeting using Safari (iOS) and turns camera on
2. User2 joins meeting with Chrome(macOs) and turns camera on
3. Everything works until you disable Safari (iOS) camera and turn it on again

Failure path steps:

1. User1 joins the meeting using Chrome(macOs) an

[2021-08-05 19:21] achris commented on #1490
Also double check that you provided the `-o` option when deploying the serverless demo (see https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/serverless/README.md#media-capture ).  If you did it should have created a bunch of S3 buckets in your account as part of deploying.

[2021-08-06 02:38] gsudhanshu commented on #1486
@devalevenkatesh

the browser used was : Google Chrome Version 92.0.4515.131 (Official Build) (64-bit)

sorry for missinformation earlier

[2021-08-06 02:38] gsudhanshu commented on #1486
how to reopen this issue?

[2021-08-06 15:52] E5920 opened #1495 "remote video is not coming when user stop the share screen."
### What happened and what did you expect to happen?

Hi @michhyun1 @devalevenkatesh   ,
i am facing issue when i screen share stop then other side remote video is not coming in empty remote tile.
user A is sharing a screen then user B is able to view the screen share on remote tile but user A  stop the share screen  then user B remote tile is empty(this scenarios is fine) then user A video is not

[2021-08-06 16:29] michhyun1 commented on #1316
Resolving for now since there was no feedback - please let us know if the issue still exists.

[2021-08-06 16:29] #1316 closed

[2021-08-06 16:41] devalevenkatesh commented on #1486
@gsudhanshu thanks for correcting it, checking if you went through other issues and FAQ I linked?

[2021-08-07 04:16] tapaskdhar opened #1496 "Chime meeting session is not expiring"
### What happened and what did you expect to happen?

Chime meeting session is not ending consistently even though there is inactivity for several days.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws/

[2021-08-08 07:20] rusicsemenov opened #1497 "Can I use 25 video tiles without to AWS request?"
I updated our application to SDK v2.12.0, and can't use 25 video tiles. Only 16 video tiles actives, each participant have a different active video channel. I should write a request to increase video?
Here is example:
![image](https://user-images.githubusercontent.com/20163858/128624234-3bb0c7bb-55d0-4694-ab82-2fb906d34f36.png)

Thank you for your attention

[2021-08-09 07:51] dimabory opened #1498 "What is a purpose of `dropped` argument in `realtimeSubscribeToAttendeeIdPresence`?"
### What are you trying to do?

I'm trying to handle the event whenever an attendee drops and re-joins a meeting after a poor connection becomes good enough.

### How can the documentation be improved to help your use case?

Include a sentence to describe the purpose of this argument.

### What documentation have you looked at so far?

[realtimeSubscribeToAttendeeIdPresence](https://aws.github.io/

[2021-08-09 14:36] neeltrivedi commented on #1467
@michhyun1 @devalevenkatesh were you able to reproduce the bug and is there workaround until it is fixed ?

[2021-08-09 17:02] devalevenkatesh commented on #1495
Hello @E5920 ,

From your code, it looks like you are using same video elements for binding User A's content share as well as local video on User B's side. Once your screen share stops, you should start the local video again to get it binded to the remote video tile if you are using the same video tile. When you stop the content share unless and until you will start again the local video from User

[2021-08-09 18:15] devalevenkatesh commented on #1496
Hello @tapaskdhar ,

Thanks for reporting the issue.

Could you please let us know what is the Chime meeting session, is it the `DefaultMeetingSession` you created using the Amazon Chime SDK for JavaScript? Could you please clarify more on "Chime meeting session not ending"?

The meetings end when you run the [`DeleteMeeting`](https://docs.aws.amazon.com/chime/latest/APIReference/API_DeleteMeeting

[2021-08-10 13:53] SuhailBt opened #1499 "No audio output device detected in Safari browser"
### What happened and what did you expect to happen?

Audio output device not getting listed not even the default one
const audioOutputDevices = await this.meetingSession.audioVideo.listAudioOutputDevices()
returns empty array

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-c

[2021-08-10 16:34] abhinavOmni commented on #1351
pls help me on this chime error
![image](https://user-images.githubusercontent.com/71629015/128898117-a33bec70-e091-4c6c-8024-c74783646f3f.png)

[2021-08-10 16:42] michhyun1 commented on #1467
@neeltrivedi I've tried to reproduce this by checking out the master branch for this SDK demo, and then deploying it serverlessly. I also tried the version that we published in NPM (2.15.0).  I cannot reproduce this issue with the provided steps. I am using iOS 14.7 (Safari and WkWebView) with the other attendee being Mac - Big Sur 11.4 (Chrome).

I also tried it with the React Components Serverle

[2021-08-10 17:00] #1499 closed

[2021-08-10 17:04] michhyun1 commented on #1467
@anasmasood94 Could you please try upgrading to 2.15 and see if the issue persists? Thanks.

[2021-08-10 21:47] lzongkun commented on #1497
Hi,

Thanks for reaching out!
Currently you will still have to submit a limit increase request via the console to be able to adopt that feature since it is not GA-ed yet.

[2021-08-11 03:56] abhinavOmni commented on #423
![image](https://user-images.githubusercontent.com/71629015/128967204-956e4b94-9e93-4c5a-9f6f-74a39351c8c3.png)
getting error while starting the meeting with aws chime api, pls help.. this is a rare error

[2021-08-11 03:58] abhinavOmni commented on #423
![image](https://user-images.githubusercontent.com/71629015/128967395-8bc57081-a39a-451b-9eb2-d74855eb3d25.png)
pls help me on this chime error while startting the call

[2021-08-11 03:58] abhinavOmni commented on #474
![image](https://user-images.githubusercontent.com/71629015/128967441-1fa995ab-3673-441f-990a-a221f0350a76.png)
pls help on this issue ehile starting the call

[2021-08-11 05:13] E5920 commented on #1495
Hi,
1. i have two button a) video b)screen share. but my requirement is if screen share stop then automatically remote video should be visible because screen share and remote video comes in same tile
![image](https://user-images.githubusercontent.com/80304004/128972626-c6400f71-3c2f-4f2d-bcef-d43e626a32f4.png)

2. yes, i am  assuming it should automatically get binded on User B's side once content

[2021-08-11 06:02] abhinavOmni opened #1502 "Chime error over constrained while starting the call"
### What happened and what did you expect to happen?

![image](https://user-images.githubusercontent.com/71629015/128967573-d038548f-8d1e-4912-af1f-18687db23a3a.png)

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://gi

[2021-08-11 07:33] abhinavOmni commented on #1502
Its working in same machine for many days and suddenly we found this issue..

[2021-08-11 16:20] neeltrivedi commented on #1467
@michhyun1 Please find the logs

[Debug] 2021-08-11T16:12:42.562Z [DEBUG] SDK - signaling client init (bundle.js, line 33978)
[Debug] 2021-08-11T16:12:42.563Z [DEBUG] SDK - removing signaling client observer (bundle.js, line 33978)
[Debug] 2021-08-11T16:12:42.589Z [DEBUG] SDK - removing signaling client observer (bundle.js, line 33978)
[Debug] 2021-08-11T16:12:42.589Z [DEBUG] SDK - registering sig

[2021-08-11 18:20] michhyun1 commented on #1467
@neeltrivedi Could you please try out some of the following instructions:

Firstly, are you aware of this Safari bug? https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#my-video-disappears-in-safari-browsers-is-this-a-known-issue
Please confirm that you are not using the camera in any other application while running the demo.

Secondly, could you please try upgrading to 2.15 and see if th

[2021-08-11 18:29] abhimanusharma opened #1503 "Unable to join as a bot to record the meeting"
### What happened and what did you expect to happen?

I have setup my code to bypass the join and preview screen if the request is a bot user, but on meeting screen if bot won't allow the media devices (mic and camera) bot is not visible as a part of the meeting,

[code]
 because without above line meetingSession will not be created.

 The main issue is the above code is not enough, I also have to

[2021-08-11 19:30] michhyun1 commented on #423
@abhinavOmni can you please show how you are calling getUserMedia? Please refer to this documentation on how to use getUserMedia - you must provide constraints when calling getUserMedia (https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamConstraints)

[2021-08-11 19:35] michhyun1 commented on #1502
Can you please clarify exactly the api call you are making? Thanks.

[2021-08-11 19:39] michhyun1 commented on #423
A new issue was created - https://github.com/aws/amazon-chime-sdk-js/issues/1502. Please respond on that issue instead.

[2021-08-11 23:10] devalevenkatesh commented on #1498
Hi @dimabory ,
Thanks for reporting the issue.

The Amazon Chime SDK for JavaScript reconnects a meeting session in below scenarios:
- No audio packets (WebRTC)
- Bad audio delay (WebRTC)
- No pong reply (WebSocket)

In these re-connects if an attendee is dropped and does not re-connect successfully, the `dropped` will be set to `true` and the `realtimeSubscribeToAttendeeIdPresence` callback will

[2021-08-12 00:44] dnnejo commented on #1455
Shipped!
https://aws.amazon.com/about-aws/whats-new/2021/08/amazon-chime-sdk-amazon-transcribe-amazon-transcribe-medical/

[2021-08-12 00:44] #1455 closed

[2021-08-12 09:10] anrice commented on #632
We're looking for the same feature in order to start using the Chime SDK.

[2021-08-12 13:40] neeltrivedi commented on #1467
@michhyun1 Yes i am not using camera in any other application and using 2 separate devices.

I will try upgrading to 2.15 and let you know

[2021-08-12 16:51] hensmi-amazon commented on #1448
Thanks for reporting the issue, and for your thorough investigation.  I agree that this `TODO` is problematic, and we will try to get in a fix as soon as possible (likely through queuing a second subscribe when one is ignored).  We do not send indexes on regular intervals, but for now your mitigation is fine/not too risky because the current way simulcast works will trigger plenty on the backend.

[2021-08-12 17:06] abhinavOmni commented on #1502
we did not call any method getUserMedia, we just call the chime.slayt.io api.

[2021-08-12 17:41] michhyun1 commented on #1502
@abhinavOmni Can you please confirm that you've granted permissions to your media devices before joining the meeting?

[2021-08-12 18:16] devalevenkatesh commented on #1498
Closing this issue as the PR is merged now. Please feel free to open new issues if you have further questions.

[2021-08-12 18:16] #1498 closed

[2021-08-12 18:30] devalevenkatesh commented on #1495
So, for the 4th point here, currently in the JS SDK we can only bind 1 video stream to 1 video element. Hence, if your content share tile gets binded to the remote video tile, then it will override the local video stream binded earlier (User A's local video). Hence, there is no auto-binding for earlier elements. The logic can be and needs to be implemented in your app.

As explained in earlier com

[2021-08-12 20:10] devalevenkatesh commented on #1446
Hi @kanovic and @FlapperA ,

I tried to reproduce this issue using the mentioned steps in Scenario 1 and got the pop-up in JS SDK as well as on the WebRTC official sample for querying the devices. I discuss my findings below.

I used two different browsers one enabled with the microphone-camera permissions (Firefox 89.0.2) and the other with disabled microphone and camera permissions (Google Chrom

[2021-08-13 01:13] franko-franicevich commented on #1448
Hey Henry, thanks for the response. Let us know if there's anything else we can do, and we'll await enthusiastically for a proper fix. For now, the work around does seem to have solved the problem quite nicely for our users, but we'd obviously prefer a proper fix rather than rely on behaviour that might change in the future :)

[2021-08-13 04:30] abhinavOmni commented on #1502
Yes we have granted.

On Thu, Aug 12, 2021 at 11:11 PM Michael Hyun ***@***.***>
wrote:

[2021-08-13 07:39] michhyun1 commented on #632
@anrice this is not currently supported - you can refer to this issue #613 as a workaround if that works for you.

[2021-08-13 14:20] neeltrivedi commented on #1467
@michhyun1 I am using Safari 14.1 (macOs Big Sur) and Safari 14.5 (iOS)

[2021-08-13 16:27] brianinator opened #1509 "Outbound call attendee not presence in meeting unless they hit a digit on keypad"
### What happened and what did you expect to happen?

An attendee on the phone has audio of other attendees but `realtimeSubscribeToAttendeeIdPresence` has **not** been invoked until they have hit a digit on keypad. I expected `realtimeSubscribeToAttendeeIdPresence` immediately once they answered the call. It can take sometimes up to 3 to 5 minutes for it to be invoked.

### Have you reviewed our

[2021-08-13 17:16] russellc92 opened #1510 "Potential WebRTC conflicts with other audio/video WebRTC based frameworks"
### What are you trying to do?

As part of a front end application (React)
- Use the Chime SDK for normal purposes (join meetings etc).
- Use AWS KVS WebRTC service (or any other third party audio webrtc based framework)

Question:

Considering both Chime SDK and AWS KVS WebRTC use webRtc under the hood, could there be a collision when used together?

Specifically in my case; Chime SDK to retrieve

[2021-08-13 21:52] michhyun1 commented on #1467
@neeltrivedi there is a potential fix in this PR: https://github.com/aws/amazon-chime-sdk-js/pull/1507

It has been merged, maybe you can try the head of master branch and let us know.

[2021-08-14 03:02] devalevenkatesh commented on #1502
Hello, could you please provide all the browser console logs for this error?

We would need the entire console logs (137 messages) shown in the attached image.

[2021-08-14 23:48] ElielCohen commented on #1464
Any update ... ?

[2021-08-15 09:19] Sagar1219 opened #1511 "Screen Share started but not streaming the contents"
Hi @devalevenkatesh ,

I am implementing screen share module, this is the console.log from which I think the req. screen share functions seems to be working fine but I am unable to stream the screen share contents :

[code]

I have referenced the JS from [here](https://github.com/aws/amazon-chime-sdk-js#screen-and-content-share) but anyways will be good to have a look at what I have in my file.

[

[2021-08-17 00:51] devalevenkatesh opened #1512 "[Test] video issue"
Providing some body

[2021-08-17 00:58] #1512 closed

[2021-08-17 00:59] devalevenkatesh opened #1513 "Test - video issue"
Some content

[2021-08-17 01:02] devalevenkatesh commented on #1513
Success done!

[2021-08-17 01:02] #1513 closed

[2021-08-17 01:03] devalevenkatesh opened #1514 "Test - Audio Issue"
Testing audio creation from Github.

[2021-08-17 01:05] devalevenkatesh commented on #1514
Creation tested closing now.

[2021-08-17 01:05] #1514 closed

[2021-08-17 01:49] devalevenkatesh commented on #1511
Hi @Sagar1219 ,

Thanks for filing the issue. We request you to please use our [bug-report template](https://github.com/aws/amazon-chime-sdk-js/issues/new?assignees=&labels=&template=bug-report.yaml) while creating issues as it helps us to gather more information in first check and solve the issue better.

I checked the code snippet and the problematic line is this:
[code]

Could you please check

[2021-08-17 02:07] devalevenkatesh commented on #1503
Hello @abhimanusharma ,

Thanks for reporting the issue. In Amazon Chime SDK for JavaScript, the attendee presence is implemented based on audio from an attendee. If you do not provide any media permissions you will not be able to join a Amazon Chime SDK meeting using JS SDK and hence you wont be seen in roster / attendee list. So, you are in you will have to list audio input devices, provide medi

[2021-08-17 02:09] #1503 closed

[2021-08-17 02:54] rushkeldon commented on #632
Our product absolutely NEEDS the ability for each attendee to be able to control the volume level of each attendee - just in their client session, not globally.
One way to implement this would be to have an option for audio to be included in the video for attendees that have video - and of course - be exclude from the central meeting audio stream being played in the bound <audio/> element.
That wa

[2021-08-17 09:22] kanovic commented on #1446
Hi @devalevenkatesh,

- I disable (all) audio input in the Sound Control Panel on Windows 10.

- By doing so, neither Firefox or Chrome will show the popup on [this](https://webrtc.github.io/samples/src/content/devices/input-output/) sample you mentioned. Enabling the audio input again and refreshing the WebRTC sample will result in the popup shown with a camera list and the OBS camera **present**

[2021-08-17 14:20] leannepatmoretsl opened #1515 "Buzzing sound when checking audio output on ipad"
### What happened and what did you expect to happen?

When running the meetingReadinessChecker demo after confirming or denying the audio output check there is a buzzing that plays afterwards. This is also happening in our own project when using `checkAudioOutput`. I believe this could be caused by disconnecting the `oscillatorNode` and `gainNode` in `stopTone`, as removing this code solves the is

[2021-08-17 17:43] ltrung commented on #1253
@ReneS1991 The preview video API `startVideoPreviewForVideoInput`  actually requires to call `chooseVideoInputDevice` first. All it does is to attach the current active video stream to a video element (https://github.com/aws/amazon-chime-sdk-js/blob/master/src/devicecontroller/DefaultDeviceController.ts#L629).
In the meeting demo, the code path for preview and turn on video is actually the same (h

[2021-08-17 19:12] michhyun1 commented on #632
@rushkeldon We're currently tracking this feature request in our project board: https://github.com/orgs/aws/projects/12#card-64569170

[2021-08-17 23:49] richnew10 opened #1518 "Document Content Security Policy"
Sophisticated customers will try to figure this out on their own, and might do so incorrectly.

Additionally, we should think about how to support customers whose CSP configuration is causing issues: e.g., blocking WebSockets.

[2021-08-18 05:50] pravn0993 opened #1521 "Based on this code, I wrote my logic in PHP for pre-signing request and getting unauthorized error."
Based on your code, I updated the handler with these key changes:
- Encoded the app instance user ID ARN (`user_id_arn`)
- `credential_scope` follows the format in the [developer guide](https://docs.aws.amazon.com/general/latest/gr/sigv4-signed-request-examples.html)
- Used `quote_plus` for `X-Amz-Credential`
- Included the `session_token` but it's optional in the Amazon Chime SDK for JavaScript t

[2021-08-18 06:03] ltrung commented on #1521
@pravn0993 Hi, Can you fill in your request using one of our templates?

[2021-08-18 06:48] ltrung commented on #1446
@kanovic, @FlapperA, I have been able to reproduce the issue with the meeting serverless demo in Chrome on Windows using OBS virtual camera and disable all audio inputs in the Window Sound Settings.
If the permission is not set before (i.e., 'Ask' option), there is no pop up for device permission. In the console log, I saw an info log `unable to get media device label`. Using `getUserMedia` direct

[2021-08-18 06:50] pravn0993 commented on #1521
Sorry @ltrung, was an accidental tap before I could complete my question.

I used the above code shared by @simmkyu replacing session id, access key, secret and user arn with required values (removed session_token, useragent and sdk version) and everything works as expected. However, I would need the entire logic to be written in PHP and hence I ported the entire code in PHP as shown below. Now I

[2021-08-19 00:34] ldai1 commented on #1518
We talked about using [SecurityPolicyViolationEvent](https://developer.mozilla.org/en-US/docs/Web/API/SecurityPolicyViolationEvent). Also we probably can print out the signaling URLs that customers are using for a faster debugging. Will provide more information for the plans.

[2021-08-19 00:35] ldai1 commented on #1515
Hi,

We will reproduce the issue using the device and platform version that you mentioned share our findings here. Thanks for reporting the issue.

[2021-08-19 02:32] michhyun1 commented on #1467
@anasmasood94 @neeltrivedi Can you confirm if this fixed your issue? Thanks.

[2021-08-19 11:01] gsudhanshu commented on #1486
Yes have gone through issues pointed out.. but none solves my problem

On Fri, 6 Aug, 2021, 10:11 pm Venkatesh Devale, ***@***.***>
wrote:

[2021-08-19 16:19] devalevenkatesh commented on #1486
Could you please check if you have added and blocked "app.chime.aws" if you have set the Content Security Policy in the HTML?

Are there any additional network settings on this system vs the rest that are working? Generally the WebSocket connection issues are due to firewall or network settings, and weirdly if other systems are working and only this system is having problem then there must be some

[2021-08-19 18:14] neeltrivedi commented on #1467
@michhyun1 It is working. Thanks

[2021-08-19 18:42] #1467 closed

[2021-08-19 22:02] mark-vanr opened #1524 "Simulcast documentation feedback - downlink policy information"
### What are you trying to do?

Using the documentation provided at https://aws.github.io/amazon-chime-sdk-js/modules/simulcast.html -
I am trying to enable simulcast for users who are on the Chromium browsers which support it, and also have the `VideoAdaptiveProbePolicy` downlink policy enabled on browsers that do not support simulcast to take advantage of the quality controls it seems to offer.

[2021-08-20 00:53] gsudhanshu commented on #1486
Can you kindly check logs and try to see where the problem is?

On Thu, Aug 19, 2021 at 9:49 PM Venkatesh Devale ***@***.***>
wrote:

[2021-08-20 01:17] devalevenkatesh commented on #1486
I have actually went through the logs and as commented in the first comment we see WebSocket failure only.
Comment link: https://github.com/aws/amazon-chime-sdk-js/issues/1486#issuecomment-893004654

Could you please provide more logs if earlier attached logs have changed?

[2021-08-20 08:08] Nanosync opened #1525 "Unable to draw external images on canvas"
### What happened and what did you expect to happen?

Based on the demo in `demos/browser/app/meetingV2`, I modified `this.targetCanvas` to load an image from an external source (absolute URL), e.g. `https://someurl.any/page/bg.jpg` and ensured that the source was loaded before drawing the image on the canvas. However, no output is displayed.

If the image comes from the same domain (relative URL)

[2021-08-20 08:20] konstantin-tarasov-clearscale opened #1526 "Manage channels and message history list."
Can use [these features](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/chime-sdk-messaging/index.html#cli-aws-chime-sdk-messaging) using the SDK?
- manage channels?
- list messages history?
...

[2021-08-20 09:25] OasisLiveForever opened #1527 "Add a new uplink policy to have maximum video quality independently from the number of remote attendees"
In my application I have an instructor that makes fitness classes with users (e.g. Yoga) and I want users to have the best video quality of the instructor,

In the pull request #1491 https://github.com/aws/amazon-chime-sdk-js/pull/1491, NScale uplink policy has been updated to scale down resolution based on number of remote videos.
If I upgrade to version 2.16.0, I think I will have a lower qualit

[2021-08-20 16:56] ldai1 commented on #1510
Hi, thanks for using Chime JS SDK. In a WebRTC-based application, you create an instance of RTCPeerConnection to transmit audio/video stream. In our JS SDK, we also create a single instance of RTCPeerConnection.The following example shows that you can use multiple instances of RTCPeerConnection object: https://webrtc.github.io/samples/src/content/peerconnection/multiple/.

Theoretically your propo

[2021-08-20 17:47] ltrung commented on #1527
@OasisLiveForever Thanks for asking. In #1491, we do not exactly change the existing behavior of limit the video quality when the number of attendees increase. Previously, we only reduce the max bit rate and #1491 just make sure we also adjust the resolution. However, one thing to note is that the default policy always keep the active speaker's video quality and does not limit max bit rate or scal

[2021-08-20 18:02] OasisLiveForever commented on #1527
@ltrung Yes, in my case the instructor is typically the active speaker but also users can speak.
I'm using simulcast, does setHasBandwidthPriority work also with simulcast uplink policy?

Many thanks.

[2021-08-20 18:29] ltrung commented on #1527
Because simulcast sends 2 video layer in high and low already, it does not implement `setHasBandwidthPriority`. `setHasBandwidthPriority` is only for the default NScale uplink bandwidth policy.
You can use priority-based downlink policy to always priority the instructor and set the target size to high for the instructor.

[2021-08-20 19:16] nolanlawson commented on #800
Just to circle back on this, this can still be reproduced in the latest version of `amazon-chime-sdk-js` (2.15.0). Here is a minimal repro on the command line:

[code]

The `eval()` comes from [`@protobufjs/inquire`](https://www.npmjs.com/package/@protobufjs/inquire).

[2021-08-20 21:11] LeviSklaroff commented on #1386
@husaindevelop We are now supporting Android WebView! Please update your chime sdk version and for code reference on how to setup a Android WebView application for the Chime SDK please refer to https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/Android-WebView-sample

Be aware that Android WebView is not the same as Chrome for Android and has more limitations. One particular issue exis

[2021-08-20 21:12] #1386 closed

[2021-08-20 22:24] ldai1 commented on #1525
Hi, Thanks for reporting the issue. Do you have a complete log to cover all the actions you did after device processing started?

Also, have you implement the `DefaultVideoTransformDeviceObserver` to get notification events for failure reasons? Some [documentation](https://github.com/aws/amazon-chime-sdk-js/blob/2e2c7e36631d898b925e6e341c28f72dafcfa8d6/guides/10_Video_Processor.md) you can check t

[2021-08-20 22:38] vidya-mohan commented on #1413
Resolving as couldnt proceed

[2021-08-20 22:38] #1413 closed

[2021-08-20 22:39] vidya-mohan commented on #1487
Resolving as couldnt proceed

[2021-08-20 22:39] #1487 closed

[2021-08-20 22:40] vidya-mohan commented on #1496
Resolving as couldnt proceed

[2021-08-20 22:40] #1496 closed

[2021-08-20 22:40] vidya-mohan commented on #1490
Resolving as couldnt proceed

[2021-08-20 22:40] #1490 closed

[2021-08-23 00:46] julzelements commented on #785
I'm also keen for a vue app.

[2021-08-23 04:21] Nanosync commented on #1525
Hello,

Thank you for the response. The log ends there as the following log messages are network messages (ping/pong/local clock skew). I ended the meeting after device processing.

I have implemented the observer - the `processingDidStart` event fires successfully, but there is no event firing for `processingDidFailToStart`. It appears there is a silent failure when drawing the canvas with an ext

[2021-08-23 04:33] mrnav90 opened #1529 "[Virtual Background] How to implement virtual background in Chime SDK?"
I also read document video processor: https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/10_Video_Processor.md

Check more tutorial:
https://dannadori.medium.com/amazon-chime-sdk-virtual-background-with-powerpoints-slides-9922d6afccee
https://dannadori.medium.com/google-meet-virtual-background-with-amazon-chime-sdk-34656a625fed

But can't implement with Chime SDK, could you please share

[2021-08-23 07:17] Sagar1219 commented on #1511
Hi @devalevenkatesh, this did resolve the issue but now it's streaming infinite videos, how to stop this?

![Screenshot (224)](https://user-images.githubusercontent.com/14037958/130406218-c12d3662-ae43-4a4d-a64d-7d56f79702df.png)

[2021-08-23 11:21] kanovic commented on #1446
@ltrung, I have tried your code adjustments and in the case of Firefox it also works. For Chrome, commenting out the `switchToFlow` line did not solve the issue. When I reset the permissions to 'Ask', the popup shows and I can allow camera use. Then it directs me to the devices section and withing a second back to the 'Permissions check' screen. Reloading the page brings me back to the landing pag

[2021-08-23 15:14] ltrung commented on #1446
@kanovic If you comment out the two `switchToFlow` [here](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L2172), it should disable the switch to `flow-need-permission` and `flow-devices` pages. Based on what you described, it redirects to the `Permission check` screen so my guess is you missed the first line.
[code]

[2021-08-23 16:26] devalevenkatesh commented on #1511
Hi @Sagar1219 ,

So, this infinite loop is actually the behavior when you share your screen where the application is running and show the content share tile in your application. I think you will find the same behavior on other WebRTC browser screen share based demos. You can check the official WebRTC screen sharing sample [here](https://webrtc.github.io/samples/src/content/getusermedia/getdisplaym

[2021-08-23 16:26] #1511 closed

[2021-08-23 17:13] dpwspoon commented on #1526
We have launched a new namespace in the AWS SDK that makes available all of the existing APIs for *Amazon Chime SDK messaging*, including all of those in the documentation linked: https://awscli.amazonaws.com/v2/documentation/api/latest/reference/chime-sdk-messaging/index.html#cli-aws-chime-sdk-messaging.

New Chime Messaging APIs and features will be added to the [chime-sdk-messaging](https://aws

[2021-08-23 17:14] michhyun1 commented on #785
Instead of adding comments to this thread, please upvote (with a 👍🏻) the top-most comment to increase the visibility of this demo request so that we can track the demand for this request. Thanks all!

[2021-08-23 18:24] red62labs commented on #1529
the danna dori tutorials work using BodyPix. This link should help you. I have tested it out.
https://github.com/FLECT-DEV-TEAM/LocalVideoEffector#readme

[2021-08-23 18:45] red62labs opened #1530 "Any API to find out how much a said meeting cost?"
### What are you trying to do?

trying to get the actual cost of the meeting that chime is charging.

### How can the documentation be improved to help your use case?

include an example of how to get the actual cost of the meeting, I currently use the start time and end time then calculate the cost.

### What documentation have you looked at so far?

getMeeting call the meeting object does not re

[2021-08-24 07:44] mrnav90 commented on #1529
Hi @red62labs

This tutorial not compatibility with Chime SDK because chime sdk using bind stream to element so I think we need a hook and setting video processor for virtual background.

@ldai1 Could you say anything about plan development? :(

Many thanks

[2021-08-24 09:35] qamrulhaque opened #1533 "Virtual background and blur background"
Is it possible to add virtual background or blur background in a video meeting?

If not available will there be any such feature in future so attendees can hide their actual background?

Thanks.

[2021-08-24 09:52] HamedPourTecharge opened #1534 "Getting Started feedback"
### What are you trying to do?

Trying to understand how the audioVideoObserver works when it comes to setting up video connections as well as how the tileState works when it comes to managing attendees.

### How can the documentation be improved to help your use case?

I need more simple examples of how the videoTileDidUpdate observer does it job and how the tileState object interacts with everyt

[2021-08-24 10:07] abhimanusharma commented on #436
@Ardenexal
What's this.deviceController? How are you using it inside chime meeting?

[2021-08-24 10:53] Nanosync commented on #1525
Hello,

Additional tests reveal that the canvas element being passed to `CanvasVideoFrameBuffer` renders correctly as well, but the final output from the video itself does not appear.

[2021-08-24 11:42] Ardenexal commented on #436
this.deviceController is just the audioVideo.deviceController assigned to a variable

[2021-08-24 16:17] santimendoza commented on #659
That link is broken

[2021-08-24 16:20] vidya-mohan commented on #659
Since then its moved to https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/chat

[2021-08-24 16:59] ldai1 commented on #1530
Hi,

Thanks for using Chime JS SDK. Currently we are not exposing any APIs for cost calculation, but you can check here for more information:  https://aws.amazon.com/chime/chime-sdk/pricing/

[2021-08-24 17:03] santimendoza commented on #659
I'm having this issue in chrome. Can you point out what's important about that demo? Didn't found anything useful related to the issue in this ticket.

[2021-08-24 17:31] olmryoung opened #1535 "deleteMediaCapturePipeline does not end recording"
### What happened and what did you expect to happen?

When calling deleteMediaCapturePipeline the meeting recording continues. There are no errors returned.

I expected meeting recording to stop when using deleteMediaCapturePipeline.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/a

[2021-08-24 20:17] sinanliuAmazon commented on #1535
Hi, I checked the log on our side and do not see the DeleteMediaCapturePipeline API being called for MediaPipelineID 9c5b0814-aaa9-48be-9da1-45c3b96423e2.

[2021-08-24 21:22] vidya-mohan commented on #1529
@mrnav90 Could you help me understand the request better? Are you looking for an example of how to use the Video Processing APIs? If so, we have you looked at our demo application? The [APIs](https://github.com/aws/amazon-chime-sdk-js/blob/e72f9e85038230143f8aca7b300c91a41358b9b8/demos/browser/app/meetingV2/meetingV2.ts#L2341) are integrated there.

[2021-08-24 21:25] vidya-mohan commented on #1530
Please check out our FAQs @ https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#how-much-does-the-amazon-chime-sdk-cost

You can track your usage using Cost Explorer: https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#do-i-get-billed-for-using-the-demos

[2021-08-24 21:25] #1530 closed

[2021-08-24 21:27] vidya-mohan commented on #1533
@qamrulhaque could you please help us with preserving the Bug or Feature Issue template so we can help you faster? The guide is captured https://aws.github.io/amazon-chime-sdk-js/modules/videoprocessor.html .

Our demos are integrated here : @ https://github.com/aws/amazon-chime-sdk-js/blob/e72f9e85038230143f8aca7b300c91a41358b9b8/demos/browser/app/meetingV2/meetingV2.ts#L2341

[2021-08-24 21:27] #1533 closed

[2021-08-25 03:33] E5920 opened #1536 "facing network failure in when call createmediacapturepipeline api"
### What happened and what did you expect to happen?

@michhyun1 @devalevenkatesh @ltrung, i am facing issue network failure when called createMediaCapturePipeline api for start recording. kindly suggest.

screenshot of network failure:-
![image](https://user-images.githubusercontent.com/80304004/130721509-d43013c6-8597-4dee-bd8a-fd5177708757.png)

ts code

public async recording(){
    this.toggl

[2021-08-25 05:56] ldai1 commented on #1525
Hi,

Thanks for providing these info. We will reproduce the issue and keep you updated in this ticket.

[2021-08-25 06:08] ldai1 commented on #1534
Hi,

Thanks for using Chime JS SDK. Have you looked at our demo application(the meeting V2 app under /demos/browsers)? We also have guidance for using the `audioVideoObserver` here in [API overview](https://aws.github.io/amazon-chime-sdk-js/modules/apioverview.html#3-register-an-audio-video-observer) and [QualityBandwidth_Connectivity](https://aws.github.io/amazon-chime-sdk-js/modules/qualitybandw

[2021-08-25 07:04] gsphyo91 opened #1537 "[Question] Get the size of the screen being shared"
I want to get the size of the screen being shared in the screen sharing function.

When screen sharing starts, the shared screen appears inside the video element, and depending on the size of the video element, white space is created on the left and right or top and bottom.
Whenever the actual window size of the shared screen changes, the size of the shared screen within the video element also cha

[2021-08-25 08:43] mrnav90 commented on #1529
@vidya-mohan
Currently, I'm researching how to implement virtual background in Chime SDK.
I know chime SDK have Video Processing API but I don't know how to implement that with virtual background.
I've check your demo application but this is tutorial for implement with bodyfix? right?
But how to implement virtual background with google-meet model?

Thanks

[2021-08-25 09:13] HamedPourTecharge commented on #1534
Hi Lue,
Thank you for your quick replay to my issue. I did go through the links you mentioned and they were of course helpful. MeetingV2 was the most useful of them all. Thank you for directing me to it. The only minor gripe had with it was the the entire example was crammed into just one long meetingV2 typescript file. Would have loved to see it broken down into reasonable-sized modular files.
Th

[2021-08-25 11:28] olmryoung commented on #1535
I verified the deleteMediaCapturePipeline params used to call the API in the attached Lambda logs on line 68. The Lambda is calling the API and Lambda continues processing normally with no issues or errors.

[2021-08-25 18:36] majo35-6c opened #1538 "AudioVoiceFocus and Volume Input Control"
SingleNodeAudioTransformDevice -> When i extends this class => I can control volume of mic
VoiceFocusDeviceTransformer - I can remove noise from AudioInput.

However i dont know how i can remove noise from my audioInput and also have options for control volume of audioInput.
Any idea ?

[code]
When i use voiceFocuse Device as wrapper of volumeTransformDevice only voiceFocus works.
[code]
When i us

[2021-08-26 08:54] ArtemZakharchuk opened #1543 "Webcam stream from inactive tab freezes on viewer side if virtual background is applied"
### What happened and what did you expect to happen?

When the user turns on his webcam with "Virtual effects" and switches to another browser tab, viewers will see a freezing webcam stream. Sometimes it happens instantly after go out from the tab, sometimes it took about 30 seconds to start freeze (maybe depend on is user muted or no). Also, this issue is reproducing in demo/browse/app example fr

[2021-08-26 11:50] majo35-6c opened #1544 "[Virtual Background] How to increase quality of virtual background in Chime SDK?"
### What are you trying to do?
When i use frame processor for virtual background i use image with resolution 1280x720.
However quality of image in video is low.

How can increase quality of virtual background  ?

### What documentation have you looked at so far?

*For example: README.md, Amazon Chime SDK Developer Guide, etc.

[2021-08-26 17:54] #1544 closed, assigned to nobody

[2021-08-27 18:39] cfalzone-victoria opened #1548 "Distorted input audio on MacOS/Safari 13.1.3"
### What happened and what did you expect to happen?

Hello,

I'm using sdk 2.14.0 / Angular 11.

All users using MacOS/Safari 13.1.3 are experimenting low volume and distorted audio. (like a robot)
Voice focus is not used on Safari 13.X
Device used is typically standard builtin Micro device

Same web application works perfetly on MAC/Chrome, MAC/Firefox, PC/Chrome, PC/Firefow, IOS/Safari, etc.

A

[2021-08-27 21:55] richnew10 opened #1550 "Reexamine use of setInterval and setTimeout"
`setInterval` queues a new work item each time the interval is hit, even if the first work item hasn't completed or took a large chunk of the time between intervals. That is usually not what you want to happen.

The SDK extensively uses `setInterval` via `IntervalScheduler`.

It also makes heavy use of `setTimeout`. This has its own issues: under load, the queued event can occur substantially late

[2021-08-28 07:24] nainkunal933 commented on #1543
Hi @ArtemZakharchuk,

Thank you for using Chime JS SDK and for opening this issue. I have been able to verify this issue. I will do some more investigation and keep you updated here.

[2021-08-28 09:08] cfalzone-victoria commented on #1548
Hi richnew10,
Thanks your for your thoughts.

No AirPods or other additional audio devices. Built-in Mac microphone only.
I'm currently gathering these kind of information (Hardware specs).
For now, impacted hardware seems to be Mac Air ( 3 cases)
I've tried with one MacBook Pro, No problem with Safari 13.1.3 !!!

The problem is already observed with 2 video tiles (its own local tile and one remot

[2021-08-28 10:57] aag-sl opened #1552 "createMediaCapturePipeline API gives "ResourceLimitExceeded" error"
After successful deployment, trying to run the sample app provided in **/demos/browser**. Getting the following error in Cloudwatch,
[code]
Could not find any options to increase the service quota limit (if any).

[2021-08-30 11:34] mobcoder-deepanshu opened #1555 "Want to know this feature has already there?"
The queries that we need to clarify are as below:

1. what about multiview switch like from grid to list or vice versa in case we have attained maximum user view.(in case of 16 people and also in more than 16+ people) through chime sdk.

2. Also please provide clarification and solution for pin functionality for a user during a video call?

For example- Like we doing video call with 16 people and

[2021-08-30 16:12] richnew10 commented on #1548
Safari's WebAssembly runtime is about 3x slower than that of Firefox and Chrome. We recommend using a more sophisticated browser when possible — either Firefox or a Chromium-based browser like Edge or Chrome — but understand that for some applications that's not possible.

Older MacBook Air devices are relatively slow in general. They get a Geekbench score ranging from 374 for a 2011 Air through t

[2021-08-30 16:54] cfalzone-victoria commented on #1548
Hi richnew10,

Thanks for your analysis, and I fully agree with you as far as the low-end Mac Airs are concerned. Unfortunaltely, we will not be able to "Reject" these users...

Voice Focus is tagged, in the doc, as compatible from Safari 14.1.
The problem is occuring in Safari 13.1.3 and we do NOT use Voice focus at all for Safari 13.
So, I don't think that VF could be the culprit...

Could it be

[2021-08-30 18:04] vidya-mohan commented on #1497
@rusicsemenov this feature is released so you won't need to make limit increases anymore. If you are using the [Amazon Chime React Components](https://github.com/aws/amazon-chime-sdk-component-library-react), the VideoGrid should support this limit.

I am resolving this ticket

[2021-08-30 18:04] #1497 closed

[2021-08-30 18:44] xuesichao commented on #1555
Hi @mobcoder-deepanshu. This issue seems to be more like asking question than requesting features. JS SDK doesn't deal with UI things, you could just implement whatever you want.

For your questions:

I don't understand your question very clearly. I think what you can do is to check the number of video tiles, and change your UI accordingly. To do that, you can use `audioVideo.getAllRemoteVideoTile

[2021-08-30 19:16] sinanliuAmazon commented on #1552
Hi @aag-sl , media capture pipeline has meeting level limit, only one media capture pipeline is allowed in one ChimeSdkMeeting. I checked the logs and seems there's 3 CreateMediaCapturePipeline API calls for meetingId: 1be4e26f-0204-41dd-9e9a-1dc903fc0706, the first one created a media capture pipeline already, so the following 2 failed with limit exceed error message.

[2021-08-30 20:48] ltrung commented on #1537
Close for now. Please reopen if you have any additional questions.

[2021-08-30 20:48] #1537 closed

[2021-08-31 06:11] E5920 opened #1558 "S3 Bucket policy not valid/present for Sink"
### What happened and what did you expect to happen?

@sinanliuAmazon @achris ,   I am facing problem at the time of executing createMediaCapturePipeline & getting error  "S3 Bucket policy not valid/present for Sink arn:aws:s3:::xx-xx-xx\",\"RequestId\":\" (truncated...) "

controller.php

public function startRecording(Request $request) {
        \Log::debug("inside start recording");

        $m

[2021-08-31 07:23] gsudhanshu opened #1559 "Can't see other video/screenshare or hear anything in ongoing meeting"
### What happened and what did you expect to happen?

We conducted our monthly company meet using in-house application built using aws-chime-sdk-js

I will describe the problem faced by one of the participants below:
The call was scheduled at 5 pm on Friday, 27th Aug.
* He was able to join the call at 4:55pm and could see other participants but faced audio issues from the start itself.
* After 5 m

[2021-08-31 07:38] amneeshsoftobiz opened #1560 "we are not able to do meeting without video device, Error fetching device"
getting the following error
![image](https://user-images.githubusercontent.com/46473769/131462355-4374ca90-3403-4eb5-849d-3a8d27031a47.png)

here is follow code i have tried
`
const deviceController = new Chime.DefaultDeviceController(logger);

    deviceController.setDeviceLabelTrigger(() => {
      return navigator.mediaDevices.getUserMedia({ audio: false, video: false });
    });

    const dev

[2021-08-31 11:11] gsudhanshu opened #1561 "audiovideodidstop is being called for many attendees without meeting end or user action"
### What happened and what did you expect to happen?

We conducted a company meet using our application built on aws-chime-sdk-js

During the meeting many users faced this issue that audiovideodidstop was called when meeting was going on!

We are not able to find the issue..

chimeMeetingId - 751baa7a-448f-4777-923c-94c84e130706

attendeeId - YWU1NmViN2UtNWZlNy01MjFkLThlM2MtZGY3NDg1MWJmMmIxOmI3NjE

[2021-08-31 14:22] aag13 commented on #1552
Hi @sinanliuAmazon , thanks a lot for your response. Much appreciated!

[2021-08-31 14:25] aag-sl commented on #1552
Hi @sinanliuAmazon , thanks a lot for your response. Much appreciated!

[2021-08-31 17:28] paul365 opened #1562 "AWS authorization failed when calling chime.startChimeTranscription"
### What are you trying to do?
I'm trying to start transcription on a chime meeting. Got this error. Am I missing something?

Already added this role:
AWSServiceRoleForAmazonChimeTranscription

aws-sdk version nodejs:
2.979.0

TranscriptionConfiguration:
{ EngineTranscribeSettings: { LanguageCode: 'en-US' } }

Error message:
Forbidden: AWS authorization failed
    at Object.extractError (/opt/node

[2021-09-01 02:37] dnnejo commented on #1562
In the StartMeetingTranscription API, you have the option of specifying the region.  If you do not, it uses the same region as the meeting, and if Amazon Transcribe is not available in that region, you will receive an error.  Use "region = 'auto'" to have Amazon Chime use Amazon Transcribe in a nearby region if it is not available in the meeting region.
https://docs.aws.amazon.com/chime/latest/API

[2021-09-01 03:51] gsudhanshu commented on #1558
Thanks @sinanliuAmazon ,we will try these steps.

[2021-09-01 04:07] ltrung commented on #1560
`getUserMedia` requires to specify either audio or video and you need to pass a video deviceId to `chooseVideoInputDevice`. Could you give more details on your use case?

[2021-09-01 13:35] paul365 commented on #1562
@dnnejo thanks! I also used your suggestion. I resolved it by granting full access to chime. might have missed these
              - 'chime:StartMeetingTranscription'
              - 'chime:StopMeetingTranscription'
Might be helpful if the documentation also has info the above is also needed aside from adding the service role.

[2021-09-01 13:54] paul365 opened #1563 "Save transcription result to database"
### What are you trying to do?
I want to save the transcription result to a database. Can this be done via EventBridge? Thanks

### How can the documentation be improved to help your use case?
Include a section on how to persist transcription results.

### What documentation have you looked at so far?
README.md
Amazon Chime SDK Developer Guide
https://docs.aws.amazon.com/chime/latest/dg/meeting-tr

[2021-09-02 10:45] gsudhanshu opened #1565 "Circular dependency"
### What happened and what did you expect to happen?

When I make build of my project using aws-chime-sdk-js, I receive following warning:

Warning: Circular dependency detected:
amazon-chime-sdk-js/build/maybe/Some.js -> amazon-chime-sdk-js/build/maybe/Maybe.js -> amazon-chime-sdk-js/build/maybe/Some.js

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/a

[2021-09-02 14:19] Jagordon opened #1566 "Video stream from Samsung S8 appears black & white"
### What happened and what did you expect to happen?

When we upgraded from v2.15.0 -> v2.16.1 our Samsung S8 test devices started manifesting this issue. Other devices saw their output video as seen in the screenshot below.

<img width="1044" alt="Screen Shot 2021-09-01 at 15 01 50" src="https://user-images.githubusercontent.com/7779656/131852591-3d2f4319-fb74-417f-8824-39bbb301fe1d.png">

This w

[2021-09-02 15:48] ltrung commented on #1566
@Jagordon Thanks for reporting the issue. Could you confirm whether you would not see this issue if you roll back to 2.15? I looked at the change log and did not see anything that could affect this.

[2021-09-02 16:59] E5920 opened #1567 "user enter into the meeting then only visible white screen"
### What happened and what did you expect to happen?

@ltrung, i am facing issue when user enter into the meeting or rejoin the meeting then only visible white screen with meeting Id & my requirement is if user into the meeting then visible remote video of other user. please suggest

please find a screenshot of white screen.

![image](https://user-images.githubusercontent.com/80304004/131885032-78

[2021-09-02 18:08] ltrung commented on #1567
@E5920 Could you clarify the issue? Did this work before and you only encountered it recently or you asked how to view remote videos?
Upon joining you should receive remote video streams right away but in order to see them you need to bind them to your application's video elements using `bindVideoElement` in the `videoTileDidUpdate` event. For more details, you can see our implementation in the de

[2021-09-03 00:24] richnew10 opened #1568 "Spurious error logged prior to devices being listed"
Stack:

[code]

Choosing a device requires computing the group ID to populate the `DeviceSelection`. For some reason we do so by consulting the device list cache. If the cache doesn't exist because no devices have been listed, any attempt to select a device — even a stream or the null device — will cause this to be hit:

[code]

This was introduced in #1329.

Instead we should:

* Not use a group

[2021-09-03 07:37] Jagordon commented on #1566
We have rolled back to 2.15 and the issue is resolved.

[2021-09-03 08:04] gsudhanshu opened #1569 "Meeting ended without calling audiovideodidstop"
### What happened and what did you expect to happen?

Steps to reproduce the issue:

1. Host starts meeting
2. Attendee joins meeting
3. Attendee leaves meeting
4. Attendee tries to rejoin --> but unable to join
5. Host is still waiting for attendee to join in the meeting. Host has not yet received the error message "Meeting has ended". This message comes on audioVideoDidStop

Server logs:

[2021-

[2021-09-03 08:05] gsudhanshu commented on #1569
@ltrung @E5920

[2021-09-03 14:24] shriyajuneja opened #1570 "Participant drops if meeting continues with locked screen or in background"
### What happened and what did you expect to happen?

If user locks screen or try to run meeting in background, participant drops after 1 minute or so and is reconnected once they switch back to meeting tab, found similar issue in [FAQS](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#i-notice-that-my-clients-lose-audio-and-drop-from-the-meeting-if-the-chrome-browser-on-android-stays-i

[2021-09-03 16:20] ltrung commented on #1568
@richnew10 I think we assume you always need to call `list<Audio/Video>InputDevice` first before calling the corresponding choose API and the current code would not work if device cache is not populated due to this check https://github.com/aws/amazon-chime-sdk-js/blob/master/src/devicecontroller/DefaultDeviceController.ts#L1388. This whole complication with device cache comes from that logic. In s

[2021-09-03 16:24] #1558 closed

[2021-09-03 16:24] #1552 closed

[2021-09-03 16:26] bb-marco-olea opened #1571 "Is message throttling based on individual clients or the entire meeting session?"
### What are you trying to do?

I'm trying to understand how throttling works when attendees broadcast data messages to other attendees via these API methods: `meetingSession.audioVideo.realtimeSendDataMessage`, `meetingSession.audioVideo.realtimeSubscribeToReceiveDataMessage`, and `meetingSession.audioVideo.realtimeUnsubscribeFromReceiveDataMessage`.

In [this API overview](https://aws.github.io/

[2021-09-03 16:58] richnew10 commented on #1568
Yes, exactly that — but WebRTC applications in general _do not_ expect to have to do so. Best practice is to hold on to device IDs and reuse them across sessions, only enumerating devices if needed; it's probably not right to force them to get another mic input and enumerate devices before picking the one they want.

This is definitely a complex chunk of code.

We have one large customer that rout

[2021-09-03 17:17] ltrung commented on #1568
Ideally yes, we should not do this but browsers do not work the same way and Chrome relies on groupId :)

[2021-09-03 17:29] michhyun1 commented on #1559
@gsudhanshu This seems to be a large meeting - could you help us by providing the real attendee id of that user by any chance? Thanks

[2021-09-03 21:33] jing-chen1 commented on #1569
Hi @gsudhanshu, thanks for your interest.

I tried on the [meeting demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser), following your step, I can see the `audioVideoDidStop()` being called when an attendee leaves meeting. Can you please let us know which demo has this issue?

[2021-09-03 21:35] ltrung commented on #1571
@bb-marco-olea Thanks for your question. I have updated in the API Overview the rate limit to clarify the attendee limit and meeting limit in PR #1573.

[2021-09-04 01:28] #1571 closed

[2021-09-04 01:31] ltrung commented on #1566
We have not been able to reproduce the issue on our end with a S8 and a S9 device. Looking at the diff between 2.15 and 2.16.1 i only found this commit https://github.com/aws/amazon-chime-sdk-js/commit/6638ea4492f3cae4aa56bb342978eb0efeed0606 that has anything to do with video. Could you try to remove this commit and see if it fixes the issue for you?

[2021-09-04 02:18] bb-marco-olea commented on #1571
Thank you very much!

[2021-09-05 09:33] gsudhanshu commented on #1569
@jing-chen1
Need to check: why would getMeeting return not found when meeting is already going on? Please refer to logs shared originally

[2021-09-05 16:30] gsudhanshu commented on #1052
@ltrung @vidya-mohan
is this issue fixed in latest release of aws-chime-sdk-js?

I see @narek-king 's fixed has been reviewed [here](https://github.com/aws/amazon-chime-sdk-js/pull/1072)

[2021-09-05 16:34] gsudhanshu commented on #1559
@michhyun1

chime_attendee_user_ids (for the same user):

NjIyYmFlZmUtNWNhMC0xM2VmLTI5ZTQtMjNkNDJmOTdkZDg4OmYwYmJjY2QwLTkyZTItNDdiOC05OWM5LTJlNDhkMjY2NDFiZg

NjIyYmFlZmUtNWNhMC0xM2VmLTI5ZTQtMjNkNDJmOTdkZDg4OjljZWIwN2NhLTZiYmEtNGEwYi1hMTE1LTBlY2I0NDM4ZmE3MQ

multiple attendee id because the user tried to leave and then join back

[2021-09-07 02:46] penguin-taling opened #1578 "Add width, height, maxBandwidthKbps to startContentShareFromScreenCapture"
## What do you want us to build?

I try to use scree share with [startContentShareFromScreenCapture](https://aws.github.io/amazon-chime-sdk-js/interfaces/audiovideofacade.html#startcontentsharefromscreencapture) and it's success and easy to use. But I found my shared screen has low resolution.

## Tell us about the problem you are trying to solve and why is it hard?

So I try to increase resolutio

[2021-09-07 07:26] kelvin2200 commented on #205
I would also like to know how to catch that promise. The thing is, a user can cancel the request to share content, after which a DOM exception is thrown.... we must be able to catch that

[2021-09-07 10:12] JVanopbroeke opened #1579 "Facebook Browser Compatibility Chime SDK Javascript"
Hi,

Can anyone tells me how is chime sdk javascript supported with a Facebook browser on Android  / iOs?

I'm facing some video display issues but i have no info about a minimum compatible version in the requirements

I'm using the "amazon-chime-sdk-js 2.16.1" with Angular 10

Thanks

[2021-09-07 17:40] michhyun1 commented on #1579
@JVanopbroeke Can you please explain in more detail what the video issues you are having? Also, providing browser logs (please provide the full browser logs) - would be helpful as well.

[2021-09-07 17:54] michhyun1 commented on #1559
@gsudhanshu Can you please provide the attendee id - not sure what this ID you provided is, perhaps the external attendee id? The meeting browser logs are prepended with the attendee id - can you send us those instead?

It should look like this: (example) 38f09f93-ef7c-1af6-8ae4-5dfe370eb744

[2021-09-07 21:08] ltrung commented on #1578
@penguin-taling `startContentShareFromScreenCapture` uses `getDisplayMedia` from webRTC to capture the screen so it should get resolution similar to the screensize.
Can you share more details about your use case, device and browser info, and what you mean by low resolution?

[2021-09-07 23:13] ltrung commented on #1570
As documented in the FAQs, it is due to the mobile OS and browsers limit.
If it is a requirement for the application to run in background, please consider the Chime mobile SDK https://github.com/aws/amazon-chime-sdk-ios or https://github.com/aws/amazon-chime-sdk-android.
Another option is maybe to create a app with WebView and request for background microphone access.

[2021-09-07 23:13] #1570 closed

[2021-09-08 00:18] #1253 closed

[2021-09-08 07:03] gsudhanshu commented on #1559
External attendee Id : User52

[2021-09-08 07:03] gsudhanshu commented on #1559
@michhyun1

[2021-09-08 08:52] JVanopbroeke commented on #1579
Hello @michhyun1

I have a preview room in wich i have no device detection when i use the facebook browser so no camera, no microphone are detected

Everything work fine in all the others tested  browsers (chrome, firefox, samsung browser)

Samsung Galaxy S21 5G
Android 11

Link to the meeting followed from Facebook Messenger App version 328.2.0.18.118

Extra info: my team mate has tested the same

[2021-09-08 17:50] gsudhanshu opened #1583 "realtimeSubscribeToAttendeeIdPresence works in incognito window but otherwise it does not notify"
I am trying to implement use case # 23

using it to show attendees added and removed. It works in incognito window but does not work in normal browser window. I have implemented cache busting in my angular application but of no use.

I am using chrome browser Version 93.0.4577.63 (Official Build) (64-bit) on windows 10

[2021-09-08 17:50] gsudhanshu commented on #1583
@michhyun1 @ltrung

[2021-09-08 20:21] simmkyu commented on #1583
Chime SDK for JavaScript does not use any browser storage, so an Incognito or a normal mode should not affect the `meetingSession.audioVideo.realtimeSubscribeToAttendeeIdPresence` API.

Could you file the issue using the following Bug Report Form?
https://github.com/aws/amazon-chime-sdk-js/issues/new?assignees=&labels=&template=bug-report.yaml

INFO-level browser logs, meeting ID, and attendee IDs

[2021-09-08 22:10] ldai1 commented on #1518
Raise a pr for adding the csp setup guide and add a logging for blocked urls when there is CSP violation: https://github.com/aws/amazon-chime-sdk-js/pull/1556

[2021-09-09 04:18] E5920 commented on #1567
@ltrung , Sometime it's working fine but sometimes not working.

[2021-09-09 17:01] ldai1 commented on #1525
https://github.com/aws/amazon-chime-sdk-js/pull/1585

[2021-09-09 21:12] simmkyu commented on #1567
We are not aware of any white video issues. Usually, the grey or dark video appears when a video tile has a problem. I assume that the video tile did not show up, so a white background is visible in your application.

- As @ltrung suggested, ensure that you successfully bind a video tile.
- Provide us with the following information:
  - Browser and device information when you experience the proble

[2021-09-09 22:28] ellismarte opened #1586 "Is there a blog?"
Hi i'd like to learn more about the chime backend architecture. Have you all posted anything online?

[2021-09-10 01:18] nainkunal933 commented on #1052
Hi @gsudhanshu, thank you for opening this issue and @narek-king for opening this PR #1072

I have looked through your code and API responses. I created a PHP application that gave me same response as you provided above. One of the things to note is that the JS SDK response for a `createAttendee` and the PHP SDK's response are a little different. PHP SDK response has this extra bit of metadata inf

[2021-09-10 10:07] narek-king commented on #1052
@nainkunal933 Thank you for the details. I wasn't able to figure this out. I tried to set up and use the latest version of the SDK and it works. The back-end solution I used was AWS Lamda but not PHP. So now it is clear the real cause of the issue.
I think making the method static is a more reasonable solution as per the comment [here](https://github.com/aws/amazon-chime-sdk-js/pull/1072#discussio

[2021-09-10 10:18] cruffinoni opened #1587 "Video settings are not saved"
### What happened and what did you expect to happen?

Device settings are not saved :
- Device selection is reset on each page refresh.
- Video quality is not saved between the device selection screen before and during a meeting

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon

[2021-09-10 10:33] #1587 closed

[2021-09-10 10:34] cruffinoni commented on #1587
Wrong repository, this related to **amazon-chime-sdk-component-library-react** and not the SDK himself.

[2021-09-10 19:33] richnew10 opened #1588 "Amazon Voice Focus plays out silence in Chrome Canary 95"
### What happened and what did you expect to happen?

When Voice Focus is enabled in the demo app, the mic indicator doesn't move.

Works fine in 93.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws/ama

[2021-09-10 19:43] richnew10 commented on #1588
Debugger tells me that the worklet is never getting out of the 'ready' state; something in `makeReady` or that calls it (e.g., message handling) is failing. I'm not seeing any logging from the processor in 95, so it's either not getting messages, or calling `console.log` is throwing.

[2021-09-10 19:47] majo35-6c commented on #1538
In documentation:
Amazon Voice enables the built-in AGC by default. If you need additional control of the user’s volume, you can apply a GainNode in a custom AudioTransformDevice in series after the Amazon Voice Focus node.

@richnew10  Can you provide example ?

[2021-09-10 22:39] vidya-mohan commented on #1367
Resolving on no response

[2021-09-10 22:39] #1367 closed

[2021-09-10 23:36] simmkyu commented on #1586
The [Building a Meeting Application using the Amazon Chime SDK post](https://aws.amazon.com/blogs/business-productivity/building-a-meeting-application-using-the-amazon-chime-sdk/) explains a high-level architecture and walkthrough of the Chime SDK serverless demo.

You can also review the list of Chime blog posts here:
https://aws.amazon.com/blogs/business-productivity/category/business-productivi

[2021-09-11 00:23] vidya-mohan commented on #1253
Released to NPM v 2.17.0 : https://www.npmjs.com/package/amazon-chime-sdk-js

[2021-09-12 23:56] ldai1 commented on #1515
Hi,

I tried to reproduce the issue on my device with following info:

Device and operation system: IPad 14.0
Borwser: Safari
Chime JS SDK version: 2.17.0

There was no buzzing happened during my test. Could you try to test again against the latest version of JS SDK 2.17.0 and see if you can reproduce the issue? If you still see the issue, can you record it and attach the recording to this ticket?

[2021-09-13 15:17] BC-Mikey opened #1591 "Users disappearing from meeting - [ERROR] SDK - missing TURN credentials - falling back to fetch"
### What happened and what did you expect to happen?

We are displaying a list of attendees currently in the meeting. At random points an attendee will receive this error:

[code]

When this error is received, it looks like the attendee has been dropped from the meeting to all other attendees. However, the attendee themselves who experienced the issue did not actually get dropped from the room. Th

[2021-09-13 15:30] shriyajuneja commented on #1316
Hi @michhyun1, it works after updating to 2.15.0, but there's still an issue if we keep switching camera devices continuously (3-4 times), chooseVideoInputDevice fails without throwing any error.
I'm changing camera input using following function
` await meetingManager.audioVideo?.chooseVideoInputDevice(deviceId);`

Meeting Id - 5deee7e2-8cf3-4501-babe-d31bda610706

Logs -
[code]

[2021-09-13 15:40] shriyajuneja commented on #1163
Hi @devalevenkatesh, it works after updating to 2.15.0. However I'm still facing issue in a particular scenario in updated version, added that in [#1316](https://github.com/aws/amazon-chime-sdk-js/issues/1316) issue. Thanks.

[2021-09-13 16:07] richnew10 commented on #1538
@majo35-6c you might find this blog post useful: it walks you through building a volume adjuster. We don't have an example of a compound transform device, I'm afraid, but it should be straightforward to figure out how to combine the two.

https://aws.amazon.com/blogs/business-productivity/transforming-audio-and-shared-content-in-the-amazon-chime-sdk-for-javascript/

[2021-09-13 16:08] richnew10 commented on #1538
Ah, I see you already found that blog post. Sorry, we don't have a direct example that implements what you're trying to build.

[2021-09-13 16:53] michhyun1 commented on #1316
@shriyajuneja Can you please create a new issue so that we can track it there? Thanks

[2021-09-13 18:22] AlexMCarv opened #1592 "Display last frame when host pause screen share"
### What are you trying to do?
I am trying to get the videoTile to display the last frame in the attendee side, when the host pauses the screen sharing.
Currently, what I get is just a black screen. Is there some support to display the last frame shared instead?

In addition, are content share observers contentShareDidPause, contentShareDidStart, contentShareDidStop, and contentShareDidUnpause onl

[2021-09-13 19:58] #1052 closed

[2021-09-13 20:03] nainkunal933 commented on #1052
Hi @gsudhanshu and @narek-king,

I have merged the PR and you should be able to use the fix after the next release. The slight change from what I was saying above is that I actually did not make the method static but moved it to `Utils.ts`. Since, the this reference is no longer used you should not run into the same issue.

Thank you!!

[2021-09-13 21:40] richnew10 commented on #1588
The 95 changelog includes:

https://bugs.chromium.org/p/chromium/issues/detail?id=1213818

https://chromium.googlesource.com/chromium/src/+/108cf1b27385c6d25f45f6526f89a9ae8ea88f23

which could be relevant.

[2021-09-15 14:01] gavandivya commented on #1383
@devalevenkatesh I have a doubt as you said the meetingId and attendeeId i.e CreateMeeting and CreateAttendee response will be stored on us-east-1 bucket , but what in case of my company having AISPL account.

[2021-09-15 14:27] mrnav90 opened #1595 "[Share screen] How to control share screen limited?"
Hi Chime SDK Team,

Currently, I know Chime SDK only allows share screen 2 times in every meeting. How can I disable the button that starts the share screen has limited?
I saw `AudioVideoObserver` have event `videoAvailabilityDidChange` this event will receive when meeting room available 25 videos in meeting room so I can disable button `Turn on Camera` when video has limited.
I hope `ContentShare

[2021-09-16 05:25] Sagar1219 opened #1600 "Video is turning on but attendee's not able to see each other"
### What happened and what did you expect to happen?

Hi Team,

I am implementing group video call in my application using chime SDK.
Backend: PHP
Frontend : JS

Use case is that suppose 2 users are in a meeting, so when they turn on their camera, their video is visible on their individual tile in their resp. system ( eg. laptop/desktop) but unable to stream over the ongoing meeting so they cannot

[2021-09-16 13:12] Sagar1219 opened #1601 "chooseAudioOutputDevice giving error in case of Chrome browser from Android device."
### What happened and what did you expect to happen?

Hi Team,

I am opening my video calling application in Chrome mobile app but chooseAudioOutputDevice() is producing the below error:

`Uncaught (in promise) Error: Cannot select audio output device. This browser does not support setSinkId.`

The thing to note here is it's working perfectly in Chrome Desktop application.

### Have you reviewed o

[2021-09-16 14:11] amardeep24 opened #1602 "The callback `audioVideoDidStartConnecting` is fired if the `<LocalVideo/>` component is frequently mounted/unmounted"
Hi Team,

We have a use case where we need to frequently unmount/re-mount the  `<LocalVideo/>`  component. We noticed that while doing so we noticed that this callback `audioVideoDidStartConnecting` in `AudioVideoFacade.addObserver` is getting invoked. This is not correct. This callback is used by us to detect network disruptions.

We had the below console warning printed when this callback is fir

[2021-09-16 16:46] michhyun1 commented on #1601
Please check out our FAQ: https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#i-am-getting-cannot-select-audio-output-device-this-browser-does-not-support-setsinkid-error-on-the-browser-console-is-this-a-known-issue.

Hopefully this answers your questions.

[2021-09-16 21:07] simmkyu commented on #1591
### Browser logs

Your browser logs showed that the attendee (`8d3d1e7e-627b-614e-4d18-535b7c6c1a70`) received two error messages.

[code]

### Thie Chime server logs

The Chime server logs indicate that the attendee got dropped at 14:26:59 several seconds before receiving the first error message in your client application. Between 14:26:59 and 14:29:56, the Chime server did not get any request fr