[2021-02-25 20:10] adambyer commented on #1095
Hi @michhyun1. I tried starting from scratch but still not having any luck. Here are the steps I'm doing...

- git clone git@github.com:aws/amazon-chime-sdk-js.git
- cd amazon-chime-sdk-js/demos/browser
- npm run start
- that seems ok... I get `server running at http://127.0.0.1:8080/`
- cd demos/serverless
- npm install
- npm run deploy -- -r us-east-1 -b chime-demo.mydomain.com -s chime-demo -a

[2021-02-25 21:04] michhyun1 commented on #1095
Interesting, I just cloned the repo and followed the exact steps as you and I was able to deploy still. I'm not sure why node_modules/jest was found in your logs, since we dont have a dependency on it

[2021-02-25 23:06] adambyer commented on #1095
It looks like serverless has a dependency for `aws-embedded-metrics` and that has a dependency for `jest`.

[2021-02-26 02:31] michhyun1 commented on #1095
Hmm @adambyer I followed your steps again but Im not able to repro that issue. The only thing I can think of is maybe the npm vserion, since I am on 6.12.1, node version - v12.13.1

[2021-02-26 02:43] abhijeet-toptal commented on #1097
@michhyun1 I think you missed an important note in the issue, you don't have to do step 3, "User is navigated to the join meeting form again", because you are creating a new app context. Please try joining the same meeting without refreshing the screen.

[2021-02-26 16:50] adambyer commented on #1095
Yes it looks like it's due to a change in npm v7 in the way it handles peer dependencies...

https://github.blog/2021-02-02-npm-7-is-now-generally-available/#peer-dependencies

[2021-02-26 16:50] #1095 closed

[2021-02-28 18:01] TheAnkurPanchani opened #1103 "ReceiveAudioInputTask error: undefined is not an object (evaluating 'track.label.indexOf')"
**Important:**
INFO-level logs with timestamps.
[AmazonChimeLogs(iOS).txt](https://github.com/aws/amazon-chime-sdk-js/files/6057361/AmazonChimeLogs.iOS.txt)

**Meeting and attendee IDs:**
meeting ID:1b3c7be7-525a-4f3a-b3c6-77ffdd3e7516
attendee ID: 18db81d7-b13a-b410-d332-0a5cda75fdec

**Timeline**
* Just started and joined the meeting.

**Describe the bug**
[Info] 2021-02-28T17:19:31.067Z [INFO]

[2021-02-28 23:22] baj84 commented on #1096
@michhyun1 Thanks for getting back to me. We want to participants mics to be on, but for them not to hear any other participants. For others with the same use case we managed to achieve this by unbinding the audio element, like so:
[code]

[2021-03-01 13:06] rvhuang commented on #1021
Late to the party but again this is really bad because the flaw basically prevents everyone from using Chime for whiteboard coding interviews. Please fix this ASAP.

[2021-03-01 13:16] rmarcet commented on #1021
As I mentioned in my previous post before closing the case, this issue only affects the self view and not the view from others attending the Chime meeting. I tested it with others and the text was not inverted horizontally. Again, this only affects the self view which you really do not need anyway if you are looking at your whiteboard.

[2021-03-01 13:18] abhijeet-toptal commented on #1097
@michhyun1 any updates?

[2021-03-01 16:50] rnewman commented on #1021
Just to reiterate here, @rvhuang: this repo is for the Amazon Chime SDK for JavaScript; it's straightforward to flip or not flip self view in the SDK.

In neither the SDK nor the Amazon Chime app is your actual video stream flipped.

I'll pass along the feature request to the relevant team.

[2021-03-01 18:43] michhyun1 commented on #1103
@TheAnkurPanchani Hi there, could you specify what device you are using? We'll try to reproduce this on our end and give you an update. Thanks

[2021-03-01 20:27] michhyun1 commented on #1098
Hey @ian-luca, thanks for reaching out. I see that you are using ios-webview, we recently added support for ios chrome and ios firefox, it looks like we have to add the 'ios-webview' user agent to the list of supported browsers.

[2021-03-02 00:46] michhyun1 commented on #1103
@TheAnkurPanchani I noticed that you are using 'ios-webview' as your browser, which is currently not a platform that we are supporting right now, hence the issue you are seeing. I've taken note of this, and I've created a task on our end to add support for WKWebView browsers.

[2021-03-02 00:49] michhyun1 commented on #1098
@ian-luca I've gone ahead and triaged this support story. I'l keep this ticket open in the meantime, maybe you can give us a brief explanation of what your use case is. Thanks!

[2021-03-02 00:50] michhyun1 commented on #1054
Closing due to inactivity, please reopen if needed.

[2021-03-02 00:50] #1054 closed

[2021-03-02 02:36] michhyun1 commented on #1097
@abhijeet-toptal I just tried reproducing this again, this time without leaving the meeting page after I left the meeting. The steps I took were:

1. Comment out [this line](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L2245) of the js sdk demo app.
2. Run the demo
3. Join the meeting 'test' on a Chrome tab as 'Michael Chrome'
4. . Join the meetin

[2021-03-02 02:39] michhyun1 commented on #1096
@baj84 Would omitting the call to chooseAudioOutput device fit your use case?

[2021-03-02 07:25] TheAnkurPanchani commented on #1103
@michhyun1 : I know it is not supported yet, but I have an application running on cordova which is using amazon-chime-sdk-js for video calling feature. So I tried running it using [cordova-plugin-iosrtc](https://github.com/cordova-rtc/cordova-plugin-iosrtc). I stuck at this issue hence raised it. Later I was able to pinpoint the code causing the issue, and after fixing it, everything seems to be w

[2021-03-02 07:46] gsudhanshu opened #1109 "Could not get local video to start"
I got the meetingSession, but could not get local video to start even after I call chooseVideoInputDevice

Error Log:

MyLogger - failed to get video device for constraints {"video":{"deviceId":{"exact":"0"},"width":{"ideal":960},"height":{"ideal":540},"frameRate":{"ideal":15},"googCpuOveruseDetection":true,"googCpuOveruseEncodeUsage":true,"googCpuOveruseThreshold":85,"googCpuUnderuseThreshold":55

[2021-03-02 08:13] gsudhanshu commented on #1109
able to get it work, thanks

[2021-03-02 08:13] #1109 closed

[2021-03-02 15:34] ian-luca commented on #1098
@michhyun1 the sdk is used inside a Cordova app. Cordova uses the webview to display the application contents.

I have attached a log file with debug loggings. I wonder if `[Debug] 2021-03-02T15:12:40.931Z [DEBUG] ChimeMeetingLogs - received: {"timestampMs":"1614697961051","type":"SUBSCRIBE_ACK","error":{"status":500,"description":"failed to subscribe"}} (cordova.js, line 1413)
` is issued from th

[2021-03-02 17:29] michhyun1 commented on #1103
@TheAnkurPanchani I saw your PR and I created my own PR to fix this. Our DefaultBrowserBehaviour doesnt specify that we support 'ios-webview' type browsers yet, but this issue should be fixed now. I've linked the pull request fix to this issue. Please pull from this repo, or you can wait until our next release. Thank you! Closing this issue, feel free to reopen if needed.

[2021-03-02 17:29] #1103 closed

[2021-03-04 16:22] rigalpatel001 opened #1113 "Integrate Amazon's Chime service with Expo react native app"
### Integrate  Amazon's Chime service with Expo react native app
I have built an app using Expo and was amplified. I want live event functionality when users host live events and other attendees participate in these events.

### How can the documentation be improved to help your use case?

*I checked documentation but didn't find any information to integrate chime service with Expo.

### What docu

[2021-03-04 20:29] richnew10 opened #1115 "Reduce leakage of objects due to global observers"
In a few places it's hard to cause all SDK objects to be garbage collected:

* `MeetingSessionPOSTLogger` sets up a timer that isn't cleaned up on stop.
* `DefaultDeviceController` registers a global `devicechange` observer that retains the DDC itself.
* `DefaultActiveSpeakerDetector` gets retained somehow, though I haven't pinned this down.

There are probably more. This ticket tracks cleaning th

[2021-03-04 23:31] ellismarte commented on #561
we're still seeing frozen videos -- is there anything that the frontend needs to do?

[2021-03-04 23:46] RidipDe commented on #1113
We have the [amazon-chime-live-events]( https://github.com/aws-samples/amazon-chime-live-events/).
Perhaps is that what you are looking for?

[2021-03-04 23:55] hensmi-amazon commented on #561
Hi @ellismarte , are these frozen videos related to disconnected attendees, as covered in description?  Otherwise it may be a different issue.

[2021-03-05 00:01] ellismarte commented on #561
@hensmi-amazon we've seen it where a user is on a call & while they are talking the video freezes and never resumes

[2021-03-05 00:18] richnew10 commented on #1115
I have a branch that fixes all of the leaks I've found in the demo. It unfortunately breaks 53 tests (possibly because the tests are broken!), so it will take me some time to get it into a landable state.

[2021-03-05 00:22] richnew10 commented on #1115
Work is in `richnew/leaks`, in case I get hit by a bus.

[2021-03-05 03:36] rigalpatel001 commented on #1113
@RidipDe
Yes, I checked it but I want to Integrate with Expo.
https://docs.expo.io/

I checked the demo available for react-native.
https://github.com/aws-samples/amazon-chime-react-native-demo

I want demo Integration for Expo.

Thanks

[2021-03-05 11:44] TheAnkurPanchani opened #1116 "no attendee found for track track_video_E9BF0A28-135F-4264-98B5-EF77BBD291AD"
**Important:** Log files from both attendees:
[4f41daca-ec6a-e58d-60a7-7a05d6abf109.log](https://github.com/aws/amazon-chime-sdk-js/files/6090137/4f41daca-ec6a-e58d-60a7-7a05d6abf109.log)
[201579ae-4002-c22c-db25-9627ac805ee0.log](https://github.com/aws/amazon-chime-sdk-js/files/6090136/201579ae-4002-c22c-db25-9627ac805ee0.log)

**Meeting and attendee IDs:**
**meeting ID:** 964af340-16a6-46a0-95d8

[2021-03-05 17:50] gustavofamorim commented on #1011
Would be very useful for my application as well.

[2021-03-05 19:20] RidipDe commented on #1011
Thank you for your interest in the Chime JS SDK.
Since this is not a feature that we currently support, will keep this issue active.

[2021-03-05 21:25] RidipDe commented on #1113
@rigalpatel001 may we request you to please open this issue with the https://github.com/aws-samples/amazon-chime-react-native-demo team? They will be able to help you better in this regard.

[2021-03-05 23:44] cgandhi22 opened #1117 "Pixel devices send wrong video height"
### What are you trying to do?

I was trying to test SDK demo app with video resolution of 1080p on Pixel 3 device. Found in console logs that video tile height shows up as "1088" instead of "1080".

Log snippet:
`[INFO] SDK - requesting new video device with constraint {"video":{"deviceId":{"exact":"b35ad84683cb345dbaf26b016a8964b81fb08dd9a62527b0d935feffb68627fc"},"width":{"ideal":1920},"height"

[2021-03-06 01:36] RidipDe commented on #1116
Thanks @TheAnkurPanchani for opening the issue.

Can you please provide us with the repro steps?
Is it a 100% repro ?
How often do you encounter this on the ios-webview?

[2021-03-06 07:30] TheAnkurPanchani commented on #1116
@RidipDe : I've added repro steps in the description. And yes, it is a 100% repro. I encounter it every time.

[2021-03-07 04:14] abhijeet-toptal commented on #1097
Couldn't reproduce this in latest safari.

[2021-03-07 04:14] #1097 closed

[2021-03-08 03:10] RidipDe commented on #1116
Thank you for adding the steps. Will follow up on this.

[2021-03-08 19:34] RidipDe commented on #1116
Since ios-webview is not an officially supported browser, we are closing this issue for now.
We will continue to track the issue internally and update here if we have any updates.

Feel free to re-open the issue if you wish to add more details to the issue in the future.

[2021-03-08 19:34] RidipDe commented on #1098
Since ios-webview is not an officially supported browser, we are closing this issue for now.
We will continue to track the issue internally and update here if we have any updates.

Feel free to re-open the issue if you wish to add more details to the issue in the future.

[2021-03-08 19:34] #1098 closed

[2021-03-08 19:34] #1116 closed

[2021-03-09 14:30] jcarlosfern opened #1122 "How to control the quality of all the videos not only the local one?"
Hi,

I saw that we can change the quality of our video, but it is possible to control the quality of the other videos that we area watching?

[2021-03-09 21:49] ltrung commented on #1117
This is intentional changes for Pixel 3 devices to fix striped video rendering in #588

[2021-03-09 21:49] #1117 closed

[2021-03-10 00:22] ltrung commented on #1122
Unfortunately, we do not support this right now. I will bring this back to our team as an enhancement idea.

[2021-03-10 15:48] abhijeet-toptal opened #1127 "How to notify user if they deny(or remove during the meeting) mic/camera permissions from the browser?"
### What are you trying to do?

When user joins for the first time, we invoke getUserMedia and get access to mic and camera from the browser.
Everything is fine. How can we notify the users
1. if they don't decline the prompt during the first prompt while starting a meeting?
2. if they remove the granted permissions during the meeting? Is there any event I can subscribe to and then notify user to

[2021-03-10 15:50] abhijeet-toptal commented on #1127
@RidipDe @vidya-mohan @nicklera1 @ajselvar @ajselvar-work

[2021-03-10 19:04] ltrung commented on #1127
@abhijeet-toptal We currently do not have any events to detect this. You could try to do polling with query permission to detect when the permission becomes `denied`.
[code]

[2021-03-10 21:13] hensmi-amazon commented on #561
Can you cut a new issue and provide logs?  I am going to close this current issue because it covers a specific problem (frames staying frozen after disconnection and never going away), other frozen frames may be for a different problems and It can be confusing if they are all using the same issue. The fixes mentioned in https://github.com/aws/amazon-chime-sdk-js/issues/561#issuecomment-780754914 a

[2021-03-10 21:13] #561 closed

[2021-03-10 21:14] richnew10 opened #1128 "MeetingSessionPOSTLogger failure handling needs work"
MSPL:

* Does not respect `Retry-After` headers, which are an important part of mitigating availability incidents.
* Never discards log messages on anything but a 200. Not only is this likely to be incorrect in the case of 4xx responses — it's a bad request, so for a misconfigured client or a poison pill it'll never recover — but it also trades memory to avoid data loss. Moreover this can make rec

[2021-03-11 02:37] abhijeet-toptal commented on #1127
Thanks for your reply @ltrung, but as an enhancement we can do something like this:
[code]

[2021-03-11 11:01] ivanpetrushev opened #1130 "No video and tiles after switching meeting"
**Describe the bug**
I am trying to implement two meetings - backstage and on-air, between which talents can be switched.
I am having issues doing this meeting switch - when attendee is switched, he receives audio for the new meeting, but no video streams and no video tiles.

I am doing the switch via:
[code]

I also tried different combinations of:
meetingmanager.start();
audioVideo.startLocalVid

[2021-03-11 17:56] RidipDe commented on #1093
Unfortunately, we do not support passing HTTP headers to MeetingSessionPOSTLogger as of now.
Have put this as an enhancement idea to the team.

[2021-03-11 23:28] ltrung commented on #1130
@ivanpetrushev Just to clarify, but when switch meeting, does the attendee turn on their video again? We join with audio turned on by default but not video so you would need to call `startLocalVideoTile` again.

[2021-03-12 06:19] ivanpetrushev commented on #1130
Maybe this is part of the issue.

I think I traced it to an issue with `amazon-chime-sdk-component-library-react`
Similar problem reported there: https://github.com/aws/amazon-chime-sdk-component-library-react/issues/420

Here is the actual code that seems to work:

[code]

and `toggleVideo` from amazon-chime-sdk-component-library-react:

[code]
I will investigate a little further and close this i

[2021-03-12 10:04] rlebosse opened #1132 "An attendee is still an active speaker when he stops to make any sound or mutes himself"
### What are you trying to do?

* I'm monitoring the active speakers with the following code :

[code]

* I use this piece of code in order to keep track of the speaking attendees in order to be able to determine how much time they speak (if they speak a short time : no need to flag them as real speaking attendees).

For a Chime Meeting in which there is only one attendee (USER_1) :
* USER_1 speak

[2021-03-13 19:58] yaghmaie commented on #951
Hello,
I am facing the same problem and I tried the suggestions above to solve the issue.
On `amazon-chime-sdk-js` v2.6.0, using the following `urlRewriter`:
[code]

Alongside [OpenResty](https://openresty.org/) with the provided configuration:

I have some difficulties.
# First problem
The following error in `OpenResty`'s `error.log`:
[code]
## Why it happens?
This is because we are using `wss://

[2021-03-13 22:15] tumbelin opened #1133 "No Audio In or Out iOS Safari Devices"
Hi, I am having problems listening or sending sounds to other participants from iOS devices, the code I wrote works perfectly on Android Chrome, Mac OS Safari, Windows Chrome, and Firefox.

I will share the segments of the code I adjust to update to version 2.6.0, JS Vanilla

I call next functions

//For Mic
async function loadAudioInputDevices(){
    try{
        let audioInputDevices = await mee

[2021-03-15 16:21] ltrung commented on #1132
From the code you set the callback interval `scoresCallbackIntervalMs` to 1000ms which seems a bit high. Could you reduce it to 100ms and see if that would fix the issue for you?

[2021-03-15 16:28] rlebosse commented on #1132
Thanks for your answer @ltrung.

I am not sure to understand what is the real purpose of `scoresCallbackIntervalMs`.

* Does this interval represents at which frequency the attendee scores will be re-calculated ?
or
* Does this interval represents at which frequency the following callback will be called ?

[code]

If it the 2nd option, it has no impact on the fact that a user will stay "active spe

[2021-03-15 19:19] henlamk commented on #1109
Hello @gsudhanshu
A user has encountered this problem and I'd be happy to hear how you resolved this issue.
Thank you

[2021-03-15 21:10] peili commented on #951
@yaghmaie I am busy right now, but I hope in the next days I can provide some more details on our configuration.

 @aburnson

We had multiple enterprise organization reporting the following:

This accumulation of reports we're receiving, suggest that there is a general problem with the AWS Chime signaling urls/wss connections.

[2021-03-15 21:23] michhyun1 commented on #1109
Please check the Web APIs for the OverConstrainedError - https://developer.mozilla.org/en-US/docs/Web/API/OverconstrainedError

The OverConstrainedError "indicates that the set of desired capabilities for the current MediaStreamTrack cannot currently be met"

This is usually due to the parameters that are passed to chooseVideoInputDevice are invalid because the constraints you are asking for are n

[2021-03-15 21:30] camilosegura opened #1135 "How to use audioDownstreamMetricMap Jitter?"
I'm trying to get audio, video and screen sharing jitter, and don't know how to get them using Amazon Chime SDK for Javascript.

Include an example of audioDownstreamMetricMap jitter, please.

I have looked at.
README.md, Amazon Chime SDK Developer Guide and source code.

[2021-03-15 21:52] ltrung commented on #1133
@tumbelin Thanks for reporting. Could we provide us the iOS version as well as whether users have given permission to mic?
Another thing to try is to run our meeting and meetingReadinessChecker demos to see if you have the same issue.

[2021-03-15 23:52] ltrung commented on #1135
@camilosegura There are two ways to retrieve webRTC metrics in JS SDK:
- Subscribe to `metricsDidReceive` (as seen here https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L955). Unfortunately, we do not expose jitter metrics at this point.
- Call [AudioVideoFacace.getRTCPeerConnectionStats](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/audi

[2021-03-16 01:59] gsudhanshu commented on #1109
@henlamk I was able to resolve by calling chooseVideoInputDevice() everytime, before calling startLocalVideoTile()

moreover we provided a video button to the user to toggle video. so if the video is not appearing then the user can use this button to enable video

[2021-03-16 02:38] chuckntaylor opened #1136 "v2.6.0 - audioVideo.chooseAudioInputDevice() does not return"
**Describe the bug**
Calling `await audioVideo.chooseAudioInputDevice(deviceId)` does not return in v2.6.0. This causes my script to not complete. Rolling back to v2.5.0 solves the issue.

I see this issue on Google Chrome v89 on MacBook Pro (macOS) 11.2.3 Big Sur
The issue does NOT seem to affect iPhone 12 Safari iOS 14.4

At a very basic level, my app works through these following steps before c

[2021-03-16 04:38] ltrung commented on #1018
Closing due to inactivity. Please reopen if  you still encounter this issue.

[2021-03-16 04:38] #1018 closed

[2021-03-16 04:50] ltrung commented on #1136
@chuckntaylor Thanks for reporting. I have tried to reproduce this using our meeting demo and Chrome 89.0.4389.82 and MacBook Pro (Mojave) but could not reproduce it. Calling audioVideo.chooseAudioInputDevice(deviceId string) returns and the device is set as expected.
Is there any error or warning that you observed in the console.log? Could you give our demo a try and see if you could reproduce it

[2021-03-16 07:50] henlamk commented on #1109
Thanks for your response.
The resolve was much easier: he just restarted the browser.

[2021-03-16 10:02] jacoborus commented on #1136
Similar issue here: `checkAudioInput` does not return, throw or log anything. Rolling back to 2.5 also solves the issue.

Chrome 89.0.4389.90
Ubuntu 20.10

[2021-03-16 13:14] chuckntaylor commented on #1136
I will give the demo a try in a few minutes here. Just to be more specific, my version of Chrome is Version 89.0.4389.82 (Official Build) (x86_64) - So similar to @jacoborus

No errors or logs occur when the app hits the audioVideo.chooseAudioInputDevice(deviceId string).
As such, it took a while to pin point the issue. Everything is wrapped in try catch blocks, but no errors are thrown to be caug

[2021-03-16 13:32] chuckntaylor commented on #1136
The demo also fails for me.
Here is a copy/paste of the console, during what seems to be the relevant section.
[code]
[](url)

[2021-03-16 16:27] ltrung commented on #1136
@chuckntaylor Sorry if I miss something obvious but I still could not reproduce it on my end. Could you please give me the steps you take to reproduce this issue using our demo? Also just to clarify, the deviceId you passed to chooseAudioInputDevice is string right?

[2021-03-16 16:32] richnew10 commented on #1136
@chuckntaylor could you provide a full log?

When you say the demo "fails", what precisely do you mean — you can switch between input devices in the lobby, but meeting join never completes?

If you hit Pause in Chrome's debugger, do you get a stack?

Regarding the following:

Are you using `DefaultAudioVideoFacade`? Are you sure that you have the same device controller in the `DefaultAudioVideoFac

[2021-03-16 17:03] chuckntaylor commented on #1136
@ltrung Yes, I am providing a string to the chooseAudioInputDevice
@richnew10 I am more than happy to supply a full log... would this be a copy/paste of the console logs? Or is a file generated somewhere?

You are correct about the demo 'fail'. In the lobby, everything works totally fine, but in the meetings, as you guessed it, it does not complete.

I am more than happy to connect over Zoom or so

[2021-03-16 20:01] anupjk-5 opened #1137 "Remote video tile turns black once the local video tile is turned off"
**Describe the bug**
During a video conference, when a user turns his/ her camera off, one of the tiles corresponding to other users turns black along with the removal of the local tile. Here is how the bug can be replicated-

1. User A joins the meeting and turns the camera on
2. User B joins the meeting and turns the camera on. At this point, both the users can see both the video tiles properly

[2021-03-16 21:19] yaghmaie commented on #951
@peili Thank you very much. I appreciate your attention.

[2021-03-16 22:00] peili commented on #951
@yaghmaie What's are the error messages you're seeing in the Chrome console?

I think you just want to replace the hostname for the singaling url using regex /\.*signal.*?aws/gi

`
      configuration.urls.urlRewriter = (uri) => {
        if (uri.match(/\.*signal.*?aws/gi, 'proxy1.xxx.xxx')) {
          const wsUri = uri.replace('wss', 'https');
          return uri.replace(/\.*signal.*?aws/gi, 'p

[2021-03-16 23:32] ltrung commented on #1136
@chuckntaylor Could you try PR #1138 to see if it fixes your issue?

[2021-03-17 04:46] ltrung commented on #1132
@rlebosse Sorry I misread the question. The behavior you described is controlled by the default active speaker policy. More specifically the score is calculated using [speaker weight](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/activespeakerpolicy/DefaultActiveSpeakerPolicy.ts#L18). The default policy is set to 0.9 so it prioritizes the existing score more than the new volume value

[2021-03-17 08:20] rlebosse commented on #1132
Thanks for all these precisions @ltrung, i'll try using volume indicator !

[2021-03-17 10:24] gsudhanshu opened #1139 "ERROR Error: Uncaught (in promise): TypeError: aws_sdk__WEBPACK_IMPORTED_MODULE_3__.Chime is not a constructor"
I am trying to start a messagingSession in my angular client

my client code:

[code]
I am calling getChat on getting meetingResponse (as below) from server

[code]

[2021-03-17 10:28] gsudhanshu commented on #943
@w-okada @ltrung  I am facing problem while creating messagingSession on client side

https://github.com/aws/amazon-chime-sdk-js/issues/1139

Can you help with this?

[2021-03-17 13:29] yaghmaie commented on #951
Hello @peili
Thanks to the configurations you provided:
1- **urlRewriter**
[code]
2- **OpenResty**
[code]
I managed to do it successfully.

[2021-03-17 13:34] chuckntaylor commented on #1136
It seems to work! On the meeting screen, I can now select and start the video.

[2021-03-17 16:59] aagoath opened #1140 "Serverless demo stuck on "Deploying serverless application""
I was able to successfully run the demos/browser on both Mac and Linux, and then moved to demos/serverless. However the script gets stuck on step "Deploying serverless application". No change after 45 minutes...

It is also observed that while S3 bucket is created, I can't see cloudformation stack in the console. Could someone tell what's the next step.

[code]

[2021-03-17 17:24] #1132 closed

[2021-03-17 19:24] aagoath commented on #1140
Executing `sam deploy` command throws up this, if this helps

[code]

[2021-03-17 20:47] simmkyu commented on #1140
I pulled the latest repo and successfully deployed the demo in less than 10 mins. The deploy script logs that the lambda "may not have authorization defined."

[code]

⠀

According to the AWS SAM issue (https://github.com/aws/aws-sam-cli/issues/2081), this error happens when the initial deployment failed with corrupted files. Could you try again after deleting the stack on the AWS CloudFormation c

[2021-03-17 21:52] simmkyu commented on #1137
The Amazon Chime server logs indicate that User B (Attendee ID `6aa58890`) also turned the camera off 3 seconds after User A. Do you see the black tile before User B stopped the video?

Time | User | Action
--|--|--
03/16/21 15:34:39 | User A | Stopped the local video.
03/16/21 15:37:32 | User B | Stopped the local video.

---

Note that the `videoTileWasRemoved` is not called when you turn your c

[2021-03-17 21:52] aagoath commented on #1140
Retried again with new names, and this time as soon as the script reached `Deploying serverless application` line, I executed the below from command line

`sam deploy --template-file amazon-chime-sdk-js/demos/serverless/build/packaged.yaml --stack-name chime-serverless-demo-corp-stk-2 --region us-west-1`

I got follwoing error
[code]

I am not sure what does [CAPABILITY_IAM] means? Please advise.

[2021-03-17 22:01] simmkyu commented on #1140
The `CAPABILITY_IAM` indicates that the template creates AWS IAM resources. For example, before deploying the template in the AWS CloudFormation console, you need to enable the `I acknowledge that AWS CloudFormation might create IAM resources` option.

![image](https://user-images.githubusercontent.com/36240708/111543858-dfed8f80-8730-11eb-8122-88358f132dcf.png)

⠀

When using the AWS SAM CLI tool

[2021-03-17 23:14] aagoath commented on #1140
To clarify, I am indeed running the deploy script through the npm command line as mentioned in README
[code]

This script is getting stuck at `Deploying serverless application`

Is there any specific cloudformation policy that needs to be enabled?

[2021-03-17 23:46] simmkyu commented on #1140
No, the `npm run deploy ...` command already adds the `--capabilities CAPABILITY_IAM` option when deploying the template. Please also ensure that your AWS account has permission to provision AWS resources though you'll see an explicit error message for permission issues.

When the script is getting stuck at `Deploying serverless application`, do you see any ongoing event in the **Events** tab of t

[2021-03-18 02:27] aagoath commented on #1140
Interestingly, I don't see any trace of stack in the Cloudformation console. Nothing in "Active", "Failed", "Deleted" or other dropdown.

[2021-03-18 03:09] aagoath commented on #1140
ran the commandline `sam` with debug on, and do see the errors for missing policies, see below screenshot. The deploy script silently consumes it and hangs on the DELETE actions after rollback the stack. The diagnostics for deploy script can be improved. Further as a suggestion, it will be helpful if there is a single policy pre-defined with all necessary accesses included for serverless demo. Run

[2021-03-18 06:55] anupjk-5 commented on #1137
User A can see the black screen as soon as his/ her local camera is turned off. The time between turning the camera off and the black screen appearing is less than 1 second.

I am using `stopLocalVideoTile` & `removeLocalVideoTile` when the user turns off the camera. The `removeLocalVideoTile` is invoking the `videoTileWasRemoved` for the local user also.

I am using React for the frontend. The up

[2021-03-18 11:48] s4souvik opened #1141 "Video Processor feedback"
### What are you trying to do?

I am trying to blur the background/ replace the background of a meeting attendee.

### What problems are you facing. I don't see much documentation in this respect to help me in implementing even though the AWS Changelog and AWS Support teams say that it is doable.

### How can the documentation be improved to help your use case?

Include a section to show how the V

[2021-03-18 12:31] peili commented on #951
Great to hear. I also recommend requiring that the domain matches those of signaling URLs (ending in app.chime.aws) to prevent the service from proxying arbitrary WebSocket traffic.

[2021-03-18 17:27] yaghmaie commented on #951
@peili
Correct, I updated my comment to add the configuration for matching URLs.

[2021-03-18 21:15] simmkyu commented on #1140
Thanks for the suggestions. Based on logs in the screenshot, the account doesn't have permission to create AWS resources. We can also add the "debug" flag as an option.

⠀

Could you ensure that you have selected `us-west-1` or the region you specified in the CLI tool? You can change the region at the top-right corner of the AWS console.

<img src="https://user-images.githubusercontent.com/3624070

[2021-03-18 21:27] aagoath commented on #1140
Thanks, I did notice that earlier and was able to track the CF stacks.

[2021-03-18 22:57] simmkyu commented on #1137
The [Chime SDK React component library](https://github.com/aws/amazon-chime-sdk-component-library-react) has a similar implementation for handling remote videos. When a remote attendee turns a video on/off:
1. `videoTileDidUpdate` / `videoTileWasRemoved ` is called in [RemoteVideoTileProvider](https://github.com/aws/amazon-chime-sdk-component-library-react/blob/c636b8bae302553dcde0fc877062725687e9

[2021-03-18 23:20] ellismarte commented on #991
I

[2021-03-18 23:20] #991 closed

[2021-03-19 00:13] simmkyu commented on #1141
Please review the video processing API guide:
https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/10_Video_Processor.md

The [Chime SDK demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser) uses the video processing API and the TensorFlow [BodyPix model](https://github.com/tensorflow/tfjs-models/tree/master/body-pix) to apply the mask to an attendee. In the demo

[2021-03-19 11:35] s4souvik commented on #1141
Hi Ktu,

Thanks for the email. I need just one information.
In line no 5 of SegmentationProcessor.ts, we have:

declare var bodyPix: any;

Do we need to import bodyPix library somewhere? I couldn't find it in the
package.json

Thanks,
Souvik Sengupta

On Fri, Mar 19, 2021, 12:13 AM Kyu Simm ***@***.***> wrote:

[2021-03-19 20:43] simmkyu commented on #1141
Sorry for the confusion. The Chime SDK demo app performs lazy loading of TensorFlow files instead of using package.json.

1. The demo app calls the `loadBodyPixDependency` function if the user's browser supports Unified Plan (a proposal for signaling multiple media sources in SDP) and the playback of canvas-captured stream.
  https://github.com/aws/amazon-chime-sdk-js/blob/cf473e32770fd82bd1dda9a3

[2021-03-20 14:21] abhijeet-toptal opened #1143 "Stuck in endless loop"
**Describe the bug**
Stuck in endless loop while rejoining the meeting with selected audio device.

[code]

**Platform**
 - OS: All
 - Browser: All
 - Browser Version: Latest
 - Amazon Chime SDK GitHub Commit: 2.6.0 and 2.6.1

[2021-03-20 22:15] simmkyu commented on #1143
According to the [API doc](https://aws.github.io/amazon-chime-sdk-js/classes/defaultdevicecontroller.html#chooseaudioinputdevice), the `chooseAudioInputDevice` API takes in the `AudioInputDevice` type as a parameter.

[code]

The `AudioInputDevice` type is a union type that can be `MediaTrackConstraints` (or a string device ID as described in the README examples).
[code]

⠀

But it seems that you

[2021-03-22 03:56] truuth-of-abhi commented on #1143
@simmkyu It works just fine till 2.5.0, the problem started with 2.6.0+. Can you please investigate?

[2021-03-22 07:18] rohit0337 opened #1145 "How to reduce recording start time"
Hello,
recording is working fine, but when we start a recording  its take some time to start a recording meeting , some time its take 10 to 20 seconds how we can reduce this time.

Thanks
Rohit

[2021-03-22 09:54] ElielCohen opened #1146 "The API exposed by Chime SDK Javascript Sample app, and the one exposed by the Chime SDK React Component Sample App differs."
**Describe the bug**
The API exposed by Chime SDK Javascript Sample app, and the one exposed by the Chime SDK React Component Sample App differs. This cause an issue with the native SDK implementation, that is built to support only the pure JavaScript API implementation.

**To Reproduce**
Use API served on pure javascript sample meeting app, and on React JS component meeting app.
Using Native iOS

[2021-03-22 16:53] #1080 closed

[2021-03-22 18:50] simmkyu commented on #1143
@truuth-of-abhi Chime SDK for JavaScript 2.6.1 includes a fix (https://github.com/aws/amazon-chime-sdk-js/pull/1138) for an infinite loop issue when calling the [`chooseAudioInputDevice` API](https://aws.github.io/amazon-chime-sdk-js/classes/defaultdevicecontroller.html#chooseaudioinputdevice) with `MediaDeviceInfo`.

The [`chooseAudioInputDevice` API](https://aws.github.io/amazon-chime-sdk-js/cla

[2021-03-22 19:08] anuranduttaroy commented on #1145
Hey Rohit,

I am assuming you are using the [amazon-chime-sdk-recording-demo](https://github.com/aws-samples/amazon-chime-sdk-recording-demo) here. There are some improvements that you can make to reduce the start latency.

1. There is a `ECS_IMAGE_PULL_BEHAVIOR` in [ecs-agent-config](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html) which you can use to cache the

[2021-03-22 19:33] bershek opened #1147 "Issue with call "audioMixController.bindAudioDevice""
Hi, I have issue in testing audio.
When I do call on this methods like in doc "await audioMixController.bindAudioDevice({ deviceId: sinkId });" I have error in console. Could you help me with this issue.

https://monosnap.com/file/9VZBb3xfUQUwdQoxW6bKTR32Rvvsdk
https://monosnap.com/file/zjZKLt7KqpZhZ0uA2QfgBkF1jg1o0X

**Platform**
 - OS: macOs Big Sur 11.2.1
 - Browser: Google Chrome
 - Browser Ve

[2021-03-22 20:26] #1136 closed

[2021-03-22 21:55] simmkyu commented on #1146
The Chime SDK demo applications have an AWS Lambda function for creating a meeting using AWS SDK. After creating a meeting, this Lambda function returns a custom response to the client application.

Chime SDK for JavaScript (this repository), iOS, and Android use the same Lambda function from the [JS serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless), while t

[2021-03-23 00:04] ltrung commented on #1139
Closing for now but please re-open if you still have issue.

[2021-03-23 00:04] #1139 closed

[2021-03-23 06:59] simmkyu commented on #1147
"Requested device not found" is an error from the Web API [getUserMedia](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia). Could you ensure the following?
- You have an audio output device.
- You pass the `MediaDeviceInfo.deviceId` as a `sinkId`.
[code]
- You can also use `supportsSetSinkId` to check if your environment supports the `sinkId` API.
  https://github.com/aws

[2021-03-23 11:48] gsudhanshu opened #1148 "403 forbidden request when trying to create channel for messaging session"
createChannel called with
appInstanceArn :
arn:aws:chime:us-east-1:424226399790:app-instance/25436422-3292-4aca-b494-f1f97cb946ee

I am simply getting appInstanceARN from server chime client and trying to create a channel. but I am getting following error:

ERROR Error: Uncaught (in promise): Forbidden: An invalid app instance user ARN was supplied for the input parameter.
extractError@http://loca

[2021-03-23 11:49] gsudhanshu commented on #1148
@ltrung Can you help regarding this?

[code]

[2021-03-23 17:41] ltrung commented on #1148
@gsudhanshu As the error point out, the userArn is invalid. Have you created [AppInstance user](https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateAppInstanceUser.html) yet?
You would have to do that before calling createChannel.

[2021-03-23 19:14] #1147 closed

[2021-03-24 04:39] gsudhanshu commented on #1148
@ltrung I tried creating app instance user but got following error:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://identity-chime.us-east-1.amazonaws.com/app-instance-users. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing)

[2021-03-24 07:13] gsudhanshu commented on #1148
I used aws php sdk to create app instance user arn and passed it back to js

now when I try creating channel, with these values, I get following error:

ERROR Error: Uncaught (in promise): Unauthorized: An invalid app instance user ARN was supplied for the x-amz-chime-bearer HTTP header.

I am using appInstancerUserARN value received from server in x-amz-chime-bearer header:

[code]

[2021-03-24 18:48] anupjk-5 commented on #1137
The issue seems to be resolved after I have decoupled the local video tile logic from the remote videos.  Thanks!!
Although the observer was setup perfectly to handle the local tile also, it seems that there was a problem during the sync up between 'stopLocalVideoTile' and the observer.

[2021-03-24 19:39] #1137 closed

[2021-03-25 06:48] Mauricio-Arantes commented on #205
I came here with a similar doubt. How i can caught this error `Permission denied by sistem`?

[2021-03-25 14:15] rlebosse opened #1153 "Crash when connecting to a meeting with an attendee already in meeting with content share"
In 2 different windows of Google Chrome : WINDOW_1 and WINDOW_2 :
* WINDOW_1 : connects to a Chime Meeting and **starts a content share** (`startContentShareFromScreenCapture`)
* WINDOW_2 : connects to the same Chime Meeting with the same attendee credentials

Results :
* ✅ WINDOW_1 receives `audioVideoDidStop` event with status code `MeetingSessionStatusCode.AudioJoinedFromAnotherDevice`
* ❌ WIND

[2021-03-25 15:40] richnew10 opened #1156 "meetingV2 demo 'activeSpeakerLayout' field does nothing"
It should be possible to disable active speaker layout, _or_ that field should be removed and appropriate cleanup done.

[2021-03-25 16:33] p-foucht commented on #1156
Related to "demo code that does nothing" -- probably all instances of `AsyncScheduler` should be removed from the demo. AFAICT, they aren't adding any value while making the code look more complex to builders than is necessary

Piggybacking because I don't think this deserves its own ticket :D

[2021-03-25 19:53] edudesouza commented on #1055
Hi there as far as I know, IOS uses Safari, and Safari do no not has support for webrtc. I have this problem on Zoom web sdk, so i think is the same problem here.

[2021-03-25 20:46] michhyun1 commented on #1055
Cordova uses the 'ios-webview' user agent, which we do not support as of now. We did recently release support for ios chrome and ios firefox, both of which now support webrtc.

[2021-03-26 06:26] TheAnkurPanchani commented on #1055
This was implementation problem. `enumerateDevices` started working, once we integrated [cordova-plugin-iosrtc](https://github.com/cordova-rtc/cordova-plugin-iosrtc) properly. Though chime sdk had couple of issues. Fix of one is on master, [more info here, issue 1103](https://github.com/aws/amazon-chime-sdk-js/issues/1103), and one is being internally tracked, [more info here, issue 1116](https://

[2021-03-26 12:56] peili opened #1160 "Palo Alto App-ID - Chime categorized as evil internet-communication-and-telephony"
We had multiple enterprise organization reporting the following:

"We allow Chime by Palo Alto App-ID and it looks like this connectivity is not being identified by app-id. I see a lot of blocks to the URL of signal.m1.ue1.app.chime.aws because it is categorized as evil internet-communication-and-telephony."

This accumulation of reports we're receiving, indicate that there is a general problem wi

[2021-03-26 21:08] anuranduttaroy commented on #1160
Hey @peili

Someone from the Amazon Chime team has reached out to Palo Alto Networks.

Please let me know if there is anything else we can help with.

Thanks,
Anuran

[2021-03-29 19:44] anuranduttaroy commented on #1160
Hey @peili feel free to re-open this issue if you have any further questions.

[2021-03-29 19:44] #1160 closed

[2021-03-29 19:45] anuranduttaroy commented on #1146
Hey @ElielCohen, feel free to re-open this if you still have questions.

[2021-03-29 19:58] anuranduttaroy commented on #1145
Hey @rohit0337, feel free to re-open this issue if you still have questions.

[2021-03-29 19:58] #1145 closed

[2021-03-29 23:16] anuranduttaroy commented on #1143
@abhijeet-toptal @truuth-of-abhi please feel free to re-open this if you are still seeing this issue.

[2021-03-29 23:16] #1143 closed

[2021-03-29 23:18] anuranduttaroy commented on #1141
Hey @s4souvik, feel free to re-open this if you still have questions.

[2021-03-29 23:18] #1141 closed

[2021-03-29 23:19] anuranduttaroy commented on #1135
Hey @camilosegura, feel free to re-open this issue if you still have questions.

[2021-03-29 23:19] #1135 closed

[2021-03-30 08:14] shriyajuneja opened #1163 "browser demo - unable to change camera in some android devices"
**Bug**
2021-03-30T06:56:39.881Z : [ERROR] SDK - failed to get video device for constraints {"video":{"deviceId":{"exact":"a4520e0820c31686eea2b5401c144f8912555848122953064a541627f3c7d3a9"},"width":{"ideal":960},"height":{"ideal":540},"frameRate":{"ideal":15},"googCpuOveruseDetection":true,"googCpuOveruseEncodeUsage":true,"googCpuOveruseThreshold":85,"googCpuUnderuseThreshold":55}}: NotReadableErr

[2021-03-30 11:45] muralivenkatesh opened #1164 "Stop Content share Not working."
when we stop content share the attendee's videos, not showing.

Example:
A and B having a video call.
A share the screen and stop the screen share to B
B local video not able to see A system.

when screen stop share code
   meetingSession.audioVideo.stopContentShare();

This my observer code below.

  const observer = {
                videoTileDidUpdate: (tileState) => {
                    const

[2021-03-30 20:43] #1115 closed

[2021-03-30 21:18] simmkyu commented on #1164
You use a single video element (`desk-remote-video`) for displaying both remote and content tiles. Instead, I recommend binding a content tile to a separate video element. For example, the following code binds the content tile to a new video element (`content-share-video`).

[code]

Note that this sample code works when one attendee enables content sharing in the 1-to-1 meeting. Please review the

[2021-03-31 06:25] muralivenkatesh commented on #1164
the above code used. but still the same issue.

When content share time it is showing the share screen both video elements. but local elements working correctly.

Please help me.
My Project is in the final stage.
it is pending this issue only.

Attached screenshot

![FireShot Capture 013 - Hastra - localhost](https://user-images.githubusercontent.com/11347690/113099568-c6ac0f00-9217-11eb-8dfc-a5bc

[2021-03-31 20:48] timanderson opened #1170 "[ERROR] MyLogger - missing TURN credentials - falling back to fetch"
I am using the singlejs demo. The application includes a meeting with 2-5 participants. It mostly works fine, but sometimes the video fails to show for the other participants and the browser reports this error:

2021-03-31T18:45:31.920Z [ERROR] MyLogger - missing TURN credentials - falling back to fetch amazon-chime-sdk.min.js:1:27329

Audio continues to work correctly. Typically the problem corre

[2021-03-31 21:23] devalevenkatesh commented on #1170
The log "[ERROR] MyLogger - missing TURN credentials - falling back to fetch" appears when the [ReceiveTURNCredentialsTask](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/task/ReceiveTURNCredentialsTask.ts#L45) task runs. This task is triggered as part of either the meeting session start which is the result of `meetingSession.audioVideo.start()` check the use case [here](https://github

[2021-04-01 03:42] devalevenkatesh commented on #1163
Thanks for reporting this issue. Could you please try the below workaround and see if that unblocks you?
In the demo where, [openVideoInputFromSelection](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L504) is called rather call below given function and check if that works?
[code]

[2021-04-01 17:03] muralivenkatesh commented on #1164
Hi @simmkyu

The above issue fixed.

one to one video calls it is working well.
but screen sharing start and stop not working perfectly for only one to one video.

we can resolve using multiple video title for only remote videos,

is the correct way of doing the below code. but working perfectly.

videoTileDidUpdate: tileState => {
                        var elementId;
                        if

[2021-04-01 18:16] simmkyu commented on #1164
Yes, the code looks okay to me.
- Handling remote video only in the `videoTileWasRemoved` method is okay unless you call `meetingSession.audioVideo.removeLocalVideoTile` API. If you stop your local video using `meetingSession.audioVideo.stopLocalVideoTile` API, `videoTileWasRemoved` will not be called. Your code should work as expected.
- Since you do not handle a content-share separately, the con

[2021-04-01 18:45] devalevenkatesh commented on #1130
Hello @ivanpetrushev ,

We are closing this for now, as the [issue](aws/amazon-chime-sdk-component-library-react#420) you pointed to our react library looks similar and you got your fix. Please file an issue in our react library if you run into any other issue again or feel free to open this one.

Also, you are right. You do not need that `audioVideo.start()` since, `mm.start()` is responsible to

[2021-04-01 18:45] #1130 closed

[2021-04-01 19:32] devalevenkatesh commented on #1133
Hello @tumbelin,

I see a log line `2021-03-13T21:07:43.960Z [INFO] MyLogger - unusable audio warning is now: 0` appearing in the provided logs. This appears when the JS SDK gets that the connection is poor. Check [here](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/task/MonitorTask.ts#L286).

Suggest you to implement [Use case 26](https://github.com/aws/amazon-chime-sdk-js#monitoring

[2021-04-01 19:32] #1133 closed

[2021-04-02 15:08] richnew10 opened #1172 "Eliminate Node.js 10.x support from documentation (and code)"
Node.js 10.x entered LTS in October 2018, entered maintenance in April 2020, and hit EOL in April 2021.

We do not test against Node.js 10, and we should not recommend that customers use versions past their end of life.

We should recommend that customers use Node.js 14.x, which is in active support until October 2021, or Node.js 12.x, which will remain in maintenance mode until April 2022.

We sh

[2021-04-02 19:22] devalevenkatesh commented on #1113
Currently we do not have a path forward here, hence closing this issue. Please feel free to create new issues if you face any problems.

[2021-04-02 19:22] #1113 closed

[2021-04-02 20:14] devalevenkatesh commented on #1140
Closing this issue as no more action is required. We have taken an action item to have a debug option functionality in our deployment capabilities.

[2021-04-02 20:14] #1140 closed

[2021-04-02 23:02] devalevenkatesh commented on #1069
We do not plan to have the mirroring feature soon. As suggested the CSS could be used to override the styling here. Please feel free to re-open in case you still face the issue.

[2021-04-02 23:02] #1069 closed

[2021-04-02 23:15] devalevenkatesh commented on #1096
Hello, the code you posted should work since `unbindAudioElement` will actually remove the audio element bound to the speaker output. Closing this issue as it looks like resolved as of now. Please feel free to file a new one or re-open this if you are still facing the issue.

[2021-04-02 23:15] #1096 closed

[2021-04-04 04:00] salihsagdilek commented on #1153
After upgrading to 2.6.2, we started getting this error very often.

![image](https://user-images.githubusercontent.com/9050352/113498180-433e3680-9513-11eb-8e39-c81b63c4467c.png)

[2021-04-04 16:54] lulucious commented on #785
hi @p-foucht any news on that thread ? Do you have visibility ?
++

[2021-04-05 07:32] konstantin-tarasov-clearscale opened #1174 "Switch a camera to front/back."
Trying to implement the camera switching to front/back with a toggle button.

Currently, SDK provides the list of devices.
We can determine the camera type by prefixes front/back (rear possibly?).
Pressing the button, we can determine current camera type (e.g. front).
Then try to find opposite camera (any camera with back prefix).
And select a new device.

Do you have a best practice/recommendatio

[2021-04-05 13:38] shriyajuneja commented on #1163
Provided workaround does not update VideoTileState ( audioVideo.getLocalVideoTile()?.state() ). Its not binding new videoStream with videoTile

[2021-04-05 16:59] devalevenkatesh commented on #1174
Hello, currently we do not have these methods as there can be multiple video inputs to choose from. For example, users may have extra camera devices plugged in with the default webcam in laptops or the front and back camera in the mobile phones. So, we provide the `chooseVideoInputDevice` API to choose a video device.

You can call the `chooseVideoInputDevice` API with the device you want to selec

[2021-04-05 17:52] richnew10 opened #1176 "Add a checkbox to control die-on-fatal behavior"
Currently you can pass `fatal=1` in the URL to cause safer behavior. This defaults to on for 127.0.0.1.

Exposing this as a checkbox will make it easier to test and detect errors.

[2021-04-05 20:15] bpelland opened #1178 "Call to getRTCPeerConnectionStats() is not returning any stats for screen sharing"
**Meeting and attendee IDs:**
Meeting ID: 541cb292-3397-416e-ab46-1560ea766935
Attendee ID: db01df6c-a3ab-cf6b-cc2f-9e27cb604a6a

**Timeline**
The user starts sharing his or her screen.
The user clicks on a settings button to display a settings panel, which calls this method to display audio/video/share stats:
[code]

**Describe the bug**
The stats for screen sharing are not returned from `getRTCP

[2021-04-05 20:42] anuranduttaroy commented on #1148
Thanks for reporting the CORS issue @gsudhanshu. The team is actively looking into this issue and we will update here once we have an update.

[2021-04-05 22:15] camilosegura commented on #1135
Hi, do you know where I can find the meaning (doc...) of the data returned by
`stats = await app.audioVideo.getRTCPeerConnectionStats();`
the **report** returns a different object every time, for example

![Screen Shot 2021-04-05 at 5 05 36 PM](https://user-images.githubusercontent.com/1218509/113633197-1f254700-9632-11eb-89b1-b2c0f20e4747.png)
![Screen Shot 2021-04-05 at 5 06 55 PM](https://user-

[2021-04-05 22:33] devalevenkatesh commented on #1135
The `audioVideo.getRTCPeerConnectionStats()` relies on the WebRTC's RTCPeerConnection getStats API. For more information on the attributes of the report check the MDN Docs below:
https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/getStats

[2021-04-05 23:08] #1176 closed

[2021-04-05 23:56] ltrung commented on #1178
@bpelland By `screen sharing 'send' stats`, do you mean the outbound-rtp stats for content share? If so, it is not available right now. Content Share joins as a different attendee (content attendee) and thus, has a different peer connection.
Could you try to use `this.audioVideo.contentShareController.contentAudioVideo.getRTCPeerConnectionStats()`?

[2021-04-06 12:49] stackyism commented on #1093
@RidipDe Can I take this up ?
We can accept a header in constructor in parallel to `name`, `url` and pass it to *fetch*.
Will that work ?

[2021-04-06 14:01] camilosegura commented on #1178
hi @ltrung that method only returns an object with this shape `{ size: 53 }` do you know what is the meaning of that info?

[2021-04-06 15:11] bpelland commented on #1178
@ltrung Yes, I do mean the outbound-rtp stats for content share. I tried your suggestion of replacing `const rtcStatsReport = await this.audioVideo.getRTCPeerConnectionStats();` with `const rtcStatsReport = await this.audioVideo.contentShareController.contentAudioVideo.getRTCPeerConnectionStats();` but it still gives me just audio and video stats, and no share stats.

[2021-04-06 15:35] camilosegura commented on #1135
Hi @devalevenkatesh in the stats report are you reporting all the [RTCStatsType](https://developer.mozilla.org/en-US/docs/Web/API/RTCStatsType)?  Or what are the ones that you are reporting?

[2021-04-06 15:50] ltrung commented on #1178
@bpelland, content share is actual just video. In other words, the video stats from the content attendee is for the content share video stream.

[2021-04-06 15:52] ltrung commented on #1178
@camilosegura getRTCPeerConnectionStats() just returns the statistic data collected by webRTC. You can find more info here: https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/getStats

[2021-04-06 16:58] vidya-mohan commented on #854
Reactivating as we don't current have an Angular Demo

[2021-04-06 19:03] fmasevilla opened #1180 "Google Chrome 89 not accepting video constraints"
`2021-04-06T18:58:18.926Z [ERROR] ChimeMeetingLogs - unable to acquire video device`

![image](https://user-images.githubusercontent.com/24884196/114443646-8168e380-9c00-11eb-8eda-ed15126f6757.png)
Android and Desktop Chrome

![image](https://user-images.githubusercontent.com/24884196/114444169-21267180-9c01-11eb-8ad8-170caec1e4cf.png)
ipad and Desktop Chrome

**Describe the bug**
Audio between pa

[2021-04-06 21:55] sanjitkung opened #1182 "Pausing content share disconnects content attendee"
I am trying to share video content with other attendees with the ability to pause the video content. When I pause the content using `audioVideo.pauseContentShare()`, after few seconds content attendee get disconnected.

If I pause the screen share content, attendee does not disconnect.

How can I keep the attendee connected while video share is paused?

Here is the logs from my sample application

[2021-04-06 23:25] devalevenkatesh commented on #1182
Could you please help us with the full console log, like the ERROR, WARN along with the INFO ones above?

[2021-04-06 23:31] sanjitkung commented on #1182
Hi @devalevenkatesh. Thanks for the quick response. Here is the complete log

[2021-04-06 23:35] sanjitkung commented on #1182
Sorry I closed the issue by mistake.

[2021-04-06 23:49] sanjitkung commented on #1182
Same thing is happening in the demo application. After pausing a video content, attendee disconnect. You can check the screen capture here:

https://1drv.ms/v/s!AqqNiPbF_7CwgqRooAR92S-Otgu0jg?e=YjZKyJ

Is there any work around to keep the attendee in the meeting until they stop sharing content?

[2021-04-07 00:44] michhyun1 commented on #859
Closing due to inactivity - please reopen if needed.

[2021-04-07 00:44] #859 closed

[2021-04-08 20:27] vidya-mohan commented on #1064
@timanderson @Dudelsb - this may interest you - https://aws.amazon.com/blogs/business-productivity/breakout-room-amazon-chime-sdk-react-component-library/

[2021-04-08 20:32] timanderson commented on #1170
Thanks, in this case I'm pretty sure it is triggered by starting a session. I wonder why the turnCredentials would be missing, where are they set? The way it works in our application is that one meeting ands and another meeting with different participants starts very soon after.

Tim

[2021-04-08 20:37] vidya-mohan commented on #1036
Reopening as feature request

[2021-04-08 20:51] vidya-mohan commented on #963
Reopening the issue as feature request

[2021-04-09 17:55] gustavofamorim opened #1189 "How to allow attendees to publish a third video stream with custom modality?"
### To summarize

I'm trying to create a custom modality `#recording` based on what has been implemented in the js SDK for content share to allow attendees to publish a third video stream to a meeting. But every time that a attendee tries starts this modality it gets kicked from the room.

### What are you trying to do?

I'm responsible to create a POC of meeting recording where, based on certain

[2021-04-13 04:17] rnewman commented on #1180
What arguments are you passing to the device controller when you choose your video input device?

[2021-04-13 04:19] rnewman commented on #1180
And what is the result of

`await navigator.mediaDevices.enumerateDevices();`

in the problematic browser?

[2021-04-13 04:23] rnewman commented on #1182
Can you clarify why you need the content attendee to remain present when the content stream stops?

One possible workaround is to supply a synthetic empty video stream as the content share device.

[2021-04-13 04:25] rnewman commented on #1189
No, custom modalities are not supported. The closest thing to what you are trying to do is to simply join the meeting twice, with two separate JoinInfo payloads, and use the second attendee for your recording stream.

[2021-04-13 04:38] iamibrahimkholil opened #1194 "Having problem setting chooseAudioInputDevice while initiating a meeting"
### To summarize
I am trying to set audio input device via chooseAudioInputDevice method. But i am constantly getting logs on the console which is saying stopping audio track and requesting new audio device with constraint.

### What are you trying to do?
I am trying to initiate a call and for that, I am setting up an audio input device but failing to do that.

**Screenshots**
![Capture](https://u

[2021-04-13 08:10] fmasevilla commented on #1180
`const deviceController  = new ChimeSDK.DefaultDeviceController(logger, { enableWebAudio: true });`

`  videoInputDevices.forEach(mediaDeviceInfo => {
    $('#webcam-select').append(new Option(mediaDeviceInfo.label, mediaDeviceInfo.deviceId));
  });
`

`await meetingSession.audioVideo.chooseVideoInputDevice({SourceId: webcam});`

![image](https://user-images.githubusercontent.com/24884196/11451921

[2021-04-13 08:12] fmasevilla commented on #1180
![image](https://user-images.githubusercontent.com/24884196/114519495-0d1b5800-9c73-11eb-8946-05c0a8a82d4e.png)

[2021-04-13 16:10] ltrung commented on #1194
@iamibrahimkholil Can you let us know what chime js sdk version you are using? It seems to be similar to these issue $1136 and #1143.
Can you let us know what the value of the deviceId you passed in is?

[2021-04-13 16:12] ltrung commented on #1178
Closing this issue for now. Please re-open or create a new one if you have any more question :)

[2021-04-13 16:12] #1178 closed

[2021-04-13 16:34] rnewman commented on #1180
If you use `await` in the top-level developer console you'll have an easier time printing these promise values.

Are you using adapter.js (`"webrtc-adapter"` in your package.json)?

If so, remove that dependency. It should not be necessary in any browser that we support, and in this case it's introducing a transformation that's breaking your call.

[2021-04-13 22:13] vidya-mohan commented on #863
Reference: https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#my-clients-are-unable-to-join-the-meeting-and-i-see-navigatormediadevices-is-undefined-what-could-be-the-reason

[2021-04-14 06:05] iamibrahimkholil commented on #1194
We solved the problem. As it turned out we were calling  `meetingSession.audioVideo.listAudioInputDevices` wrong way. We fixed it now it's working fine. I will close the issue.

[2021-04-14 06:05] #1194 closed

[2021-04-14 10:13] ElielCohen opened #1197 "Very low upstream bandwidth on Android resulting in bad video quality"
**Describe the bug**
On Android, when using the web sample application, the upstream bandwidth remains very low, resulting in many various artifacts (checkerboard style). This does not reproduce on iOS or desktop environment.

**Screenshots**

<img width="1792" alt="Screen Shot 2021-04-14 at 12 30 04" src="https://user-images.githubusercontent.com/10059928/114693466-478ffe00-9d22-11eb-8109-3c37a23

[2021-04-14 18:31] dpwspoon commented on #1148
The CORs issue has been fixed for https://identity-chime.us-east-1.amazonaws.com/app-instance-users.  It now supports all domains

[2021-04-14 18:35] ltrung commented on #1148
@gsudhanshu Could you retry and let us know whether it works for you?

[2021-04-14 21:14] XHatan commented on #1197
Hey @ElielCohen
thanks for reporting this, could you provide meeting id and console logs of both attendees, so we could take a look at what happened in the meeting ?

[2021-04-15 13:20] fmasevilla commented on #1180
@rnewman I tried removing Twilio-js library to check if it's causing the issue as it was the only JS added to our asset pipeline that had webrtc-adapter included. Here is the next error I got.

`Unhandled rejection TypeError: Failed to execute 'getUserMedia' on 'MediaDevices': Malformed constraint: Cannot use both optional/mandatory and specific or advanced constraints.    at MediaDevices.navigato

[2021-04-15 13:24] fmasevilla commented on #1180
Some messages have been moved to the Issues panel.
ConsoleLogger.js:76 2021-04-15T13:17:27.669Z [INFO] ChimeMeetingLogs - DefaultDeviceController video dimension 960 x 540
ConsoleLogger.js:76 2021-04-15T13:17:27.671Z [INFO] ChimeMeetingLogs - Supported Constraints in this browser {"aspectRatio":true,"autoGainControl":true,"brightness":true,"channelCount":true,"colorTemperature":true,"contrast":tru

[2021-04-15 13:26] fmasevilla commented on #1180
Copy of the logs for the current session [localhost-1618492978426.log](https://github.com/aws/amazon-chime-sdk-js/files/6318318/localhost-1618492978426.log)

[2021-04-15 13:43] rnewman commented on #1180
I suggest you remove gumadapter too: it’s in the stack trace. While you’re there, you also probably don’t need Bluebird…

Please try to repro without a bunch of libraries that rewrite calls to the function that is throwing.

[2021-04-15 13:57] fmasevilla commented on #1180
Thanks @rnewman, I'll try it now.

[2021-04-15 14:03] chuckntaylor opened #1201 "Infinite Loop (chooseAudioInputDevice) - Revisited"
About a month ago, I reported a possible bug in issue #1136

In that issue, I had my app hang when I went to start a meeting and set `audioVideo.chooseAudioInputDevice(DEVICE_ID_STRING)`. The problem went away if I downgraded to v2.5.0

The issue seemed to be resolved when using the demo chat app. Over the past month, I had kept my project at v2.5.0 while working on other aspects of the applicatio

[2021-04-15 15:25] fmasevilla commented on #1180
@rnewman Thanks! culprit was the gum-adapter js inside our vendor folder. Appreciate the help.

[2021-04-15 15:29] #1180 closed

[2021-04-15 18:26] gsudhanshu commented on #1148
@ltrung I do not have the code now, as we took a different approach and used chime's realtime messaging feature

[2021-04-15 21:54] kaldown commented on #453
@simmkyu no, it doesn't work even with commands from a screen you've provided

[2021-04-15 23:05] ltrung commented on #1201
@chuckntaylor Just for confirmation, did you pass in deviceId string or some other object?
After selecting the device, SDK will try to restartLocalAudio which will try to pick up the audio input stream https://github.com/aws/amazon-chime-sdk-js/blob/01167e5466fb7b6cfd0585e4396a61e218808d9d/src/devicecontroller/DefaultDeviceController.ts#L1623
What caused the infinite loop was it failed the logic i

[2021-04-16 00:59] chuckntaylor commented on #1201
@ltrung thank you for revisiting this. I recalled last time you asked me about whether or not I was passing in an id string, so I made sure to confirm this.

There are two lines in the original logs I pasted above, which are the result of console logs generated by me. I placed these directly before calling chooseAudioInputDevice. These are:

[code]
The first line there outputs the device object as

[2021-04-16 04:24] #1148 closed

[2021-04-16 04:32] ltrung commented on #1201
@chuckntaylor Thank for helping out. Could you modify this code https://github.com/aws/amazon-chime-sdk-js/blob/master/src/devicecontroller/DefaultDeviceController.ts#L1293 to print out the value of device, selection, and proposeContrainst if `kind === audio`? That would help us identify why that check failed and caused the device selection to happen again.

[2021-04-16 06:15] husaindevelop opened #1203 "Unable initializing the video-source in UWP webview"
**Important:**
Please attach INFO-level logs with timestamps to the report from *before* the session started up until the point at which the unexpected behavior occured. For multi-participant calls, attach a log file for each participant if possible.
The meeting never started, so cannot provide any meeting logs.

**Meeting and attendee IDs:**
19a59ee4-bb53-43fb-876e-39e8d52e27fb

**Timeline**
We d

[2021-04-16 06:29] gsudhanshu opened #1204 "Browser and Device compatibility issues"
We have integrated Chime in our application using AWS-chime-js-sdk. We are using it for video call and chat features.

On testing we found some issues wrt. browser compatibility and device compatibility:
1. On Computer: audio not working in Firefox (ubuntu/windows) and edge(windows)
2. Working ok on Chrome(windows) and Chromium(ubuntu)
3. Mobile browsers (chrome): audio not working

[2021-04-16 07:56] RidipDe commented on #1204
Hi @gsudhanshu,
In order to investigate further, can you please provide us with the following information:

1. Browser Versions
2. OS Versions
3. Are you able to repro the issue using our [JS SDK Demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos)?
4. If so, what are the repro steps - in which case is the audio not working?

[2021-04-16 10:43] gsudhanshu commented on #1204
Hi @RidipDe ,

Not Working in desktop
Browser Versions :- Firefox 87.0v , Edge 88.0.705.81v & chrome 89.0.4389.128v
OS Versions :- window 64-bit operating system, x64-based processor

Not Working in Mobile
chrome 89.0.4389.128v

Working in mobile
Firefox 87.0v

Not working in Ubuntu desktop
OS Version: ubuntu 18.04
browser version: firefox 87.0 (64-bit)

Thanks

[2021-04-16 11:02] tkulis opened #1205 "Error running MeetingDemo deployment script (Windows 10)"
Hi,

I cannot run the following website:
https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser.

I followed steps described(more than once):
**Running the browser demos with a local server**

and I am getting following error
![image](https://user-images.githubusercontent.com/8543254/115015249-aa64cf00-9eb3-11eb-9edf-9e2561aa4060.png)
Found 13 errors.

npm ERR! code ELIFECYCLE
npm ER

[2021-04-16 12:08] kaldown commented on #453
`nvm use 14` solved the problem. While tutorial never mentioned this

[2021-04-16 14:25] chuckntaylor commented on #1201
@ltrung sorry I misread your earlier request regarding what you wanted logged. I can certainly do this. Could you help me clarify the steps I need to take? I tried going into my `node_modules` folder to `aws-chime-sdk-js/build/devicecontroller/DefaultDeviceController.js`. However, I know this isn't what you intend for me to do.

To clarify, do I need to:
1) Fork this repo
2) Add those logging chan

[2021-04-16 14:49] ltrung commented on #1201
@chuckntaylor That would work. However, If you can run your app locally, can't you modify the DefaultDeviceController.ts code in node_modules/aws-chime-sdk-js?

[2021-04-16 15:16] chuckntaylor commented on #1201
@ltrung I don't mind going in there to add the logs, but I was unable to find the file/lines you were referring to.
Here is the directory structure of `amazon-chime-sdk-js/`
<img width="263" alt="Screen Shot 2021-04-16 at 10 58 04 AM" src="https://user-images.githubusercontent.com/17050325/115044477-8d280480-9ea3-11eb-8469-a63feaf8384f.png">

Here are the contents of `aws-chime-sdk-js/build/device

[2021-04-16 15:36] ltrung commented on #1201
@chuckntaylor, this is the block of code to check whether we should quit from your DefaultDeviceController.js.
[code]

My guess is it failed in hasSameGroupId check which basically compared the groupId from the current selected audio input in activeDevices['audio'] with the groupId of the input deviceId. And now I think I might know whats going on. In your case, did you call listAudioInputDevice w

[2021-04-16 16:17] chuckntaylor commented on #1201
Ah! You guessed right. In the device setup screen I call the listAudioInputDevices, and keep this in my vuex store. When the new deviceController is created for the meetingSession in the chat screen, I first check the store to see if I already have a list of devices in the store, and if one has been 'selected' during the setup stage.

If I do, I simply call the chooseAudioInputDevice with the sele

[2021-04-16 16:28] ltrung commented on #1201
You don't need to log out that info anymore. Glad it is resolved for you. I will close this issue then.

[2021-04-16 16:28] #1201 closed

[2021-04-16 17:17] chuckntaylor commented on #1201
@ltrung Thank you kindly for your time in troubleshooting this. I can confirm that making a new call to listAudioInputDevices on the new deviceController does indeed resolve the issue, and no infinite loop occurs.

[2021-04-16 17:26] michhyun1 commented on #1205
Hello @tkulis, thanks or using the SDK Meeting Demo. You might need to navigate to the top level of the repo and 'npm install' the amazon-chime-js-sdk before you run the meeting demo. Please try that and let us know if that worked for you.

[2021-04-16 18:12] tkulis commented on #1205
Hi @michhyun1 ,

I already tried of course npm install in top level, and afterwards also in DemoApp (this command went well).
Problem is latter if you try to run ne of the following comands(eg top level or DemoApp) :

- npm run build, npm run build:release etc..
then I get something like this: **'script' is not recognized as an internal or external command**

Anyway I was able to start app by addi

[2021-04-16 19:14] XHatan commented on #1203
@husaindevelop Hey thanks for reporting this.
Do you have the log for this issue so we could take a look ?

[2021-04-17 06:00] husaindevelop commented on #1203
Thanks for reply.  Using visual studio debugging console, we were only able to get just a single line of log on initialization of  app:
"'WWAHost.exe' (Script): Loaded 'Sourcemap (https://mbracecloud.com/amazon-chime-sdk-js/demos/singlejs/build/amazon-chime-sdk.min.js)'. "

Other than this, unable to find any log files of this particular process.

[2021-04-18 14:13] ElielCohen commented on #1197
Hy Xhatan,

I have identified the root cause of this, it's due to these contraints :

googCpuOveruseDetection
googCpuOveruseEncodeUsage

I've set them both to false in the DefaultDeviceController.ts, and now all works well.

Looks like that in android, on some device, the cpu is not powerful enough so that the webRTC engine feel confident enough to use the normal resolution/quality.

This was as w

[2021-04-18 14:34] teason opened #1207 "Chime API - CreateAppInstanceUser - AppInstanceUserId allowed length too short"
Issue:
-------
When using CreateAppInstanceUser API to create app instance user using Chime SDK, the request body field AppInstanceUserId is too short. https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateAppInstanceUser.html#API_CreateAppInstanceUser_RequestSyntax

Use case:
-----------
We would like to use Cognito Identity Pool Identity ID as the AppInstanceUserId, such that we can ea

[2021-04-19 03:46] RidipDe commented on #1204
Can you please elaborate on what exactly is not working?

Are you able to successfully join and start meeting in our [JS SDK Demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos)?

We have integration tests running on the latest versions of the FF and Chrome browsers. For eg: https://github.com/aws/amazon-chime-sdk-js/blob/master/integration/configs/meeting_end_test.config.json
T

[2021-04-19 03:50] RidipDe commented on #1205
As we understand, you are facing the issue with the setup on a Windows system.
Let us try it on a Windows machine and get back to you.

[2021-04-19 07:50] ElielCohen commented on #1197
Ok correction, this is not the sole root cause, the cause of this are a mix of :

googCpuOveruseDetection
googCpuOveruseEncodeUsage

and

Settings of the ABR, namingly choice in resolution / fps and bandwidth, that trigger this bad behavior on some android devices.

If you can test on a Pixel3 for example, you will see that using the default settings, or any of the proposed settings from the sampl

[2021-04-19 11:14] ElielCohen commented on #1197
Ok after more testing, it happens that what solves it , is setting manually the bandwidth/fps/resolution settings, and that the cpu overuse detection is not helping it so much.

Here is the configuration I am now using and that seems to work with any android device so far.

private static defaultVideoWidth = 1280;
private static defaultVideoHeight = 720;
private static defaultVideoFrameRate = 30;

[2021-04-19 14:19] husaindevelop commented on #1203
Any development ? Hearing from you is the development. Awaiting

[2021-04-19 17:48] rnewman commented on #1203
The UWP webview uses Edge for compatibility reasons.

The Amazon Chime SDK does not support Edge: see [our compatibility matrix](https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html#mtg-browsers).

You might be able to use Microsoft's "webview2", which I believe uses Edge Chromium:

https://docs.microsoft.com/en-us/microsoft-edge/webview2/

[2021-04-19 21:38] tylerlot commented on #1024
Any update on if/when this item would be included in the roadmap?

[2021-04-20 01:08] RidipDe commented on #1093
Thanks for suggesting this.
https://github.com/aws/amazon-chime-sdk-js/pull/1208 adds the header to the MeetingSessionPOSTLogger.
Closing the ticket for now.

[2021-04-20 01:08] #1093 closed

[2021-04-20 02:08] gsudhanshu commented on #1204
@RidipDe
elaborate steps to reproduce on our demo app:

1. initiate meeting on firefox: https://chime-demo.evareg.com/?userId=755
2. MeetingId, an integer will appear on the screen
3. create url for 2nd user by adding numeric meetingId at end to : https://chime-demo.evareg.com/?userId=750&meetingId=
4. join meeting on another computer preferably on edge using new created url in step 3
5. test vide

[2021-04-20 08:02] RidipDe commented on #1204
Thanks for the steps. I tried the repro steps mentioned above on FF and Chrome.
We officially do not support Edge. Here are the list of browsers we support: https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/07_FAQs.md#browser-support

I was able to join and start the meeting and see the video on both the meetings. However could not hear the audio.
Meeting Id: 11ac8156-8ede-40b3-9819-2b

[2021-04-20 09:06] MaxQuantumCake opened #1209 "Screen sharing does not work from Safari on an Apple M1"
**bug**

Hello ,

Screen sharing does not work from Safari on an Apple M1: in this case remote users do not see what Safari shares.

The problem appears both on the application we are developing and on the AWS demo available here: https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser

Test results (on the left the one who shares --> the one who watches):
- Safari (mac Intel) --> Chr

[2021-04-20 13:05] rlebosse commented on #1209
I'm facing the same issue, thank for reporting it @MaxQuantumCake !

[2021-04-20 17:29] ltrung commented on #1207
@teason Thank for reporting this. I have brought this up with our team and see if we can increase the length constraint

[2021-04-20 19:50] ltrung opened #1210 "Test [Not an actual issue]"
### What are you trying to do?

*For example: I'm trying to start a meeting session with audio.*

### How can the documentation be improved to help your use case?

*For example: Include a section on how to configure the meeting session.*

### What documentation have you looked at so far?

*For example: README.md, Amazon Chime SDK Developer Guide, etc.

[2021-04-20 19:52] ltrung commented on #1210
Test comment

[2021-04-20 20:26] #1210 closed

[2021-04-21 03:24] #1172 closed

[2021-04-21 06:35] husaindevelop commented on #1203
Thank you so very much. Your suggestion did lead to building the process implementing Amazon Chime SDK JS

[2021-04-21 17:35] devalevenkatesh commented on #1203
Thanks for your confirmation. Closing this issue now.

[2021-04-21 17:35] #1203 closed

[2021-04-21 17:52] richnew10 commented on #1209
I can reproduce this.

In Safari Tech Preview, setting "GPU Process: Video Capture" causes even the local preview to appear black. That points to an encoder/capture bug in Safari.

I can also reproduce this in https://janus.conf.meetecho.com/screensharingtest.html, so this is not limited to the SDK: it's a browser bug.

[2021-04-22 04:33] gsudhanshu commented on #1204
@RidipDe any possible solution? am I doing something wrong somewhere?

[2021-04-22 04:35] gsudhanshu commented on #1204
@RidipDe Did you allow audio input and audio output?

[2021-04-22 06:44] gsudhanshu opened #1217 "browser demo: unable to setup"
Error while running browser demo:

[code]

[2021-04-22 07:01] konstantin-tarasov-clearscale opened #1218 "Output audio volume level changes when turn on/off microphone."
**Describe the bug**
When User1 speaks with User2.
User2 turns off the microphone.
User2 volume level decreases significantly (User2 hears User1 poorly).

I can reproduce the issue on some mobile platforms.
No issues with desktop clients.

**Timeline**
- User1 joins the meeting from PC with chrome.
- User1 turn on mic.
- User2 joins the meeting from mobile (android) with chrome.
- User2 turns on m

[2021-04-22 08:10] dongjoon-li opened #1220 "Misspelled word in usecase 20 [readme.md]"
### What documentation have you looked at so far?

*For example: README.md, Amazon Chime SDK Developer Guide, etc.
i found misspelled word in readme.md

it was 'mediasream'

i change this word to mediaStream then pull request
#1219

[2021-04-22 17:07] ltrung commented on #1024
@tylerlot I have raised PR #1221 to expose the reconnection configuration in meeting session configuration. If it is approved, it will be released in the next NPM publish.

[2021-04-22 19:24] ltrung commented on #1024
The PR is merged to master so closing this issue.

[2021-04-22 19:24] #1024 closed

[2021-04-22 19:25] ltrung commented on #1220
Updated in #1221. Closing this issue.

[2021-04-22 23:39] ltrung commented on #1218
@konstantin-tarasov-clearscale I noticed that your JS SDK version is 1.22.0. Is this the version of the device that had the volume issue? If so, could you update to 2.7.0 and see if it fixes the issue.

[2021-04-22 23:53] ltrung commented on #1217
Seem like a NPM issue. Could you let us know your Node and NPM version?

[2021-04-23 00:36] ltrung commented on #879
@hansemannn @tahamazari Do you guys have the requestId of the API calls that returns Internal Server Error?

[2021-04-23 00:48] RidipDe commented on #1204
@gsudhanshu do you see the same warning on your browser?
Yes i allowed the audio input and the audio output.

As a fix you can try one of the following solutions:
1. Prevent redirection
2. Perform some manual action after the redirection - like page click.

[2021-04-23 01:14] gsudhanshu commented on #1204
@RidipDe
Let me replicate this issue

[2021-04-23 06:26] hansemannn commented on #879
@ltrung For us we fixed it by generating new meeting IDs every time a new meeting is started (instead of a static room id)

[2021-04-23 09:00] konstantin-tarasov-clearscale commented on #1218
I've tried with two versions
- `amazon-chime-sdk-js@1.22.0`
- `amazon-chime-sdk-js@2.6.2`
Just tried with `amazon-chime-sdk-js@2.6.2` and experienced the same problem.
I still can reproduce the issue on some mobile platforms.
No issues with desktop clients.

[2021-04-23 15:18] haofiltered commented on #946
@p-foucht
We had the same high GPU usage issue on Chorme as well, and this only happens on Chrome, not for firefox or safari.

When there are many video tiles, for example 12, the GPU usage on chrome could goes up to 80%, 90%.
And I did some research on this, I suspected it related with video encode/decode. Is there a way we can config the video encode/decode on the chime side? So that we can use

[2021-04-24 06:24] rnqayush opened #1224 "I cloned this repository and then i am running command npm run start inside browser folder it is showing error ......... 'script' is not recognized as an internal or external command, operable program or batch file."
![chime issue](https://user-images.githubusercontent.com/74084740/115949585-c390ff80-a4f3-11eb-8d1f-224acdb0900a.png)

kindly help me out

[2021-04-25 01:33] gsudhanshu commented on #1204
@RidipDe which OS version and browser version were you using?
Can you post browser console logs here?

[2021-04-25 03:27] gsudhanshu commented on #1217
@ltrung thanks for your response.

v14.16.0 node
6.14.11 npm

how to build the demo to check?

[2021-04-25 03:30] gsudhanshu commented on #1217
@ltrung

I ran npm run build :

Output:
[code]

[2021-04-26 07:29] iamibrahimkholil opened #1225 "Unable to set audio input and output device on Firefox"
Audio input and output working on other browsers but we are unable set audio input and output device in firefox browser.
We are passing deviceId as a parameter to this function.
[code]

**Screenshots**
Here is the log
![Capture](https://user-images.githubusercontent.com/79884206/116044777-2371dc80-a693-11eb-9368-86b90c9a4114.PNG)

**Platform**
 - OS: Windows, Mac
 - Browser: Firefox
 - Browser Ver

[2021-04-26 09:29] william-levi opened #1226 "Meeting Session charges"
I just want to clarify about the charges

It says $0.0017 per session / minute

So when i create a meeting session, it automatically charges ?
So how do i stop the session ?

I'm developing an application right now using chime-sdk-js and
I have created many sessions. And I'm worried cause I didnt close or delete the session.
Im worried it might jacked up the bill.

[2021-04-26 10:33] konstantin-tarasov-clearscale commented on #1218
Resolved.
I found extra `createAnalyserNodeForAudioInput` calls and detected the errors in my code.
No issues with the chime SDK.

[2021-04-26 10:33] #1218 closed

[2021-04-26 16:48] ltrung commented on #1225
@iamibrahimkholil

* For Audio Input:
    * Do you have any error in your console log?
    * What SDK version are you using?
    * Did you call listAudioInputDevices() before calling chooseAudioInputDevices()?
    * Did you pass in deviceId as string?
* For Audio Output: As call out in our [FAQs](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html), you cannot set audio output in Firefox b

[2021-04-26 17:28] ltrung commented on #879
Thanks. I will close the issue for now but feel free to open a new issue

[2021-04-26 17:28] #879 closed

[2021-04-26 17:51] ltrung commented on #1226
@william-levi Thanks for your question. We detailed how we calculated the cost in our [FAQs](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#how-much-does-the-amazon-chime-sdk-cost).
The meeting will start charging when an attendee joins the meeting.
To stop the meeting session, you can manually call deleteMeeting API or the meeting will auto-end after 5 minutes without any attendee (i

[2021-04-26 17:51] #1226 closed

[2021-04-26 18:03] RidipDe commented on #1204
I tried it on
+ Chrome v90
+ Firefox v87

I can provide you with the browser logs, however lately I am seeing the following message when I try to use the link that you provided.
![Screen Shot 2021-04-26 at 11 03 14 AM](https://user-images.githubusercontent.com/15669836/116129521-0e8b4e00-a67f-11eb-9142-7a236c99df82.png)

[2021-04-26 21:46] ltrung commented on #1217
[code]
Could you try to install ruby and see if it fixes your issue.

[2021-04-26 23:42] gsudhanshu commented on #1217
done

webpack exited with status 0

[2021-04-26 23:42] #1217 closed

[2021-04-26 23:52] gsudhanshu commented on #1204
which OS?

use the following url's:

https://evachime-test.evareg.com/?userId=1&toUserId=2

[2021-04-26 23:53] ltrung commented on #1224
@rnqayush The build script recently adds a step in prebuild (https://github.com/aws/amazon-chime-sdk-js/blob/master/package.json#L26) that needs Ruby installation.
For Windows, you may also want to modify that line in package.json to append `ruby`:
[code]

[2021-04-27 00:00] RidipDe commented on #1204
PFA log file from my Chrome browser. It has info, error and warning logs as I could see on my browser console.

[evachime-test.evareg.com-1619481465261.log](https://github.com/aws/amazon-chime-sdk-js/files/6381024/evachime-test.evareg.com-1619481465261.log)

[2021-04-27 04:02] junedlanja opened #1227 "Video Flickers"
**Important:**
I have one application build using amazon chime. Its basically coded based on classroom demo. One of our client have recently complained about flicker issue in their video.

**Meeting and attendee IDs:**
-

**Timeline**
-

**Describe the bug**
-

**Screenshots**
Here is screencast we have from client : https://drive.google.com/file/d/11zJbDYWKASvxxAT330-X8s1ztM29iEYX/view?usp=sharin

[2021-04-27 05:25] gavandivya opened #1228 "Doubt will the demo run and call services from AWS AISPL account of India"
### What are you trying to do?
I want to add a Video calling,audio calling, screen sharing and messaging feature to existing website.

I saw that in Media region we have Mumbai as nearest region to host meeting. But the Chime Console page is not  loaded at our end due to AISPL account.

Need urgent help....
Can I run the demo provided my AWS without being able to use the Chime console and call my

[2021-04-27 13:07] tvotan opened #1229 "Doesn't support Node v16.0.0"
**Describe the bug**
I think this repo doesn't support Node v16.0.0. It recently came out.

**Screenshots**
<img width="961" alt="Screenshot 2021-04-27 at 15 05 17" src="https://user-images.githubusercontent.com/39995527/116246214-107e0b80-a76a-11eb-8cf4-81bf7fcf9b5c.png">

**Platform**
 - OS: Mac OSX Big Sur (Intel processor)
 - Browser: Brave
 - Browser Version: -
 - Amazon Chime SDK GitHub Comm

[2021-04-27 16:41] ltrung commented on #1228
@gavandivya Thanks for reaching out. Even without access to console, you should still be able to run the demo with your aws account as you have access to all Chime Meeting API in AWS SDK.
Could you give it a try and feel free to reopen this issue if you run into any issue?

[2021-04-27 16:41] #1228 closed

[2021-04-27 17:39] vidya-mohan commented on #1227
@junedlanja - thanks for reporting your issue. Can you help us with the following questions:
- Is the video being flipped that of a local user (and their local view) or of a remote user? If the latter, is the other user also seeing the video being flipped?
- Do you have Chime meeting or attendee Ids for these users?
- Are you modifying the video element characteristics by rotating it via CSS?

[2021-04-27 17:41] ltrung commented on #1153
@salihsagdilek Do you have the same workflow as @rlebosse which is re-joining with the same attendeeId?

[2021-04-27 17:44] gavandivya commented on #1228
Okay thanks for helping me out will try the demo and let you know..

On Tue, 27 Apr 2021, 22:11 Trung Le, ***@***.***> wrote:

[2021-04-27 17:56] ltrung commented on #1229
@tvotan Thanks for reporting this. PR #1230 has updated to include Node 16.

[2021-04-28 03:27] iamibrahimkholil commented on #1225
Problem solved. As it turned out for firefox are were not calling listAudioInputDevices() this method. Instead, we were calling MediaDevices.enumerateDevices() this method. When we used listAudioInputDevices() it was working fine. Now I will close the issue.

[2021-04-28 03:27] #1225 closed

[2021-04-28 04:48] junedlanja commented on #1227
@vidya-mohan  Thanks for quick reply.

- We are not modifying the video element characteristics through CSS.
- There were 3 attendees in these meeting. Here is the details about them:

[code]

[2021-04-28 05:12] jbkly commented on #226
Was an Angular demo for Chime ever added? Where can I find it? @RidipDe @aburnson thanks

[2021-04-28 19:01] michhyun1 commented on #1076
We want to invlude this change in the next major version update - it would be a breaking change to the current api definition.

[2021-04-28 20:45] simmkyu commented on #1170
When you call the `meetingSession.audioVideo.start` API, the Chime SDK performs the following tasks:
1. Chime SDK sends the Chime media server the join message and receives the ack message with TURN credentials. This operation happens over a WebSocket connection to the Chime media server.

   Note that Chime SDK uses these credentials to connect to the ICE servers right before creating a [`RTCPeer

[2021-04-28 21:01] simmkyu commented on #1170
Are you using the same meeting response for two meetings? A meeting automatically ends after a period of inactivity in the following conditions:

From the [Amazon Chime SDK developer guide](https://docs.aws.amazon.com/chime/latest/dg/mtgs-sdk-mtgs.html):

In that case, your meeting should end with the following `MeetingEnded` status code, but I guess a race condition could happen.
https://github.c

[2021-04-29 08:55] rohit0337 opened #1231 "Issue with Mozila firefox"
hello
while camera is used by some other applications like google meet or zoom, and user try to join meeting in chime application
its give an error in console

2021-04-29T08:54:06.330Z [ERROR] SDK - failed to get video device for constraints {"video":{"deviceId":{"exact":"LlupIEF8UsFeXFmeDtZhinjoebGGVn89ZjK1HvxSoLo="},"width":{"ideal":960},"height":{"ideal":540},"frameRate":{"ideal":15},"googCpuOv

[2021-04-29 08:55] kanovic commented on #559
Can you share your code for setting up two DefaultMeetingSessions in one tab? I am experimenting with this.

[2021-04-29 14:19] salihsagdilek commented on #1153
@ltrung  no we're getting this error sometimes trying open camera.
this error not predictable, getting sometimes
example flows ->
user joined meeting -> open camera -> close camera -> open camera -> getting error sometimes

[2021-04-29 21:15] simmkyu commented on #1231
Using the [Chime SDK serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless), I joined a meeting while I enabled videos in other WebRTC-based applications and desktop applications. In macOS Firefox (78.10.0), I could not reproduce the bug.

In the attached video, I turned videos on in our serverless demo and the [WebRTC official demo](https://appr.tc/). You can se

[2021-04-29 23:26] simmkyu commented on #1153
Your stack trace indicates that the `getVideoTracks of null` error occurred in the callback passed to the following real-time API:
https://github.com/aws/amazon-chime-sdk-js/blob/8d6e38c23a2e959953d127628b412e86d9522704/src/realtimecontroller/RealtimeController.ts#L59-L71

In the Chime SDK for JavaScript, I could not find any possible path to this error except the following content share API.
http

[2021-04-30 04:47] chandruchiku opened #1235 "Using external IP Camera as video source"
We would like to use external IP Camera as a video source for the meeting instead of default mediaDevices.

This feature can be used to include a higher resolution meeting camera in the meeting room instead of camera available on the device.

Is this feature currently supported or how to achieve this ?

[2021-04-30 11:14] MeLlamoPablo commented on #1054
Hi @michhyun1 @p-foucht, I'm also getting this issue.

I'm using a create-react-app project with `react-scripts`  v4.0.3. The dev server works, but the production build fails with the above error. I suspect it's an issue related to webpack or babel but I'm not positive.

Unfortunately I tried to create a minimal reproduction repository starting with the create-react-app project template, but I was

[2021-04-30 11:52] shaneromel commented on #592
Hi @albertot-dev , were you able to figure out a solution to it? I'm experiencing the exact same issue. I'm using angular.

[2021-04-30 15:45] ltrung commented on #1229
We have updated the latest v2.8.0 support Node 16.

[2021-04-30 15:45] #1229 closed

[2021-04-30 16:03] ltrung commented on #1207
@teason We have made the change. Closing the issue  but feel free to reopen it if you still encounter the same issue.

[2021-04-30 16:03] #1207 closed

[2021-04-30 20:33] DynamicSTOP opened #1238 "Missing promise rejection\\error from audioVideo.bindAudioElement on Safari"
**Describe the bug**
`Unhandled Promise Rejection: AbortError: The operation was aborted.` from this line https://github.com/aws/amazon-chime-sdk-js/blob/master/src/audiomixcontroller/DefaultAudioMixController.ts#L80 whenever I try to run this part outside of some user action callback (on message from websocket)
[code]
This happens only in Safari (thanks apple). The reason is it's not triggered by

[2021-04-30 21:26] Thekkedath opened #1241 "Pre Signed web socket url - Unauthorized URL"
I am trying to generate a pre-signed web socket URL to get real time messaging notification for the AWS chime in the frontend as shown [here](https://docs.aws.amazon.com/chime/latest/dg/websockets.html#connect-api) . I planning to get this deployed as separate back end API using lambda. I followed exactly as shown in these examples [https://docs.aws.amazon.com/general/latest/gr/sigv4-signed-reques

[2021-04-30 22:58] simmkyu commented on #1235
The `meetingSession.audioVideo.chooseVideoInputDevice` API takes the following types:
- `string` and `MediaTrackConstraints`: to get a media device using a browser's `getUserMedia` API
- `null`: to choose no device
- `VideoTransformDevice`: to process a video input, e.g., Amazon VoiceFocus feature
- **[`MediaStream`](https://developer.mozilla.org/en-US/docs/Web/API/MediaStream): If you can get a s

[2021-05-01 02:14] simmkyu commented on #1241
The Chime SDK for JavaScript has an example of creating a pre-signed URL in JavaScript.

https://github.com/aws/amazon-chime-sdk-js/blob/327c5464dfa0e6cbe4858485e582ba2de108ad3c/src/messagingsession/DefaultMessagingSession.ts#L125-L133

https://github.com/aws/amazon-chime-sdk-js/blob/327c5464dfa0e6cbe4858485e582ba2de108ad3c/src/sigv4/DefaultSigV4.ts#L53

---

In the JavaScript example:
- The `host

[2021-05-01 11:15] adesun2k opened #1242 "URL IS NAKED AND ANYONE CAN MESS UP WITH IT"
Hi guys since url is naked anybody can mess up with it.  I want to be sure the request is from me so I added a post parameter 'key' to my request but it is not working please where on the backend am supposed to do this

<img width="1279" alt="Screenshot 2021-05-01 at 12 15 05" src="https://user-images.githubusercontent.com/57893099/116780837-e5036580-aa76-11eb-8e00-5796ec373d91.png">

**handlers.j

[2021-05-01 15:30] gsudhanshu commented on #1204
it is working for me, thanks

[2021-05-01 15:30] #1204 closed

[2021-05-01 15:49] Thekkedath commented on #1241
Thank you for the quick response. The host I used earlier was the output from `chime:GetMessagingSessionEndpoint` and when I got this `unauthorized`  error, I tried with the new host which is mentioned in that code.

The suggestions from your side was very helpful and I modified my code accordingly. But even then I am getting the same error as before.

The access_key_id and the secret_key I am usi

[2021-05-01 22:52] simmkyu commented on #1241
Based on your code, I updated the handler with these key changes:
- Encoded the app instance user ID ARN (`user_id_arn`)
- `credential_scope` follows the format in the [developer guide](https://docs.aws.amazon.com/general/latest/gr/sigv4-signed-request-examples.html)
- Used `quote_plus` for `X-Amz-Credential`
- Included the `session_token` but it's optional in the Amazon Chime SDK for JavaScript t

[2021-05-01 23:29] Thekkedath commented on #1241
Thanks again @simmkyu . I just tried the code after filling in the required values. And I am still getting the same `unauthorized ` error. This is how the front end developer is connecting to the web socket url in the front end `const socket = new WebSocket(url.data);`. Should we change something in the FE?. Please advice.

[2021-05-02 04:44] rnqayush commented on #1224
thanks for response. I solved this issue by using  AWS cloud9 service.

[2021-05-02 04:44] #1224 closed

[2021-05-02 06:35] simmkyu commented on #1241
To test the Python's pre-signed URL, I ran the following code in the browser console and received at least one `message` event.

[code]

---

I got the `close` event with the `Unauthorized` error when I put an invalid `user_id_arn`. Could you ensure that you already created the App Instance User ID under your AWS account?
https://docs.aws.amazon.com/cli/latest/reference/chime/create-app-instance-u

[2021-05-02 06:58] simmkyu commented on #1242
You can pass a custom key from your client application to Lambda handlers using two ways.
1. Query parameters
    - Client: Include the query parameters in the request URL. e.g., The following URL contains `title`, `name`, and `region`.
       https://github.com/aws/amazon-chime-sdk-js/blob/327c5464dfa0e6cbe4858485e582ba2de108ad3c/demos/browser/app/meetingV2/meetingV2.ts#L567-L576
     - Server: Y

[2021-05-02 14:28] Thekkedath commented on #1241
Finally it worked. Thank you very much for your help @simmkyu. The issue with my code was we have to pass the `user_id_arn` as
`arn%3Aaws%3Achime%3Aus-east-1%3A123456789012%3Aapp-instance%2Ff568b4fd-cc50-4a70-a88e-fd07351d3c2a%2Fuser%2Fcustom-user-id` instead of `arn:aws:chime:us-east-1:123456789012:app-instance/f568b4fd-cc50-4a70-a88e-fd07351d3c2a/user/custom-user-id`.

The python code you gave w

[2021-05-02 14:28] #1241 closed

[2021-05-02 18:37] scortes1989 commented on #1226
@ltrung if i have 3 attendees in a meet , the first attendee is during 60 minutes connected and the second attendee during 30 minutes and the third by 15 minutes, what is the charges ?

[2021-05-02 18:47] scortes1989 commented on #1226
@ltrung how i can know the meeting time by attendee in a meet or the cost by meeting ? i need charge this

[2021-05-03 15:45] MeLlamoPablo commented on #1054
Hi again! We upgraded caniuse-lite and the issue seems to have gone away. Here are our changes:

[code]

Probably one of the removed browsers is the culprit.

Lesson learned: don't neglect the browserslist. I'll leave this here for future reference.

[2021-05-03 17:34] ltrung commented on #1226
@scortes1989 You can view the cost under AWS Cost Explorer. If you want to measure it programmatically, you can setup [Chime Event Bridges](https://docs.aws.amazon.com/chime/latest/ag/automating-chime-with-cloudwatch-events.html) to calculate when an attendee joins and leaves.

[2021-05-03 20:49] vidya-mohan commented on #989
Resolving as no response. Please cut a new issue or reactivate as needed

[2021-05-03 20:49] #989 closed

[2021-05-03 20:51] vidya-mohan commented on #1001
Resolving as no response. Please cut a new issue or reactivate if this persists

[2021-05-03 20:51] #1001 closed

[2021-05-03 20:53] vidya-mohan commented on #1182
@sanjitkung if you have data please reactivate. Resolving for now

[2021-05-03 20:53] #1182 closed

[2021-05-03 20:56] #659 closed

[2021-05-03 21:00] vidya-mohan commented on #1014
@amirvatani please follow https://github.com/aws/amazon-chime-sdk-js/issues/1070 as its sounds more pertinent to your question

[2021-05-03 21:00] #1014 closed

[2021-05-03 21:11] vidya-mohan commented on #1052
@gsudhanshu @narek-king thank you for the interest in the SDK.

Could you please clarify what was the original issue that you are trying to fix and how we can reproduce it? There is an PR with active comments on it https://github.com/aws/amazon-chime-sdk-js/pull/1072 that need addressed - we would like to help you move this forward but need additional clarification

[2021-05-03 21:14] malsabbagh opened #1245 "Explicit listAudioOutputDevices() call is required to call to chooseAudioOutputDevice(..)"
**Describe the bug**
It seems the logic in DefaultDeviceController.ts for [`chooseAudioOutputDevice(..)`](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/devicecontroller/DefaultDeviceController.ts#L540) doesn't attempt to update `deviceInfoCache` when it is null. However, this is not the same when dealing with [`chooseAudioInputDevice()`](https://github.com/aws/amazon-chime-sdk-js/blob

[2021-05-03 22:15] malsabbagh opened #1246 "Feature Request - Exposing key/value tags feature from CreateAttendee API"
It seems [`CreateAttendee API`](https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateAttendee.html) supports passing key/value tags. However, these tags are not available within `amazon-chime-sdk-js` package.

Are there any plans to expose this feature to be accessible by the js clients?

[2021-05-03 22:16] simmkyu commented on #667
It's expected behavior. If another attendee joins with the same attendee response, the first attendee's session will be stopped with the `AudioJoinedFromAnotherDevice` status code.

https://github.com/aws/amazon-chime-sdk-js/blob/d96981488fa41f492555ac8d3fa05afcd9ff8de2/src/meetingsession/MeetingSessionStatusCode.ts#L15-L18

⠀

When you create an attendee using one of these AWS SDK APIs, the respo

[2021-05-03 22:16] #667 closed

[2021-05-03 22:25] vidya-mohan commented on #1246
Thank you for your interest @malsabbagh , this is not something we support right now - but we will keep the issue opened till we plan to

[2021-05-04 07:47] adilsaeed31 opened #1248 "Failed to get video device for constraints - iPad Safari and Chrome"
**Describe the bug**
Failed to get video device for constraints - iPad Safari and Chrome

**Screenshots**
<img width="2034" alt="ipad" src="https://user-images.githubusercontent.com/6284410/117355742-a11bc080-aebb-11eb-939e-8a1bf0b28f4e.png">

**Platform**
 - OS: iPad 8th Gen 10.2 IOS 14.5
 - Browser: Safari and Chrome both giving same
 - Browser Version: 14.1
 - Amazon Chime SDK GitHub Commit: 2.

[2021-05-04 07:55] rugoncalves opened #1249 "SDK bundle fails to load if app uses require"
## Describe the bug
Following the steps in [demo singleJS](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/singlejs) to bundle all require files into a single one, leads to a run time error, **IF** the application is using **requireJS**:
[code]

As a *workaround*, I had to add the following JS to the bundled file:
[code]

This is what lead me to think that *there might be* some incomp

[2021-05-04 16:17] Taapo commented on #1238
We were advised to post the issue here on Github, instead of creating a ticket on AWS support. Is someone from the Chime SDK team willing to comment on this? I can't imagine that nobody else has this problem, so it would be appreciated to know if there is something we are overlooking ...

[2021-05-04 20:03] John-Peter-Sofer opened #1250 "The video track reloads every minute or less when screen sharing is performed from Safari."
Hello,

Here is a bug that we reproduce with our application and your 'browser' demo application.

**First problem:**

As you can see on the video above (accelerated 10 times) and the attached screenshot, the resolution sent by Safari is the maximum resolution of the MacBook Pro, 2880x1800.
This is strange because it exceeds the maximum resolution given in the faq here: "The Amazon Chime SDK for J

[2021-05-04 21:08] simmkyu commented on #1238
The [Chime SDK serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless) offers `app.audioVideo` to access audio-video APIs for debugging.

In macOS 10.15.7 Safari 14.1, I ran the following script in the browser console to simulate a callback without user interaction. The `bindAudioElement` worked okay without any error.

[code]

https://user-images.githubuserconten

[2021-05-05 00:45] ltrung commented on #1245
@malsabbagh Could you point to the code where `chooseInputIntrinsicDevice` calls `enumurateDevices`? As far as I know, both `chooseAudioInputDevice` and `chooseVideoInputDevice` need to call list devices first. You can see that the `matchesDeviceSelection` call in `chooseInputIntrinsicDevice` assume device cache is populated already.

[2021-05-05 04:59] scortes1989 commented on #1226
thanks !!

[2021-05-05 05:34] malsabbagh commented on #1245
@ltrung ah, I guess the path I tried to reference is wrong. Thank you for pointing that out. Moreover, It seems `deviceInfoCache` was not the reason why both `chooseAudioInputDevice()` and `chooseVideoInputDevice()` were working. The path for that is a bit more complicated.

I did a bit more testing and I can confirm that the behavior I was describing was specific to `amazon-chime-sdk-js` up to `2

[2021-05-05 11:25] ReneS1991 opened #1253 "VideoTransformDevice is not taken into account when previewing video"
### What are you trying to do?

To start off, I am not sure if this is something missing in the documentation, a "bug" (don't think so) or a "feature request".

I are currently adding a toggle to blur the background of your video while in a meeting. This all works perfectly fine, it nicely blurs the background of your video. So as a next step I also want to add this option to the pre-meeting devic

[2021-05-05 12:40] DynamicSTOP commented on #1238
Hi!

as I pointed in first message it's this line https://github.com/aws/amazon-chime-sdk-js/blob/master/src/audiomixcontroller/DefaultAudioMixController.ts#L80

More or less my issue is caused by this https://developer.apple.com/documentation/webkit/delivering_video_content_for_safari#3030252

I assume you might miss error by one of the following reasons
- devtools are privileged
- assigning same

[2021-05-05 17:18] rnewman opened #1254 "Content share connection is not snapped when main connection disconnects"
Not sure whether this is a reproducible issue, but we saw this in today's standup:

* Connect.
* Share screen.
* Leave the meeting.

Other attendees will see the content connection until it times out.

[2021-05-05 22:46] mark-vanr opened #1257 "Meetings with Dial-In users - will the SDK be able to interact with dial-in attendees?"
In our project we are adding dial-in capabilities using Chime-provisioned phone numbers with a Lambda function acting as the SIP media application, so attendees can join via telephone. Will it become possible for an SDK-based user to interact with telephony-based users through some mechanism?

Our current use cases are -
**Mute Other**
We've implemented mute-others using data messages as suggested

[2021-05-06 02:38] simmkyu commented on #1248
In the screenshot, you called the `meetingSession.audioVideo.listVideoInputDevices` API that returns two devices:
- Front Camera / Device ID:`558D92...`
- Back Camera / Device ID `E1DEA7...`

![image](https://user-images.githubusercontent.com/36240708/117233312-bcad9b00-add7-11eb-8311-50e5185a9c6d.png)

However, you call `meetingSession.audioVideo.chooseVideoInputDevice` API with a device ID that

[2021-05-06 02:44] simmkyu commented on #1231
The `OverconstrainedError` occurs when you call the `meetingSession.audioVideo.chooseVideoInputDevice` API with an invalid device ID.

Another user reported the same `OverconstrainedError` issue (https://github.com/aws/amazon-chime-sdk-js/issues/1248). They called the `meetingSession.audioVideo.chooseVideoInputDevice` with a device ID that did not exist in iPad.

Could you ensure that the device I

[2021-05-06 03:00] simmkyu commented on #1253
The `startVideoPreviewForVideoInput` API does not support the video transform device yet. In the current version (`2.8.0`), the preview API uses an underlying `MediaStream` object of a selected device. We will keep this issue open and post any updates.

[2021-05-06 06:50] simmkyu commented on #1238
In macOS 10.15.7 Safari 14.1, I could reproduce the `AbortError` by running the following script in the [Chime SDK serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless).

[code]

⠀

In Chrome, the `DOMException: The play() request was interrupted by a new load request` error occurs. The error message contains a link to this article: https://developers.google.com

[2021-05-06 07:03] DynamicSTOP commented on #1238
In the click handler for the login button we do `document.getElementById('audioRef').play();` because it counts as clear user intention by browsers.
Yet audio element doesn't have any src in html `<audio id="audioRef" class="d-none" playsinline></audio>` nor anything is set as src or srcObject using JS outside of chime sdk.

[2021-05-06 07:46] DynamicSTOP commented on #1238
Ok, I guess I'll try it your way to move `play()` after callback with `bindAudioElement()`. That's clearly won't autoplay on safari, but I might at least catch rejected promise. ~~god I hate safari~~

[2021-05-06 08:14] adilsaeed31 commented on #1248
@simmkyu Thanks for your reply, The same code is working in Mac Safari/Chrome/Firefox browsers and in Windows Chrome/Firefox browsers, also working fine in Android Tablets and Mobile Chrome browser, Only I am having an issue in iPad Safari and Chrome browser.

[2021-05-06 12:49] adilsaeed31 commented on #1248
@simmkyu This issue has been fixed not sure how just rewrite some device selection piece of code, now only one issue iPad video showing the black screen in chrome browser.

[2021-05-06 13:47] akshay-mirgal-i opened #1259 "CORS error and 403 (Forbidden) when we call https://service.chime.aws.amazon.com/meetings API"
### When we call into the postman is working fine But not in actual code, Give cors error and 403 (Forbidden).

*For example 1 :  I'm using single Js and created following code.*
[code]
*For example 2 : Call following code with 5 min (Authorization valid for 5 min ) which is available is postman  *

[code]
        var raw = "{\n   \"ClientRequestToken\": \"12345678912\",\n   \"ExternalMeetingId\":

[2021-05-06 14:26] jrowny opened #1260 "AudioVideoFacade.startVideoPreviewForVideoInput does not return a promise"
**Describe the bug**
The startVidePreviewForVideoInput does not return a promise and we have no way to know about or react to failures. IMO, it should bubble the exceptions found here: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia

Because you're currently exposing as a void, returning a promise shouldn't be a breaking change.

**Platform**
 - OS: any
 - Browser: any

[2021-05-06 16:48] vidya-mohan commented on #1260
Thank you for cutting the issue calling out the limitation @jrowny!

[2021-05-06 16:58] ltrung commented on #1260
@jrowny PR #1236 has fixed `startVideoPreviewForVideoInput` to no longer call `getUserMedia` which should be available in the next npm push. Thus, you only have to handle `getUserMedia` failure in `chooseVideoInput`.

[2021-05-06 16:58] #1260 closed

[2021-05-06 17:27] XHatan commented on #1227
hey thanks for reporting this, is this possible to get client log for those participants who observed video flicker ?

[2021-05-06 18:34] adilsaeed31 commented on #1248
@simmkyu Any suggestion, How can I fix this black screen issue in Mac Browsers, which not displaying iPad video feed to desktop browsers.

[2021-05-06 20:48] vidya-mohan commented on #1257
Thank you for the interest in the SDK @mark-vanr . This feature is not currently supported and we will keep the issue updated on the status

[2021-05-06 21:46] peili opened #1263 "Intermittent Timeouts for API createAttendee"
We're experiencing intermittent timeouts for CreateAttendee API, increased number of such timeouts today on 05/06/2021.

https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateAttendee.html

[2021-05-07 00:20] ltrung opened #1264 "[Not an issue] Testing webhook"
Testing GitHUb Webhook

[2021-05-07 01:39] ltrung commented on #1264
Test comment

[2021-05-07 04:00] ltrung commented on #1259
@akshay-mirgal-i Unfortunately, current meeting APIs are not enabled for CORS. You have to call createMeeting from your backend, similar to the meeting demo https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/server.js#L54.

[2021-05-07 04:01] ltrung commented on #1254
@rnewman I wasn't able to reproduce it using the above steps so I think we are missing some steps here.

[2021-05-07 04:56] rnewman commented on #1254
@simmkyu could you add more details?

[2021-05-07 05:20] simmkyu commented on #1248
I tried the [Chime SDK serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless) between these two attendees.

* Attendee 1 (top left in the attached video): iPad Pro (2nd generation) + iOS 14.5.1 + Safari 14.1
* Attendee 2 (top right in the attached video): macOS Mojave + Chrome 81.0.4044.138

Both iPad and macOS attendees can see each other's video. The iPad atten

[2021-05-07 05:28] simmkyu commented on #1238
In the Chime SDK demo, we have an audio element with only the `display:none` style.

https://github.com/aws/amazon-chime-sdk-js/blob/8de51639a8d00519d17d42f1722dd7fea2d065f2/demos/browser/app/meetingV2/meetingV2.html#L271

⠀

We simply pass the audio element to `bindAudioElement` API.  The Chime SDK for JavaScript internally enables the `HTMLMediaElement.autoplay` attribute. We do not call the `pl

[2021-05-07 06:44] DynamicSTOP commented on #1238
No, we don't. Audio element is used only for playing audio from chime.

[2021-05-07 07:04] adilsaeed31 commented on #1248
@simmkyu I've checked already these issues and documentations, The strange thing is the V2Meeting browser demo is working fine in iPad and Mac Safari/Chrome, So how that demo is working fine, I tried to replace the same code into my project but Mac Safari/Chrome not showing iPad Safari video.

[2021-05-07 18:10] ltrung opened #1268 "[Not an issue] Testing Webhook #2"
### What are you trying to do?

*For example: I'm trying to start a meeting session with audio.*

### How can the documentation be improved to help your use case?

*For example: Include a section on how to configure the meeting session.*

### What documentation have you looked at so far?

*For example: README.md, Amazon Chime SDK Developer Guide, etc.

[2021-05-07 18:11] ltrung commented on #1268
Testing

[2021-05-07 18:11] #1268 closed

[2021-05-07 20:54] bjason commented on #1227
Hi, I have tested the classroom demo but failed to reproduce the issue. Is it possible for you to describe the steps to reproduce the issue and update with the log? Thanks!

[2021-05-07 21:39] simmkyu commented on #1248
Could you provide the following information?

1. **Meeting IDs and attendee IDs:** You can provide one sample meeting ID and attendee ID who experiences the black screen issue. In the Chime server logs, we can check if the attendee has successfully enabled a video.
2. **INFO-level browser logs of both iOS and desktop users**: You can create an instance of the `ConsoleLogger` with `LogLevel.INFO`.

[2021-05-07 22:09] ashleyqu commented on #1263
Do you mind provide the meetingId and the exact meeting time so I can dive deep?

[2021-05-07 22:33] simmkyu commented on #1249
Using the [RequireJS 2.3.6 template](https://github.com/volojs/create-template), I could import the bundled "Chime SDK for JavaScript" file (default: `amazon-chime-sdk.min.js`) using the `require` function. I replaced the content of the [create-template/blob/master/www/app/main.js](https://github.com/volojs/create-template/blob/master/www/app/main.js) file with the following:

[code]

The `Console

[2021-05-07 22:40] simmkyu commented on #1263
We did not have any significant outage on 05/06/2021.

@ashleyqu is from the Amazon Chime service team that manages the Chime APIs available in AWS SDK, AWS CLI, and the REST API. If you provide Ashley with the Chime SDK meeting ID and the brief timeline, she can provide guidance on timeouts.

[2021-05-07 23:24] royliwei commented on #1250
Thanks for reporting the issues.
1. The "video resolutions up to 1280x720 at 30 frames per second without simulcast, and 15 frames per second with simulcast" is for video tile. I can reproduce the issue that safari is sending 2880x1800 during content sharing.
2. Just want to clarify, when using chrome and firefox, does the frameRate drops below 5fps as well? Does chrome send resolution 1440x900 at

[2021-05-08 13:44] DynamicSTOP commented on #1238
I have more questions regarding late bind of audio element.

So first I catch the "denied" error like so
[code]
console at that point
![image](https://user-images.githubusercontent.com/9434504/117541161-3aadb400-b01b-11eb-855f-ca24df64dec0.png)

I make "mute" button look active to force user to tap on it. Upon tapping I do the following
[code]
Upon changing forceMuted to false, bindDevices are tri

[2021-05-09 15:03] marghoobtarar opened #1270 "Unauthorized: An invalid app instance user ARN was supplied for the x-amz-chime-bearer HTTP header."
I am using https://github.com/aws/amazon-chime-sdk-component-library-react/tree/master/demo/chat repository for the chat sdk.
***Important:*** I have created the pool and app instance on the aws  and also have configured aws with command ***aws configure***
after login functionality performed, when I tried to create the chat room it throws an error

Uncaught (in promise) Unauthorized: An invalid a

[2021-05-10 05:39] ltrung commented on #1270
@marghoobtarar Could you let us know the format of the user ARN you pass to x-amz-chime-bearer HTTP header?

[2021-05-10 14:37] adesun2k opened #1271 "Update Demo Meeting App Already deployed"
Please I do update serverless demo app already deployed and in production. Thanks

[2021-05-10 15:15] adesun2k commented on #1242
I have adjusted my code accordingly still no difference. I event deleted the entire code in amazon-chime-sdk-js/demos/serverless/src/handlers.js still no difference. I couldn't find any handlers.ts  but handlers.js

May be I need to update my entire amazon-chime-sdk-js
Please do I update amazon-chime-sdk-js my project is in production?

[2021-05-10 18:42] adesun2k commented on #1271
am getting this error

Command sam failed with exit code 1 signal null
**`Error: Failed to create/update the stack: AWSMysStack, Waiter StackUpdateComplete failed: Waiter encountered a terminal failure state`**

[2021-05-10 18:57] tylerlot opened #1272 "Set Audio Device infinite cycle"
**Important:** _Available Upon Request_

**Meeting and attendee IDs:**
_Available Upon Request_

**Timeline**
We successfully created the Chime meeting object, get device lists for each type (audioInput, audioOutput, videoInput) however, when we set our first device (audioInput) it seems to have begun an infinite loop infinite loop in the promise trying to get/set the device, log sample below. Our

[2021-05-10 20:39] michhyun1 commented on #1271
@adesun2k Are you following the serverless demo readme? Perhaps you can try this method out instead:

https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless

[2021-05-10 21:21] adesun2k commented on #1271
Yes
**[](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless)**
is my guide

[2021-05-10 22:43] michhyun1 commented on #1271
@adesun2k  Have you verified that you have the correct aws credentials in your environment?

[2021-05-11 06:39] simmkyu commented on #1242
Sorry for the typo. It should be [`handlers.js`](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/serverless/src/handlers.js).

The [Chime SDK serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless) uses the [AWS CloudFormation](https://aws.amazon.com/cloudformation/) to deploy your client and server applications to AWS resources. When you run the foll

[2021-05-11 06:43] simmkyu commented on #1271
As Michael described, you can deploy the serverless demo using the same bucket and template names. Follow the steps in https://github.com/aws/amazon-chime-sdk-js/issues/1242#issuecomment-837928342 Thanks!

[2021-05-11 06:59] simmkyu commented on #1238
In the [Chime SDK demo], we call `meetingSession.audioVideo.bindAudioElement` / `meetingSession.audioVideo.unbindAudioElement` APIs to enable/disable an audio output. We do not invoke `play()` or `pause()` on the audio element.

https://github.com/aws/amazon-chime-sdk-js/blob/2fca426171ca6aff5feece7819cf114170372c7b/demos/browser/app/meetingV2/meetingV2.ts#L772-L783

⠀

The implementation is simpl

[2021-05-11 08:49] junedlanja commented on #1227
Unfortunately, we don't have client-side logs.

[2021-05-11 11:06] peili commented on #1263
@ashleyqu
We haven't experienced any timeouts yesterday. Today we're seeing timeouts again.

(GMT+2) 3:32:09.411 AM meetingId 9c16d85f-ba1c-4571-ac50-58b90f77daee
(GMT+2) 3:32:19.999 AM meetingId 9c16d85f-ba1c-4571-ac50-58b90f77daee
(GMT+2) 3:49:36.168 AM meetingId 9c16d85f-ba1c-4571-ac50-58b90f77daee
(GMT+2) 4:08:16.252 AM meetingId 74b6257b-4516-41c4-9fe6-90312f51e237

[2021-05-11 11:15] peili commented on #1263
Also adding some charts where you can see the impact in execution time using the AWS Chime API.
![image](https://user-images.githubusercontent.com/1823148/117806028-0b38ba80-b25a-11eb-8766-fde71ba9afc1.png)
![image](https://user-images.githubusercontent.com/1823148/117806493-b3e71a00-b25a-11eb-93d8-cd09adc243bc.png)

[2021-05-11 11:21] antoineveldhoven opened #1277 "Local videoTile not visible."
In Safari on Mac; rotateY(180deg) on a HTML5 <video> element (nested in an absolute positioned, opacity: 0.8, black background) causes the local video tile to be invisible.

From within the element inspector; disabling the inline style rotateY(180deg) makes the`<video>` element visible again.
Also within the element inspector the `<video>` element renders as follows:
transform: matrix3d(-1, 0, -1.

[2021-05-11 12:02] junedlanja opened #1278 "Preview video not working in 2.9.0"
**Important:**

**Meeting and attendee IDs:**

**Timeline**

**Describe the bug**
The video preview shows a black screen. It is working in my application as expected in version 2.8.0 after upgrading to 2.9.0, I can see the camera light turn on and off automatically. Seems like a video stream is automatically get released.

Is it due to update in `startVideoPreviewForVideoInput`? After joining loca

[2021-05-11 16:32] ltrung commented on #1153
@rlebosse This is fixed in #1265. Closing the issue for now.
@salihsagdilek We do not think your issue is the same as this one. If you still encounter it, feel free to open a new one.

[2021-05-11 16:48] ltrung commented on #1278
@junedlanja Thanks for reporting this. It is probably due to the change in `startVideoPreviewForVideoInput` as you pointed out. However, i could not reproduce this using our meeting demo using Chrome 90.0.4430.93 and Safari 14.1.
Does your app call `chooseVideoInputDevice` before `startVideoPreviewForVideoInput`? And is there anything else your app does before calling `startVideoPreviewForVideoInp

[2021-05-11 16:58] tylerlot commented on #1272
Yes, all devices were listed audio input / output / video input are fetched before we try to set any devices

[2021-05-11 17:02] ltrung commented on #1277
@antoineveldhoven I did not observe this behavior in Safari 14.1 (although my Mac OS is 10) using the meeting demo which also uses HTML5 video https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.html#L371.
Did you also use the demo or some other app?

[2021-05-11 17:12] antoineveldhoven commented on #1277
@ltrung I've just tested it with MacOS 10.15 and Safari 14.1 (15611.1.21.161.5, 15611); also the same result; rendering a blank video element.
I think it is a combination with absolute positioning, background-color and opacity.
Can I DM or email you in order to provide you login credentials to a development server where our application is running, so you can see it in action?

[2021-05-11 18:28] michhyun1 commented on #1070
@ian-luca, we've just merged in changes that should enable support for WKWebViews. You should be able to create an iOS that uses a WKWebview and load/join the SDK meeting demo. It will be part of our next release, but feel free to work off of the Github master branch if you'd like to use the feature.

[2021-05-11 18:28] #1070 closed

[2021-05-11 18:31] ltrung commented on #1272
If it is from 2.6.0 and later, there are several issue about this: #1136, #1201, and #1225. Could you take a look and see whether anything there can apply to your case?
The usual cause of this is that this check for reusing existing input failed https://github.com/aws/amazon-chime-sdk-js/blob/master/src/devicecontroller/DefaultDeviceController.ts#L1335 which can be either:
- `listAudioInput` is no

[2021-05-12 04:38] junedlanja commented on #1278
Yes my app call `chooseVideoInputDevice` before `startVideoPreviewForVideoInput`. Here is log before `audioVideo` start if Im changing anything related to video input `videoInputSelected` twice and then `videoInputUnselected` event fires. Even though I'm not unselecting video input.

Here is a screencast of the log.
<img width="1122" alt="Screenshot 2021-05-12 at 10 03 36" src="https://user-images

[2021-05-12 05:49] ltrung commented on #1278
From the event it seems the video input is unselected and thus, the video stream is unavailable. It probably works in 2.8.0 and earlier version because `startVideoPreviewForVideoInput` calls getUserMedia again.
Could you post the full console INFO log for SDK? Also if you could debug locally, could you put a checkpoint here https://github.com/aws/amazon-chime-sdk-js/blob/master/src/devicecontrolle

[2021-05-12 07:45] junedlanja commented on #1278
[logs](https://github.com/aws/amazon-chime-sdk-js/files/6464371/logs.log) file

[2021-05-12 07:54] ltrung commented on #1278
From the logs, it seems the call to `startVideoPreviewForVideoInput` is before `chooseVideoInputDevice` returns. `chooseVideoInputDevice` and `chooseAudioInputDevice` are async function so do you do await to wait for them to return first?

[2021-05-12 08:23] junedlanja commented on #1278
Yes, they are used with async and await.

[2021-05-12 09:14] E5920 opened #1282 "share screen is visible on both side (attendee as well as host) and sharing My meetings active screen it is generating infinite windows,"
1:-  i am facing unexpected behaviour, my requirement is share screen is visible only attendee side not host  :-

  async startContentShare(tileState: VideoTileState){
    console.log('Screen share started');
    await this.meeting.meetingSession.audioVideo.startContentShare();
  }

  async contentShareDidStop(){
    console.log('Content share stopped');
    await this.meeting.meetingSession.audio

[2021-05-12 11:10] hesawant opened #1283 "Callback to listen for SignallingChannel ready state"
### To summarize

We rely on `AudioVideoFacade.realtimeSendDataMessage(...)` function to send messages to other attendees in the call. But some times sending data, results in `RealtimeApiFailed and error: Signaling client is not ready` which terminates the session for that attendee.

### What are you trying to do?

**Looking for a callback that would notify when the `SignalingChannel` changes stat

[2021-05-12 15:46] John-Peter-Sofer commented on #1250
2. I meant that I was observing the problem on Chrome or Firefox (as a receiver) when the one sending the screenshare is on Safari.

Now to answer your question:

- On Google (which shares), it is constant: 1440x900 at 15 fps

- On Firefox (which shares), the resolution adapts from 2880x1800 to 1440x900. FPS = 8.

Attached are the webrtc-internals captures for each browser that sends its screen sh

[2021-05-12 18:55] devalevenkatesh commented on #1282
Hello, thanks for your interest in the library.

1. To achieve the first case you can simply follow the Use case 18 under [Screen share section](https://github.com/aws/amazon-chime-sdk-js#screen-and-content-share) in our README.

Basically, you can to check whether the content attendeeId is matching your local attendeeId. If so, then do not bind the tile to the video element.

[code]

2. I could f

[2021-05-12 19:40] ltrung commented on #1283
@hesawant Thanks for reporting this. I have reproduced the issue. I don't think we should throw an error there and should log it as an error instead. However, the problem remains is how we alert consumers that the message is not sent.
I will bring this back and discuss with the team.

[2021-05-12 19:58] Berkyle opened #1284 "Establishing a messaging connection with chime.getMessagingSessionEndpoint"
### What are you trying to do?

I'm trying to implement a messaging session within my application using the amazon-chime-sdk-js. [Following the README](https://github.com/aws/amazon-chime-sdk-js/blob/050457e82fcbe88f0d149c2aacde483b9ff612e8/README.md#messaging-session), I'm trying to retrieve the messaging session endpoint by doing the following:
[code]

However when I do this, I seem to only get

[2021-05-12 20:30] ltrung commented on #1245
We have updated the README in #1285 so closing this issue now.

[2021-05-12 20:30] #1245 closed

[2021-05-12 20:41] devalevenkatesh commented on #1284
Hello, Thanks for reporting this issue.

You are right that your try after passing the credentials worked. The console error indicates that you have not performed AWS credential configuration which is a required pre-requisite.

The messaging app under `demo/browsers` ran fine because it gets the AWS credentials by making a `GET` call to a node server. The `getMessagingSessionEndpoint` is part of t

[2021-05-12 20:46] devalevenkatesh commented on #1282
Closing this issue as no further action is needed. Please feel free to re-open or create another if you need more help.

[2021-05-12 20:46] #1282 closed

[2021-05-12 20:50] Berkyle commented on #1284
Thanks for the update, your response makes sense. To make sure I fully understand, do you mean to say it is not possible to call the `getMessagingSessionEndpoint` API without providing the client side the accessKeyId and secretAccessKey?

[2021-05-12 21:06] devalevenkatesh commented on #1284
Yes, you need AWS credentials with required access to call the `getMessagingSessionEndpoint` API otherwise you will get errors.

The [Establishing a connection](https://docs.aws.amazon.com/chime/latest/dg/websockets.html#establish-connection) link also says the same in the first point and the README for our demos also calls this out in the Pre-requisite section [here](https://github.com/aws/amazon

[2021-05-12 21:24] Berkyle commented on #1284
Gotcha, I understand it's easy enough to just generate the messaging session endpoint from the server rather than the client - I found it confusing that so many code examples besides [the readme](https://github.com/aws/amazon-chime-sdk-js/blob/050457e82fcbe88f0d149c2aacde483b9ff612e8/README.md#messaging-session) called this API and then used the response to instantiate `MessagingSessionConfigurati

[2021-05-12 21:32] ltrung commented on #1284
@Berkyle You are correct. You would need a AWS Client with Credentials on the client in order to use messaging SDK APIs such as SendChannelMessage (https://docs.aws.amazon.com/chime/latest/APIReference/API_SendChannelMessage.html)

[2021-05-12 21:55] Berkyle commented on #1284
@ltrung thanks for clearing this up - I figured I'll need to route my send message requests from the client to my application server and send the message from there since SendChannelMessage requires credentials, but do you know whether `MessagingSessionConfiguration` requires the AWS and Chime objects to have credentials attached in order to subscribe to message events? My hope is the answer to th

[2021-05-12 22:31] devalevenkatesh commented on #1284
As long as you have some form of AWS credential verification on the client side like either AWS Cognito used in [React SDK chat demo](https://github.com/aws/amazon-chime-sdk-component-library-react/blob/master/demo/chat/src/services/MessagingService.js#L44-L62) or credential fetching in JS SDK messaging session demo, I think you need not have to pass the credentials along with the Chime and AWS ob

[2021-05-12 23:15] dpwspoon commented on #1284
I think the intent is that client applications will have AWS credentials, but those credentials are scoped to individual end user’s permissions and obtained dynamically on client application startup.  The aws credential gives users access to the APIs and it allows the backend AWS services to securely identify who they are, so they can only use those APIs as themselves.

To better understand, the A

[2021-05-13 04:29] E5920 opened #1287 "Implementation of startContentShare(mediaStream) API on amazon-chime"
i am facing issue, during implementation of startContentShare(mediaStream) api on amazon-chime eg, "capturestream is not a html element" and etc. so please correct me & how to use startContentShare(mediaStream) in correct way .

  const file = inputElement.files[0];
  const url = URL.createObjectURL(file);
  videoElement.src = url;
  await videoElement.play();

  const mediaStream = videoElement.c

[2021-05-13 06:28] E5920 opened #1288 "implementation of group video call"
I am facing issue of implementation of group video call feature means new tileid is coming then new tileid replace all the existing tile id(other screen) in amazon-chime so, that's why new video is not visible on vacant tile rather, new video is visible ocuupied tile.

Note :- infinite attendee join video call simultaneously.

videoTileDidUpdate(tileState: VideoTileState){
    console.log(tileStat

[2021-05-13 06:45] E5920 commented on #1282
thanks for the solutions.

[2021-05-13 12:17] peili commented on #1263
More timeouts we're seeing:
May 12, (GMT+2) 8:31:58.483 PM meetingId 2bbe99a7-1b69-4245-ad6d-5cee1aae5418
May 12, (GMT+2) 2:47:28.409 PM meetingId ea4d9915-9580-45f6-9b68-871c62b7e95a

[2021-05-13 14:18] #1287 closed

[2021-05-13 14:18] E5920 commented on #1287
issue resolved.

[2021-05-13 14:21] Berkyle commented on #1284
@devalevenkatesh @dpwspoon Thank you for your replies. Right now I'm still familiarizing myself with AWS's authentication platform and services. If it's alright with you, would you mind leaving this issue open a little longer so I can look into the best way my team's application could leverage the options you've recommended and get back to you with any final questions or clarifications about using

[2021-05-13 14:23] E5920 opened #1289 "implementation of toggle in share screen on amazon-chime"
i am facing issue, implementation of toggle in share screen means if my screen is shared then click the share screen button have seen stop sharing button or disabled share button. how to use use " stopContentShare " .

  public async toggleShareScreen() {
      await this.meeting.meetingSession.audioVideo.startContentShareFromScreenCapture();
  }

thanks,
Rajat.

[2021-05-13 14:41] rugoncalves commented on #1249
Hi @simmkyu

Thank you for the reply.
I'll have to dig a little more in this in order to understand what might be causing this problem on our side.

I'll keep this issue updated with what might be causing it.

Thank you

[2021-05-13 15:56] kg-jcaron opened #1290 "Attendees getting AudioJoinedFromAnotherDevice error on joining meeting"
We've been running into an issue where we frequently get AudioJoinedFromAnotherDevice (2) terminal status code for some attendees in our meetings immediately after joining, which prevents them from connecting to the meeting.

We've verified that no-one getting this is actually joining from multiple devices, and we've tried implementing auto-reconnecting users when this happens but it doesn't fix i

[2021-05-13 16:33] devalevenkatesh commented on #1284
Sure. Please let us know. Thanks @ltrung and @dpwspoon for providing more information.

[2021-05-13 23:56] bjason commented on #1227
Thanks for looking into that, The log can also be stored in `/Users/<User>/Library/Logs/<App Name>`, would you mind double checking for me?

[2021-05-14 01:05] devalevenkatesh commented on #1289
Hello Rajat,

Request you to check our JS SDK meeting [demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser) which has a similar functionality as your use case.

We recommend you to go through the demo once. While running the app please follow the pre-requisite and run the browser meeting demo locally as instructed [here](https://github.com/aws/amazon-chime-sdk-js/tree/3a

[2021-05-14 05:02] devalevenkatesh commented on #1288
Hello Rajat,

You can check Use case 16 under [Video](https://github.com/aws/amazon-chime-sdk-js#video) in our README. It explains how you can achieve that.

Also, as recommended in #1289 can you check the JS SDK demo once which implements your use cases.

Please feel free to re-open this issue if you face any further issues after going through the documentation we have as well as the JS SDK demo.

[2021-05-14 05:02] #1288 closed

[2021-05-14 05:03] #1289 closed

[2021-05-14 05:03] devalevenkatesh commented on #1289
Please feel free to re-open and create issue if you have more questions.

[2021-05-14 10:51] Leeaandrob commented on #793
@devalevenkatesh is continuing happening the same problem using version 2.9.0.

![image](https://user-images.githubusercontent.com/5758136/118260827-289f9b80-b489-11eb-886a-bd28a9228d98.png)

[2021-05-14 15:19] paul365 opened #1294 "List disconnected or still connected attendees using SDK"
### What are you trying to do?
I'm trying to get disconnected attendees using the SDK. Is this possible? Running list-attendees just shows attendee ids without details whether they are still on the meeting or not. Or at least be  able to get how many attendees are still connected to the meeting.

### What documentation have you looked at so far?

README.md, Amazon Chime SDK Developer Guide, etc.
h

[2021-05-14 16:38] devalevenkatesh commented on #793
Hello @Leeaandrob, thanks for reporting the issue here. It looks the reason was different for the closed issue. We would appreciate if you could create a new one for the issue you are facing with our issue format.

[2021-05-14 16:41] tylerlot commented on #1272
Thanks for following up, we pass in the deviceId.

The symptoms sound the same to #1136, we never get past trying to set the audioInputDevice. I see the logs getting to the call to set `chooseAudioInputDevice`, and then the chime-sdk's INFO level logs I sent the counts of repeating until our user ended the call.

Prior to attempting to set any of our devices, we populate the device lists using the

[2021-05-14 17:18] ltrung commented on #1272
Just to clarify, the deviceId you passed in is string correct?
Can you edit the screenshot to show the full message of `got audio device for constraints {"audio": ...`? We would like to know the constraints that were used.
It would be great if you could send us the console.log too.

[2021-05-14 17:21] tylerlot commented on #1272
Yes deviceId is a string from one of the devices listed out.

`{"audio":{"echoCancellation":true,"googEchoCancellation":true,"googEchoCancellation2":true,"googAutoGainControl":true,"googAutoGainControl2":true,"googNoiseSuppression":true,"googNoiseSuppression2":true,"googHighpassFilter":true,"deviceId":{"exact":"default"}}}`

[2021-05-14 18:44] gsudhanshu commented on #1052
@vidya-mohan try creating meetingSession using aws chime sdk js with meeting and attendee responses from aws-sdk-php

you will understand the need for this change

[2021-05-14 22:42] devalevenkatesh commented on #1294
We currently do not have API for disconnected attendees. But, you can try using Amazon EventBridge and listen to attendee drop events and then maintain the map of the same.

You can check more on the link below:
https://docs.aws.amazon.com/chime/latest/ag/automating-chime-with-cloudwatch-events.html

Amazon Chime SDK attendee specific events are detailed under "Automating the Amazon Chime SDK with

[2021-05-14 22:42] #1294 closed

[2021-05-15 00:21] simmkyu commented on #1249
I don't think the $ sign matters unless the Require JS has a bug with it. The [single-js](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/singlejs) script does not use `$`. It exposes Chime SDK components under the `window.ChimeSDK` object, e.g.,

[code]

[2021-05-15 15:46] DynamicSTOP commented on #1238
Like I said I've tried unbindAudioElement(). So I have no idea what safari doesn't likes now.

How it looks like (had to mask some things): [video](https://leonid.work/tmp/bugged_1.mp4)
console log [chime_log.txt](https://github.com/aws/amazon-chime-sdk-js/files/6487676/chime_log.txt)
Once I get error I stop <audio> and reset it's src and srcObject. Once I click unmute button (so it's actually tre

[2021-05-17 08:31] junedlanja commented on #1278
@ltrung any update? The above solution solved the issue in the pc browser but it's happening in iPad. Also in iPad changing camera not working.

[2021-05-17 16:58] devalevenkatesh commented on #1290
Hello, thanks for reporting the issue.

We are still investigating this issue. The JS SDK gets the `AudioJoinedFromAnotherDevice` meeting session status code from the backend and has no logic that may trigger this internally from JS SDK. We have created a ticket internally to investigate this issue further.

It would be really helpful to get some browser console logs around this issue as you see t

[2021-05-17 17:44] ltrung opened #1296 "[Testing] Webhook to meeting services new title"

[2021-05-17 17:48] ltrung commented on #1296
New comment

[2021-05-17 17:48] #1296 closed

[2021-05-17 18:03] devalevenkatesh commented on #1278
Hello @junedlanja,

For the iPad issue, need some information:
1. Is changing camera not working on the preview screen or the in-meeting screen?
2. Can you please provide browser console logs for the iPad issue?

Instruction to get the logs from iPad if you need them:
1. plug iphone into computer
2. settings > safari > advanced > web inspector (turn on)
3. open safari on your computer
4. run your

[2021-05-17 18:22] ltrung commented on #1270
@marghoobtarar Have you been able to resolve your issue yet?

[2021-05-17 18:26] devalevenkatesh commented on #1174
Please feel free to re-open or create new issue. Closing this as no further action is pending.

[2021-05-17 18:26] #1174 closed

[2021-05-17 18:47] paul365 opened #1297 "Preview video input device with video processor using 'startVideoPreviewForVideoInput'"
### What are you trying to do?

I'm trying to show a preview of a video processor with selected device on device setup. I'm using 'startVideoPreviewForVideoInput' but the video processor is not applied in the preview. Logs says 'video transform device processing started' and continuing into the meeting the video processor is applied there. Can this be done? Thanks

### How can the documentation be

[2021-05-17 21:00] vidya-mohan commented on #756
@sidharth-sid - is this still an issue? please reopen if so.

[2021-05-17 21:00] #756 closed

[2021-05-18 14:15] kg-jcaron commented on #1290
Hi sorry we don't have additional logs from the browser beyond what was initially in the ticket. That seems to be all we really see logged for this issue.

I think we might have found the issue though, we switched to never reusing the same external user id (we're now appending a uuid to the end and then parsing it back out later when we need to reference the id for something), and haven't seen thi

[2021-05-18 16:42] devalevenkatesh commented on #1242
We hope all the provided information has helped. Closing this issue, please feel free to open issues if you need more help.

[2021-05-18 16:42] #1242 closed

[2021-05-18 16:47] devalevenkatesh commented on #1235
Closing this issue as looks like no further action is pending, please open new issues as required.

[2021-05-18 16:47] #1235 closed

[2021-05-18 16:49] devalevenkatesh commented on #1164
Closing this issue as we no further action is needed. Please create new issues / re-open this if need any further help.

[2021-05-18 16:49] #1164 closed

[2021-05-18 16:51] devalevenkatesh commented on #1009
Closing this issue as we do not need further action here. Request you to open new issue if you have more questions.

[2021-05-18 16:51] #1009 closed

[2021-05-18 21:28] devalevenkatesh commented on #220
Closing this issue as we added few resources for WebRTC in the JS SDK README.

[2021-05-18 21:28] #220 closed

[2021-05-18 22:08] vidya-mohan commented on #973
@adambyer could you try out https://github.com/aws/amazon-chime-sdk-js/pull/1281 and share your feedback?

[2021-05-18 22:08] #973 closed

[2021-05-18 22:26] devalevenkatesh commented on #1290
Thank you for the response and we are glad that the issue is resolved now. As an action item we will be adding an FAQ on the `AudioJoinedFromAnotherDevice` meeting session status code.

I have linked the PR for the same. Closing this issue now, please re-open / create new issue if you have further questions.

[2021-05-18 22:26] #1290 closed

[2021-05-18 22:31] adambyer commented on #973
Hi @vidya-mohan. Thanks for the follow-up. I actually have a solution using MediaRecorder, but what I was hoping for was the ability to have streams recorded by the video server, instead of on the front-end. Recording on the video server and uploading those recordings to S3 is what other video conferencing services support. Doing it on the front-end is working ok for me, but it takes up resources

[2021-05-19 00:40] vidya-mohan commented on #1036
@chandruchiku could you please add more details on what use cases you are trying to enable with this feature?

[2021-05-19 17:25] simmkyu commented on #1297
The `startVideoPreviewForVideoInput` API does not support the video transform device yet. In the current version (`2.9.0`), the preview API uses an underlying `MediaStream` object of a selected device. We will keep this issue open and post any updates.

[2021-05-19 18:35] Taapo commented on #1238
Hi Chime Team, could someone please check this last message? We're stuck on this problem, and still completely in the dark whether we are the only ones experiencing this problem or if there are others ... thanks for any feedback!

[2021-05-19 19:41] caydgreen opened #1303 "When unmuting a participant, the user is not unmuted and participant appears to be removed from realtimeParticipants"
**Important:** Please attach INFO-level logs with timestamps to the report from *before* the session started up until the point at which the unexpected behavior occurred. For multi-participant calls, attach a log file for each participant if possible.

**Meeting and attendee IDs:**
***Situation #1***
Meeting ID: 5fc80a0c2e984e0001ad2c51
Attendee ID: d31e7a29-2f4a-2b7a-9b20-acdaa193613a

***Situati

[2021-05-19 22:41] simmkyu commented on #1238
I tested the force-mute scenario using the [Chime SDK serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless) on macOS Safari 14.1. I did not need to check the `HTMLMediaElement.paused ` property or call `HTMLMediaElement.play()`.

In the attached videos, Chrome (right) produces a noise (the 440 Hz option in the demo). You hear that noise from Safari (left).
⠀

**

[2021-05-19 23:32] vidya-mohan commented on #613
@jaltmayerpizzorno Chime has a messaging platform which you could use to send messages (https://docs.aws.amazon.com/chime/latest/dg/using-the-messaging-sdk.html) and receive on the JS SDK (via a web socket). https://github.com/aws/amazon-chime-sdk-js#messaging-session

Let us know your feedback on it

[2021-05-19 23:33] michhyun1 commented on #1010
Unfortunately, the method `screenShareUnsupported` is deprecated as shown in DefaultBrowserBehavior class. For more info on where content share is supported - refer to this doc: https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html#mtg-browsers

I think what you're asking for is basically a more updated version of a method like `isScreenShareSupported`, in which case, I'll label this as a

[2021-05-20 12:59] massimo-bortolamei-hegias opened #1305 "Cannot release microphone after disconnection since upgrade from 2.4 to 2.9.0"
I am working on a custom porting of the chime-sdk version 2.9 into AFRAME (webVR framework). Since updating from 2.4 to 2.9 I had troubles with choosing the audioInputDevice.
Before, the following was working

     this.audioInput = await navigator.mediaDevices.getUserMedia({ audio: true, video: false });
     await this.audioVideo.chooseAudioInputDevice(this.audioInput);

after the update to 2.9,

[2021-05-20 16:35] dpwspoon commented on #1284
@Berkyle We are working on better documenting and demoing the options above.  As part of that we have added the 3rd option of building a small service that returns AWS credentials to users via a call to sts-assume-role to the chat demo.  You can find that example here: https://github.com/aws-samples/amazon-chime-sdk/blob/main/apps/chat/README.md#credential-exchange-service-login.  In this case the

[2021-05-20 16:36] michhyun1 commented on #1303
Hi @caydgreen, thanks for using the Chime SDK for Javascript!

So I'm assuming you're working on your own version of an app - using the SDK. It looks like you might be getting this 'srcObject' of null log because you are calling stopVideoPreviewForVideoInput in the audioVideoDidStart callback. If you look at [where we call stopVideoPreviewForVideoInput](https://github.com/aws/amazon-chime-sdk-js/b

[2021-05-20 18:27] ltrung commented on #1305
@massimo-bortolamei-hegias Thanks for a detailed issue.
For the first issue, the `chooseAudioInputDevice` requires to call `listAudioInputDevices` beforehand. I am not sure why do you need to call getUserMedia yourselves. `listAudioInputDevices` already calls `getUserMedia` internally to retrieve the device labels https://github.com/aws/amazon-chime-sdk-js/blob/master/src/devicecontroller/DefaultD

[2021-05-20 21:01] Leeaandrob opened #1306 "When the user just refresh the page fatal RealtimeApiFailed for all other Attendees"
**Describe the bug**
After some attended refresh the browser all attendees fatal RealtimeApiFailed.

**Screenshots**

![118260827-289f9b80-b489-11eb-886a-bd28a9228d98](https://user-images.githubusercontent.com/5758136/119047901-e4366300-b994-11eb-8607-e814cdd67710.png)

**Platform**
 - OS: Linux / MacOSX
 - Browser: Chrome
 - Browser Version: Version 90.0.4430.212 (Official Build) (64-bit) / Versi

[2021-05-20 21:07] Leeaandrob commented on #1306
[code]

[2021-05-20 22:07] michhyun1 commented on #1103
FYI - the Chime SDK for Javascript now support WKWebViews. https://aws.amazon.com/about-aws/whats-new/2021/05/wkwebview-now-supported-with-amazon-chime-sdk-for-javascript/

[2021-05-20 22:07] michhyun1 commented on #1070
FYI - the Chime SDK for Javascript now support WKWebViews. https://aws.amazon.com/about-aws/whats-new/2021/05/wkwebview-now-supported-with-amazon-chime-sdk-for-javascript/

[2021-05-20 22:07] michhyun1 commented on #1055
FYI - the Chime SDK for Javascript now support WKWebViews. https://aws.amazon.com/about-aws/whats-new/2021/05/wkwebview-now-supported-with-amazon-chime-sdk-for-javascript/

[2021-05-20 22:08] michhyun1 commented on #1014
FYI - the Chime SDK for Javascript now support WKWebViews. https://aws.amazon.com/about-aws/whats-new/2021/05/wkwebview-now-supported-with-amazon-chime-sdk-for-javascript/

[2021-05-21 02:24] schuettc opened #1308 "meetingErrorMessage Documentation Request"
Please expand documentation for meetingErrorMessage included in meetingStartFailed and meetingFailed to include possible messages that could be returned for more clarity on why I meeting could fail.

[2021-05-21 12:13] massimo-bortolamei-hegias commented on #1305
Hi @ltrung thanks for helping!
yes I saw that `listAudioInputDevices` already calls `getUserMedia` internally to retrieve the device labels, (and I also wanted to write another issue about that, given that calling it makes the webcam blink briefly due to ` { audio: true, video: true }`.
Anyways, selecting the correct audio device is not as simple as `chooseAudioInputDevice(audioDevices[0])`, becau

[2021-05-21 12:17] jowe13 opened #1309 "Meeting keeps crashing on iOS Safari and Chrome"
**Platform**
 - OS: iOS
 - Browser: Safari & Chrome
 - Browser Version: iOS 14.4.2, Chrome: latest from App Store (90.0.4430.78)
 - Amazon Chime SDK JS Version: 2.9.0

Hey guys,

we are trying to integrate Chime in our client React App. So far everything is working fine and as expected.
We are not facing any issues on Windows, Mac or Android. All browsers on these platforms are working just fine.

[2021-05-21 15:18] E5920 opened #1310 "facing issue unbind videoElement with tileId"
i am try to unbind videoElement with tileId but facing issue so, my requirement is firstly videoElement is unbind with old tileId then same videoElement is bind with new tileId.

temp: VideoTileState;

public next(){
    var videoElement = this.temp.localTile? 'session-local-video' : 'session-remote-video';
    var videoElNext = this.domElement(videoElement);

    // unbind videoElement with old t

[2021-05-21 17:44] michhyun1 commented on #1310
Hey @E5920, can you verify if the new tile that you are trying to bind to the videoElement has an active video stream attached to it?

Also, you may want to remove the srcObject of the videoElement after you call unbindVideoElement. Calling unbindVideoElement will remove the videoElement reference in the tile's state, but it wont remove the active stream from the video element. This is something w

[2021-05-21 18:52] E5920 commented on #1310
yes, new tile  bind to the videoElement  has an active video stream.

[2021-05-21 18:57] ltrung commented on #1305
You can define your own deviceLabelTrigger without video (See how to define your own trigger in our meeting demo for example https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L1739).

So in the usual workflow, we just use `listAudioInputDevices` to list all audio devices and let user select which devices. Then we can pass the corresponding deviceId to

[2021-05-21 20:41] ltrung commented on #1277
@antoineveldhoven Since we do not have this issue in our meeting demo and we do not see this issue with other builders (yet), my guess is it maybe some style conflicts with your application. Could you checkout our meeting demo and see if you could reproduce the same issue?

[2021-05-21 22:59] vidya-mohan commented on #1098
JS SDK supports 'ios-webview' now. https://aws.amazon.com/about-aws/whats-new/2021/05/wkwebview-now-supported-with-amazon-chime-sdk-for-javascript/

[2021-05-21 22:59] vidya-mohan commented on #1116
JS SDK supports 'ios-webview' now. https://aws.amazon.com/about-aws/whats-new/2021/05/wkwebview-now-supported-with-amazon-chime-sdk-for-javascript/

[2021-05-21 22:59] vidya-mohan commented on #608
JS SDK supports 'ios-webview' now. https://aws.amazon.com/about-aws/whats-new/2021/05/wkwebview-now-supported-with-amazon-chime-sdk-for-javascript/

[2021-05-22 16:30] E5920 commented on #1310
thanks for your solution,
i was going with your solution but  facing issue that, unbind videoElement with old tileId then same videElement bind with old tileId that's why videoElement is not binding with new tileId.
please check my below code & suggest.

public shift_next(){
    var videoElement = this.temp.localTile? 'session-local-video' : 'session-remote-video';
    var videoEl = this.group1[th

[2021-05-23 07:31] gsudhanshu commented on #1310
@ltrung Kindly help.

videoEl.srcObject = null; is not working properly and the oldtileId is getting reattached to video element

[2021-05-24 12:01] msgoo7 opened #1313 "npm ERR! gyp ERR! stack Error: `make` failed with exit code: 2"
error while running npm run start:hot
[2021-05-24T10_59_05_221Z-debug.log](https://github.com/aws/amazon-chime-sdk-js/files/6532160/2021-05-24T10_59_05_221Z-debug.log)

can you please help me with the same.

[2021-05-24 15:39] albrich-me opened #1314 "Attendee dropped ("eventType": "chime:AttendeeDropped”) timing parameters"
### What are you trying to do?

Need to know what causes the "eventType": "chime:AttendeeDropped”.  Determine how long a person will be offline before it’s reported.  Determine if after that event the SDK might try to reconnect.

### How can the documentation be improved to help your use case?

Provide guidance for the timing parameters and retry logic (if any) around chime:AttendeeDropped event.

[2021-05-24 16:45] michhyun1 commented on #1310
@gsudhanshu, you should be able to unbind the video and then re-bind the tileId to a new video element.

You may want to console.log(temp) after you do the unbindVideoElement, and verify that the TileState no longer has a reference to the VideoElement.

When you call bindVideoElement, please verify that the videoElNext is a different videoElement than the one you just un-binded from, otherwise, yo

[2021-05-24 16:49] caydgreen commented on #1303
It is not happening 100% of the time, and only recently started happening after our upgrade to the latest Chime SDK (to leverage downlink Policy). I don't believe the user is unable to unmute due to the ConnectionDidSuggestStopVideo, but that message tends to pop up as the user is being booted from the meeting.

[2021-05-24 18:09] ltrung commented on #1313
From the log, it seems you are using Node 16 and NPM 7.
The meeting demo uses an older version of node-sass which is not supported in Node 16. Could you try to use Node 14 for now?

[2021-05-24 18:13] ltrung commented on #1306
@Leeaandrob From the error log, it seems the error comes from your custom callback call for attendee presence real time event. Any error in real time API is fatal (See https://github.com/aws/amazon-chime-sdk-js/blob/master/src/realtimecontroller/DefaultRealtimeController.ts#L17).
Could you double check your logic there?

[2021-05-24 18:41] RajatKesharwani1975 opened #1315 "facing issue bind videoElement with empty remote tile."
@michhyun1, i am trying to bind videoElement with empty remote tile but couldn't. My requirement is suppose 3 users are present but i have 1 remote tile & 1 local tile then 1st user have turned off there camera it's means 2nd user remote tile is empty then 3rd user video element bind with empty tile which are present in 2nd user screen. in this case 3rd user video element is not binding with empty

[2021-05-24 19:15] michhyun1 commented on #1315
@RajatKesharwani1975 the bindVideoElement API simply binds a videoStream to a video element on the DOM. It does not send that video stream to another client.

Can you please elaborate on your use case a bit? I'm a bit confused by the way you've explained it.

Normally you would get the tileId of a TileState that has an active stream attached to it, and then call bindVideoElement using that tileId

[2021-05-24 20:08] devalevenkatesh commented on #1309
Hi, thanks for reporting the issue.

To better understand the issue could you provide the following information?

1. **Meeting IDs and attendee IDs:** You can provide one sample meeting ID and attendee ID who experiences this issue.
2. **INFO-level browser logs of iOS users**: You can create an instance of the `ConsoleLogger` with `LogLevel.INFO`. For iOS Safari logs, please follow the instruction

[2021-05-24 21:01] RajatKesharwani1975 commented on #1315
@michhyun1, thanks ,i have done above solution to bindVideoElement with tile id but in this case some requirement is different   like. "x" & "y" user are present & both share a video (only 1 remote & 1 local tile is present) if "z" user is enter with video then "y" user have turned off there camera it means "x" user remote tile is blank so, ideally "z" user videoElement bind with "x" user remote t

[2021-05-25 00:35] michhyun1 commented on #1315
Its hard to say without seeing your code - but you need to verify if you actually have an active video stream on that video tileState before you bindVideoElement. Can you do a `console.log(this.temp)` before and after, and see if the boundVideoStream is attached?

After you call bindVideoElement, print out the tileState of the videoTiles that you expected to be bound to the videoElement, and check

[2021-05-25 00:41] michhyun1 commented on #1314
@albrich-me Thanks for bringing this up - we've marked this issue with a Documentation label and we'll try to address this in our documentation. For now, you might want to take a look at the [MeetingSessionConfiguration.ts](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/meetingsession/MeetingSessionConfiguration.ts#L40) file, that's where we have some default timeout values, with comme

[2021-05-25 07:44] jowe13 commented on #1309
Hey, thanks for your help.

MeetingId: beb55a01-d894-4571-ad14-b2a8cf8522c6
AttendeeId iOS: f239185e-9179-b2f5-9a97-dd402c2bbfc9
AttendeeId MacOS: be951d98-9959-3ade-0c18-1a98c98cce90

[chimelogs.txt](https://github.com/aws/amazon-chime-sdk-js/files/6537412/chimelogs.txt)

[2021-05-25 17:41] michhyun1 commented on #1303
@caydgreen Could you supply us with more complete browser logs from the time the use joins to when they are dropped? That will help us determine what is happening.

[2021-05-25 17:55] caydgreen commented on #1303
[logFileNoUnmute.log](https://github.com/aws/amazon-chime-sdk-js/files/6541359/logFileNoUnmute.log)
Here you go!

[2021-05-25 18:20] jheising opened #1316 "Switching video inputs causes instability on certain mobile devices"
# Problem

Calling `meetingSession.audioVideo.chooseVideoInputDevice` using a `facingMode` or `deviceID` causes the following error to occur:

`
2021-05-18T15:59:25.589Z [ERROR] SDK - failed to get video device for constraints {"video":{"deviceId":{"exact":"defd88d947ae14dba27177afb67ef6c240451813ea401fcc4a31d62093e6b2de"},"width":{"ideal":960},"height":{"ideal":540},"frameRate":{"ideal":15},"goog

[2021-05-25 18:58] jheising commented on #1316
Looking at it further it actually seems like it may have to do more with the width, height, and framerate constraints: https://github.com/aws/amazon-chime-sdk-js/blob/22b82e54beaa1aca6bfb583903edf22f31f86e4e/src/devicecontroller/DefaultDeviceController.ts#L1538-L1546

Commenting those out seems to solve the problem entirely.

[2021-05-25 20:04] caydgreen commented on #1303
Here is a second one, it happened to me today.  I stopped the logs right as the problem occurred
[noMuteDropped.log](https://github.com/aws/amazon-chime-sdk-js/files/6542048/noMuteDropped.log)

[2021-05-25 23:19] devalevenkatesh commented on #1309
Thanks for providing the info.

I checked the attached logs and looks like they are not complete. From the MeetingId you provided, I see the meeting as ended from server side, but, do not see corresponding browser logs which show whether the attendees left the meeting. So, is your application calling `audioVideo.stop()`?

Also, below two lines appear frequently in the logs:
[code]

JS SDK logs the

[2021-05-25 23:46] abaransy commented on #918
Nice

[2021-05-26 07:18] jowe13 commented on #1309
Hi,

1. Yes the logs are 100% complete.
2. No my application or more like Safari just crashes.
3. Indeed that was a mistake and DeviceController was called multiple times. But that does not seem to fix this issue.

Please see new log which was taken after the DeviceController fix:

MeetingId: dcafe769-e12b-40d2-b165-e14e0ab5ae54
Attendee Id iOS: 2432d66c-0ba0-6607-414f-e279c28314ca
Attendee Id: ma

[2021-05-26 08:31] massimo-bortolamei-hegias commented on #1305
Hello, sorry for delay.
I tested removing the call to `getUserMedia` and the release of the mic worked.
I tried to implement my own `deviceLabelTrigger`, calling a custom `{ audio: true, video: false}` not to have the webcam blink and also keeping track of the user chosen media, so that i could later on match it with the ones from `listAudioInputDevices` and understand which `MediaDeviceInfo` pass

[2021-05-26 14:09] vsimeikoKG opened #1317 "Can't use updated "default" audio input device"
**Meeting and attendee IDs:**
- Meeting ID: 001e8ba2-9c42-45b4-b505-64404ad4da79
- Attendee ID: 5c1d8947-9abd-bae5-be25-b4ec19002a77

**Timeline**
- User joins the meeting muted with "default" audio input selected.
- User remains muted and connects a bluetooth headset while still in the meeting.
- User can not use "default" audio input device since it was auto changed.
- User may use connected blu

[2021-05-26 14:41] Russelldan554 opened #1318 "Specific users are disconnected from meeting on another users video being enabled."
**Important:** Please attach INFO-level logs with timestamps to the report from *before* the session started up until the point at which the unexpected behavior occurred. For multi-participant calls, attach a log file for each participant if possible.

[Logs of attendee who left](https://github.com/aws/amazon-chime-sdk-js/files/6547464/attendee-left-logs-e666a28a-1bc8-44c0-a793-a2b0e2732b16.csv)

[2021-05-26 16:59] michhyun1 commented on #1310
@gsudhanshu we use the tileId to get the tileState here: https://github.com/aws/amazon-chime-sdk-js/blob/2e2c7e36631d898b925e6e341c28f72dafcfa8d6/src/videotilecontroller/DefaultVideoTileController.ts#L35

[2021-05-26 17:37] vidya-mohan commented on #810
Resolving as dupe of https://github.com/aws/amazon-chime-sdk-js/issues/1011 which tracks better recording support

[2021-05-26 17:37] #810 closed

[2021-05-26 17:50] vidya-mohan commented on #1197
thanks for sharing your observations @ElielCohen . We have a technical guide on this subject: https://aws.github.io/amazon-chime-sdk-js/modules/qualitybandwidth_connectivity.html

[2021-05-26 17:50] #1197 closed

[2021-05-26 17:50] michhyun1 commented on #1317
@vsimeikoKG Thanks for using the Chime SDK for Javascript. Could you verify the device that you are choosing? The bluetooth device should become the new 'default' device, but you should still be able to call 'listAudioInputDevices' and see a list of other audio input devices that are NOT the bluetooth device.

It looks like you always choose `audioVideo.listAudioInputDevices())[0]` - maybe you can

[2021-05-26 18:20] vsimeikoKG commented on #1317
I can see new device when I call `listAudioInputDevices()`, but I can't choose it if I try to pass `default` or `deviceId` strings.

Audio input works perfectly if I refresh the web page and rejoin the same meeting.

![image](https://user-images.githubusercontent.com/72414337/119710202-1845d400-be2c-11eb-9d12-33622718c3dc.png)

-----

`audioVideo.listAudioInputDevices())[0]` - I wrote it as an exa

[2021-05-26 18:31] michhyun1 commented on #1317
So if you just connected a pair of bluetooth device for audio input, I see that the default here is the bluetooth device. If you choose the default, you'll be choosing the current device that is in use. Can you show me the logs when you join a meeting with the bluetooth device as the default, and then while the meeting is running, you do:

[code]

[2021-05-26 18:42] vsimeikoKG commented on #1317
I added some comments here as well. Hope that helps!

![image](https://user-images.githubusercontent.com/72414337/119714199-94dab180-be30-11eb-8261-e884188814f2.png)

[2021-05-26 18:47] michhyun1 commented on #1317
@vsimeikoKG your last comment says "Audio works now, but we want to keep using the same default audio device without forcing user to select other device"

1. So by doing this, you were able to successfully switch from the bluetooth device to the macbook pro mic, correct? If so, then the chooseAudioInputDevice is working as expected.
2. What exactly is your use case then? Are you saying that you do

[2021-05-26 18:54] michhyun1 commented on #1317
If you're using the meeting demo - this is where we "reselect" the default device. In our case, when the bluetooth device is connected, it becomes the default device and we select that device as the audio input device here: https://github.com/aws/amazon-chime-sdk-js/blob/3700c741366292079833ff8bd27424dcefe2f681/demos/browser/app/meetingV2/meetingV2.ts#L1076-L1081

[2021-05-26 18:57] vsimeikoKG commented on #1317
1) `chooseAudioInputDevice` works correctly if I try to use any other device. I can not re-select same `default` device.
2) Here is the breakdown of the issue and the desired behaviour:
a) User joins the meeting with default audio input from webcam microphone. This is his current `default` audio input device.
b) If user tries to say something right now, it works correctly.
c) User connects bluetoo

[2021-05-26 19:02] ldai1 opened #1320 "Need to migrate from legacy getStats() to standard getStats() in DefaultStatsController"
**Important:** Please attach INFO-level logs with timestamps to the report from *before* the session started up until the point at which the unexpected behavior occurred. For multi-participant calls, attach a log file for each participant if possible.

**Describe the bug**
Currently, the JS SDK StatsCollector collects webRTC legacy getStats() API for Chromium based browsers. There are three reason

[2021-05-26 19:31] michhyun1 commented on #1317
ListAudioInputDevice uses the WebRTC's enumerateDevices API behind the scenes. The SDK does not decide what becomes the 'default' audio device - we are getting that from calling `await navigator.mediaDevices.enumerateDevices();` [here](https://github.com/aws/amazon-chime-sdk-js/blob/22b82e54beaa1aca6bfb583903edf22f31f86e4e/src/devicecontroller/DefaultDeviceController.ts#L1044).

If you'd like, you

[2021-05-26 21:23] AlexMCarv opened #1321 "Use of eventDidReceive - meetingEnded event not triggering"
### What are you trying to do?
I am trying to add an observer for eventDidReceive and log some specific events. I am successful in logging the meetingStartSucceeded,  audioInputFailed and videoInputFailed with some manual testing, but for some reason the meetingEnded event is never triggered. I tried the End Meeting for all, Leaving the meeting and disconnecting the internet, but I can seem to mak

[2021-05-26 23:08] ajuthomas commented on #1148
I can confirm that this issue still persists.

[2021-05-26 23:43] ldai1 opened #1322 "Add documentation for Signal Strength"
Add following guidance for signal strength in public documentations:

● 0-SIGNAL_STRENGTH_NO_SIGNAL-100%lossofaudiodata
● 1 - SIGNAL_STRENGTH_WEAK_SIGNAL - Between 50% to 100% loss of audio data
● 2-SIGNAL_STRENGTH_GOOD-Lessthan50%lossofaudiodata

Current documentation for Signal Strength:
https://aws.github.io/amazon-chime-sdk-js/modules/qualitybandwidth_connectivity.html#events-for-monitoring-re

[2021-05-27 00:23] ldai1 commented on #1318
Hi,

Thanks for providing details about this issue. When you mentioned another attendee would disappear when you toggle on your video, do you mean the other attendee were getting kicked out from the meeting and got rejoined automatically later when you toggle off your video?

[2021-05-27 00:39] ldai1 commented on #1316
Hi,

Thanks for bringing up this issue and possible solutions. We will review the issue and get back to you once we confirmed the solution.

[2021-05-27 01:29] ldai1 commented on #1321
Hi,

Thanks for reporting the issue with detailed code example. Whenever you receive `AudioVideoObserver.audioVideoDidStop`, the SDK raises the `meetingEnded` event. https://github.com/aws/amazon-chime-sdk-js/blob/3196df1e0bb2db71389e01e36123492da7c3c754/src/audiovideocontroller/DefaultAudioVideoController.ts#L840-L882. What I could recommend is check on side to see if you have ever received `audi

[2021-05-27 09:38] chandruchiku commented on #1036
@vidya-mohan  This would give us ability to switch to codec which customers are comfortable using in their environment.

Another user has similar requirement #963

[2021-05-27 12:13] Critchleyb opened #1323 "prebuild scripts/conditional-install in browser demo for windows."
### What are you trying to do?
`npm run build` on windows for local testing and development

### How can the documentation be improved to help your use case?
The build fails at the prebuild stage as it tries to call scripts/conditional-install. The file doesn't have an extension but I assume this is a ruby script? Do I need to take additional steps to get this working on windows or is something po

[2021-05-27 12:19] #1315 closed

[2021-05-27 12:19] RajatKesharwani1975 commented on #1315
issue resolved

[2021-05-27 12:28] Critchleyb commented on #1323
Error message from the console below:

PS C:\amazon-chime-sdk-js\demos\browser> npm run build

'script' is not recognized as an internal or external command,
operable program or batch file.

[2021-05-27 14:25] Critchleyb commented on #1323
Confirmed that this was an issue with Ruby not being installed on my machine. Installed and edited the prebuild script in package.json in the root directory from:

`"prebuild": "script/conditional-install",`
to
`"prebuild": "ruby script/conditional-install",`

[2021-05-27 15:07] vsimeikoKG commented on #1317
I get an infinite loop when I call `await audioVideo.chooseAudioInputDevice('default')`. I attached logs with `INFO` logging for that as well. Hopefully that helps!

[localhost-1622127513852.log](https://github.com/aws/amazon-chime-sdk-js/files/6554938/localhost-1622127513852.log)

[2021-05-27 16:58] vidya-mohan commented on #1036
Right - i will mark this as duplicate of the older issue: https://github.com/aws/amazon-chime-sdk-js/issues/963 . Please post any user scenarios in that SIM

[2021-05-27 16:58] #1036 closed

[2021-05-27 17:30] michhyun1 commented on #1317
@vsimeikoKG make sure you're calling listAudioInputDevice before you choose an audio input device: https://github.com/aws/amazon-chime-sdk-js#device

'Use case 2. Choose audio input and audio output devices by passing the deviceId of a MediaDeviceInfo object. Note that you need to call listAudioInputDevices and listAudioOutputDevices first.'

[2021-05-27 17:31] michhyun1 commented on #1317
I'm also not sure if using the string 'default' will work for other browsers, so you may want to use the deviceId instead, just in case.

[2021-05-27 17:59] michhyun1 commented on #1303
@caydgreen thanks for those logs- it seems like those are your application logs, but its missing some of the SDK logs. We usually suggest that you follow this step to get the SDK logs in your console or cloudwatch: https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#how-can-i-get-amazon-chime-sdk-logs-for-debugging

Could you also specify what SDK version you were using prior to this issue

[2021-05-27 20:31] AlexMCarv commented on #1321
I did the following approach, and it worked. I can successfully log the MeetingEnded event, but I am not happy with it because I had to remove the cleanup from the hook. Which means that if audioVideo changes, MeetingEventObserver is going to re-render and the observer is going to be added in duplicate.
The MyApp component here is responsible for calling the meetingManager.join() and initiating th

[2021-05-27 20:40] michhyun1 commented on #1315
@RajatKesharwani1975 great to hear! Thanks for using the Chime SDK for Javascript

[2021-05-27 20:41] michhyun1 commented on #1323
@Critchleyb yes, thats a ruby script. It looks like this is resolved for you so I'll go ahead and close this one out. Feel free to reopen if need be.

[2021-05-27 20:41] #1323 closed

[2021-05-27 21:11] Russelldan554 commented on #1318
Hey,

Yes the attendees was kicked. The non problematic users recieved the realtimeSubscribeToAttendeeIdPresence call back with that user as not present. However the user who dropped had no indication they where out of the meeting. there was no audioVideoDidStop call only a  connectionDidSuggestStopVideo call back and then when the main user turned off their video we received them back into the me

[2021-05-27 22:47] ldai1 commented on #1318
Hi,

Thanks for the update! Can you double check if there is a realtime fatal error when those users got kicked out? This usually happens when  user calls the “realtimeSendDataMessage” API before or during the WebSocket connection, the API may fail, which resulting in  forcing log out.

[2021-05-28 01:42] ltrung commented on #1305
Can you clarify this? I do not think the issue is with users remember the permission but is because we cache device list and thus do not trigger your custom label Trigger again.
If you could clarify the scenario that you ran into, we can see if we could fix it :)

[2021-05-28 04:11] devalevenkatesh commented on #1309
1. The logs do not indicate any errors which show JS SDK crashed, so it may be problem in the way and time the APIs are called in your app.

2. I see below warning appearing in the logs:
[code]

This log is showing that JS SDK got an 'update' transition but since it was in 'NotConnected' state, it did not do anything.

I suspect, this is due to your app calling `startLocalVideoTile` before JS SDK

[2021-05-28 05:50] chuckntaylor commented on #1272
While moving my project to TypeScript, I am back to having this issue yet again. This time while initially calling `chooseAudioInputDevice` on the `DefaultDeviceController`.
Trying to resolve it, I tested calling `listAudioInputDevices` immediately before calling `chooseAudioInputDevice`

[code]

No luck. I am on v2.10.0 of amazon-chime-sdk-js

[2021-05-28 07:06] abhimanusharma commented on #859
@michhyun1 I am able to get the mute status but unable to hear anything from other connected user in the same meeting session. audio element is present but even then there is no audio.

[2021-05-28 13:36] rlebosse opened #1325 "Can't join Meeting when no micros available or micro blocked on Firefox and Safari (while working on Chrome)"
**Describe the bug**

I tried the following with the `browser` demo :

* With no micros available (`await listAudioInputDevices()` returns an empty array)
OR
* With micro access blocked

When using Chrome : I can join the Chime Meeting, see myself in the attendees roster, hear the other attendees (if my speaker is authorized) and see the other attendees' videos.
When using Firefox : I cannot join

[2021-05-28 15:10] vsimeikoKG commented on #1317
Here is the INFO log with the same infinite loop issue. As you asked, I listed audio input devices before choosing device:
[code]

[localhost-1622214296899.log](https://github.com/aws/amazon-chime-sdk-js/files/6561701/localhost-1622214296899.log)

[2021-05-28 16:17] ajuthomas commented on #1148
For anyone who is having the issue, here's how we resolved this:
The Chime app instance was created but that was not enough. We assumed that the user will be automatically added to the chat instance.
You would need to add the user to the app instance by using the identity id of the user. Something like:

`const chimeCreateAppInstanceUserParams = {
        AppInstanceArn: [YOUR APP INSTANCE ARN],

[2021-05-28 20:25] michhyun1 commented on #859
@abhimanusharma please create a separate issue if you require assistance. Please provide logs when you create the issue! Thanks!

[2021-05-28 22:26] michhyun1 commented on #1317
@vsimeikoKG can you give me some reproduction steps?

Here is what I tried:
1. Join a meeting
2. Turn on Bluetooth headphones - verify the Bluetooth headphones are connected automatically and become the 'default' audio input device
3. call `await audioVideo.listAudioInputDevices()` and verify that bluetooth headphones are the default
4. call `await audioVideo.chooseAudioInputDevice("default")
 - V

[2021-05-28 22:55] michhyun1 commented on #1317
It should compare the previous activeDevice with the new chosen device and then stop the loop here: https://github.com/aws/amazon-chime-sdk-js/blob/89145015cb820d42128c144d0b66e43cf51b4b15/src/devicecontroller/DefaultDeviceController.ts#L1359-L1361

Not sure why it is saying that the previous activeDevice is not the same as the new chosen device. The logs aren't showing that. If you could give me

[2021-05-28 22:56] michhyun1 commented on #1317
Another thing you might consider is just verifying the GUM call and verify that the stream you get back is the stream you expect: https://github.com/aws/amazon-chime-sdk-js/blob/89145015cb820d42128c144d0b66e43cf51b4b15/src/devicecontroller/DefaultDeviceController.ts#L1382

Perhaps enable a breakpoint here.

[2021-05-28 22:56] michhyun1 commented on #1310
@gsudhanshu Is your issue resolved now?

[2021-05-28 23:04] ldai1 commented on #1318
Hi,

We checked the log you pasted and our server log and found that the attendee `fd98ff48` had an issue receiving audio packets immediately after another attendee `23ec6153` turned on the local video. After ~30 seconds, the attendee `fd98ff48` was reconnected to the session.

Some log here indicating the reason why the problematic Attendee got dropped and reconnected:
```1622039024261,"2021-05-2

[2021-05-28 23:38] gsudhanshu commented on #1310
@michhyun1

I think it is
@E5920 Rajat, pls confirm

[2021-05-29 01:21] xuesichao commented on #1325
Hello @rlebosse, thank you for bringing this question to us.

This is a known issue, maybe you would like to have a look at this [issue 474](https://github.com/aws/amazon-chime-sdk-js/issues/474).

We are working on this issue right now. You can expect the fix will be released in the following weeks. After the fix is released, we should be able to support this kind of use case in Firefox, Safari.

[2021-05-29 09:04] hamaike-biz commented on #632
What's going on with this question?

[2021-05-29 10:55] abhimanusharma commented on #386
@ltrung I am getting message only on my local system and not on system of other user. I implemented it as it is given in
https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts

@barrazastark Can you help me out with this?

[2021-05-29 11:08] rlebosse commented on #1325
Thanks that's great news !

Actually, I'm facing problems with Safari and Firefox only.
With Chrome, I'm able to join the Meeting without selecting any authorized microphone.

[2021-05-29 11:25] gavandivya opened #1330 "Error: ENOENT: no such file or directory, open 'dist/meetingV2.html'"
### What are you trying to do?
trying to run npm run start:hot

I tried running npm run build, npm run start but I am getting the same error.

Error faced
----------------------------------------
Using index path dist/meetingV2.html
internal/fs/utils.js:307
    throw err;
    ^

Error: ENOENT: no such file or directory, open 'dist/meetingV2.html'
    at Object.openSync (fs.js:476:3)
    at Object.

[2021-05-29 13:08] abhimanusharma opened #1331 "ChimeMeetingLogs - failed with status code AudioJoinedFromAnotherDevice"
Here are my logs

[code]

**Meeting and attendee IDs:**
"AttendeeId": "2b3c935f-a146-6a6b-08b0-1dee15dc5e2f",
 "MeetingId": "b3e3521d-dc56-46c7-a6cb-830ba6c1519b",

**Timeline**
Outline the main actions the user performed and when:
After setup Audio and video input output devices, joined the meeting and generated a Meeting session.

* <timestamp> 2021-05-29T12:37:26.651Z <action> Initiated the mee

[2021-05-29 19:58] xuesichao commented on #1325
@rlebosse That's good, then this issue is consistent with the known one. We will keep you posted when the fix is out.

[2021-05-31 02:54] junedlanja commented on #1278
It was due to `meetingReadinessChecker` after selecting the video input device, I was calling the `checkVideoInput` method to check if the device has permissions and working. Internally `checkVideoInput` changes video input to `null` from the selected device.

Regarding the camera not switching it was due to the wrong deviceId was passed in some cases.

[2021-05-31 02:54] #1278 closed

[2021-05-31 05:37] paramonych opened #1332 "Error adding meeting observer. TypeError: Converting circular structure to JSON"
**Logs before error:**
2021-05-30T07:53:15.681Z [INFO] ChimeMeetingLogs - DefaultDeviceController video dimension 960 x 540
2021-05-30T07:53:15.683Z [INFO] ChimeMeetingLogs - Supported Constraints in this browser {"aspectRatio":true,"autoGainControl":true,"brightness":true,"channelCount":true,"colorTemperature":true,"contrast":true,"deviceId":true,"echoCancellation":true,"exposureCompensation":tru

[2021-05-31 14:47] lavluda commented on #1003
@nicklera1 can we please reopen this ticket and investigate. i can reproduce this issue using the Demo app.
Steps:
1. Join 2 user on safari
2. First make sure both users can hear each other
3. now open a new tab in the same browser window for User A
4. User B will not able to hear User A, until User A return to the Demo apps tab.

ps: opening a new window (not tab), the mic still works fine.
OS: M

[2021-05-31 15:46] abhimanusharma opened #1333 "Unable to run demo in Ubuntu 18.04"
Followed all steps mentioned in the docs. [Here](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser)

Tried commands:
[code]

Also tried
[code]

Tried to delete node_modules and package-lock.json

installed node-gyp globally.

getting below error:
[code]

Also atta
[2021-05-31T14_44_09_453Z-debug.log](https://github.com/aws/amazon-chime-sdk-js/files/6571271/2021-05-31T14_44_09_45

[2021-05-31 18:58] abhimanusharma commented on #1333
If anyone else is getting similar issue. I'm posting my resolution here.

here is how I solved this.
Earlier my nodejs version was @latest 16.1.0.

I downgraded my node version to recommended 14.1.0 and then ran the following commands,
[code]

After struggling for many days resolved it.

PS: In process of fixing the earlier issues I also set my default python to version 2.7 and had to install ruby

[2021-05-31 18:58] #1333 closed

[2021-06-01 03:54] abhimanusharma opened #1334 "ReferenceError: window is not defined at MessagingSessionConfiguration"
Trying to generate a meeting session at server end (NestJs),

Here my code:
[code]
evnConfig is working fine, and the parameters are correct.

I am getting below error.
[code]

[2021-06-01 07:22] jowe13 commented on #1309
Hi,

apparently it had nothing to do with any SDK functions being called early.
It was an issue with the reusing of video elements. The problem is solved for me.
It is also as fast as on desktop now in terms of meeting join times.

Thanks for your time and patience.

[2021-06-01 07:22] #1309 closed

[2021-06-01 10:51] abhimanusharma opened #1335 "Create a MessagingSessionConfiguration without userArn for non-registered users"
I want my meeting attendees to send each other messages without them actually registering on the application.
It is mentioned in the [faq](https://aws.amazon.com/chime/faq/) :

On the other hand, In documentation, it is mentioned [here](https://docs.aws.amazon.com/chime/latest/dg/connect-id-provider.html) You need to verify user identification in order for them to initiate a messaging session. Do

[2021-06-01 13:05] junedlanja opened #1336 "observer is removed but still getting called"
**Describe the bug**
I'm removing observer using `removeObserver` on meeting leave but observers are still called. I can see it's getting removed from `observerQueue` but still observer for `audioVideoDidStop` still being called. is it expected?

[2021-06-01 14:09] vsimeikoKG commented on #1317
Here is the reproduction steps:
1) Open Join Meeting Page and macOS Bluetooth devices tab.
2) Click "Join Meeting" and right away after clicking the button click on the desired device two times to connect it.
3) Wait until bluetooth device is connected, then switch back to meeting tab.
4) In console type `await audioVideo.listAudioInputDevices()` and then `await audioVideo.chooseAudioInputDevice("

[2021-06-01 17:36] XHatan commented on #1316
@jheising

Hi, Jim thanks for letting us know about this.
I am trying this out on the mobile devices I have but it does not seem to reproduce.
I guess this might be device related.

Before I can get a hold of a device, could you try change the lines here  https://github.com/aws/amazon-chime-sdk-js/blob/22b82e54beaa1aca6bfb583903edf22f31f86e4e/src/devicecontroller/DefaultDeviceController.ts#L1538-L

[2021-06-01 18:13] ltrung commented on #1334
@abhimanusharma The error `window` is not defined is because JS SDK is supposed to run in a browser environment. Specifically in this case, we use the crypto function of window to generate the session ID for the messaging session.
Is there a specific reason you want to do this in server? For now, you would need to fork the repo and change the crypto function to node's specifc one.

[2021-06-01 18:20] ltrung commented on #1330
@gavandivya The error means that the dist folder did not exist. Could you try to do the following steps?

1) In the root folder run `npm install`
2) In demos/browser, run `npm run start`

Let us know if it still doesn't work for you.

[2021-06-01 18:28] ltrung commented on #1331
@abhimanusharma Did you try to join the same meeting with the same attendeeId? `AudioJoinedFromAnotherDevice` usually means that the same attendeeId joins the same meeting more than once.

[2021-06-01 19:23] E5920 opened #1339 "issue with creating dynamic videoElement"
@michhyun1, i am facing issue with creating dynamic video element. my requirement is if user "A" local video is turned off then user "B" remote video element should be removed dynamically but not getting removed. pl check my code & correct me.

.html
    <audio class="session-audio"></audio>
    <video class="session-remote-video"></video>
    <video class="session-local-video" ></video>

.ts

 pr

[2021-06-01 19:38] gavandivya commented on #1330
Hello @ltrung It is not working
After following the above two steps mentioned by you.

The following error was thrown
Should start local server: true
Possible app: undefined
events.js:292
      throw er; // Unhandled 'error' event
      ^

Error: spawn webpack ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:269:19)
    at onErrorNT (internal/child_process.js:465:16)

[2021-06-01 19:42] gavandivya commented on #1330
OS - Windows10

node -v
v14.16.0

npm -v
6.14.11

[2021-06-01 20:27] Russelldan554 commented on #1318
We setup the videoNotReceivingEnoughData callback and had it pause the video tile. However the user is still initially removed from the session but then they come back and stay in the session after about 15-20 seconds. This is problematic as if anyone toggles their video again they would be kicked again. Also it seems like the videoNotReceivingEnoughData is continuously sending updates even after

[2021-06-01 20:50] michhyun1 commented on #632
I think @simmkyu answered the question in this issue: https://github.com/aws/amazon-chime-sdk-js/issues/613

Please let us know if you need any other clarification.

[2021-06-01 20:56] michhyun1 commented on #1310
@gsudhanshu i'll go ahead and close this first, @E5920 if there are any other issues, please reopen. I'm glad we were able to resolve this for you!

[2021-06-01 20:56] #1310 closed

[2021-06-01 21:21] michhyun1 commented on #1339
@E5920 please correct me if I'm wrong, but where do you actually remove any remote video tiles?

If your use case is to disable a remote video when a local video is disabled, then you need to have a domHide function too, right?

[2021-06-01 22:00] ltrung commented on #1313
Closing due to inactivity. Feel free to let us know if you still have issue.

[2021-06-01 22:00] #1313 closed

[2021-06-01 22:01] ltrung commented on #1272
@tylerlot Sorry for the late reply. I added more logging in #1329. Could you check out that PR and changes the log level to debug and give us the console log?

[2021-06-01 22:02] ltrung commented on #1306
Closing due to inactivity but feel free to let us know if you still have issue.

[2021-06-01 22:14] ldai1 commented on #1336
Hi,

Thanks for reporting the issue. Can you provide logs and more implementation details? There could be a race condition happening when dequeuing from this async observerQueue, but we need more logs to help debug this issue.

[2021-06-01 22:32] ltrung commented on #1317
@vsimeikoKG Could you reproduce the issue using our [meeting demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser)?
Also if possible, could you checkout PR #1329 and turn the Log Level to DEBUG and send us the log?
The usual cause of this is that this check for reusing existing input failed https://github.com/aws/amazon-chime-sdk-js/blob/master/src/devicecontroller/Defaul

[2021-06-02 03:57] #1339 closed

[2021-06-02 03:57] E5920 commented on #1339
.

[2021-06-02 05:37] abhimanusharma commented on #1334
@ltrung It is mentioned [here](https://github.com/aws/amazon-chime-sdk-js#getting-responses-from-your-server-application-1) in the documentation that the session has to be generated on the server. How to generate session on the client end when it is using so many sensitive information to generate one. Please tell me is the documentation wrong?

[2021-06-02 09:47] abhimanusharma commented on #1331
@ltrung Yes, I think so, Here is my code for that.

[code]

The details of `joinInfo.Meeting` and `joinInfo.Attendee` will remain same on every react component's `new DefaultMeetingSession`

I even tried to parse the meetingSession itself to dispatch and subscribe in other components but it will not work that way.

[2021-06-02 12:23] akash4chandran commented on #1284
Created CreateAppInstanceUser using aws javascript SDK(v2.916.0).

I am facing an issue(i.e. 4401 Error: Unauthorized) while establishing a connection to a web socket on the client-side as a postman(v8.5.1), after creating AppInstanceUser.

![Screenshot 2021-06-02 at 17 52 20](https://user-images.githubusercontent.com/35295545/120479304-6bd79500-c3cb-11eb-980b-7d24e73241de.png)

[2021-06-02 12:47] dpwspoon commented on #1335
Thanks for your feedback and interest.  We are actively working on documentation, demos, and blogs of how to use the Chime Messaging SDK.  The demos are farthest along and I would recommend referring to this [demo](https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/chat) as much as possible until we can improve our documentation.  I'm going to flag this ticket as documentation needed a

[2021-06-02 14:37] abhimanusharma commented on #1335
@dpwspoon Wow thank you so much for writing this great documentation in such short amount of time. I think this is going to help many beginners like me. \
I was trying pretty hard to understand the explanation you wrote until this like *The chat demo was originally written using Cogntio User Pools*
I believe Cognito Identity Pool or Cognito services will work only for the users that are already re

[2021-06-02 16:56] dpwspoon commented on #1284
@akash4chandran can you confirm that the WebSocket request from post man is signing the request via Sigv4?  If so is the signature on the headers or via query parameters.  The WebSocket server currently only supports Sigv4 signing on query parameters (not via headers), as browsers can only sign sigv4 via query params for WebSocket.

[2021-06-02 17:36] dpwspoon commented on #1335
For anonymous users you have 2 options

1) STS (as you indicated).  Yes, currently the demo shows this working as a lambda behind API gateway.  The code is quite small and is written in javascript.  You can run the same logic in any backend server you prefer.  The code is [here](https://github.com/aws-samples/amazon-chime-sdk/blob/main/apps/chat/src/backend/serverless/template.yaml#L611-L650) and

[2021-06-02 18:04] michhyun1 commented on #1003
I was not able to reproduce this. Here is the steps that I took:

1. User A - Join the meeting from a Phone (Chrome)
2. User B - Join the meeting from Safari (14.1) on Mac 10.15.7
3. User B - open a new tab and navigate to the new Tab
4. Speak into User B's mic while being on a different tab than the meeting demo
5. Verified that User A can still hear User B

Are you joining the meeting for both U

[2021-06-02 18:39] ltrung commented on #1334
Gotcha. That is incorrect on our part. That sample code is supposed to run on client. The documentation is now updated.
For your question on how to generate a session on client end, I believe @dpwspoon have already answered that in another thread https://github.com/aws/amazon-chime-sdk-js/issues/1335#issuecomment-852997545 so closing this issue for now. Feel free to post any other question on that

[2021-06-02 18:39] #1334 closed

[2021-06-02 18:53] ltrung commented on #1332
@paramonych Thanks for reporting. I do not think this is an issue with your createMeeting and createAttendee calls and probably just an issue with javascript packing.
Could you give more details about your setup and maybe a minimal step to reproduce your issue?

[2021-06-02 20:07] lavluda commented on #1003
@michhyun1 thanks for trying it. I did more test. And noticed, this problem only occurred when the speaking person has webaudio enabled at the join.

I used 2 mac for the test.