[2021-09-16 21:20] simmkyu commented on #1595
Yes, the Chime SDK for JavaScript allows up to two simultaneous screen shares in a single meeting. You can disable or enable screen sharing as many as you want.

⠀

You can use the `videoTileDidUpdate` observer method to track how many screen shares are enabled. When you or another attendee enables screen sharing, you will receive the `videoTileDidUpdate` observer method with a video tile object.

[2021-09-16 22:35] xuesichao commented on #1359
Hi @rlebosse, I would recommend you to try the `priorityBasedDownlinkPolicy` in this scenario. Check the doc [here](https://aws.github.io/amazon-chime-sdk-js/modules/prioritybased_downlink_policy.html).

The general idea is to use the `priorityBasedDownlinkPolicy` to update the `VideoPreferences` to drop the video sources that are not currently displayed on the screen. This can save your network b

[2021-09-16 22:40] simmkyu commented on #1600
The Chime server logs indicate that two attendees successfully turned on videos and viewed each other at around 06:34 and 06:40 (timestamps in your browser logs). You might have an issue binding a video tile object to video elements on your client application.

Both snippets do nothing when the video tile is not a local tile (`!tileState.localTile`). Ensure that you handle the case when `tileState

[2021-09-16 23:02] simmkyu commented on #1592
Currently, what I get is just a black screen. Is there some support to display the last frame shared instead?

No, the Chime SDK for JavaScript does not support displaying the last frame. The SDK uses the browser's [`getDisplayMedia` API](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getDisplayMedia) (or the `getUserMedia` API when the `sourceId` is provided, e.g., in Electron) to

[2021-09-17 01:01] BC-Mikey commented on #1591
Hi @simmkyu,
Thank you for the additional help & information!
We discovered some issues in our React application that was causing it to produce an exponential amount of re-renders and really ate at the browser's processing power. This seems to have been the cause of the issue because since resolving, we have not experienced them. I will close this issue and re-open with additional information & lo

[2021-09-17 01:01] #1591 closed

[2021-09-17 16:06] JGYaniv commented on #951
Using the solution provided by @yaghmaie above, the web socket fails to connect with the errors:

`DefaultWebSocketAdapter.js:28 WebSocket connection to 'wss://localhost:80/control/<MEETING_ID>?url=https%3A%2F%2Fsignal.<ALPHA_CHARS>.<ALPHA_CHARS>.app.chime.aws%2Fcontrol%2<MEETING_ID>%3FX-Chime-Control-Protocol-Version%3D3&X-Amzn-Chime-Send-Close-On-Error=1&X-Amzn-Version=2.15.0&X-Amzn-User-Agent=c

[2021-09-17 17:40] SSTPIERRE2 commented on #351
Hello, it appears our volume indicator callback is running twice per event, or we are getting a duplicate event each time.
![image](https://user-images.githubusercontent.com/19779234/133829845-78c8e22a-4546-42de-ae7a-6cbafed8502c.png)

1. In the screenshot notice the callback runs with the same exact args twice each time, is there anything we can do about this in our React application?
2. The call

[2021-09-17 17:41] yaghmaie commented on #951
@JGYaniv I need to review the solution and your comment carefully to be able to come up with something :sweat_smile: it may take a while

[2021-09-17 17:45] JGYaniv commented on #951
@yaghmaie no worries, since it does work now there is no rush and I appreciate any feedback. This thread has been extremely helpful already!

I was also wondering, do you think it is possible to also proxy the udp/tcp connection for the webRTC session using the urlRewriter?

[2021-09-19 01:02] husaindevelop commented on #1393
Sorry for replying so late, on initializing VoiceFocusDeviceTransformer.isSupported() static method. It replies false on checking the support for the feature. After going through documentation on browser + performance requirements, i found out that my current browser is enough capable to initialize voice focus feature.

For your information, i tested this feature on
Microsoft Edge Chromium, 93 Sta

[2021-09-20 02:03] mrnav90 commented on #1595
Hi @simmkyu

This is away check normal, it's mean Chime SDK do not support event for share screen limited?
Could you help add this event to feature request?

[2021-09-20 18:20] salsorrentino commented on #1521
How are you retrieving credentials? If you are using STS directly or Cognito you will definitely need the `X-Amz-Security-Token` in the url.

[2021-09-21 00:05] simmkyu commented on #1595
The current version of the Chime SDK for JavaScript (2.17.0) does not support the API on [videoAvailabilityDidChange ](https://aws.github.io/amazon-chime-sdk-js/classes/meetingsessionvideoavailability.html) to tell whether the attendee can start screen sharing. I added this issue to the feature request column on our project board and will keep you posted once the API is available.

[2021-09-21 01:45] rrosentratercarnow commented on #1259
@akshay-mirgal-i
I was able to get CORS working in the serverless demo by editing the headers in the `handler.js` `response` function:
[code]
Though I will mention that a lot of the POSTs in this demo use only querystrings so the issue may also be that you are trying to provide your params in the body of the request as JSON instead of using quesrystring params.

[2021-09-21 12:37] Sagar1219 commented on #1601
Thanks for the response,

Found this issue in a particular Chrome Browser ( on laptop ), where `await audioVideo.listAudioInputDevices();` is giving list of devices without the device Ids.

[code]
As a result, this is not working,
[code]
Same behaviour is their in case of `await audioVideo.listAudioOutputDevices();` and `await audioVideo.listVideoInputDevices();`

Browser version is latest: Versio

[2021-09-21 15:50] michhyun1 commented on #1601
From our FAQ:
`
The device controller includes an injectable device label trigger which allows you to perform custom behavior in case there are no labels, such as creating a temporary audio/video stream to unlock the device names, which is the default behavior.
`

Basically, sometimes we aren't able to retrieve the Device labels by simply calling listAudioOutputDevices() - it calls enumerateDevice

[2021-09-21 16:58] #1586 closed

[2021-09-21 17:03] #1515 closed

[2021-09-21 17:03] #1502 closed

[2021-09-21 17:04] vidya-mohan commented on #1536
Resolving as not response

[2021-09-21 17:06] #1555 closed

[2021-09-21 17:46] #1567 closed

[2021-09-21 17:57] #1359 closed

[2021-09-21 18:50] michhyun1 commented on #1601
For chooseAudioOutputDevice, some browsers just don't support selecting an audio output device. You'll need to check if supportSetinkId is true before calling chooseAudioOutputDevice.

https://caniuse.com/?search=setSinkId

[2021-09-21 18:52] michhyun1 commented on #1601
I'll close this issue now - feel free to reopen if you need any more guidance

[2021-09-21 18:52] #1601 closed

[2021-09-21 20:44] dpwspoon commented on #1521
All `'\n'` need to be `"\n"` and the hash_hmac needs to be binary for the signature key (https://www.php.net/manual/en/function.hash-hmac.php).

I believe the following changes should work:

[code]

I test above only with stubbing and local PHP interpreter and compared output strings (canonical request, signing key, request url) to the python code above by hardcoding both the PHP and python code t

[2021-09-21 21:00] dpwspoon commented on #1521
Tested end to end.  I'm going to close this.  Feel free to reopen if still having issues

[2021-09-21 21:00] #1521 closed

[2021-09-21 21:35] shriyajuneja opened #1609 "chooseVideoInputDevice fails without throwing any error on getting called continuously with different device id"
### What happened and what did you expect to happen?

I'm implementing flip camera feature, which calls chooseVideoInputDevice with two different device ids alternately
`await meetingManager.audioVideo?.chooseVideoInputDevice(deviceId);`
If this function is called continuously (3-4 times), chooseVideoInputDevice fails internally but doesn't throw any error and logs `No video device chosen, stoppin

[2021-09-22 00:19] nainkunal933 commented on #1543
Hi @ArtemZakharchuk,

Thank you for your patience. It seems like the root cause for this issue is that when the user switches the tab, chrome is reducing CPU allocation for that tab. I was able to verify the reduction in CPU allocation for the tab using Chrome's task manager.

Chrome added this behavior first in Chrome 57 under [optimising an application for background](https://developers.google.c

[2021-09-22 01:52] ReflexFox opened #1612 "realtimeSubscribeToReceiveDataMessage can't receive message before audiovideo.start"
### What are you trying to do?

I'm trying to build a waiting room before attendee audiovideo.start

Is there any way before attendee audiovideo.start to realtimeSubscribeToReceiveDataMessage？

[2021-09-22 01:54] ReflexFox commented on #1612
i try to use  audioVideo.start({signalingOnly: true }) But also can not receive any message

[2021-09-22 06:14] achronop commented on #1042
Sorry for the late response. I am afraid I am not the right person for this task. The AudioAttendeeRemoved that I have been working on is a new feature and it has not been enabled in JS SDK. It does not affect the existing behavior. Someone from JS SDK must take a look at this issue.

[2021-09-22 06:42] achronop commented on #1042
I will kindly assign it back to you @devalevenkatesh in order to trigger a new re-assignment of the ticket. However, I will be watching the issue and I will be available for further explanations if needed. Thanks.

[2021-09-22 10:59] anatolii-globalid opened #1613 "Screen sharing stops on Safari if mute/unmute using headphones"
### What happened and what did you expect to happen?

When on call, Screen sharing stops (screen share becomes black also video fade out ) if you press mute/unmute on your headphones (standard apple headphones, or other) - Mac / Safari.
Another case is when the Siri voice command opened and at the same time screen sharing become frozen

### Reproduction steps

1. Start audio / video call with a fi

[2021-09-22 15:49] ReflexFox commented on #1439
I need that too!

[2021-09-23 01:49] mrnav90 commented on #1595
@simmkyu
OK, thank you so much, I hope see it soon >:D<

[2021-09-23 16:42] sbcarp commented on #1548
Experiences (Not always) robot like sound on Safari 15 when VF is enabled, Chrome doesn't have this issue, the problem exists in sdk demo

[2021-09-23 17:26] cfalzone-victoria commented on #1548
The only workaround I've found is to set WebAudio to false for all safari versions. This seems to work but, indeed, bye bye Voice Focus. Never had this behavior in other browsers (even on Macs)

[2021-09-23 17:53] richnew10 commented on #1548
It's probably that Web Audio support in general uses a different code path in Safari, and you're seeing issues with that capability on low-end devices with older versions (and sometimes even newer versions) of Safari. VF requires Web Audio, but they're distinct features.

Safari is unfortunately not a great browser from a media/WebRTC perspective.

[2021-09-23 22:48] wanchenjade commented on #1588
Root cause is worker postMessage is not working correctly in sending WebAssembly module https://code.amazon.com/packages/ChimeNoiseSuppressionWeb/blobs/e1c6573d3062e992acce4346a20232ba9614343b/--/web/workers/worker-v1.js#L355

From Chrome 95 on webassembly module is not allowed to be put on postMessage. We need to find new way to pass in webassembly module.
https://developer.chrome.com/blog/wasm-m

[2021-09-24 08:31] vishnusankarkrishnan opened #1618 "Recorder user couldn't join the meeting (realtimeSubscribeToAttendeeIdPresence was not triggered) in Chrome & Edge"
### What happened and what did you expect to happen?

**What happened?**
I used the browser demo app
1. I started the meeting and joined as a regular user
2. And then I joined the meeting as a recorder user by appending record=true query parameter in the URL.
3. Meeting Recorder attendee was not listed in the roster for both users (`realtimeSubscribeToAttendeeIdPresence `callback was not triggeed)

[2021-09-24 17:14] michhyun1 commented on #1579
@JVanopbroeke thanks for reaching out - we don't support that browser yet, as you can see. I think WebRTC is probably already supported on that browser, but we just don't support it yet. I'll add a feature request and we'll begin to track this feature request on our side. Thanks a lot.

[2021-09-24 17:44] ltrung commented on #1609
@shriyajuneja Thanks for reporting this. Can you share us a code snippet of your flip camera function?

[2021-09-24 18:00] gornarf commented on #1579
Roger ;-) thanks

[2021-09-24 18:01] JVanopbroeke commented on #1579
Thanks a lot ;-)

[2021-09-25 16:14] tindevelopers commented on #998
We have a client who runs elder care facilities, and we are looking to use the functionality we built around the CHIME SDK to allow a patient to say press on a person's face/icon  or say  "call"_"recipient" or "video call"_"recipient" or  "call"_"group" or "video call"_"group"

[2021-09-27 04:22] ltrung commented on #1612
Unfortunately, sending data message requires the web socket connection that starts via `audioVideo.start()`.  You would need to set up your own websocket or using Chime Messaging SDK `https://aws.amazon.com/blogs/business-productivity/build-chat-features-into-your-application-with-amazon-chime-sdk-messaging/`.

[2021-09-27 09:03] Sagar1219 commented on #1044
Hi Chime Dev team,

Just to know, is this feature live or has support for this been added in latest version of this SDK ?

[2021-09-27 12:31] gsudhanshu opened #1621 "Audio input output devices not listed when using USB Headphone"
### What happened and what did you expect to happen?

While joining meeting using USB Headphone, I can hear the meeting voice but my voice is not audible to other attendees.

When I click on audio/video settings: my audio and video devices are not listed.

browser console logs:
Uncaught SyntaxError: Unexpected token 'export'
core.js:27932 Angular is running in development mode. Call enableProdMode

[2021-09-27 13:12] husaindevelop opened #1622 "Unable integrating voicefocus in chime sdk singlejs"
Continuing from the closed ticket #1393. With your help, we were able to integrate voicefocus code in the singlejs sdk code. But on initializing VoiceFocusDeviceTransformer.isSupported() static method. It replies false on checking the support for the feature. After going through documentation on browser + performance requirements, i found out that my current browser is enough capable to initialize

[2021-09-27 17:40] xuesichao commented on #1613
Hi @anatolii-globalid , thank you for bringing this up, could you please tell us that after pressing the mute button on the headphones, is user get disconnected from the meeting? And if you unmute yourself using headphone button, could it go back to normal after a few time (around 30s)?
Feel like the issue is that user get disconnected due to no audio signal when user uses headphone button to mute

[2021-09-27 18:03] nainkunal933 commented on #1543
Hi @ArtemZakharchuk,

Does the above response answer your question? Should I close this issue?

Thank you.

[2021-09-27 19:40] xuesichao commented on #1618
Hi @vishnusankarkrishnan , thanks for bringing this up. I can reproduce this issue in Chrome, Edge and Safari.
The issue seems related to autoplay policy. By enable the autoplay policy for the site, the issue is gone. We will look in this issue to figure out the rootcause.
Could you please try the below steps to avoid this issue for now?
* Chrome: Preference - Privacy and security - find the demo

[2021-09-27 19:51] devalevenkatesh commented on #1569
Hi @gsudhanshu ,

Could you please provide us with client JS SDK log from browser from the affected attendee?

The log above is not sufficient to root cause this issue. I also checked the backend events for the meeting:
`26675937-400e-4d37-b04e-000a197b0706` and see when an attendee leaves you may be deleting the attendee from the meeting as well.

Few more questions:
1. Are you are trying to re-j

[2021-09-27 19:59] devalevenkatesh commented on #1621
Hi @gsudhanshu ,

Thanks for reporting the issue. From the pasted logs, I could see that the attendee did not provide the audio video permissions to the browser hence the audio video devices could not be listed.

[code]

Could you please ask the attendee to provide the audio-video permissions once prompted while joining the Amazon Chime SDK meeting? That should solve this issue.

Please let us kno

[2021-09-28 01:05] michhyun1 commented on #1044
@Sagar1219 No it has not, feel free to check the changelog for any releases for features such as this.

[2021-09-28 11:18] gsudhanshu commented on #1621
hi @devalevenkatesh ,

thanks, the issue was permissions.

Is there a way through awschime-sdk-js that we can know if permissions are not granted for audio and video

Thanks!

[2021-09-28 16:50] devalevenkatesh commented on #1621
Cool, The JS SDK does not have any API to help with the permissions check.

I could find below API but it is still experimental and could not find a general available browser API:
https://developer.mozilla.org/en-US/docs/Web/API/Permissions/query

I am closing this issue now.

[2021-09-28 16:50] #1621 closed

[2021-09-28 19:18] richnew10 commented on #1588
Fixed in #1625.

[2021-09-28 19:23] richnew10 commented on #1622
Please provide browser console logs. Make sure to pass your logger to Voice Focus:

[code]

[2021-09-28 19:24] richnew10 commented on #1622
Make sure also that if you have a Content Security Policy applied to your page that you follow the Guide:

https://aws.github.io/amazon-chime-sdk-js/modules/amazonvoice_focus.html

[2021-09-28 20:42] dchen-aws commented on #1250
Sorry for getting back to you late on this one.

On the high level note, we are almost at browsers mercy to produce the video stream for screen capture and different providers may have different implementation. For Safari, the sudden drop in framerate can be caused by a number of different factors, CPU, bandwidth constraint or just encoder not able to keep up.

The graphs shared before seems to be

[2021-09-28 22:08] #1588 closed

[2021-09-28 23:34] devalevenkatesh commented on #1612
Closing this issue as we currently do not have a way to do this without the Amazon Chime SDK for JavaScript sets the WebSocket connection. Please feel free to re-open if you need more information.

[2021-09-28 23:34] #1612 closed

[2021-09-29 01:29] husaindevelop commented on #1622
Used the above code in the script to pass logs to browser console. Didn't seem anything buggy. Please check the following screenshot:
![image](https://user-images.githubusercontent.com/62126860/135187190-bb580959-b9e4-4bb6-840a-896ccc7d1342.png)

To be very precise, the only js script i'm calling in the page is bundled amazon chime single sdk js:
<script src="https://mbracecloud.com/amazon-chime-s

[2021-09-29 02:25] rnewman commented on #1622
You’re not getting the logs I would expect from a correctly parameterized call to the transformer — indeed, you are hardly getting logs at all.

I can see that that minified file is from SDK 2.1.0, which is about a year old and is not supported. Please try again using the meeting demo in the current repo; if you can repro in Edge I would be very interested to know.

[2021-09-29 10:17] anatolii-globalid commented on #1613
I’ve been able to replicate this share screen freeze a couple of times, however the steps do not work for me every time. Note that I haven’t been using any specific apple headphones, but was able to do it with my old Samsung wired earphones.

The problem seems to be connected with Siri voice command which opens up when I press the mute/unmute (or play/pause) button on the earphones and at the same

[2021-09-29 16:46] #1543 closed

[2021-09-29 17:03] albrich-me opened #1630 "Cloud9 low disk space and JavaScript heap out of memory"
### What are you trying to do?

When following the directions to install the serverless demo, it appears to run out of disk space causing a variety of errors (unfortunately not captured).  After running the script in https://docs.aws.amazon.com/cloud9/latest/user-guide/move-environment.html under Resize an Amazon EBS volume used by an environment, I then got a JavaScript heap out of memory error.

[2021-09-29 17:09] paul365 opened #1631 "Is 25 video tiles enabled by default now?"
### What are you trying to do?
Hello, I'm trying to use the 25 video tiles feature. Is this enabled by default now or do we need to request an increase? Also if it's possible to have more than 25 video tiles and how many are possible?

### How can the documentation be improved to help your use case?
Describe it more in the documentation.

### What documentation have you looked at so far?
README.md

[2021-09-29 18:39] xuesichao commented on #1613
@anatolii-globalid Thanks for you clarification, I am able to reproduce this issue by joining a meeting and then launch Siri.

#### Reproduce Step
1. User A joins the meeting via Mac
2. User B joins the meeting via iPhone Safari
3. Both users open the Camera
4. User B holds the battery button to launch Siri
5. User B's all video tiles (remote and local) freeze (go blank) immediately, there's a ora

[2021-09-29 18:46] devalevenkatesh commented on #1630
Hi @albrich-me ,

Thanks for reporting this issue, we currently in the README do not have any Cloud 9 instructions to setup the demo and we would appreciate your help if you could put a PR to update the serverless deployment README instructions with deploying the serverless demo using Cloud 9 setup instructions.

[2021-09-29 18:57] devalevenkatesh commented on #1559
Hi @gsudhanshu ,

The attendee ID you provided is an external User ID and not the attendeeID which you would receive from the `CreateAttendee` API. The earlier provided attendee IDs are also not the expected ones as @michhyun1 commented earlier.

Could you please clarify few questions below?
1. Was this the only participant that experienced issues?
2. How frequent is this behavior?
3. We would nee

[2021-09-29 19:02] devalevenkatesh commented on #1631
Hi @paul365 ,

We support up to 25 video tiles and should be enabled by default. Please let us know if you are experiencing any issues with it. If you have a use case where you would like more video tiles, we would like to learn more about it.

Request you to come through the AWS support for the same. Closing this issue now.

[2021-09-29 19:02] #1631 closed

[2021-09-29 20:39] devalevenkatesh commented on #1613
Thanks @xuesichao for the repro steps. I could reproduce this using the JS SDK meeting demo. But, this looks like a general behavior with WebRTC related apps.

I tested on below WebRTC official github sample and could repro the same behavior for video feed:
- https://webrtc.github.io/samples/src/content/devices/input-output/

This is also irrespective of browsers I think. I used iOS Chrome (94.0.4

[2021-09-29 21:20] devalevenkatesh commented on #1618
hi @vishnusankarkrishnan ,

We recently released a new media capture feature recently which might suit your use case more.

Request you to please go through below blog to get more information on media capture:
https://aws.amazon.com/blogs/business-productivity/capture-amazon-chime-sdk-meetings-using-media-capture-pipelines

[2021-09-29 21:34] devalevenkatesh commented on #1600
Hi @Sagar1219 ,

As Kyu suggested and explained that you are not binding the video element when you receive the video tile state update for the remote attendee, you ignore by returning once you check `!tileState.localTile`.

There, you should still bind the video element for remote attendee.

For more information you can check our demo implementation:
https://github.com/aws/amazon-chime-sdk-js/blo

[2021-09-29 21:34] #1600 closed

[2021-09-29 22:13] devalevenkatesh commented on #1560
Closing this issue due to no activity, please feel free to re-open and provide more details.

As stated earlier, if no permission is given, I think  the `enumerateDevices` wont list any devices as well as choosing video input device would fail.

Before, calling `chooseVideoInputDevice` you must also call `listVideoInputDevices`. Please go through our FAQs, and README use cases to learn more.

[2021-09-29 22:13] #1560 closed

[2021-09-29 23:39] ltrung commented on #1602
This should be fixed in PR https://github.com/aws/amazon-chime-sdk-js/pull/1617 so closing the issue.

[2021-09-29 23:39] #1602 closed

[2021-09-30 01:40] devalevenkatesh commented on #1561
Hi @gsudhanshu ,

The attendeeId you provide in the issues is in-correct, could you please provide us the attendeeId that you receive when you call `CreateAttendee` API. I do not know and cannot map your provided attendee to anything on our side. A typical attendee ID should look like: `88b2dd42-6227-74e4-fb49-9e643ab4decc` (one attendee from your meeting).

We would also need some more details li

[2021-09-30 11:54] gsudhanshu opened #1633 "video not able to enable on 1 system in 1:1 video call"
### What happened and what did you expect to happen?

received following error in browser console log:

Failed to choose camera: TypeError: Failed to execute 'getUserMedia' on 'MediaDevices': At least one of audio and video must be requested in  Object
eventDidReceive @ call-video.component.ts:50

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazo

[2021-09-30 15:33] hungnguyen1412 commented on #923
@ltrung sorry, can we run the readiness checker without creating a Session?

[2021-09-30 15:35] ltrung commented on #923
@hungnguyen1412 You can run checker for local audio, video, and speaker without creating an actual session (by passing in a dummy meeting join info).

[2021-09-30 15:57] #1630 closed

[2021-09-30 19:41] devalevenkatesh commented on #1633
Hi @gsudhanshu ,

Could you please provide full browser logs for the attendee? From the error you pasted it seems like a permission issue as of now and user did not grant audio video permissions to browser when prompted. Request you to once check on that.

[2021-10-01 01:42] hungnguyen1412 commented on #923
@ltrung thank you but how the dummy meeting join info? Cause i tried but it's not working.
And we can't run the checker for the content share, network, bandwidth without creating an actual session, right?

[2021-10-01 09:32] Nanosync opened #1636 "DefaultVideoTransformDevice is not removing observer correctly"
### What happened and what did you expect to happen?

In the file `DefaultVideoTransformDevice.ts:162`, the function `removeObserver` is adding the same observer that was removed. It should call `this.observers.delete(observer)`.

[code]

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.

[2021-10-01 15:01] anatolii-globalid commented on #1613
Hi @devalevenkatesh. Thanks for reply.
1. There was no issues on WebRTC demo
2. In my case frozen means a snapshot of screen (user A browser Safari) without any reflection of shared screen (user B Chrome). Though one of my collages managed to reproduce the same behaviour you described (black screen), it happens occasionally and hard to reproduce.
3. Yes, and that is literally a frozen screen after

[2021-10-01 21:26] michhyun1 commented on #1636
Thanks for bringing this up - we've applied the changes accordingly and it will be released with our next release. Thanks

[2021-10-01 21:26] #1636 closed

[2021-10-02 01:07] husaindevelop commented on #1622
Should i rebundle the single sdk js again using npm from command. Because i tried installing meeting v2 demo earlier, but couldn't do it on my linux server.

[2021-10-02 14:48] vishnusankarkrishnan commented on #1618
I tried the suggested solution and it works as expected. @xuesichao.

[2021-10-02 14:49] vishnusankarkrishnan commented on #1618
Sure @devalevenkatesh. I will try the new solution as suggested by you.

[2021-10-03 03:34] richnew10 commented on #1622
If you followed the instructions to run the demo and hit problems, please file an issue for that.

If you are bundling the SDK into a JavaScript file to load via a script tag, then yes, you will be responsible for rebuilding that script as new versions are released and old versions are deprecated.

[2021-10-04 10:23] Sagar1219 opened #1639 "I'm trying to build a waiting room before meeting starts."
### What are you trying to do?

Hi Team,

I am trying to build scheduled meeting feature with Chime SDK. As this feature is not supported currently by this API, I am building this with the help of my application. (As read [here](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#can-i-schedule-amazon-chime-sdk-meetings-ahead-of-time))

Use Case is:

Once the user clicks on the meeting inv

[2021-10-04 18:12] vidya-mohan commented on #295
Right now you cant @hungnguyen1412 - we do create a meeting as those URls are not something you can take a dependency on - they are particular to a region and ephemeral. The point of that check is to do end to end connectivity not local checks.  For bandwidth - that can change over the course of a session and may not be useful check prior to joining a meeting unlike other checks so please add deta

[2021-10-05 03:05] devalevenkatesh commented on #1639
Hi @Sagar1219 ,

We had got a similar request earlier but since the implementation logic varies use-case to use-case we do not have a concrete documentation on a waiting room feature. Going through your issue, though it is a bit different, it is quite similar to what we discussed in the below issue.
#1424

Request you to please go through the issue comments to get some general implementation idea.

[2021-10-05 11:48] gsudhanshu opened #1643 "removeObserver on audioVideo does not work"
### What happened and what did you expect to happen?

I created a preview component and added it as an observer to meetingsession.audioVideo.addObserver

Then when the component was closed, I used removeObserver and moved to another component conference. now, I added conference as an observer.

Problem: Even after using removeObserver, I am getting updates in videoTileDidUpdate in both Preview com

[2021-10-05 12:23] gsudhanshu opened #1644 "Not able to enable localvideotile"
### What happened and what did you expect to happen?

I am trying to add a preview screen for audio video settings into my conference application

In the preview screen the video shows fine, but when I move from preview component to conference component the local video tile would not appear.

I am getting this error in log:

Failed to choose camera: OverconstrainedError in
{attendeeId: '2c0127be-8

[2021-10-05 15:56] richnew10 commented on #1643
Can you reproduce this issue with the current version of the SDK? 2.4.1 is nine months old and no longer supported.

[2021-10-05 16:00] richnew10 commented on #1568
Fixed by #1577.

[2021-10-05 16:00] #1568 closed

[2021-10-05 18:27] devalevenkatesh commented on #1639
I found below AWS blog which explains multi-meeting management which might be useful here:

https://aws.amazon.com/blogs/business-productivity/multi-meeting-management-with-the-amazon-chime-sdk/

[2021-10-05 19:07] devalevenkatesh commented on #1643
Checking if you are implementing adding-removing the observers based on a reference?

[code]

[2021-10-06 01:33] gsudhanshu commented on #1643
@devalevenkatesh based on 'this'

My class implements audiovideoobserver

[2021-10-06 01:35] gsudhanshu commented on #1644
@ldai1 that is exactly my concern, as the error has the word 'unavailable'

[2021-10-06 01:36] gsudhanshu commented on #1644
@ldai1 i am doing this: Could you ensure that you pass the device ID from the response of listVideoInputDevices API?

[2021-10-06 02:46] gsphyo91 opened #1647 "The issue where the videoTileDidUpdate Observer does not run"
### What happened and what did you expect to happen?

When multiple users access one meeting session at the same time, the videoTileDidUpdate Observer sometimes does not run.

I made the tileState to be displayed with the Console Log, but sometimes the log is not displayed.

However, if the user is disconnected, videoTileWasRemoved is executed.

I don't know how to reproduce it and what causes the

[2021-10-06 07:05] OasisLiveForever opened #1648 "Allow 30fps in simulcast uplink policy"
Hello,

I saw that in recent commit it will be possible to pass in custom simulcast uplink policy.
Will it also be possible to set 30fps for simulcast?

Thanks.

[2021-10-06 07:46] shanmugavel28 commented on #1011
@vidya-mohan @tenge-amzn  This is really interesting feature that removes operation overhead to record the media stream. Dumping stream to S3 is great, I am looking for an option to import chime media stream directly to Kinesis / sagemaker for analytics in real time (to avoid read and write operation to S3). the previous method of always on bot EC2 is the only way to get the stream?
Thanks!

[2021-10-06 07:49] tenge-amzn commented on #1011
Not yet, but we're planning it.. no timeline yet.

[2021-10-06 15:36] shriyajuneja commented on #1609
[code]

[2021-10-06 15:45] vidya-mohan commented on #1011
@shanmugavel28 please open a community request for a new feature suggestion. We have a template for it

[2021-10-06 17:11] benjamhawk opened #1651 "mediaCapturePipleine screen share recording is missing last 5-10 seconds"
### What happened and what did you expect to happen?

We have one user that broadcasts video, audio, and screen share to multiple users.
We are recording the stream using createMediaCapturePipline method and we are using the React chime library for our UI.

Generally, the artifacts are uploaded to S3 as:
 /audio (audio and video mp4)
/video  (screen share files)

The issue is that the screen share

[2021-10-06 18:54] ldai1 commented on #1644
Cool, let me your progress and any new findings you get.

[2021-10-06 19:34] ltrung commented on #1648
@OasisLiveForever Yes, you just need to update this [chooseMediaTrackConstraints](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/videouplinkbandwidthpolicy/DefaultSimulcastUplinkPolicy.ts#L180) to set 30fps.

[2021-10-06 21:42] ldai1 commented on #1643
Hi @gsudhanshu Have you checked the latest version of SDK? Can you still reproduce the issue?

Also, I am wondering how you implement the observer. Did you call`meetingSession.audioVideo.removeObserver(observer)` to remove the observer? We have a adding and removing observer guide here in [Readme](https://github.com/aws/amazon-chime-sdk-js/blob/master/README.md#starting-a-session) which perhaps ca

[2021-10-06 22:35] richnew10 commented on #1518
Resolved in #1620.

[2021-10-06 22:35] #1518 closed

[2021-10-07 00:26] benjing opened #1653 "Iphone Audio low after IOS update"
### What happened and what did you expect to happen?

We have been using chime sdk js since August

Just recently we have noticed that the newest IOS update for iPhone has made the audio come out softer than it usually does. We tested using iPhones with older IOS versions like 14.7 and 14.0 and the sound comes through the speaker and is louder than when using IOS 15.

we believe it might be that i

[2021-10-07 03:07] OasisLiveForever commented on #1648
@ltrung Will I have to reimplement the entire uplink policy or will I be able to inherit from DefaultSimulcastUplinkPolicy and override only chooseMediaTrackConstraints method?

What about chooseVideoInputQuality method? Does it have effect when using simulcast?

[2021-10-07 16:07] richnew10 commented on #1356
Chrome 91 and earlier had [issues with Bluetooth audio devices](https://bugs.chromium.org/p/chromium/issues/detail?id=1173656). This was fixed in Chrome 92. Resolving.

[2021-10-07 16:07] #1356 closed

[2021-10-07 22:32] gsudhanshu opened #1657 "Attendee not able to hear or view any remote tiles if he mutes and turns off camera"
### What happened and what did you expect to happen?

We have added a preview screen and in the preview screen if the attendee mutes himself and turns off his camera, then he is not able to hear anyone else and also cannot see any of the remote tiles as well.

Screen flow:
Attendee enters the application ->waiting room->preview screen->conference

Steps to reproduce:
1. 1st attendee joins and ente

[2021-10-07 22:38] gsudhanshu opened #1658 "Preview screen"
I am adding a preview screen to my conference application

Currently I am starting the meeting in the preview screen itself. I wanted to know if there is a way to show preview screen without starting a meeting?

Current documentation does not have any info on preview screen

[2021-10-08 09:35] Nanosync opened #1660 "DeviceController audio memory leak"
### What happened and what did you expect to happen?

I was profiling a simple React component that only imports the chime JS sdk. It simply creates a new DefaultDeviceController when mounted, and calls the `.destroy()` method on unmount.

It seems that `AudioBufferSourceNode` persists and a new one is created every time the component is mounted.

This was discovered using heap snapshots in Chrome

[2021-10-08 21:16] richnew10 opened #1661 "Links in guides point to incorrect code locations"
https://aws.github.io/amazon-chime-sdk-js/modules/qualitybandwidth_connectivity.html#choose-a-lower-local-video-quality

Click `chooseVideoInputQuality`. Wrong location.

[2021-10-08 23:36] ldai1 commented on #1661
Good catch. Addressed the issue in this pr: https://github.com/aws/amazon-chime-sdk-js/pull/1645

[2021-10-08 23:40] ltrung commented on #1648
You only have to inherit from `DefaultSimulcastUplinkPolicy` and override `chooseMediaTrackConstraints`. Make sure to specify that in meeting configuration.

Currently simulcast ignores `chooseVideoInputQuality` so that API only specify the capturing for the stream from the camera.

[2021-10-11 04:43] minhdao88 opened #1662 "Chrome iOS supported version documentation"
### What are you trying to do?
I'm trying to check if the browser is supported to use Chime js SDK. In the documentation, I can see it states that iOS Chrome supported versions is `10.0 and later` which is confusing a bit.
<img width="1012" alt="Screen Shot 2021-10-11 at 11 41 51 AM" src="https://user-images.githubusercontent.com/2589963/136734280-a1132a4f-3b5a-4b9c-ac88-470b4c4a31a6.png">

Is it

[2021-10-11 17:14] michhyun1 commented on #1643
@gsudhanshu it seems that the issue you mentioned has been closed - is there anything you are waiting on to migrate to the latest version?

[2021-10-11 17:42] ldai1 commented on #1662
Hi,

Thanks for reporting the issue. You are right, the version info is not correct for Chrome on IOS. It should be `78 or later`. We will make sure to update it in the developer guide. Thanks for help us catching issues!

[2021-10-11 17:42] #1662 closed, assigned to nobody

[2021-10-12 00:36] gsudhanshu commented on #1643
Will migrate after 14th

[2021-10-12 02:59] alhambra1 opened #1664 "tileWillBePausedByDownlinkPolicy received when remote attendee turns off video"
### What happened and what did you expect to happen?

We can replicate this consistently with three participants. Have the remote attendee turn off video using `meetingSession.audioVideo.stopLocalVideoTile()` and the local client receives three callbacks:
[code]
Expected behaviour (we think) would be to only receive the last of the three callbacks.

### Have you reviewed our existing documentation

[2021-10-12 12:09] ArtemZakharchuk commented on #1543
Hi, @nainkunal933 Thanks for your answer!  I will take a look at your workaround, is it suitable for me.

[2021-10-12 12:15] shriyajuneja commented on #1609
running into same error with just `await meetingManager.audioVideo?.chooseVideoInputDevice(deviceId);` as well

[2021-10-12 19:07] ldai1 commented on #1643
Close the issue for now. Feel free to re-open it if you still see the issue.

[2021-10-12 19:07] #1643 closed

[2021-10-13 07:31] gsphyo91 opened #1665 "The Audio Output Device does not change."
### What are you trying to do?

When joining a meeting, I'm making the part that sets up the device.
I got a list of devices using `listAudioOutputDevices()`, and the list contains a total of 4 devices.

I am trying to change the device using `chooseAudioOutputDevice()` and check if the device works well using the Audio file.

However, the device does not change even if `chooeseAudioOutputDevice()

[2021-10-13 08:13] gsudhanshu opened #1666 "How to know if audio is muted or not for a chime attendee id"
is there a way to know if a given chime attendee is muted or not?

we are trying to show mute/unmute status of all attendees to host

[2021-10-13 11:57] Oamarbat opened #1667 "Video content sharing doesn't work but screen sharing works."
I am using Chime JS SDK demo.
When I share video file, it shows only black screen in attendee's side.
Screen sharing works properly
![org](https://user-images.githubusercontent.com/26751080/137128063-8d47610d-83d0-4eed-b2e3-1b4bc5ab728b.png)
![black](https://user-images.githubusercontent.com/26751080/137128065-6884bd6a-eb2a-4e31-904a-aefa050790cd.png)
.

[2021-10-13 16:16] #1666 closed, assigned to nobody

[2021-10-13 16:52] ltrung commented on #1664
This should be fixed by https://github.com/aws/amazon-chime-sdk-js/pull/1656 in the upcoming SDK release.

[2021-10-13 18:10] ltrung commented on #1283
No a single throttled message does not disconnect the signaling client. It just means you reached the soft limit on our backend as detailed above (100 messages per second with the maximum burst size of 200 for a meeting).
The client disconnected only once you reached the hard limit.
I would think if you could control your rate to stay below that soft limit which should prevent this issue in the fi

[2021-10-13 19:08] benjamhawk commented on #1651
Thanks for the reply. It appears to be happening in every meeting and is usually around 5-10 seconds that is cut off from the end

[2021-10-13 21:22] #1250 closed, assigned to nobody

[2021-10-13 23:02] benjing opened #1676 "Chime media pipeline recording video for each attendee is missing last 5-10 seconds"
### What happened and what did you expect to happen?

We get the attendees to start the meeting and join, they then start the recording it shows that it has started recording and files start appearing in s3.

S3 folder structure:
/audio(combined audio of all attendees
/video(video files for each attendee)

They then end the recording.

Looking at the audio folder it captures the audio for the whol

[2021-10-14 02:58] dathacky opened #1679 "Did not receive event 'meetingReconnected' in version chime sdk 2.18"
### What happened and what did you expect to happen?

I updated to chime version 2.18, and used [reconnect](https://aws.github.io/amazon-chime-sdk-js/interfaces/audiovideocontroller.html#reconnect) but don't receive event 'meetingReconnected' with 'eventDidReceive'

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQ

[2021-10-14 05:13] ltrung commented on #1665
I did not see `bindAudioElement` from the log you posted. Have you called it before? Did you hear any audio before switching the audio output?

[2021-10-14 05:57] ltrung commented on #1653
Thanks @benjing for reporting the issue. As @ElielCohen has pointed out this is a regression in iOS 15. I have put this in our known issue #1059 to track it there so I will close this one.

[2021-10-14 05:57] #1653 closed

[2021-10-14 06:48] dathacky commented on #1679
in version 2.16 i just call audioVideo.audioVideoController.reconnect() and still work. So what status should I pass to get 'meetingReconnected'

[2021-10-14 07:37] dathacky commented on #1679
Thank you, I had success with
[code]
but on the remote side, I no longer get the video, and on the local side get the following log
`[WARN] CallingChimeLogs - the volume indicator adapter cleans up the current attendee (presence = false) after reconnection`

[2021-10-14 16:43] ltrung commented on #1679
You can ignore that warning in 2.18.
I am not sure about the video part though. If you reconnect, the video will stop sending so the remote will not be able to see it anymore so seem like expected to me.
Also just curious, why do you need to call reconnect manually? reconnect is an internal API and developers should not need to call it manually.

[2021-10-14 21:38] #1667 closed, assigned to nobody

[2021-10-14 23:54] markcadag opened #1683 "Mic volume control using vanilla js"
### What are you trying to do?

Control user's mic volume in a meeting session

### How can the documentation be improved to help your use case?

Include a demo using this SDK to control volume

### What documentation have you looked at so far?

https://aws.amazon.com/blogs/business-productivity/transforming-audio-and-shared-content-in-the-amazon-chime-sdk-for-javascript/

Thank you

[2021-10-15 01:51] dathacky commented on #1679
@ltrung
I have investigated in both versions 2.16 and 2.18, after successfully reconnected, I can't receive the video. About 2 weeks ago, version 2.16 after reconnected, the remote still received the video. This error I'm pretty sure happened 2 weeks ago and I didn't edit any lines of code.
We provide a reconnect button for users so they can manually reconnect, and when that button is pressed, the

[2021-10-15 22:19] #1676 closed

[2021-10-15 22:19] tenge-amzn commented on #1651
This should be fixed. Let us know if you still see the issue

[2021-10-15 22:19] #1651 closed

[2021-10-16 00:21] ltrung commented on #1683
Please refer to https://github.com/aws/amazon-chime-sdk-js/issues/1391 as this seems like the same question.

[2021-10-16 00:22] #1683 closed, assigned to nobody

[2021-10-18 17:26] ltrung commented on #1533
@qamrulhaque Please check out #1686 that will add background blur to JS SDK.

[2021-10-18 17:34] michhyun1 opened #1690 "Implement Background Blur functionality"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-10-19 00:13] rixiang-dev opened #1691 "Deprecating Plan B SDP for Chromium-based browsers"
# Tell us about your request
## What do you want us to build?
Which Amazon Chime SDK or feature area is this request for?
[amazon-chime-sdk-js](https://github.com/aws/amazon-chime-sdk-js)

## Tell us about the problem you are trying to solve and why is it hard?
Chromium has deprecated Plan B SDP and is removing it in release M96 (https://groups.google.com/g/discuss-webrtc/c/UBtZfawdIAA/m/m-4wnVHXB

[2021-10-20 02:41] alhambra1 opened #1694 "Toggling video can result in no remote video"
### What happened and what did you expect to happen?

We can easily replicate this in our web-based meeting room, using Chime 2.19.0 on Chrome with simulcast -- have one participant toggle their video off. Wait a few seconds (we waited around 5-10 seconds), then toggle it back on. Some or all participants do not receive a callback updating the remote tile with the returning stream. A second oddity

[2021-10-20 10:55] LouisMx opened #1695 "Enhance the audio quality while sharing only the sound (or with the video)"
### What are you trying to do?

*I'm trying to have the best possible audio quality, if the presentator wants to share his audio output stream. For example: sharing a music during the meeting.*

### How can the documentation be improved to help your use case?

*Is there another part than `setContentAudioProfile(AudioProfile.fullbandMusicMono()` and `mixIntoAudioInput(stream)` ?
Theses parts do not

[2021-10-20 14:47] Qocotzxin opened #1696 "Error when switching video device in Samsung A72 (Android 11)"
### What happened and what did you expect to happen?

During pre meeting everything seems to work as expected when switching cameras in my Samsung A72 device which has 4 options (2 cameras, front and back for each one). But once I enter the meeting and try to switch the video device from there (it uses exactly the same function as in pre meeting) I get an error:
<img width="1008" alt="Screen Shot

[2021-10-21 08:20] E5920 opened #1701 "facing issue on muted"
### What happened and what did you expect to happen?

@ltrung @michhyun1 @devalevenkatesh @simmkyu  , i am facing issue when remote user turned off their mic but in host screen mic turned off status is not updating. my requirement is when remote user turned off mic then host can able to see mic turned off on atteedee list section.
we are trying to show mute/unmute status of all attendees to host.

[2021-10-21 11:29] E5920 opened #1702 "How to know if screen is shared or not for a chime attendee id"
@ltrung , is there a way to know if a given chime attendee is screen shared or not?
we are trying to show screen share status of all attendees to host

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws/am

[2021-10-21 16:25] mark-vanr opened #1703 "Inbound stream shows no video for active tile"
### What happened and what did you expect to happen?

During an ongoing meeting, an attendee left briefly and then and re-joined, with their camera enabled. On my client I received the video tile update events and bound the stream to a tile, but the stream didn't appear to start -- webRTC metrics showed 0 inbound bitrate/framerate. This sometimes happens during meetings and resolves after a few se

[2021-10-21 17:30] #1702 closed, assigned to nobody

[2021-10-21 17:35] devalevenkatesh commented on #1695
Hi @LouisMx ,

Thank you for the issue. We had a blog post in the past about transforming audio with Amazon Chime SDK for JavaScript, so linking it here:
https://aws.amazon.com/blogs/business-productivity/transforming-audio-and-shared-content-in-the-amazon-chime-sdk-for-javascript/

Sorry, I am not sure, if this suits your use-case, but hope it helps.

[2021-10-22 07:37] ankit-maheshwari opened #1705 "Add tiles with attendee name for attendees without video"
Hi,

Currently, we can only show/bind tiles for attendees whose videos are available. There are no tiles available for attendees w/o camera feed.

I would like to know, how to show tiles with attendee names (please refer to the below screenshot) for all the attendees participating in a meeting session. Also, these tiles should update and show participant video feed as soon as participants switch o

[2021-10-22 15:27] mark-vanr opened #1707 "Add a do-not-pause priority for priority-based downlink policy"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.

# Tell us about your request
## What do you want us to build?
Which Amazon Ch

[2021-10-23 00:15] ltrung commented on #1705
@ankit-maheshwari There is no direct API to achieve this currently but could you use [getAllRemoteVideoTiles](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/audiovideofacade/DefaultAudioVideoFacade.ts#L132) API to retrieve the list of remote video tiles and from there get the list of attendees with videos. Then you can just display placeholder image for attendees with no video. Will th

[2021-10-23 00:20] #1690 closed

[2021-10-23 01:07] SeanRenet opened #1709 "InvalidAccessKeyId ?"
### What happened and what did you expect to happen?

I am trying to deploy the serverless demo and I keep getting this error...

[code]

I use aws_cli all the time and amplify so I know my configuration is correct.  Where in the code is the function pulling access key id and the secret?  It does not seem to be reading my .aws folder

Thanks in advance for the help.

### Have you reviewed our exis

[2021-10-24 14:42] BissacM opened #1710 "Unable to launch camera when using chime on iOS 15.1 and iPadOS 15.1 web browser"
### What happened and what did you expect to happen?

Trying to toggle (OFF  --> ON) the video camera.
The video blinks for a second
then the page refreshes and a black background appears
with a message : "a problem repeatedly occurred on...."

![iOS_15 x_chime_camera_issue](https://user-images.githubusercontent.com/15155243/138598294-addeae52-d26a-45f8-a925-262a254a4ee6.jpeg)

### Have you review

[2021-10-24 17:40] kimbuba opened #1711 "Lobby for device management with deferred createMeeting"
### What happened and what did you expect to happen?

Hello, i'm trying to build a lobby screen, pre-meeting.
In the lobby users can spend time to choose their devices and decide to hop into the meeting when they see fit.
ie: they could stay in the lobby for more than 5 minutes.

I don't want to do a createMeeting/createAttendee when the user lands in the lobby because the meeting can expire in 5

[2021-10-25 20:49] majo35-6c opened #1715 "Did not receive event 'attendeePresenceReceived' in version chime sdk 2.19, 2.20"
### What happened and what did you expect to happen?

## Only in Chrome on Windows and Android

attendeePresenceReceived event is not Received when user join or leave meeting and join again to the same meeting.
App waiting for this event => then update roster

When attendeePresenceReceived event is not received, then chrome`s tab is frozen.

When user joins the meeting, realtimeSubscribeToAttendee

[2021-10-25 21:53] xuesichao opened #1716 "Video layout implementation guide"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-10-25 21:56] #1716 closed, assigned to nobody

[2021-10-26 06:29] husaindevelop opened #1719 "Can we run meeting demo from remote server"
Just a doubt from my end, the documentation in meeting demo primarily points to localhost installation. But all the requirements stated in documentation include node server, npm is installed in my remote server only. I wanted to know whether we can run meeting demo from the remote server itself instead of localhost as pointed out in the documentation ?

[2021-10-26 09:14] husaindevelop opened #1720 "Unable integrating voicefocus in chime sdk single js"
Continuing from issue #1622, which is closed.

As suggested by the admin in the ticket, we removed the old stable release of amazon chime sdk and rebundled the latest version of amazon chime sdk single js.  But despite that, on initializing VoiceFocusDeviceTransformer.isSupported() static method. It replies false on checking the support for the feature. Even the logs are displaying the same result

[2021-10-26 12:51] felipenandz opened #1721 "Plug off headphones while in call interrupts the input stream with Smartphones ( Android - iOS )."
### What happened and what did you expect to happen?

Trying to plug off the headphones while in the call but the switch doesn't work automatically with mobile phones and the input audio is interrupted. I choose the new device after **audioInputsChanged** is triggered by calling chooseAudioInputDevice with the device ID.

I expect that plugging off the headphones and choosing the new Audio stream

[2021-10-26 13:58] anshuman10398 opened #1722 "Distorted audio on safari when joining the meeting with bluetooth earphones and enabling voice focus"
### What happened and what did you expect to happen?

I am using chime sdk in a video conferencing application , when I join a meeting on safari v14.1 with my bluetooth earphones and voice focus enabled the other attendees in the meeting can hear a distorted (robot like) voice when I speak if I turn off voice focus my voice becomes normal, the issue does not occur If I use the default microphone w

[2021-10-26 15:55] #1719 closed, assigned to nobody

[2021-10-26 18:31] #1711 closed, assigned to nobody

[2021-10-26 21:28] vsimeikoKG opened #1723 "RTCRtpSender errors"
### What happened and what did you expect to happen?

**Generic Info**
After updating to latest Chime SDK 2.20.0 we started to receive multiple errors from `RTCRtpSender`. We didn't had these errors on version 2.15.0.

I did some debugging for `Failed to read the 'scaleResolutionDownBy' property from 'RTCRtpEncodingParameters'` and this is what I found:
- File `node_modules/amazon-chime-sdk-js/bui

[2021-10-27 12:44] kubiksamek opened #1727 "Multiple Content Share doesn't work"
### What happened and what did you expect to happen?

When two attendees are in a meeting and both start content share, only the first one is displayed.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws/

[2021-10-27 13:41] svrtelka opened #1728 "Firefox: changing an audio input in a running meeting"
### What happened and what did you expect to happen?

When I try to check browser permissions during audio input devices change, it doesn't work. We have to manage media permissions, because we have to handle cases when the user rejects them. When we do this in Firefox, an error is thrown explaining that concurrent mic process limit has been exceeded. This has probably something to do with a known

[2021-10-28 11:35] #1715 closed, assigned to nainkunal933

[2021-10-28 16:40] E5920 opened #1730 "How to know if video is off or on for a chime attendee id"
### What happened and what did you expect to happen?

@ltrung @michhyun1 ,  is there a way to know if a given chime attendee video is off or on ?

we are trying to show video is off/on status of all attendees to host

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-j

[2021-10-28 18:25] #1723 closed, assigned to nobody

[2021-10-28 18:36] majo35-6c opened #1731 "Video Frame Processor for Screen sharing"
I can modify media stream which i already share.

- for example i merge together media stream form my desktop and from my camera.

Does there any way for screenSharing similar to Custom Video Frame Processor for Video Tile of attendee ?

I would like to use it somehow like this:

[code]
I can used it now this way:
[code]
However this way has performance issue.

Any ideas how i can build something

[2021-10-29 06:29] Rambarani opened #1736 "Video from mobile chrome browser freezes when other participant joins."
### What happened and what did you expect to happen?

I am having desktop application (electron, react js) and web app (react js).

When i connect meeting from desktop app and desktop web app means, everything working fine.

When i join meeting from Android chrome browser means, this video alone **freezes.**  Other participants from desktop electron and web app sees only freeze video of mobile par

[2021-10-29 13:33] Guy1982 opened #1737 "Add SIP outbound, based on SIP URI (not phone number) to Chime video call"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-10-29 13:52] #1731 closed, assigned to nainkunal933

[2021-10-29 18:04] husaindevelop commented on #1720
Yes i did, every line of it. Still i don't get what i missed.  Here is the entire code i'm using for your information which also includes Voicefocus part.

[code]

We have been literally stuck on this for a month actually without any result.  Shall appreciate should you guide us on this issue and point us where we are going wrong.

[2021-10-29 18:23] richnew10 commented on #1720
From reading this section:

[code]

I suspect that you need to put `ChimeSDK.VoiceFocusDeviceTransformer` instead of just `VoiceFocusDeviceTransformer`, because the SDK names are not in the default scope.

Your browser developer tools should have let you enter that `catch` block and see what `e` was: I bet it's something like `ReferenceError: VoiceFocusDeviceTransformer is not defined`.

You could

[2021-10-29 20:52] maciejgoscinski opened #1739 "Mobile-friendly documentation / quickstart guide"
### What are you trying to do?

I'm trying to get to know the Chime platform and implement 1v1 voicecalls between an agent working on desktop, and a customer answering either from within a web-view application, or mobile browser. After finally succeeding to develop an MVP, I have a couple observations, regarding the process which turned out to be more difficult than I expected and had some pitfall

[2021-10-29 21:00] majo35-6c commented on #1731
@ltrung
![image](https://user-images.githubusercontent.com/80401548/139501008-86e60652-93a8-4141-b5a4-033dd68eff8d.png)

[2021-10-30 00:56] husaindevelop commented on #1720
Well, its working now. First of all meeting demo v2 seems to be working in localhost environment only, which is not ideal one for us. All my resources are in remote. Regarding singlejs, which we have deployed, we have followed what Chime SDK documentation mentioned, we used the following bundling command.
[code]

I feel what was followed above is specific to amazon chime. Please do point out if it

[2021-10-30 14:32] husaindevelop commented on #1720
Sorry to bother you again. On proceeding forward to adding amazon Voice Focus to the application with the below code
[code]
I encountered this error "Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'createTransformDevice')". Need your guidance as where i'm going wrong as i'm pretty new to this typescript language.

[2021-10-30 17:01] richnew10 commented on #1720
It means `transformer` is `undefined`, which is probably happening because in this code block:

[code]

you are defining `transformer` twice: once with `let` outside the `try` block, and once as a `const` inside it, so that inner assignment disappears after it leaves scope.

Your developer tooling should have caught this, and it's not TypeScript.

If you're not using language-aware developer tooli

[2021-10-31 05:53] husaindevelop commented on #1720
Yes i agree. The questions are novice, i presumed it before posting it. My bad. Sorry about that. Got that figured right now. Now there are no errors. Now it has successful created "TransformDevice" element with chosen audio input device. But still the amazon voice focus does not seem to boot.  The final blocks of code which initiates deviceController as given below returns "undefined" as result,

[2021-10-31 16:59] richnew10 commented on #1720
I can't tell from your comment what is happening.

What are the values of `transformer`, `vfDevice`, `chosenAudioInput`, and `deviceController` as shown in your browser developer tools?

[2021-11-01 00:38] xuesichao commented on #1721
@felipenandz Hi, thanks for providing the detailed reproduce steps. In our previous test we didn't enable the WebAudio, and it worked well. This time we followed the detailed steps you provided, and confirm the issue exists.

I notice that "set fullband speech (mono) quality" has nothing to do with this question. As long as I enable the WebAudio for mobile attendee, I can reproduce the issue using

[2021-11-01 00:51] husaindevelop commented on #1720
Here given below is the configuration code for your information.

[code]
Please guide us as where we are going wrong. Thanks.

[2021-11-01 05:26] rnewman commented on #1720
Please open your browser developer tools, set some breakpoints, and tell me what the actual values are of the variables I mentioned.

[2021-11-01 08:25] husaindevelop commented on #1720
I set breakpoints as you mentioned. Here are values to the variables you mentioned.

Transformer
[code]

Audio Input Devices
[code]

Device Controller
[code]

chosenAudioInput
`"default"`

const vfDevice
`"Undefined"`

[2021-11-01 10:09] kubiksamek commented on #1727
@ltrung Hello, I tried it today again and it works as expected, no code change. We believe that it had to be regression in AWS, because we also noticed different problem on Wednesdey previous week (27/10/2021) that `useRosterState` hook did not return my attendee. This is also fixed now.

Anyway, now when the second user starts content share, it will automatically stop content share in the first u

[2021-11-01 11:34] abhimanusharma commented on #462
@simmkyu Is there any application of this serverless application? I don't see how one can implement this in live events happening in real time.

[2021-11-01 11:34] AlexUlianets opened #1742 "Remote videos disappear after some participant stopLocalVideo"
### What happened and what did you expect to happen?

1 - open first user (no camera)
2 - open 2nd user (use camera)
3 - open 3rd user (use camera)

When the second user stops his video, all remote videos disappear.

Expected result: do not lose all participants.

Seems it doesn't go to videoDidupdate method

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.c

[2021-11-01 13:51] kubiksamek commented on #1727
@ltrung Little update: I see this in the console log
[code]
When I see this, then `useRosterState` returns `{}` without my attendee, same as here https://github.com/aws/amazon-chime-sdk-js/issues/624.

I will create new issues for this.

[2021-11-01 13:57] abhimanusharma opened #1743 "Meeting not ending after 5 minutes of inactivity"
### What happened and what did you expect to happen?

**What Happened?:**
I have joined a meeting with single user and muted the mic, I have waited for 5 minutes first and meeting did not ended. Then I waited for 30 minutes with single user and muted audio the meeting still not ended. I tried to join a new attendee in that meeting after 30 minutes and he was able to join that meeting successfully.

[2021-11-01 14:16] rnewman commented on #1720
Firstly, you need to enable Web Audio. See that section in the Voice Focus guide.

Secondly, you appear to have bundled SDK 2.1, which is a year old. You might need to amend the singlejs sample repo to track a more current release.

[2021-11-01 14:19] kubiksamek opened #1744 "Follow-up: The AudioContext was not allowed to start."
### What happened and what did you expect to happen?

Follow-up for https://github.com/aws/amazon-chime-sdk-js/issues/624

When joining a meeting with muted "Sound" in Site settings, Chime is not able to connect.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/mo

[2021-11-01 15:49] ltrung commented on #1744
So JS SDK relies on audio for roster (or attendee presence) and if there is no audio, the roster will return {}.
The error `The AudioContext was not allowed to start` was thrown by Chrome when there is no user interaction. This seems like our library tries to create an empty audio in order to join meeting using AudioContext but there is no user interaction so Chrome blocks it.

[2021-11-01 15:51] ltrung commented on #1727
It seems like the issue is that the content share attendee was not be able to connect for the second attendee?

[2021-11-01 15:56] kubiksamek commented on #1727
When I allow Sound in Site settings (second issue), both connect and see each other. But even then, the second user is not able to "steal" content share. It will start a new content share, but only he (the second user) sees it. When the first user stops sharing, he (the first user) will see the content share from the second user.

[2021-11-01 16:02] kubiksamek commented on #1744
Is there any workaround for this?

[2021-11-01 16:04] ltrung commented on #1744
We usually workaround this by having users interact with the web app (e.g., clicking on a button).

[2021-11-01 16:06] kubiksamek commented on #1744
I see, thanks for the info.

[2021-11-01 16:06] mmarekbb commented on #1744
@ltrung Do you have a suggestion on fixing this? Chrome blocks it because like you said, there is no user interaction. For our use case, it is perfectly normal to be in a meeting where there is no audio coming through for some time (and we don't necessarily want to require audio permissions unless the attendee uses their microphone).

Does the Chime SDK expose the AudioContext so that we can call

[2021-11-01 16:10] mmarekbb commented on #1744
Will there be a consideration to make the roster function independently on the audio? It does not seem that related to it.

[2021-11-01 16:13] ltrung commented on #1744
AudioContext is blocked from the browser so even if we expose it and you call resume it will be the same. User interaction does not mean device permission though. It just means users have to interact with your sites (like clicking a button).

[2021-11-01 16:20] ltrung commented on #1744
I don't think we have a public feature request for it yet. Feel free to open a feature request using our Community Request Template.

[2021-11-01 16:22] mmarekbb commented on #1744
If I understand this correctly, Chime creates the AudioContext when connecting and since there's no user interaction (because device labels is set to None), it fails with the warning. After this, the SDK does not try to call resume on it automatically, so there's no way to recover from the problem.

We need a way to either access the AudioContext that the SDK creates so we can call resume on it _d

[2021-11-01 16:25] ltrung commented on #1727
Could you try to reproduce the issue in our [React meeting demo app](https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/meeting) and [JS SDK meeting demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser)?
Also could you try to reproduce it in your app and upload the console log for A and B? If the log contains sensitive information, please open an AWS Support case.

[2021-11-01 16:38] ltrung commented on #1744
Yes, the device label is set to None just means Chime JS SDK will create an empty audio device to join the call using AudioContext but in this case, Chrome blocks the empty audio device to play due to no user interaction.

I think you do not need to call resume in this case. It should work if users interact with the site right before joining (clicking on a welcome button) as Chrome should allow th

[2021-11-01 16:42] ltrung commented on #1743
Looking at the meeting Id, the meeting did auto end at the 30 minute mark which is as documented in our [FAQs](1e5d6113-47a5-4e7c-a7fe-530bc6820706).

Only one audio connection is present in the meeting for more than 30 minutes.

In the case of 5 minutes, it means there is no audio connection established such as you do not call `audioVideo.start` after getting back the response from `createMeeting

[2021-11-01 16:42] #1743 closed

[2021-11-01 17:09] husaindevelop commented on #1720
Sorry for posting such beginner question. Have no way. On inserting the code as directed by you:
[code]
We encounter this error in the log
[code]

[2021-11-01 17:17] richnew10 commented on #1720
The first argument is a `Logger`. The options dictionary is the second argument.

https://aws.github.io/amazon-chime-sdk-js/classes/defaultdevicecontroller.html#constructor

[2021-11-01 17:48] kubiksamek commented on #1727
@ltrung I tried the React meeting demo app and it works as expected. I will investigate more indepth in our app.

[2021-11-01 18:58] BC-Mikey commented on #1736
Hello,

This sounds a lot like an issue we're experiencing. I've logged a couple of scenarios where we experience issues broadcasting video from an Android to the <video> tags:

1. One or Two users with their camera on - one of them is an Android User
  a. Presenter begins screen sharing…
    i. Android User’s Attendee Tile will become frozen to all other users.
    ii. The Android User will conti

[2021-11-01 21:52] felipenandz commented on #1721
Hi @xuesichao , thank you for your feedback.

Awesome, we will implement this control for the moment.

Thank you very much.

[2021-11-02 02:05] husaindevelop commented on #1720
For your information, i originally had logger argument alongside enablewebaudio, but upon encountering same error, i removed it from the code. Now on your instruction, i have reinserted the argument again in two alternate ways:
Code1:
As specified in "https://aws.github.io/amazon-chime-sdk-js/classes/defaultdevicecontroller.html#constructor"
`this.deviceController = new ChimeSDK.DefaultDeviceContr

[2021-11-02 02:26] mrnav90 opened #1748 "[Background blur] How to add a background image for video card"
Hi @davcolle @ltrung
About background filter, I hope Chime SDK team can support add a background image for video filter.
This background filter can be a `image url` or `image path`.

Github: https://github.com/Volcomix/virtual-background
Like demo: https://volcomix.github.io/virtual-background/

Thank you so much.

[2021-11-02 03:36] rnewman commented on #1720
Neither of those.

[code]

[2021-11-02 04:46] abhimanusharma commented on #1743
My main concern is that even if the meeting ended the event trigger should work (eventDidReceive) observer, I also implemented eventBridge for meetingEnded with a Lambda function which is not receiving anything after the certain time period.

[2021-11-02 07:08] husaindevelop commented on #1720
The enableWebAudio is working right now, but results continue to elude us. The vf device element as given below returns "undefined" value despite carrying a valid chosen audio input device: "default".
`const vfDevice = await transformer.createTransformDevice(chosenAudioInput);`.

With all elements in place, i think it should have worked by now.  I do not know as where i have gone wrong.  For your

[2021-11-02 07:13] Rambarani commented on #1736
@ltrung  Still we stuck with this issue. can you help me on this !!

[2021-11-02 11:56] majo35-6c commented on #1748
@mrnav90
you can combine 2 processor
 - VritualBackgorund
 - Chime Blur
[code]

[2021-11-02 12:11] abhimanusharma opened #1749 "Not getting meeting Title and external meeting id using eventBridge"
### What happened and what did you expect to happen?

https://docs.aws.amazon.com/chime/latest/ag/automating-chime-with-cloudwatch-events.html

Using this tutorial to setup eventBridge.

getting below output:

[code]

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-j

[2021-11-02 15:32] husaindevelop commented on #1720
Still the same result after changing the line as mentioned by you. Probably SDK's old version is not allowing the voicefocus to boot. Shall update the SDK and revert.

[2021-11-02 16:10] ltrung commented on #1743
Did you not receive the meetingEnded eventBridge after 30 minutes? I checked the server and it was ended after 30 minutes.

[2021-11-02 16:51] husaindevelop commented on #1720
Yes updated and checked. Changed the version to 2.20.1 in package.json before running npm bundle. Now on running the code, we are still facing the same error returning VF device value as "undefined". On running breakpoints in browser developer tools i found vf device line return the following values under scope window.
[code]

And on console log
`2021-11-02T16:49:34.376Z [INFO] MyLogger - API/Defa

[2021-11-02 16:58] richnew10 commented on #1720
I see that Voice Focus is supported:

[code]

and seems to be getting to the point of selection:

[code]

but I see that you have not enabled Web Audio:

[code]

[2021-11-02 17:03] husaindevelop commented on #1720
Yes i encountered that error, but on refreshing that error goes off. Thought it had solved. Below given is block of code i'm using and it does makes sure web audio is enabled before hand transformer element  is created.
[code]

[2021-11-02 17:08] #1720 closed

[2021-11-02 17:11] svrtelka commented on #1728
@ltrung To change audio device, We're using the method provided by [useSelectAudioInputDevice](https://github.com/aws/amazon-chime-sdk-component-library-react/blob/d4c837f653912ddda1c3034da76a1b64c5181cf6/src/hooks/sdk/docs/useSelectAudioInputDevice.stories.mdx) hook.  The method eventually calls ```chooseAudioInputDevice``` down the line, which I assume is the ```chooseAudioInput``` method you me

[2021-11-02 17:13] husaindevelop commented on #1720
Ok. Devicecontrollers were my error. I just misplaced it.
But considering everything is coded right now based on what you have given, why does vf device continue to return undefined.

[2021-11-02 17:15] richnew10 commented on #1720
In my testing it does not —

[code]

[2021-11-02 18:24] ltrung commented on #1728
Hmm why do we need the second call `window.navigator.mediaDevices.getUserMedia`? Isn't that what caused the issue here as you try to get another mic stream?
If users deny permission, `chooseAudioInputDevice` would throw an error and you can get the error using the `useAudioInput` hook https://aws.github.io/amazon-chime-sdk-component-library-react/?path=/docs/sdk-hooks-useaudioinputs--page

[2021-11-02 19:56] ltrung commented on #1744
Closing but feel free to reopen if you have any more issues.

[2021-11-02 19:56] #1744 closed

[2021-11-02 20:24] ltrung commented on #1739
@maciejgoscinski Thanks for feedback.
I have fixed the broken link for Android WebView Sample.

[2021-11-02 20:28] ltrung commented on #1742
Hi, I could not reproduce this issue using our [meeting demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser).
Could you provide a console log so we could investigate further?

[2021-11-02 20:49] dchen-aws commented on #1566
Closing since this has been stale for some time. Please re-open if needs more help from us.

[2021-11-02 20:49] #1566 closed

[2021-11-02 22:54] xuesichao commented on #1721
Hi @felipenandz , we confirm the bug also occurs without using the Chime SDK for JavaScript. We cut a new ticket in the WebKit Bugzilla and will escalate it to Apple (Check [here](https://bugs.webkit.org/show_bug.cgi?id=232640)).

We can't think of mitigations other than disabling WebAudio while waiting for Apple to fix it.

[2021-11-03 01:23] husaindevelop commented on #1720
So just to get a clarity, do you get a log: Amazon Voice Focus Enabled in the console from your testing.

[2021-11-03 01:31] ltrung commented on #1736
@Rambarani @BC-Mikey We have been able to reproduce the issue on our side and I am working on a fix https://github.com/aws/amazon-chime-sdk-js/commit/eb072ced5f731f445cd238e420cc2942c23df60c. Could you pull the change here and see whether it fixes it for your Android devices (I think in some Pixel devices, it can be pixelated).

[2021-11-03 01:57] Rambarani commented on #1736
Great ! thanks @ltrung . and how can i test this commit in my react project. can you guide me on that

[2021-11-03 02:12] husaindevelop commented on #1720
Ok it seems to work on Chrome 95 but not on Microsoft Edge 95 which also runs chromium engine.

[2021-11-03 08:13] mrnav90 commented on #1748
@majo35-6c

Thank you for suggestion, I'll try it. But I think Chime SDK Team make a filter option for blur background is that great.
Many thanks

[2021-11-03 12:45] abhimanusharma commented on #1743
Yes, getting it after 30 minutes but not after 10 minutes with audio muted for single or even two users.

[2021-11-03 16:11] ashleyqu commented on #1749
1. The external meeting id is one of the create meeting request parameters: https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateMeeting.html when create a meeting. Have you passed external meeting id when create the meeting?
2. I do not see meeting title from: https://docs.aws.amazon.com/chime/latest/ag/automating-chime-with-cloudwatch-events.html. It's expected?

[2021-11-03 16:25] richnew10 commented on #1720
In Edge 95 on macOS, I get:

in your app.

[2021-11-03 17:01] ltrung commented on #1736
You can pull the changes in my branch locally and run `npm run build` and `npm pack` to create a tar ball. You can then run npm install <tar ball location> to update `amazon-chime-sdk-js` dependency in your project.

[2021-11-03 18:31] BC-Mikey commented on #1736
Hi @ltrung,

We've just completed some testing on our end. Here is what we found:

1) There was improved performance for 1 Android user sharing their camera when more than 2 attendees were also sharing their cameras inside of the same meeting. We only tested up to 5 cameras at the same time, along with 1 Android User, but their camera never froze, which is an improvement to what we were experienci

[2021-11-03 20:45] ltrung commented on #1736
@BC-Mikey Thanks for testing. I think this is due to our video uplink bandwidth policy tries to scale the resolution down based on the number of attendees and Android H.264 video encoding has issue with it. We could reproduce the 2nd issue when there are 5 or more videos in the call (so it is not about how many android video on the call).

We could not reproduce the 3rd issue though and it does no

[2021-11-03 21:24] majo35-6c commented on #1748
@mrnav90
example how you can implement custom blur or image as background.

https://github.com/w-okada/chime-videoprocess-ts

 - chime team use google selfie segmentatiom landscape tflite model with 256x144

[2021-11-03 22:49] ltrung commented on #1694
The fix has been released in the new NPM 2.21.0 so closing this issue.

[2021-11-03 22:49] #1694 closed

[2021-11-04 01:13] nmonasterio commented on #1736
@ltrung Thank you for this as well. We've done some testing on our end as well. Findings:

- Android users (when there are three or more users on a call, and at least one Android user) seem to be staying on the call more reliably. And the video does not freeze or disappear as often. (Though it sometimes did).
- We're still experiencing some echo issues with certain Android devices. Is that somethi

[2021-11-04 02:04] dathacky commented on #1748
@majo35-6c
In case browser supports blur, I need to modify the `drawImageWithMask` function again, I tried appendChild(this.targetCanvas);, it works, but in my video it doesn't appear

`    let processor: BackgroundBlurProcessor;
    if (await BackgroundBlurProcessorProvided.isSupported()) {
      logger.info('Using browser-provided background blur');
      processor = new BackgroundBlurProcessorP

[2021-11-04 02:39] majo35-6c commented on #1748
@dathacky

Do you want implement video procesor for virtual background with Image and bind result to videoTile?

[2021-11-04 02:49] dathacky commented on #1748
@majo35-6c
I customized that function with this.backgroundMode and this.backgroundImage attribute, with BACKGROUND_MODE.BLUR, the videoTile was blur, but when I used BACKGROUND_MODE.IMAGE, that didn't work, I tried appendCanvas this.targetCanvas to html to check it out, i see my code is already running, but videoTile doesn't exist

[2021-11-04 03:00] majo35-6c commented on #1748
@dathacky

Try draw only image on targetCanvas.
Can you see your image?

[2021-11-04 03:02] dathacky commented on #1748
<img width="1440" alt="Screen Shot 2021-11-04 at 10 01 31" src="https://user-images.githubusercontent.com/37299929/140250779-e8939e65-94b1-4d1c-b39d-89cb11d6d04f.png">

i appended it to html once

[code]

[2021-11-04 03:04] dathacky commented on #1748
<img width="1420" alt="Screen Shot 2021-11-04 at 10 04 13" src="https://user-images.githubusercontent.com/37299929/140251018-baf3ce7d-9db2-4187-9b07-cd4c4f25158a.png">
@majo35-6c
With blur, it work

[2021-11-04 15:16] majo35-6c commented on #1748
@dathacky

- create custom processor
[code]

[2021-11-04 16:07] svrtelka commented on #1728
The reason why we need to call ```getUserMedia``` and not let Chime handle permissions alone is that we need to ask for audio/video permission at separate times. If a user wants to use a microphone, audio permission dialog appears. Not sure what you mean by "second call", ```getUserMedia``` fails every time it's used on our side. It doesn't have to be after the ```selectAudioInputDevice```. If we

[2021-11-04 16:13] ltrung commented on #1728
So to clarify you want users to join without asking audio video permission and ask them for permission at a later time?

[2021-11-04 16:17] svrtelka commented on #1728
Yes, exactly that, but audio and video separately one by one.

[2021-11-04 17:36] mmarekbb commented on #1728
@ltrung Is it possible that this happens because getUserMedia returns a stream object? Then when Chime switches the device using selectAudioInput, the older reference returned from getUserMedia still exists.

We tried to stop the stream track manually by doing this:

[code]

This does fix the error message in Firefox, but the mic can no longer be used (which makes sense if the stream is also being

[2021-11-04 18:08] devalevenkatesh commented on #1709
Hello, I am closing this issue due to inactivity, please feel free to re-open if you still have this issue.

[2021-11-04 18:08] #1709 closed

[2021-11-04 18:31] ltrung commented on #1728
Instead of doing that, can we use the [meetingManager.invokeDeviceProvider API](https://github.com/aws/amazon-chime-sdk-component-library-react/blob/master/src/providers/MeetingProvider/MeetingManager.ts#L688) ?
We can change the DeviceLabels to Audio and then Video depending on when the user clicks the corresponding button.

[2021-11-04 20:56] BC-Mikey commented on #1736
@ltrung the screenshare issue may have been unrelated. We pulled the latest "amazon-chime-sdk-component-library-react" &  "amazon-chime-sdk-js" libraries and weren't able to reproduce.

@nmonasterio we did do some more testing this afternoon and I did not notice any echoing issues with my Google Pixel 4. Our other team member on a Galaxy S21 did not notice anything out of the ordinary.

[2021-11-04 23:41] simmkyu commented on #1703
### Chime server logs

The Chime server logs indicate that the sender (`0b60c535`) successfully shared a video at 10/21/21 14:56:39 (GMT), and the receiver (`9fccf71e`) had no problem viewing this video. I could not find any failure events, such as the drop event, at around 14:57:22 (converted from timestamp `1634828242980`). It seems that the Chime SDK for JavaScript or your client application ha

[2021-11-05 01:10] nmonasterio commented on #1736
@BC-Mikey / @ltrung Interesting. I think it's unrelated, but it's quite easy to replicate on a Motorola G Power. We've been able to replicate it both our environment as on the Chime React demo app. I'll open up a new issue on it. It does go away when implementing Voice Focus, however.

[2021-11-05 01:13] ltrung commented on #1736
@BC-Mikey Can you pull the PR #1751 and verify if it fixes the issue for you when you are enable more than 4 videos?

[2021-11-05 01:39] husaindevelop commented on #1720
Ok its working in edge as well now. In the same app, voice focus event is booted for the first attendee, but on opening another tab for testing another attendee, the voicefocus event returns "undefined". Is it because we also need to bind the voicefocus with the observer or videotileupdate event ?

[2021-11-05 02:31] rnewman commented on #1720
The transformer returns `undefined` if it is not supported:

https://aws.github.io/amazon-chime-sdk-js/classes/voicefocusdevicetransformer.html#createtransformdevice

If this happens on the second tab, it’s most likely because your device doesn’t have enough free CPU cycles.

[2021-11-05 03:12] husaindevelop commented on #1720
It only happens on the second tab, the first tab works pretty fine. I shall check it in my another laptop for assurance. Shall update you.

[2021-11-05 09:38] stuzoo commented on #1710
Same issue for me - "a problem repeatedly occurred on...."

[2021-11-05 11:11] Rambarani opened #1752 "Echo occurs when participant joins from android chrome"
### What happened and what did you expect to happen?

**When one participant join from desktop chrome and other participant join from mobile chrome means**, echo issue happens
**participant joins from desktop chrome hears his own voice back** and sometimes there may be delay in voice.

If both people join from desktop chrome means no issue.

So problem with android chrome. I tested with official d

[2021-11-05 13:09] mmarekbb commented on #1728
Thanks for the suggestion! That sounds promising. We'll try it and get back to you.

[2021-11-05 15:55] BC-Mikey commented on #1736
@ltrung we just tested with the following devices on in the same meeting:
- Google Pixel 4, Android 10
- Galaxy A8+, Android 9
- Galaxy S21, Android 11
- iPad, OS 15.1
- iPhone OS 15.0.2
- Three Chrome Web browsers

The Google Pixel 4 & Galaxy S21 had no issues broadcasting video on the latest build. Even when all other attendees had their cameras on.

The Galaxy A8+ was a new device we hadn't tes

[2021-11-05 16:45] vidya-mohan commented on #885
SDK supports 25 video tiles. Dupe of https://github.com/aws/amazon-chime-sdk-js/issues/1497

[2021-11-05 16:45] #885 closed

[2021-11-05 16:51] kubiksamek commented on #1727
@ltrung So I found out the root cause. We use `VideoPriorityBasedPolicy` to set specific video quality by priorities. But I found out that when the second user starts content share, I receive callback using `AudioVideoObserver.remoteVideoSourcesDidChange` but I do not receive new `sharingAttendeeId` from `useContentShare` hook. After I change my video policy to include new `attendeeId#content` (re

[2021-11-05 17:28] xuesichao commented on #1752
Hi @Rambarani , thanks for reporting the issue!

When retrieving your microphone, the Chime SDK for JavaScript passes the following constraints to enable echo cancellation supported by the browser. See [here](https://github.com/aws/amazon-chime-sdk-js/blob/1c4ea707597eb63fb0735238c2c707bf19d38708/src/devicecontroller/DefaultDeviceController.ts#L1701-L1708) for the complete list.

* [echoCancellati

[2021-11-05 17:34] ltrung commented on #1727
Nice find. Yes, once you manually set `chooseRemoteVideoSources` you will have to keep updating it to change your preference list. This is the same as when a new user turn on video then you need to manually add him to the list.
The expected workflow is whenever you receive `remoteVideoSourcesDidChange` you will determine your preference using `chooseRemoteVideoSources`.
Closing this issue for now.

[2021-11-05 17:34] #1727 closed

[2021-11-05 17:46] kubiksamek commented on #1727
I see, Thank you.

[2021-11-05 17:49] xuesichao commented on #1727
Hi @kubiksamek , you check our [video layout guide](https://aws.github.io/amazon-chime-sdk-js/modules/videolayout.html#video-lifecycle-management-apis) to get a high level idea about how the remote video source are rendered.

In general, the steps are:
1. Whenever someone else starts sharing a video stream, the local attendee will receive the callback from `AudioVideoObserver.remoteVideoSourcesDid

[2021-11-05 17:52] kubiksamek commented on #1727
@xuesichao Thanks for the info.

[2021-11-05 18:01] Qocotzxin commented on #1696
Thanks for the info, closing this issue since we can't reproduce this anymore, thanks!

[2021-11-05 18:01] #1696 closed

[2021-11-05 18:32] ltrung commented on #1736
@BC-Mikey Thanks for testing. It seems like the issue with Galaxy A8+ is not the same issue (since there is only one video on the call there is no downscaling happens). Could you create a different issue to track that?

[2021-11-05 18:56] BC-Mikey opened #1754 "Camera immediately freezes on Galaxy A8+, Android 9"
### What happened and what did you expect to happen?

When enabling a camera with a Galaxy A8+, Android 9 the video stream in the Attendee Tile immediately freezes. This happens regardless of whether or not other users have their cameras enabled. The expected behavior is that their video should broadcast just as it does for other attendees.

### Have you reviewed our existing documentation?

- [X]

[2021-11-05 20:58] nmonasterio opened #1755 "Ability to turn on VoiceFocus by default"
### What are you trying to do?

I'm trying to enable Voice Focus on by default, as it appears to be the only way to prevent echo on some Android devices.

*For example: I'm trying to start a meeting session with audio.*

### How can the documentation be improved to help your use case?

I'd like to see how one could enable VoiceFocus for all devices, upon joining the meeting and/or switching device

[2021-11-05 21:20] nmonasterio opened #1756 "Echo for other participants when participant joins from Android Chrome"
### What happened and what did you expect to happen?

When a participant joins a meeting using a Motorola G Power device, an echo of the speaking participant is present for all other participants.

Voice Focus does suppress the issue — the device supports it, per a quick `(await VoiceFocusDeviceTransformer.create()).isSupported()` check, but by default, it is not enabled and it becomes extremely n

[2021-11-05 23:08] SeanRenet commented on #1709
Hi @devalevenkatesh

Sorry I have been trying to figure out a work around and did not see the reply in my email before you closed the issue.

As I mentioned above, I use the aws_cli almost daily so I know it is not a credential problem on my end.

Please let me know where it is asking for an accesskeyid so I can supply it manually because it is not picking up credentials from the .aws folder.

[2021-11-05 23:24] xuesichao commented on #1754
Hi @BC-Mikey , thanks for reporting this issue. Could you please provide the logs to help us debug the issue?

[2021-11-05 23:32] xuesichao commented on #1756
Hi @nmonasterio , thanks for reporting this issue. I just want to confirm it a little bit. Is it because the user joins the meeting unmuted, and the Voice Focus is not enabled by default, thus the echo is present. But later after you mute/enable the Voice Focus, the echo is suppressed. And the work around for this issue is to enable the Voice Focus by default. So you are seeking a way to do that i

[2021-11-06 00:23] nmonasterio commented on #1756
@xuesichao Thanks for replying! Yes, you're mostly spot-on. The participant in a Motorola device will join (we join them in with audio turned on by default and have no particular inclination to turn off the audio off by default) and the echo will be present until Voice Focus is enabled.

Turning Voice Focus on does help, and we'll gladly do it by default for all supported devices, but you're corre

[2021-11-06 03:58] Rambarani commented on #1752
Thanks @xuesichao ! for the reply.

I used amazon focus. but it did't turned on by default. Participant have turn it on manually. if it is turned on means no echo occurs. so is there any way we can turn it on by default when joining meeting ?

[2021-11-06 17:25] xuesichao commented on #1752
Hi @Rambarani , we received several requests about how to enable the Voice Focus by default. We are tracking this request in issue #1755. I need to confirm with the team about it. I know that before joining the meeting, SDK support enabling the Voice Focus in the device setup process. You could check how we implement that from our [JS SDK browser demo](https://github.com/aws/amazon-chime-sdk-js/tr

[2021-11-06 17:38] xuesichao commented on #1755
@nmonasterio Thanks for submitting this request. There are multiple users requesting for the guide on how to enable Voice Focus by default. I need to confirm with the team whether SDK is able to support it or not. For now I know that before joining the meeting, SDK supports enabling the Voice Focus in the device setup process. But users have to enable it manually. We implemented this process in ou

[2021-11-06 17:47] xuesichao commented on #1752
Close the issue, because it is a duplicate of issue #1756. Please track the updates there.

[2021-11-06 17:47] #1752 closed

[2021-11-06 20:51] nmonasterio commented on #1755
Thanks, @xuesichao! Checking into the JS demo right now. I've tested out the React App demo and, while you can specify whether to enable `webAudio`, it still does not support enabling it by default. I'll pull down this and run/deploy just for good measure and let you know.

[2021-11-06 21:32] nmonasterio commented on #1755
@xuesichao Yes, it seems the JS demo does support enabling it by default, which is great. Let me see if I can follow the code path and see how it could also be applied to the React component library. I'm glad I'm not the only one wondering about how to implement such a feature.

[2021-11-06 22:39] xuesichao commented on #1755
@nmonasterio Good to hear that! You must already know that recently we added `VoiceFocusProvider`, `useVoiceFocus` hook and `AudioInputVFControl` to React Component Library to help you quickly enable the Amazon Voice Focus.

For now we only support enable Amazon Voice Focus via `MeetingControls` - `AudioInputVFControl`after user join a meeting. The logic of device selection in device setup process

[2021-11-06 23:39] artem6connex opened #1758 "DefaultVideoTransformDevice is not working on Safari"
### What happened and what did you expect to happen?

DefaultVideoTransformDevice is not working on Safari v15.1
I can not see my own video tile but other attendees are able to see it

I assume it's happening because of [this issue](https://bugs.webkit.org/show_bug.cgi?id=229611) on Safari
If not let me know what causes this problem and is there any workaround to fix it?

P.S. I've checked [your d

[2021-11-07 01:37] nmonasterio commented on #1755
Thank you, @xuesichao. Yes, a normalized API for auto-enabling would be great, especially given the fact that, without it, the state of the VF component might get stale (i.e., the checkbox/label could get out of sync with the actual state of the VF setup) but I'll take a peek at your code paths as well and see where that might lead.

And thank you as well for looking at the Android echo issue. Muc

[2021-11-08 07:27] dathacky commented on #1748
@majo35-6c
Thank you very much for this enthusiastic help, I found the problem, it's because I use the image link on the internet

[2021-11-08 08:56] beta-alpha001 commented on #1609
No, `startLocalVideo` isn't used anywhere, getting same issue even after stopping local video tile before switching device.

[2021-11-08 09:03] shriyajuneja commented on #1609
No, `startLocalVideo` isn't used anywhere, getting same error even after stopping local video before switching the device.

[2021-11-08 09:15] Nanosync opened #1759 "Reduction in delay when switching video processors"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-11-08 11:29] abhimanusharma opened #1760 "Server halted during compilation"
### What happened and what did you expect to happen?

Got below error in cloudwatch

[code]

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws/amazon-chime-sdk-js#amazon-chime-sdk-for-javascript)
- [X] Fe

[2021-11-08 13:02] Rambarani commented on #1497
@rusicsemenov I need your help, how you added video tile image if user didn't turned on camera and name and mute status over it.

[2021-11-08 13:08] Rambarani commented on #1705
@ltrung I need you help. can you explain it detail. how to use getAllRemoteVideoTiles API to retrieve the list of remote video tiles and how to render video tiles with name and mute/un mute status over it. please

[2021-11-08 13:48] rusicsemenov commented on #1497
@Rambarani Hello, I have written a new app on the vuejs and this background on the tile from me. You can make the default background for tile.

[2021-11-08 14:27] Rambarani commented on #1497
Okay thank you for the reply @rusicsemenov .  Mine is react and I have used their official SDK https://github.com/aws/amazon-chime-sdk-component-library-react . not able to customize tile or show mute and unmute status. once again thank you.

[2021-11-08 14:58] BC-Mikey commented on #1754
@xuesichao which kinds of logs are you looking for? An export of HAR logs from the browser?

[2021-11-08 18:27] vidya-mohan commented on #1691
Resolving as released in 2.21.0

[2021-11-08 18:27] #1691 closed

[2021-11-08 18:28] vidya-mohan commented on #1559
Resolving as no response

[2021-11-08 18:28] #1559 closed

[2021-11-08 18:28] vidya-mohan commented on #1561
Resolving as no response

[2021-11-08 18:28] #1561 closed

[2021-11-08 18:29] vidya-mohan commented on #1569
Resolving as no response

[2021-11-08 18:29] #1569 closed

[2021-11-08 18:29] vidya-mohan commented on #1578
Resolving as no response

[2021-11-08 18:29] #1578 closed

[2021-11-08 18:30] vidya-mohan commented on #1665
Resolving as no response

[2021-11-08 18:30] #1665 closed

[2021-11-08 19:41] vidya-mohan commented on #1047
@RaymondFJ - While we don't have a first class API to transform- here is a code snippet to unblock you. See https://github.com/aws/amazon-chime-sdk-js/issues/1731#issuecomment-954302701

[2021-11-08 20:12] xuesichao commented on #1760
Hi @abhimanusharma thanks for reporting this issue. I made an investigation and it seems the issue is related to TypeScript 4.5-beta version. Check this [issue](https://github.com/microsoft/TypeScript/issues/46665#issuecomment-962142351) under TypeScript repo.

#### Reproduction Steps
I tried to reproduce this issue in our [JS SDK meetingV2 demo](https://github.com/aws/amazon-chime-sdk-js/tree/mas

[2021-11-08 20:30] ltrung commented on #1758
This is documented in the known issue thread #1059. Video transform does not work in Safari 15 due to:

Video Frame Processor sends black or red images in Safari 15 due to a bug in canvas.captureStream (Safari 15 bug). For a temporary workaround, you can copy the output content in VideoFrameProcessor.process method to another canvas and use that canvas to render the output video.

The first bug wi

[2021-11-08 21:09] BC-Mikey opened #1762 "iPad 15.1 Users kicked out of meeting when turning on Camera in meeting"
### What happened and what did you expect to happen?

iPad users are able to allow their cameras and see them during the Camera Preview. However, after they enter the meeting they

This was only reproducible on version 15.1. Versions 15.0 and lower worked fine.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [p

[2021-11-08 21:10] mark-vanr commented on #1703
@simmkyu I appreciate the thorough investigation and explanation! Since the guide said not to take action, we not do anything on the downlink monitoring events `videoNotReceivingEnoughData` and `estimatedDownlinkBandwidthLessThanRequired` other than output a debug log.
It certainly does seem like something on the `bind` is going wrong - either failing or taking longer than expected. There aren't v

[2021-11-08 21:23] BC-Mikey commented on #1754
Hi @xuesichao, I have three sets of logs. One of them is captures from the Android device and the other two are from mine where I saw the device was frozen. They appeared to happen when he either switched between front & back cameras or exited to the home page. I have two logs of either scenario.

[android-a8-camera-switch-back-camera.txt](https://github.com/aws/amazon-chime-sdk-js/files/7500219/a

[2021-11-08 21:27] ltrung commented on #1566
@Jagordon Can you pull #1751 and see whether if it fixes it for you?

[2021-11-08 21:29] ltrung commented on #1762
This is a duplicate of #1710 and is currently tracked in the known browser bug issue in #1059. Can you try to pull this branch to see if it works for you https://github.com/aws/amazon-chime-sdk-js/tree/ios-15.1-fix ?

[2021-11-08 21:43] vidya-mohan commented on #1701
resolving as no response

[2021-11-08 21:43] #1701 closed

[2021-11-08 23:45] xuesichao commented on #1156
Removed the `activeSpeakerLayout` field in the above PR. We can add it back when we have the logic. Close the Issue.

[2021-11-08 23:45] #1156 closed

[2021-11-09 00:55] #1457 closed

[2021-11-09 00:56] devalevenkatesh commented on #1709
Hi @SeanRenet ,

Thanks for getting back, so could you please test this from where you deploy the demo app?

[code]

Sorry, but I could not repro this issue on my side, I think there might be stale credentials in your terminal already or you have to re-configure the credentials, but sorry this is an access issue on the AWS and not with the demo.

1. Try using temporary AWS credentials:

[2021-11-09 01:14] xuesichao commented on #1755
@nmonasterio I'm trying to find some action items for this issue.
Since you are using the React Component Library, would you like to submit a feature request there about the feature you need? This would help us tracking the user need.

For JS SDK repo, do you think a FAQ or how-to doc on how to enable Voice Focus for all devices upon joining the meeting and/or switching devices would help you?

[2021-11-09 02:29] nmonasterio commented on #1755
@xuesichao That sounds like a plan. I'll open up a feature request there.

And yes, a how-to on how to do from the JS SDK would suffice for the time being.

Thanks!

[2021-11-09 06:11] abhimanusharma commented on #1760
I am facing this issue after updating the sdk version.

[2021-11-09 08:08] shriyajuneja opened #1766 "Virtual background video frame processor"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-11-09 11:22] abhimanusharma commented on #1749
@ltrung any update, how to achieve this?

[2021-11-09 12:41] abhimanusharma opened #1767 "Unable to add ExternalMeetingId with Create Meeting API"
### What happened and what did you expect to happen?

Here is my code:

[code]

After join request I am getting a response like this:

[code]

Title has string value but it is not setting for external Meeting id. It is becoming null automatically,

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://a

[2021-11-09 16:21] ltrung commented on #1122
@jcarlosfern Not sure if you are still interested in this issue but as a workaround, you can either use data message to send message to the remote client and call `chooseVideoQuality` API accordingly.
Another workaround is to use [simulcast uplink policy](https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/05_Simulcast.md) and [priority-based downlink policy](https://github.com/aws/amazo

[2021-11-09 17:18] svrtelka commented on #1728
@ltrung We tried your suggestion and it works fine for permission management, so thanks! I have one other question though, is there a way to get client's audio stream? We are currently using `getUserMedia` directly.

[code]
We need to access current audio stream in order to display audio input activity preview. This needs to work without needing to have the mic activated in a meeting.

[2021-11-09 17:30] xuesichao commented on #1760
@abhimanusharma I can not reproduce this issue in our demo App. The problem appears to be related to typescript. Could you confirm your typescript version?

[2021-11-09 17:48] #1538 closed

[2021-11-09 17:48] xuesichao commented on #1538
Feel free to reopen it.

[2021-11-09 17:55] ltrung commented on #1754
@BC-Mikey Just to clarify was the video freeze on the remote side or on the Android device too?

[2021-11-09 18:11] andrewwusfdc opened #1768 "boundExternalUserId undefined for local tile"
### What happened and what did you expect to happen?

When handling the videoTileDidUpdate callback for a local tile, we noticed that boundExternalUserId doesn't exist. That value does exist for remote tiles.

We were hoping to just use the same logic to pull the external user id (which contains the display name for our implementation) for all video tiles. Can Chime comment on if this behavior is

[2021-11-09 18:26] BC-Mikey commented on #1754
Sorry - I mean "exit to lock screen" or just leave the browser. We weren't sure what the desired behavior for the camera should be here, since the meeting & audio appears to continue.

The video freeze occurs on both of our ends.

[2021-11-09 18:55] ltrung commented on #1754
So for that 'exit to lock screen' issue, it is documented in our [FAQs](https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/07_FAQs.md#i-notice-that-if-i-turn-on-camera-and-put-the-browsers-in-background-others-in-the-meeting-will-see-black-tile-in-safarichromefirefox-in-ios-and-frozen-tile-in-chrome-in-android-is-this-a-known-issue).

[2021-11-09 19:19] ashleyqu commented on #1767
The "ExternalUsersEnabled" is no. It seems that you did not enable external users and that might be why you did not get ExternalMeetingId from response.

[2021-11-09 19:22] ltrung commented on #1728
@svrtelka It is not exposed publicly but you can get the current audio stream from `audioVideo.deviceController.activeDevices['audio'].stream`

[2021-11-10 00:57] alhambra1 opened #1773 "Participants can lose audio from a Safari user who switches tabs (using WebAudio)"
### What happened and what did you expect to happen?

We revisited and replicated an audio issue our QA team reported internally some time ago -- using the JavaScript client SDK (we tested version 2.20.1), when we set

`deviceController = new DefaultDeviceController(this.meetingLogger, {enableWebAudio: true});`

which we believe we need in order to use the Voice Focus feature, we see the following

[2021-11-10 01:02] alhambra1 opened #1774 "tileWillBePausedByDownlinkPolicy and tile pausing vs removal"
### What are you trying to do?

Using Chime SDK version 2.18, which we worked with up to a few weeks ago, we were able to see callbacks for tileWillBePausedByDownlinkPolicy (albeit by trying to force it using higher uplink and straining the bandwidth). However in our general testing for 2.20.1, which includes staff with varying internet setups and locations, we have not yet seen this callback. We

[2021-11-10 03:11] ltrung commented on #1774
@alhambra1 Could you add a client log where you see that `tileState.paused`? the pause state means the video tile is paused either by the priority-based downlink policy or by the application calling `pauseVideoTile` API.
If it is paused by the priority downlink policy, it should trigger `tileWillBePausedByDownlinkPolicy` (As seen in this code:  https://github.com/aws/amazon-chime-sdk-js/blob/maste

[2021-11-10 06:00] abhimanusharma commented on #1760
@xuesichao My typescript version is "typescript": "^4.2.4", I can not change the version as the app is already on production. Changing the version might put me in a very difficult situation. The issue I am facing is on production.

[2021-11-10 06:03] abhimanusharma commented on #1767
@ashleyqu I don't see any such option "ExternalUsersEnabled". Where should I add it? Can you show me with an example?

I have read all the documentation, REAEME, FAQs but could not find this "ExternalUsersEnabled" anywhere.

[2021-11-10 06:37] Wisdom0063 commented on #1705
This feature will be extremely helpful

[2021-11-10 16:41] dimabory opened #1777 "Does AWS Chime SDK 2.21.0 support media capture pipeline events?"
### What are you trying to do?

I'm trying to listen for events such as `chime:MediaPipelineInProgress`, `chime:MediaPipelineDeleted`, `chime:MediaPipelineTemporaryFailure`, `chime:MediaPipelineResumed` and `chime:MediaPipelinePermanentFailure`, but neither actually coming.

### How can the documentation be improved to help your use case?

N/A

### What documentation have you looked at so far?

Am

[2021-11-10 17:59] littlegreen commented on #1059
+1 to the bug when turning the camera on from iOs 15+

[2021-11-10 18:03] BC-Mikey commented on #1762
@ltrung We tested the ios-15.1-fix branch and were still able to reproduce the issue. I'm attaching our logs.
[ipad-test-log.txt](https://github.com/aws/amazon-chime-sdk-js/files/7514961/ipad-test-log.txt)

[2021-11-10 18:17] ltrung commented on #1762
In the log I saw this error message which likely the cause of the crash. Content Share does not work in iOS since they do not support the webRTC screen capture API `getDisplayMedia`
[code]

[2021-11-10 18:33] LouisMx commented on #1695
@richnew10 Hi ! I could tried just today..., a lot of combinations. I have the same result.
I tried with different sampleRate, sampleSize,
like :`audio: {
                    autoGainControl: false,
                    channelCount: 2,
                    echoCancellation: false,
                    googAutoGainControl: false,
                    latency: 0,
                    noiseSuppression: f

[2021-11-10 19:04] BC-Mikey commented on #1762
I confirmed that they are turning on the camera. We just tried another test in the browser demo application, making sure that he clicked the Camera icon
[iPad15_1_logs_2.txt](https://github.com/aws/amazon-chime-sdk-js/files/7515286/iPad15_1_logs_2.txt)

[2021-11-10 19:04] BC-Mikey commented on #1762
As far as our application goes, we detect mobile devices and disable the Screen Share button.

[2021-11-10 19:43] rachinkapoor commented on #1762
We are also testing the fix. Seems to be working for us if and only if `Request Desktop Website` option is disabled.
By default all iPads have this option turned on.

[2021-11-10 19:52] ltrung commented on #1762
@rachinkapoor Thanks. So this is indeed the same issue as #1710 as I mentioned above. We disabled H.264 for now for iOS device based on user agent but i guess when iPad has `Request Desktop Website` on, the user agent will be Mac Safari and not iOS thus, we did not do the workaround.

[2021-11-10 19:53] rachinkapoor commented on #1762
As this is impacting us big time, I need your advice.

[2021-11-10 22:30] SeanRenet commented on #1709
I use the same credentials for all my aws projects.  I use them multiple times a day, they have admin access.  I don't think your app is looking at the /Users/<Home>/.aws folder.  Where in your app is it asking for credentials?

[2021-11-11 01:35] ltrung commented on #1773
This is documented in #1059. We have submitted the [Safari bug](https://bugs.webkit.org/show_bug.cgi?id=231105).

[2021-11-11 01:37] ltrung commented on #1762
As a workaround, can you retry the code here https://github.com/aws/amazon-chime-sdk-js/commit/e15565d4cff205ce69c44bdccc7b2f2a5c48a991#diff-12999dcd6545b6debd7a9cb6c9a75abb4982bf367947a9a2e97fbc87c1aa1e10R41 and update this to include Safari also https://github.com/aws/amazon-chime-sdk-js/commit/e15565d4cff205ce69c44bdccc7b2f2a5c48a991#diff-878aade3f1ff249700b52b8c36f7715a1fd27b4f73344d55072e08aa

[2021-11-11 01:49] devalevenkatesh commented on #1768
Hi @andrewwusfdc ,

I checked and ran JS SDKs [meeting demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser) and could see the `boundExternalUserId` for the local tile in `videoTileDidUpdate`.

There are multiple updates provided in `videoTileDidUpdate` and I could see in the initial first update when the `tileId` is assigned then lot of fields are empty but later as fiel

[2021-11-11 03:29] alhambra1 commented on #1774
[tiles_paused.log.zip](https://github.com/aws/amazon-chime-sdk-js/files/7517495/tiles_paused.log.zip)

@ltrung Please see attached logs.

[2021-11-11 03:29] alhambra1 commented on #1774
@ltrung I think the pausing started after 3:00am UTC in the logs.

[2021-11-11 05:25] MjdBh opened #1782 "Video recorder successfully but all is black page without audio and video"
### What happened and what did you expect to happen?

We have a react base web application that users join in a meeting and record their meeting. It is working properly but today at a meeting that 3 times recorded first it worked correctly but 2 of them were black pages, without any audio and video but the time of recording is correct. Before starting the meeting we are checking audio and video de

[2021-11-11 05:40] MjdBh commented on #1782
I found that when the recording was starting if one of the attendees are mute then the recording page is black.

[2021-11-11 07:43] ltrung commented on #1774
[code]
According to the logs, the policy tries to pause streams at 3:03. Did you not receive `tileWillBePausedByDownlinkPolicy` event? As can be seen in this code [here](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/videodownlinkbandwidthpolicy/VideoPriorityBasedPolicy.ts#L771), after that log line we trigger the event right away.

[2021-11-11 07:56] paul365 opened #1784 "Simulcast supported browsers list"
### What are you trying to do?
Hi, I'm using DefaultBrowserBehaviour.isSimulcastSupported() to check whether the browser supports simulcast or not, currently, it's returning false on Chrome Version 95.0.4638.69 (Official Build) (arm64) on M1 Mac, also on Safari Version 15.1 (17612.2.9.1.20). Possible to have a list of supported browsers/devices of simulcast? Or might this be a bug? Thanks

Update:

[2021-11-11 10:42] abhimanusharma opened #1785 "Chime meeting eventBridge events: meetingEnded not received"
### What happened and what did you expect to happen?

I started a meeting with single user and without audio. What happened?:

1. meetingStarted
2. attendeeAdded
3. Meeting did not stopped after 5 minutes of no audio.
4. Recording started: mediaPipelineInProgress
5. Now wait for 45 minutes, meeting did not end with single user with no audio.
6. attendeeLeft (last and only attendee left event), Use

[2021-11-11 11:22] alhambra1 commented on #1774
@ltrung the code does seem straightforward so it would be surprising not to receive the callback. The way we have been checking is by calling our own logger, which seemed to work fine on 2.18 (although there we would get a tile removal not pause). Let me make some code changes to rule out an issue in our own code, test and get back to you.

[2021-11-11 11:59] Jagordon commented on #1566
We will do this testing this sprint Ty guys

[2021-11-11 13:57] artem6connex commented on #1758
@ltrung Thank you for the response!
I'm gonna implement this workaround
hope it'll fix my issue

[2021-11-11 15:07] christiansaavedra commented on #1391
@devalevenkatesh  Thanks for your answer, it helped me!
Unfortunately i realized that browser's audio volume can't be more than 1, which is the default value. So my users will have to adjust their own device's output volume if they want it higher.

[2021-11-11 16:39] devalevenkatesh commented on #1782
Thanks for reporting the issue. You mentioned "pipeline" in the issue content, but, to confirm are you using Amazon Chime SDK media capture pipeline?
https://aws.amazon.com/blogs/business-productivity/capture-amazon-chime-sdk-meetings-using-media-capture-pipelines/

[2021-11-11 17:05] alhambra1 commented on #1774
@ltrung I believe the error is in our code, we accidentally removed a line calling the observer initialiser. Sorry about the trouble. If we find otherwise, we'll reopen the issue.

[2021-11-11 17:05] #1774 closed

[2021-11-11 17:11] paul365 opened #1786 "Screen share while still being able to see other participants"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-11-11 17:23] devalevenkatesh commented on #1730
Closing this issue due to in-activity, please feel free to re-open if you have more questions.

[2021-11-11 17:23] #1730 closed

[2021-11-11 17:40] devalevenkatesh commented on #1784
Hi @paul365 ,

The simulcast is currently supported on Chromium based browsers, hence the Safari will return `false` as expected. I will create a PR to add a support table soon.

Please note that we already have the configuring meeting session with Simulcast explained at link below in the same guide:
https://aws.github.io/amazon-chime-sdk-js/modules/simulcast.html#creating-a-simulcast-enabled-meet

[2021-11-11 17:46] paul365 commented on #1784
thank you @devalevenkatesh

[2021-11-11 23:48] ltrung commented on #1786
@paul365 Can we just choose to share windows instead of the entire screen?

[2021-11-12 00:55] paul365 commented on #1786
@ltrung sharing just windows also has the same problem, when sharing windows you still want to have it at fullscreen because when you resize it, say to make the call window and the shared windows fit on one screen the shared contents' video also changes resolution.

[2021-11-12 01:38] ltrung commented on #1786
Oh sorry i understand the request now. I am afraid this would be difficult to achieve for a web browser since we just use the browser API. You may consider Electron or other similar framework and use their API to show a video window on top.

[2021-11-12 06:29] abhimanusharma opened #1788 "MediaPipeline is stopping automatically after 20-30 minute"
### What happened and what did you expect to happen?

chime:MediaPipelineDeleted is triggered automatically even when there is no request to stop recording made by the user or last participant left.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.htm

[2021-11-12 12:30] JunedBrilworks opened #1789 "How to test meeting session with over 100 attendees"
We have an application built-in using chime SDK. Our customers are frequently complaining about reconnecting issues (on `audioVideoDidStartConnecting` we are showing reconnecting UI until connected again) even though they have a good connection. This issue mostly occurs when the attendee's count is greater than 50.

Just for note, we have already applied video prioritization and also we are decrea

[2021-11-12 16:19] devalevenkatesh commented on #1788
Can you also please provide browser console JS SDK logs by providing the console logger while creating the meeting session?

https://aws.github.io/amazon-chime-sdk-js/modules/apioverview.html#1a-create-a-logger

[2021-11-12 16:54] devalevenkatesh commented on #1789
Thank you for reporting the issue.

The `audioVideoDidStartConnecting` is triggered when the SDK tries to re-connnect and at the initial start when you call `meetingSession.audioVideo.start()`. You should be getting the `audioVideoDidStartConnecting` with `receonnecting` parameter as a boolean, it will be `true` in re-connection and `false` if just normal initial start.

So, I assume, you have imp

[2021-11-12 18:10] richnew10 opened #1790 "tileWillBePausedByDownlinkPolicy event is notified asynchronously"
It stands to reason that a 'will' event should be processed by observers _before_ the action takes place. This is necessary for consumers to perform tasks like snapshotting a video stream, adapting layout, etc.

That is not the case for `VideoPriorityBasedPolicy`, where

https://github.com/aws/amazon-chime-sdk-js/blob/master/src/videodownlinkbandwidthpolicy/VideoPriorityBasedPolicy.ts#L248-L256

f

[2021-11-12 21:45] zhemitu-amzn commented on #1695
@LouisMx Currently the best audio quality configuration is
`audio: { autoGainControl: false, channelCount: 1, echoCancellation: false, googAutoGainControl: false, latency: 0, noiseSuppression: false, sampleRate: 48000, sampleSize: 16, volume: 1.0 }`
This will give you a 64 kbps 48 kHz sampled Opus audio stream.

[2021-11-12 22:12] haifengx commented on #632
@evandroguedes thanks for sharing. SDK's existing single mixed audio stream should be compatible with the [PannerNode](https://developer.mozilla.org/en-US/docs/Web/API/PannerNode) Web API you mentioned. But I agree builders could benefit from split audio streams for more sophisticated spatial audio calculation with more than two channels.

Thanks again for sharing your needs and use cases. This is

[2021-11-12 22:27] ltrung commented on #1762
Updated the code in the branch https://github.com/aws/amazon-chime-sdk-js/tree/ios-15.1-fix to include Safari and iPad 15.1.
Can you give it a try?

[2021-11-12 22:33] devalevenkatesh commented on #1756
We tried to repro the echo issue in the demo app but could not using an Samsung Galaxy S20. So this might be issue for specific devices.

Few next questions?
1. Are the participant devices close to each other? If yes, there will be echo and is an general issue with various WebRTC platforms.
2. As mentioned in the linked #1752 we already use recommended echoCancellation media constraints when reque

[2021-11-12 23:11] nmonasterio commented on #1756
Thanks for the info, @devalevenkatesh. Regarding your comments:

1. No, the participants are in different rooms/homes/etc.
2. I just uploaded logs for you and attached them to this comment.
3. Trying that out now.
4. So far, I've only been able to reproduce on the following user agent (on a Motorola G Force): `Mozilla/5.0 (Linux; Android 10; moto g power (2021)) AppleWebKit/537.36 (KHTML, like Gec

[2021-11-12 23:21] devalevenkatesh commented on #1773
Closing due to reported safari bug.

[2021-11-12 23:21] #1773 closed

[2021-11-13 00:18] michhyun1 commented on #1756
Just an observation: I see that only two types of audio input are selected: "null" and "default".

Default:
[code]

Null:
[code]

[2021-11-13 00:24] michhyun1 commented on #1756
The motorolla has two audio input devices:
{\"deviceId\":\"default\",\"kind\":\"audioinput\",\"label\":\"Default\",\"groupId\":\"23f63778bce3b6df29039fbbd80b293ebb61a399777ad533e14acb19e0cf485a\"},

{\"deviceId\":\"6c7b7087c121ec363a01ffd7799319bae4894f4ade640f3a7b73ad2a44183b6e\",\"kind\":\"audioinput\",\"label\":\"Speakerphone\",\"groupId\":\"c73cfab980eeda4673cbee52e1b344e30589f80f741e1509a53c5

[2021-11-13 05:29] JunedBrilworks commented on #1789
@devalevenkatesh
`So, I assume, you have implemented audioVideoDidStart and showing banner from the audioVideoDidStartConnecting when reconnecting is true until audioVideoDidStart. Please let me know if this is correct?`

yes that's correct

[2021-11-13 15:28] nmonasterio commented on #1756
@michhyun1 I'll look at the details for the `null` device. First thing I can think about is that it could be because I'm are trying to implement VoiceFocus by default upon joining. Would that device still be called `null` after it was transformed? (Regardless, attempts to turn on VF by default are only sometimes successful on mobile devices.)

Re: wired headset... Yeah, tested with both options, w

[2021-11-14 17:03] majo35-6c opened #1792 "Attendees cant see Shared Video File"
### What happened and what did you expect to happen?

 - try share video
 - however only presenter can see video
 - attendees can t see video only black screen
 - as attendee i want to see Shared Video File with right colors
![image](https://user-images.githubusercontent.com/80401548/141690423-158d443a-0c12-4c56-99e3-201671d49b08.png)

- which type of video can user share ?
- only test video works

[2021-11-15 00:19] ajselvar-work commented on #1788
@abhimanusharma Can you please provide the meeting id where the issue happened

[2021-11-15 05:59] abhimanusharma commented on #1788
@ajselvar-work Let me reproduce this issue and come up with meeting id and logs.

[2021-11-15 06:04] JunedBrilworks commented on #1789
Here are some event logs for the recent meeting. If it's helpful.
[logs-insights-results.csv](https://github.com/aws/amazon-chime-sdk-js/files/7536223/logs-insights-results.csv)

[2021-11-15 06:50] ajselvar-work commented on #1777
@dimabory can you please provide a sample meeting id to further debug this issue

[2021-11-15 08:54] kaizau commented on #1122
@ltrung We're trying to use a priority-based downlink policy to implement a featured view, but so far, haven't been able achieve a satisfactory result.

The goal is to have a featured video that is always downloaded at maximum quality. In our implementation, the featured video has a priority of `1` while all others are `2`.

This initially seems to work but:

1. The featured stream is still downgr

[2021-11-15 12:08] dimabory commented on #1777
Hi @ajselvar-work . Please check `2646bd30-26be-4d2c-b190-8814de210706`. I was able to receive `chime:MediaPipelineInProgress`, but not `chime:MediaPipelineDeleted`, which I assume should have come when I stop recording.

[2021-11-15 15:42] svrtelka commented on #1728
@ltrung it seems to be working fine, but I need to enable the audio track before connecting the stream to `analyserNode`. Can we use it like this? Is it ok if we're enabling the track ourselves?

[code]

[2021-11-15 16:47] devalevenkatesh commented on #1792
Thanks for reporting the issue, this is a known issue and we have an FAQ for the same:
https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#when-i-stream-video-in-chrome-other-attendees-see-a-black-screen-is-this-a-known-issue

The corresponding [chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1156408) is still open and reproducible in 95.0.4638.69 (Official Build) (x86_

[2021-11-15 16:47] #1792 closed

[2021-11-15 17:15] ltrung commented on #1728
I would thought that the audio stream is already enabled if there is a value there. Does it not work without that manual enabling?

[2021-11-15 17:17] svrtelka commented on #1728
No it doesn't. Looks like if I have mic muted in a meeting I have to enable it manually.

[2021-11-15 17:24] ltrung commented on #1728
I see good one. So I don't think you can enable the mic stream since it will unmute the user then.

[2021-11-15 17:37] ltrung commented on #1122
@kaizau
1. Yes, this is the current default behavior for the simulcast policy. You can extend it and change the behavior and remove the downscaling. You can see an example in this code branch https://github.com/aws/amazon-chime-sdk-js/blob/new-simulcast-policy/src/videouplinkbandwidthpolicy/SimulcastUplinkPolicyNScaleLowStream.ts
2. This seems like a priority-based behavior. Do you see the event `

[2021-11-15 19:28] majo35-6c commented on #1792
@devalevenkatesh @ltrung

my workaround. works in chrome on windows and ubuntu:
- get stream from VideoElement
- put to DefaultVideoFrameProcessorPipeline

[code]
- to mediaStream from contentPipeline add Audio stream from VideoElement
- startContentShare(mediaStream);
- attendees can see Video

[2021-11-16 06:55] abhimanusharma opened #1793 "Question: How to re-create a meeting with same meeting title. If left meeting by accident."
This question is related to Chime SDK js and not Chime application.

### What are you trying to do?

Scenario 1: Suppose I created a meeting and joined the meeting and by mistake closed the tab, then due to network issue I joined the same meeting after 5 minute. Then I am getting error meeting not found.
Scenario 2: Suppose I have scheduled a meeting from my application for Nov 17 at 12:50 and hos

[2021-11-16 18:18] changchih1121 commented on #1440
Update: JS SDK team was testing the fix  (https://code.amazon.com/reviews/CR-59478056) and getting the expected results. JS SDK team will then publish a new version of the JS SDK, including the "AudioAttendeeRemoved" status code change on 11/23. After that, we can enable the feature globally and resolve this TT.

[2021-11-16 20:18] vincebai commented on #1785
Can we get some info on the time the meeting was created so I can check the appropriate logs?

[2021-11-16 22:24] tenge-amzn commented on #1782
Hi @MjdBh
How was the recording started? Is it though create-media-capture-pipeline?

[2021-11-16 22:30] MjdBh commented on #1782
Yes it start from create media pipeline

[2021-11-16 22:31] MjdBh commented on #1782
Yes all using video

[2021-11-17 00:24] michhyun1 commented on #1756
@nmonasterio Sorry, we haven't been able to reproduce this with the Samsung device. Ideally, the echo should not occur even if the voice focus is disabled - what happens if you select a different microphone? My guess is that somehow the speaker output is being used while the non-speaker microphone (which is not good at filtering out feedback from its own speakerphone) is in use - causing the mic o

[2021-11-17 01:28] paul365 opened #1797 "Random video tiles freezing with simulcast and Video priority based downlink policy on"
### What happened and what did you expect to happen?

Video tiles are freezing, getting 0 receivedAverageBitrateKbps for multiple video tiles. Videos are not paused by the downlink policy and just start freezing after a few minutes after joining. After refreshing and rejoining the frozen tiles start moving again but start freezing again after a while. I expect tiles not to freeze, unless if the vi

[2021-11-17 01:30] dchen-aws commented on #1710
The bug is introduced in the Apple embedded webkit that is affecting all browsers on iOS and iPadOS 15.1. Relevant issue here for iPad #1762

We have seen that this has been addressed in 15.2 which is not general public yet. To work around this platform bug, we are balancing the choice of flipping to VP8 codec for embedded webkit based browsers in the SDK (which could cause higher CPU utilization

[2021-11-17 01:31] dchen-aws commented on #1762
See response here also https://github.com/aws/amazon-chime-sdk-js/issues/1710#issuecomment-971039472

[2021-11-17 07:13] ajselvar-work commented on #1782
@MjdBh There are total of 9 capture media-pipelines Create and Delete for this particular meeting. 8 for 30 seconds and the last one lasted for about a minute. Will you be able to tell us which media-pipeline u had issue with?

Please make sure that you have audio turned on when you start the media capture. Since media-pipelines capture the active speaker stream, it will wait for the audio to be a

[2021-11-17 07:36] ajselvar-work commented on #1777
Our record shows that the service was able to successfully publish to the SNS topic you provided and the eventbridge.

[2021-11-17 10:53] karthi-manoharan commented on #1762
Hi Team,

We are waiting for the issue to be fixed. It's creating problems with the iPad and now iPad users cant able to use the application for the past 9 days. We are expecting a quick fix asap.

[2021-11-17 16:27] ArtemZakharchuk opened #1799 "Webcam blinks after stopping blur background filter."
### What happened and what did you expect to happen?

When a user deactivates(stops) the blur filter for background the webcam stream is noticeable blinks.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/a

[2021-11-17 16:54] BissacM commented on #1762
Still have not understood if this issue was fixed or not.

[2021-11-17 17:24] devalevenkatesh commented on #1785
I checked backend events on the provided MeetingId and AttendeeId and find that the meeting was auto-ended.

MeetingId: `cff0e00e-f533-45df-8454-e6f2c7ec0706`
AttendeeId: `52f2bbfe-8488-e450-d7e4-1bc2aa88d456`

11/11/21 01:23:02 - Meeting created
11/11/21 01:23:04 - Attendee added (`52f2bbfe-8488-e450-d7e4-1bc2aa88d456`)
11/11/21 01:23:10 - Above attendee presence triggered and joined successfully

[2021-11-17 19:16] dchen-aws commented on #1762
@karthi-manoharan @BissacM this [branch](https://github.com/aws/amazon-chime-sdk-js/tree/ios-15.1-fix) contains a fix for Chrome and Safari on iPadOS 15.1.

[2021-11-17 21:06] nmonasterio commented on #1756
@michhyun1 Here are our findings after toggling mics.

Participant 2 starts with:

- `Default`: Echo present.

Participant 2 switches to:
- `Speakerphone`: Echo present.
- `Headset`: Echo present, but here's the catch: The participant does not have a headset plugged in.
(Not including `440` and `None` for obvious reasons.)

In all of these, regardless of using VoiceFocus, participant 1 still hears

[2021-11-17 21:55] beta-alpha001 opened #1800 "meeting keeps retrying due to ICEGatheringTimeoutWorkaround and never throws meetingStartFailed"
### What happened and what did you expect to happen?

Sometimes meeting get stuck in connecting state forever, with warnings like
`Your connection is poor`
`no transition found from Disconnecting with Update`
`peer connection negotiation is needed`
`will retry due to status code ICEGatheringTimeoutWorkaround and error: serial group task AudioVideoStart/6ae8a1fb-83b8-4523-900b-8e7484d60706/a40909b6

[2021-11-17 22:16] vincebai commented on #1785
I see in our application logs that we published an event bridge message with for this meeting with MeetingEnded event at 2021-11-11T02:15:05.006. Looping in EventBridge team for further investigation and will get back to you.

[2021-11-17 22:18] michhyun1 commented on #1756
Headset does not refer to an external headset - it refers to the mode of the phone mic/speaker usage.

When you call someone on your phone, you can use the Speakerphone mode - this uses the Speakerphone mode mic (able to filter out the Speakerphone speaker)  and Speakerphone speaker (plays extra loud).

When you switch to Headset - this is the mode when you have to put your phone to your ear to ac

[2021-11-18 00:01] michhyun1 commented on #1793
Hopefully you saw this guide in our docs:
https://docs.aws.amazon.com/chime/latest/dg/create-mtgs.html
[code]
Are you storing your meetings in some DDB - similar to how its done in the JS SDK demo? If a createMeeting API call is made with the same meeting title as another meeting that has already ended, then you should be able to call createMeeting and re-use the meeting title. Just note that the

[2021-11-18 00:07] michhyun1 commented on #1799
@ArtemZakharchuk could you perhaps attach a screen recording? I'm not sure what you mean by "blinking". If the camera is turning off and then on and then off, then perhaps there might be some demo bug. But from my test, that doesn't seem to be the case.

[2021-11-18 02:41] kathylaird commented on #1277
Actually I am seeing this issue on:
Safari Version 15.1 (15612.2.9.1.30, 15612),
Mac OS Catalina 10.15.7

[2021-11-18 04:12] JunedBrilworks commented on #1789
@devalevenkatesh  any update?

[2021-11-18 05:47] christiansaavedra opened #1803 "TypeError: Cannot read properties of undefined (reading 'bgd')"
### What happened and what did you expect to happen?

Hello,

I've using Chime on my react app for months and it went well. Today, I updated react to version 17.0.2, and also Material UI to v5. Since then, I've been receiving this error when joining a meeting.

I also updated to the latest chime and react chime versions, but the error appeared on the old ones I had too.

I didn't received any erro

[2021-11-18 06:50] Nanosync opened #1804 "Navigator API errors are being rethrown as generic errors"
### What happened and what did you expect to happen?

We are currently catching error names and handling them by a switch case when calling functions `listVideoInputDevices`, `listAudioInputDevices`, `chooseVideoInputDevice`, `chooseAudioInputDevice`. However, the chime JS sdk rethrows errors leading to generic errors, although the `error.message` property is preserved. In the `handleGetUserMediaE

[2021-11-18 14:05] andreisergiu98 opened #1805 "Streams can get mixed up or blank when using simulcast"
### What happened and what did you expect to happen?

![image](https://user-images.githubusercontent.com/11740700/142432375-0fefa845-43d9-4770-8c98-d3a1bdaa93ca.png)

Attendee 1 renders stream of attendee 2 and attendee 2 appears blank.

The issue is random, happens only locally for some attendee(s), does not revert to its initial state no matter what change (except browser refresh) any attendee m

[2021-11-18 16:32] vincebai commented on #1767
Have you verified that the passed in string in the request is not empty before awaiting on the promise? Do you get the same result with a string constant value passed in to the request instead of your `title` variable?

[2021-11-18 16:37] vincebai commented on #1767
This it the request body that I see in our logs. Seems that you are passing in `null` as the ExternalMeetingId
[code]

[2021-11-18 17:30] devalevenkatesh commented on #1742
Closing the issue due to no-activity, please feel free to re-open if you still face issue. As suggested in an earlier comment request to also refer the meeting demo linked to compare the implementation.

[2021-11-18 17:30] #1742 closed

[2021-11-18 17:32] devalevenkatesh commented on #1790
The PR is merged now, hence closing the issue.

[2021-11-18 17:32] #1790 closed

[2021-11-18 17:38] hensmi-amazon commented on #1797
I've localized this to an issue on backend with regards to non-subscribed videos being disabled when the client is simulcast stream switching and am pushing a change.  It would probably go in starting next week but due to holidays it may only be partially deployed.  I will update this ticket next week.  In the mean time if possible you can temporarily disable simulcast.

[2021-11-18 17:59] devalevenkatesh commented on #377
Closing this issue as it documented now in our FAQ as a default browser behavior.

https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#i-notice-that-if-i-turn-on-camera-and-put-the-browsers-in-background-others-in-the-meeting-will-see-black-tile-in-safarichromefirefox-in-ios-and-frozen-tile-in-chrome-in-android-is-this-a-known-issue

Please feel free to re-open if you have more questions.

[2021-11-18 17:59] #377 closed

[2021-11-18 20:13] devalevenkatesh commented on #1803
Closing as I see you opened one on the React library here:
https://github.com/aws/amazon-chime-sdk-component-library-react/issues/675

[2021-11-18 20:13] #1803 closed

[2021-11-18 20:24] christiansaavedra commented on #811
Has this been solved?

[2021-11-18 20:26] christiansaavedra commented on #1803
Sure, no problem. Sorry for the duplicate.
By the way, do you know how can I fix it?

[2021-11-18 22:20] andreisergiu98 opened #1807 "Wrong stream for a split second after calling chooseRemoteVideoSources on Firefox"
### What happened and what did you expect to happen?

We use priority based downlink policy to unsubscribe to streams that are not in view. As shown in the video below, after `chooseRemoteVideoSources` is called Firefox will render a wrong video stream for a moment, afterwards the correct stream is rendered.
There is also a similar issue where we choose remote video sources some of the streams wil

[2021-11-19 00:56] michhyun1 commented on #811
@christiansaavedra unfortunately not - [we cannot currently select audio outputs on ](https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/07_FAQs.md#i-am-unable-to-select-an-audio-output-device-in-some-browsers-is-this-a-known-issue)

[2021-11-19 02:30] devalevenkatesh commented on #737
We recently released a guide on managing video layout and looks like your use case fits it:
https://aws.github.io/amazon-chime-sdk-js/modules/videolayout.html

Could you please check once and see if it help with your use case.

[2021-11-19 02:34] devalevenkatesh commented on #1003
We have filed a WebKit bug for the same:
https://bugs.webkit.org/show_bug.cgi?id=231105

We have added it to know browser issues. Request you to please check. Closing the issue as we have an active Webkit bug for it.

[2021-11-19 02:34] #1003 closed

[2021-11-19 06:16] ryanbrown-rcd opened #1810 "Creating Messaging Sessions without the AWS SDK for JavaScript v2"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-11-19 18:28] pgutierrez-bcov commented on #1762
Tried the latest from master as it seems to have been merged and we were still able to reproduce this on iPadOS15.1. Works fine on iOS15.1

[2021-11-19 19:39] ltrung commented on #1762
It worked fine for me on iPad iOS 15.1.0. Could you attach a console log?

[2021-11-19 19:52] dchen-aws commented on #1762
and which browser are you using?

[2021-11-19 20:54] sanjitkung opened #1812 "Attendees dropping from meeting"
I was trying to test what happens when there are more than 200 attendees in my app.

I created 10 ECS tasks that opens up 20 headless browser instance in each. Then I ran puppeteer script that navigate through my application, fill required fields and join the meeting.

After some time time, I saw few attendees were dropping from the meeting randomly.  updateAttendeePresence callback return presenc

[2021-11-19 22:11] kg-jcaron opened #1813 "Missing remote video tiles"
### What happened and what did you expect to happen?

We're seeing an issue where occasionally user A can't see user B's video, despite user B having their video enabled and all other users being able to see it.

The issue seems to start right on joining the meeting.

Even after 10+ minutes the video won't load unless the user B toggles their camera off and on again. Calling `meetingSession.audioV

[2021-11-19 23:03] michhyun1 commented on #1810
@ryanbrown-rcd thanks for bringing this up. We'll try to get to this as soon as we can.

[2021-11-20 00:54] devalevenkatesh commented on #1812
Thanks for reporting the issue. Could you please use **Bug report form** template from [here] to create the issue? It helps us getting more information when you file the issue.

Could you please provide browser console level logs to check further on this?

[2021-11-20 01:15] ltrung commented on #1804
I created PR #1815 to address this issue but for now you can check the error name via error.cause.name.
[code]

[2021-11-20 01:17] ltrung commented on #1813
Do you use Simulcast by any chance?

[2021-11-20 01:22] ltrung commented on #1812
JS SDK requires audio input to for the attendeePresence. Otherwise, the attendee will be kicked from the meeting. You can use `--use-fake-device-for-media-stream', '--use-fake-ui-for-media-stream` when testing with headless devices for fake audio.

[2021-11-20 01:32] devalevenkatesh commented on #1789
Hi @JunedBrilworks ,

Thanks for providing some insight into the events. From the attached logs there are three types of failures I can see:
1. The signaling connection was closed with code 4403 and reason: attendee unavailable
2. WebSocket connection failure:
[code]

We have an FAQ about these failures: https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#what-does-it-mean-when-the-amazon-

[2021-11-20 01:40] ltrung commented on #1800
The default threshold for reconnect is 15s as mentioned in our [FAQs](https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/07_FAQs.md#what-is-the-timeout-for-connect-and-reconnect-and-where-can-i-configure-the-value). You should also receive `audioVideoDidStop` event.

[2021-11-20 01:46] devalevenkatesh commented on #1793
@abhimanusharma as Michael pointed the auto-end policies you will get the same error if someone creates the meeting and joins it.

You can create the meeting with the same meeting title and I think Amazon Chime meeting does not have any constraint on the ExternalMeetingId as far as I checked here:
https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateMeeting.html#API_CreateMeeting_Reques

[2021-11-20 01:46] ltrung commented on #1813
There is a blank tile with the paused state set to true (tileId=6) which seems to indicate that the priority downlink policy does not subscribe to that subscriber due to bandwidth and instead just create a blank video tile. Did you receive any `tileWillBePausedByDownlinkPolicy` event?

[2021-11-20 03:18] sanjitkung commented on #1812
@devalevenkatesh  Please find the attached log file. Attendee removed logged around line 1347.
[1637377644606.log](https://github.com/aws/amazon-chime-sdk-js/files/7573841/1637377644606.log)

@ltrung I added these flag to headless chrome, but no luck. Also I want to point out:

- It does not remove all the users, Only few random users being kicked out.
- As number of attendees increase, it kick ou

[2021-11-20 04:21] ryanbrown-rcd commented on #1810
Awesome, thanks for the quick response, @michhyun1!

[2021-11-20 15:48] ezramorse commented on #1762
Please bump npm to 2.21.2. Thanks

[2021-11-20 22:17] sanjitkung commented on #1812
I also added MeetingSessionPOSTLogger to my to log headless chrome event. One the users that got removed had this log
[log-events-viewer-result (2).csv](https://github.com/aws/amazon-chime-sdk-js/files/7575441/log-events-viewer-result.2.csv)

[2021-11-21 06:52] husaindevelop commented on #1813
Soon we experience a problem, you are reminded and undermentioned lose no time connecting you. Here before you with another problem soliciting your guidance for its way out. That was only in the ligher vein, we do remember you and valued support you have provided.

The current problem that we have encountered is the dimension of video-frame enhances proportionately and not discretely. For instance

[2021-11-21 06:53] husaindevelop opened #1817 "Need video-frame length and breadth be varied at discretion"
Soon we experience a problem, you are reminded and undermentioned lose no time connecting you. Here before you with another problem soliciting your guidance for its way out. That was only in the ligher vein, we do remember you and valued support you have provided.

The current problem that we have encountered is the dimension of video-frame enhances proportionately and not discretely. For instance

[2021-11-21 13:40] husaindevelop commented on #1386
The above link is broken.

[2021-11-21 16:30] husaindevelop opened #1818 "Video not initializing in chrome version 95 in mobile"
Be informed, we are using amazon chime sdk single js for our one-to-one video chat application.  Its working perfectly fine in EDGE, chrome browser in laptop and safari in mobile. But chrome mobile version 95 does not seem to initialize video. at all Though it asks for permission for microphone and webcam permission, but video never initializes.  Here is the entire code:
[code]

Do guide us as how

[2021-11-22 17:28] devalevenkatesh commented on #1386
Sorry, looks like there was renaming, here is the updated link:
https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/android-webview-sample

[This repo](https://github.com/aws-samples/amazon-chime-sdk) holds Amazon Chime SDK sample demos.

[2021-11-22 17:51] devalevenkatesh commented on #1818
Thanks for reporting the issue.

I see that you make below calls one after the other:
[code]

With this, the `startLocalVideoTile` can get called before the JS SDK actually starts the meeting session successfully and hence might not start the local video as expected.

Few suggestion to see if this fixes the problem:
1. Call the `meetingSession.audioVideo.startLocalVideoTile();` after you receive a

[2021-11-22 19:33] hensmi-amazon commented on #1797
The backend changes to fix the issues described in this issue have been deployed.  Please reopen (or cut a new issue) if you continue to see freezes like mentioned.

[2021-11-22 19:33] #1797 closed

[2021-11-22 19:49] hensmi-amazon commented on #1703
I have been able to localize the issue to the same as https://github.com/aws/amazon-chime-sdk-js/issues/1797 .  The fix for that has been deployed, so will close this. Please reopen (or cut a new issue) if you continue to see freezes like mentioned.

That binding mechanism sounds correct to me.

[2021-11-22 19:49] #1703 closed

[2021-11-22 19:56] vidya-mohan commented on #1529
@ArtemZakharchuk @mrnav90 https://github.com/aws/amazon-chime-sdk-js/pull/1686 so resolving this

[2021-11-22 19:56] #1529 closed

[2021-11-22 20:40] ltrung commented on #1792
Nice @majo35-6c. Yes the current workaround is to send stream from canvas capture.

[2021-11-22 21:07] ltrung commented on #1818
What Chrome mobile version do you use? Is that iOS or Android?

[2021-11-23 00:37] hensmi-amazon commented on #1813
I'm seeing some oddities in this call, perhaps explanation (in addition to logs) may help us narrow down the issue.  I'm seeing that in this call there are about 8 attendees, and then 15 minutes in they all disconnect.  Then around 8 new attendees join a few seconds later.  Each external user ID prefix matched ones before the event.  Additionally most connecting IPs of the new attendees matched on

[2021-11-23 00:45] paul365 commented on #1797
thanks @hensmi-amazon!

[2021-11-23 10:03] mrnav90 opened #1823 "[Camera Preview] How can I Preview Camera while Meeting running"
Hi @ltrung

We have new implement change device while meeting running.
While meeting, we have a button open Modal Camera Preview. In the modal we can change camera device or audio device, my client want to preview camera before change.

I also thinking we will use MediaStream Track for video preview but I want to use Chime SDK API for this.
For future, we also implement virtual background preview

[2021-11-23 14:22] kg-jcaron commented on #1813
We're not using priority downlink policy (unless it's enabled by default?) or simulcast. I'll add logging on `tileWillBePausedByDownlinkPolicy` just incase though.

In terms of the users all reconnecting at once, we have functionality to switch from a stable build of our software to an experimental one (which happens to use a newer sdk version at the moment) and reconnect all the users which is wh

[2021-11-23 16:40] husaindevelop commented on #1818
Its Android - Chrome version 96.  We are using startVideoPreviewForVideoInput for self-tile view. I tried implementing all the options said by you. Lastly i created button click event as well to initiate the tile, it does work in laptop and safari mobile but not in chrome mobile.  I tried checking it in my laptop's chrome browser tools in- built mobile emulator, it worked fine there too, but not i

[2021-11-23 17:06] hensmi-amazon commented on #1813
Just to follow up there.  Wanted to confirm that you are intentionally using `pauseReceivingStream`.

Also in the aforementioned example, was the missing tile post reconnect? `357127#89202bb9-6bfa-4de7-97e8-c8e561bfa431` corresponds to an attendee post reconnect.  Also was the tile missing for all participants? Or one specific (could you mention which one?).

[2021-11-23 17:41] kg-jcaron commented on #1813
Yeah we do intentionally call `pauseReceivingStream` to pause streams we aren't rendering depending on the layout, but our logs don't have any records of us calling that in this case, and we have some test code that recalculates that logic which didn't resolve any of the issues in this case.

 Yes `357127#89202bb9-6bfa-4de7-97e8-c8e561bfa431` is the tile which was missing after the reconnect.

 Al

[2021-11-23 17:56] devalevenkatesh commented on #1812
@sanjitkung The log you attached is not a full log and only a few lines. You can check our [meetingV2](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/browser/app/meetingV2/meetingV2.ts#L1570-L1613) demo on how to use the meeting session POST logger.

Can you try increasing the ECS tasks and see whether that help?

[2021-11-23 19:16] RidipDe commented on #1812
Hi @sanjitkung,

May I suggest to try varying load capacity?
For example:
a. 20 ECS tasks1 -> 10 headless browser instance in each
b. 40 ECS tasks1 -> 5 headless browser instance in each

Do you still observe the similar issue of random attendees being pushed out?
If so, is the number of attendees being dropped in both scenarios similar to what you were observing before?

[2021-11-23 21:28] devalevenkatesh commented on #1695
Closing this issue, please feel free to re-open / create if required.

[2021-11-23 21:28] #1695 closed

[2021-11-23 21:30] devalevenkatesh commented on #1722
Closing due to no activity, please feel free to re-open if you still find this issue.

[2021-11-23 21:30] #1722 closed

[2021-11-23 21:31] devalevenkatesh commented on #1756
@nmonasterio could you please check above reply and provide more information here?

[2021-11-23 21:59] hensmi-amazon commented on #1807
Thanks for the report.  For our investigation, could you describe how you are binding the tiles? Are you reusing Video HTML elements?

[2021-11-23 22:04] sanjitkung commented on #1812
@RidipDe Thanks a lot. Using 10 headless browser instance in each task seems to solve the problem.

[2021-11-23 22:04] #1812 closed

[2021-11-23 22:50] devalevenkatesh commented on #1817
@husaindevelop could you please provide any screenshots to better understand your issue here?

- We would like to understand what you are trying to do?
- Are you using any video uplink / downlink policy features?
- Is this specific browser related?
- For instance the size we get is 400px x 250 and enhances proportionately to 800 x 500 and not discretely like 400 x 800? Could you explain when this

[2021-11-23 22:55] devalevenkatesh commented on #1823
Currently, you will be able to do so but two video stream one for the local video and one for preview video do not work simultaneously once stopped, hence if you can start the preview video or the local video but when stopping one the other will stop as well.

The JS SDK has APIs to start/stop the video preview if you have already provided the video permissions to browser and have chose a valid vi

[2021-11-24 03:53] karthi-manoharan commented on #1762
Hi @ltrung

[2021-11-24 04:11] devalevenkatesh commented on #442
Re-tested on iOS Safari 15.1.1 with JS SDK 2.23.0 and could not reproduce the issue.

Request you to please re-open the issue if this is still an issue with latest SDK versions for you. We also could not repro this issue in iOS 14 as per last check. Closing this issue now if still reproducible with latest version. Also request you to upgrade to newer versions.

[2021-11-24 04:11] #442 closed

[2021-11-24 06:33] devalevenkatesh commented on #1788
Closing due to no-activity, but please feel free to re-open if you still face issue with request information. Thanks!

[2021-11-24 06:33] #1788 closed

[2021-11-24 06:34] devalevenkatesh commented on #1777
@dimabory Is this still an issue? We could see that the events were successfully posted.

[2021-11-24 06:38] devalevenkatesh commented on #625
@Jhonsensf Could you once check if you are successfully able to get the appr.tc to run fine? Or any peer-connection demo example in the official WebRTC samples?
https://webrtc.github.io/samples/ check examples under "RTCPeerConnection".

Please let us know if this is still an issue.

[2021-11-24 06:40] devalevenkatesh commented on #1758
Closing the issue due to the provided FAQ and added workaround. Please feel free to re-open if still an issue.

[2021-11-24 06:40] #1758 closed

[2021-11-24 06:43] devalevenkatesh commented on #1721
Closing this issue, since we have added a WebKit bug and added it to #1059 list where we track all browser bugs. Thanks!

[2021-11-24 06:43] #1721 closed

[2021-11-24 06:46] devalevenkatesh commented on #1710
Closing this issue and tracking it in #1762 as it is the same issue.

[2021-11-24 06:46] #1710 closed

[2021-11-24 06:54] devalevenkatesh commented on #1351
Closing this issue due to no further activity, please feel free to re-open if you still face an issue. @abhinavOmni are you still facing issue? Could you please create a new issue since yours is different from the one discussed here.

[2021-11-24 06:54] #1351 closed

[2021-11-24 07:00] devalevenkatesh commented on #1799
@dimitarz @davcolle Could you please look into this issue?

[2021-11-24 08:22] dimabory commented on #1777
Yes, we can close this

[2021-11-24 08:22] #1777 closed

[2021-11-24 08:43] abhinavOmni opened #1829 "ERROR unable to get video and device for constraints - error only in specific devices suddenly..PFA"
### What happened and what did you expect to happen?

While joining the meeting form chrome browser, it showing this error.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws/amazon-chime-sdk-js#amazon-ch

[2021-11-24 16:03] husaindevelop commented on #1817
The screenshots would give you a better understanding
![error](https://user-images.githubusercontent.com/62126860/143272672-cdb9dad4-2510-4e5a-9ab2-fd8f88d4b955.png)
This is test video chat room. As you can see, the viewport dimensions is 400 width x 700 height. But the video tile only reaches 400px width and 250px height, which means it is only the quarter of the viewport's dimension. What i want

[2021-11-24 16:30] hensmi-amazon commented on #1805
Thanks for the report. Do you have any reproductions with logs enabled?  If not do you have a call ID with an approximate timestamp?  I don't think that issue linked would caused swapped streams, but I have been looking into logic in the transceiver controller to see if a certain order of adding and removal could cause the mapping to get out of order.

Lastly, wanted to confirm:
* If you are using

[2021-11-24 17:33] ltrung commented on #1762
Double check and verified that I could turn it on in my iPad Pro.
@karthi-manoharan  Could you print out the navigator.userAgent in that iPad and post it here and maybe a console log before it crashes? The core issue is that iOS 15.1 has a bug with H264 video encoding so we need to disable it for certain devices based on user agent so my guess is that your device has a different user agent than th

[2021-11-24 18:43] ltrung commented on #1804
@Nanosync Would the PR #1815 solve your use case? We will return the class name instead of the generic Error name?

[2021-11-24 19:58] karthi-manoharan commented on #1762
@ltrung
As per iPad, I can able to debug only the Safari browser. I cant able to debug and get the console log for the brave browser. Can you please help me to find out

[2021-11-24 20:14] ltrung commented on #1762
@karthi-manoharan Please refer to my previous post but we do not currently support Brave information.

[2021-11-24 22:29] ltrung commented on #1804
PR #1815 has been merged so close this.

[2021-11-24 22:29] #1804 closed

[2021-11-24 23:17] hensmi-amazon commented on #1807
I believe I have an easy repro, and a likely fix in https://github.com/aws/amazon-chime-sdk-js/pull/1831 .  If you have a chance could you try that branch?  It will hopefully be a part of next release.

[2021-11-24 23:18] hensmi-amazon commented on #1805
A possible fix is in https://github.com/aws/amazon-chime-sdk-js/pull/1831 but it is hard to be sure without aforementioned logs and answers.

[2021-11-25 01:50] djbuch commented on #1113
Hello,
Now that EAS is out, do you plan to add any expo config plugin to your bundle (https://docs.expo.dev/guides/config-plugins/) ?

Regards,
David

[2021-11-25 04:45] chuckntaylor opened #1833 "Further guidance new EchoReduction API"
### What are you trying to do?
I am trying to make use of the new EchoReduction API.

On the server side I am using `aws-sdk`(js) v.2.1036.0
My code is as follows on the server:
[code]

On the frontend, I followed the similar example from #1821 using `amazon-chime-sdk-js` v2.23.0. However, I get an error before I can even start to make use of the returned `VoiceFocusDeviceTransformer`
[code]

The

[2021-11-25 05:14] chuckntaylor commented on #1833
*Update* I have this working now.

On the server, I was setting:
[code]

If I get rid of this line, everything seems to work now.

I have to say that this echo reduction is VERY effective. I ran two instances of the meeting from the same computer, and there is absolutely no echo. Congrats to the hard working devs!

[2021-11-25 05:16] sanjitkung opened #1834 "How can I set nameplate?"
### What are you trying to do?

I'm trying to set nameplate on video element. I can see there is nameplate property on TileState object, which is null. How can I set the nameplate. Does I have to pass this parameter from the server while calling CreateAttendee endpoint?

### How can the documentation be improved to help your use case?
Include instruction to add nameplate to tile.

### What documen

[2021-11-25 05:31] karthi-manoharan commented on #1762
Thanks @ltrung

[2021-11-25 05:57] Nanosync commented on #1804
Hi @ltrung, yes, it will solve the issue. Thank you!

[2021-11-25 06:10] husaindevelop commented on #1817
Prompt response to queries however complicated, complex they were has been your characteristic, which is laudable. Understand circumstances you are into now and therefore no issue about the delay. Take your time and let things come to status quo ante. Shall Wait.

[2021-11-25 14:35] chuckntaylor commented on #1833
Hello again. I just wanted to share this morning that I logged out the meeting and attendee objects again on the server after having removed the endpoint setting, and now I see the `MeetingFeatures` property

[code]

I'm not sure why the endpoint setting caused the problem - no errors were thrown at the time. I just noticed in the discussion of pull #1821 there was some chat regarding whether or n

[2021-11-25 15:51] andreisergiu98 commented on #1807
Hi! Thank you for your response!
We tried out your PR and while streams are rendered correctly we encountered some disconnections when we call `chooseRemoteVideoSources` multiple times in rapid succession (both on firefox and chrome).

[code]
Also I forgot to mention that streams from the upper region are paused for an instant when calling `chooseRemoteVideoSources`, this happens only on firefox w

[2021-11-25 17:49] ltrung commented on #1833
@chuckntaylor Glad that the feature works well for you.
So the new Echo ability feature is only available in Chime Meeting SDK (i.e., our sdk with regional endpoints) and not available in the regular Chime SDK (with global endpoint) and that endpoint line will set the endpoint to global.
EchoReduction works the same way as Voice Focus and is processed on the client and thus, dependent on the clien

[2021-11-25 18:02] ltrung commented on #1829
@abhinavOmni What is the OS in this case? The error is thrown by the browser when we try to get the video stream.
Can you try to manually call `getUserMedia` in developer console and see whether it succeeds?
[code]

[2021-11-25 18:04] ltrung commented on #1834
@sanjitkung I think that `nameplate` property is not actually used. Do you just want to get the name of the attendee from `TileState`. If so you can use the property `boundExternalUserId` instead.

[2021-11-25 18:18] chuckntaylor commented on #1833
Thank you kindly for your response. I really like the feature and it works great! Just a followup question to clarify my understanding a bit further.

My server-side code is written in typescript so I was quickly able to see that I needed to be calling `createMeeting` on `ChimeSDKMeetings` instead of `Chime` in order to have the typings for the `MeetingFeatures` properties on the `CreateMeetingReq

[2021-11-25 23:48] LouisMx opened #1835 "createMediaCapturePipeline: Unexpected key 'ChimeSdkMeetingConfiguration'"
### What happened and what did you expect to happen?

Hi community,

I implemented the mediaCapturePipeline. It works fine!
But, If I add the "ChimeSdkMeetingConfiguration" parameters to my capture settings, I get this error:
`UnexpectedParameter: Unexpected key 'ChimeSdkMeetingConfiguration' found in params`

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.

[2021-11-26 01:30] achris commented on #1835
Hi,

Could you also confirm the version of the AWS SDK that you are using?

[2021-11-26 09:55] LouisMx commented on #1835
Hi @achris ,
My lambda is running the Nodejs14x, so with the default SDK version 2.1001.0 (Lambda created recently)

[2021-11-26 14:51] ltrung commented on #1833
@chuckntaylor The previous global chime sdk contains all of our APIs from meetings, messagings, identity, and Chime Application. and thus, we recently migrate to a more specific name space (Chime Meeting SDK, Chime Messaging SDK, and Chime Identity SDK) so that its easier for developer to find the API they need. You can find more info in the [migration doc](https://docs.aws.amazon.com/chime/latest

[2021-11-26 14:54] chuckntaylor commented on #1833
Thanks for the clarification!

On Fri, Nov 26, 2021 at 9:51 AM Trung Le ***@***.***> wrote:

[2021-11-26 15:04] achris commented on #1835
Hi,

Support for the ChimeSdkMeetingConfiguration key was added in the SDK version 2.1003.0, could you try with a later version?

[2021-11-26 15:26] LouisMx commented on #1835
Thanks @achris !

it works... With the latest AWS SDK version (2.1036.0). Sorry :)

[2021-11-26 15:47] achris commented on #1835
Great, glad we were able to sort it out quickly

[2021-11-26 15:47] #1835 closed

[2021-11-27 01:33] husaindevelop commented on #1817
Hope you have resumed operations per status quo ante and looking forward for your support against query seeking as how vide tile's length and breadth be varied at discretion.

[2021-11-27 15:41] husaindevelop opened #1836 "Unable to stretch video tile vertically"
### What happened and what did you expect to happen?

![error](https://user-images.githubusercontent.com/62126860/143687740-68dd3a73-2ec5-435b-adeb-2b4feaf58ef5.png)

This is test video chat room. As you can see, the viewport dimensions is 400 width x 700 height. But the video tile only reaches 400px width and 250px height, which means it is only the quarter of the viewport's dimension. What i wan

[2021-11-28 03:59] sanjitkung commented on #1834
Thanks for clarification.

[2021-11-28 03:59] #1834 closed

[2021-11-28 04:08] sanjitkung opened #1837 "Listing attendees using AWS CLI includes attendee who left the meeting."
### What are you trying to do?
I am trying to list the attendees in meeting using aws cli. If some attendees left the meeting from browser, when I try to list attendees  in the meeting using cli, it includes the attendee that are already left. Is it expected?

### How can the documentation be improved to help your use case?
Not sure. its just a question.

### What documentation have you looked at

[2021-11-29 05:49] abhinavOmni commented on #1829
![image](https://user-images.githubusercontent.com/71629015/143815323-f74554b8-8489-401f-9b02-8cd875e59764.png

this is the error getting when running await navigator.mediaDevices.getUserMedia({video: true});

PLS SUGGEST HOW TO FIX THE ISSUE

OS: WINDOWS 10 and CHROME 96

[2021-11-29 18:43] devalevenkatesh commented on #1836
Hi @husaindevelop ,

Thanks for reporting the issue, could you please check this [FAQ](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#how-can-i-create-a-video-tile-layout-for-my-application) and see whether handling the video dimensions based on the aspect ratio helps?

Also is this issue an duplicate of #1817?

[2021-11-29 18:47] hensmi-amazon commented on #1807
Thanks for the try, and the code snippet.  I do not think the issue is related to reusing elements (moreso just the stale transceiver issue), but just wanted to check.  I will take a look at repro, could be related to needed more effort in cleaning up stale transceivers.

[2021-11-29 18:48] ltrung commented on #1829
Another sample to try is the webRTC sample app https://webrtc.github.io/samples/src/content/devices/input-output/ but if calling `getUserMedia` directly fails then I think it is an issue with either the device or a browser or OS permission setting. Also could you make sure you do not have another app or browser access the camera at the same time?

[2021-11-29 20:28] ltrung commented on #1800
Closing due to inactivity. Feel free to reopen if you still need help.

[2021-11-29 20:28] #1800 closed

[2021-11-29 20:30] #1793 closed

[2021-11-29 23:01] ltrung commented on #1768
Close due to inactivity. Feel free to reopen if you still need help.

[2021-11-29 23:28] ltrung commented on #1760
@abhimanusharma Can you verify that your typescript version in node_modules? ^4.2.4 means it can be any minor v4 version and I don't think JS SDK will work with TS v4.4+.

[2021-11-29 23:53] ltrung commented on #1736
Close this as the fix has been relesed.

[2021-11-29 23:53] #1736 closed

[2021-11-29 23:58] ltrung commented on #1728
Closing due to inactivity but feel free to reopen if you still need help

[2021-11-29 23:58] #1728 closed

[2021-11-30 00:31] haifengx commented on #1509
We deployed a server side change to fix the issue (no Chime SDK upgrade needed). Please test again and reopen if you are still seeing the issue. Thanks!

[2021-11-30 00:31] #1509 closed

[2021-11-30 00:34] ltrung commented on #1705
@Rambarani @ankit-maheshwari So in order to build out this, you would need to maintain a list of attendee with video and a roster. The roster can be updated with `realtimeSubscribeToAttendeeIdPresence` (See use case 24 in the README).
The list of attendees with video can be updated with `videoTileDidUpdate` and `videoTileWasRemoved`:
[code]

[2021-11-30 01:09] dvervitsiotis commented on #1737
Hi - thank you for your feature request! We'll keep this issue active and will post any updates we have.

[2021-11-30 07:45] beta-alpha001 opened #1840 "Attendee dropped"
### What happened and what did you expect to happen?

Attendee dropped in the middle of call while speaking but cannot find any log that explains this. There were no Errors or Warnings throughout the call.
Also received multiple logs like these however attendee has unmuted just once throughout the call
`received the mute event for tile\u003d1 id\u003d2533a108-a4b5-44bc-88c7-0ded23cc4a5e streamId\u

[2021-11-30 15:52] artem6connex commented on #1758
Hey @ltrung
For now, I have to redraw my canvas with at least 20 FPS and it causes a huge problem with performance
Is there another workaround that would cause less CPU consumptions in my case?

[2021-11-30 19:39] tenge-amzn commented on #1782
Closing for now. Please reopen if you still experience issues.

[2021-11-30 19:39] #1782 closed

[2021-11-30 20:01] ramgosala commented on #857
Have you tried Safari 15? Can you please share a sample audio recording with clicking sound?

[2021-11-30 20:40] hensmi-amazon commented on #1807
I've updated https://github.com/aws/amazon-chime-sdk-js/pull/1831/files to use `stop` (which required some more workarounds for browser quirks).  Note that I had to make a change to backend which won't be deployed until next week, so for testing you can use https://github.com/aws/amazon-chime-sdk-js/tree/no-reuse-transceivo-with-munge (explained in PR).

[2021-11-30 20:41] hensmi-amazon commented on #1805
https://github.com/aws/amazon-chime-sdk-js/pull/1841 has also been submitted to fix the aforementioned github issue.  For testing if truly desired you could combine those two.

[2021-11-30 20:43] hensmi-amazon commented on #1448
Sorry for the delay, a proper fix for this is https://github.com/aws/amazon-chime-sdk-js/pull/1841 .  I think after the efforts to reduce subscribes (for simulcast switches or uplink bitrate changes) we are sending out fewer indexes, so if you haven't already upgraded I recommend waiting for the next release (or pre-emptively pulling that change in).

[2021-11-30 22:03] #1768 closed

[2021-11-30 22:50] franko-franicevich commented on #1448
Brilliant, thanks Henry!

In reviewing the commit, if I understand, you’re doing the same general principle of “skip it” in `MonitorTask.ts:checkResubscribe` as we did in our workaround, but with a much better and more precise handling of when and ensuring that the pending check will be processed later. Looks good in principle! We’ll test it here.

I do have a question - you state below that you’r

[2021-11-30 23:05] vidya-mohan commented on #1122
@kaizau @jcarlosfern were the responses above useful? Have you tried the simulcast policy that @ltrung pointed to in https://github.com/aws/amazon-chime-sdk-js/blob/new-simulcast-policy/src/videouplinkbandwidthpolicy/SimulcastUplinkPolicyNScaleLowStream.ts?

[2021-11-30 23:30] davcolle commented on #1799
When the background blur filter is disabled in demo app the VideoTransformDevice is stopped and then a new transform device is created with the blur filter removed. The stoping of the device and recreation will cause some noticeable pause in the video stream.

See the link below to see how the demo app is removes processors from the transform device:
https://github.com/aws/amazon-chime-sdk-js/blob

[2021-12-01 09:33] thaithanhdhv opened #1842 "Audio Input and Audio Output Enable But Not Work iOS Safari Devices"
Hello. I started using Chime SDK to build one to one calling client on Vuejs.
I got an issue with Safari.
Can someone help me?
1. Join Meeting from Desktop, Chrome on Android and Safari on IOS
2.  Desktop and Android work as expect
3. Safari -> can't talk or hear from other people in meeting session.
SDK version: 2.23.0
IOS: 15

[2021-12-01 11:09] Jagordon commented on #1566
This issue is fixed. Thanks guys!

[2021-12-01 12:38] amneeshsoftobiz opened #1843 "DefaultVideoTransformDevice is not working on Safari 15.1"
my same code is working for chrome and all other browsers, but it os not working on safari

`const transformDevice = new Chime.DefaultVideoTransformDevice(
logger,
selectedVideoOutputDeviceId,
[processor]  // VirtualBackgroundProcessor implements VideoFrameProcessor
);`

getting OverconstrainedError that deviceId is not supported.

[2021-12-01 17:47] ltrung commented on #1843
It is a known issue in Safari 15 and 15.1 as documented in the pinned known issue https://github.com/aws/amazon-chime-sdk-js/issues/1059:

Video Frame Processor sends black or red images in Safari 15 due to a bug in canvas.captureStream (Safari 15 bug). For a temporary workaround, you can copy the output content in VideoFrameProcessor.process method to another canvas and use that canvas to render

[2021-12-01 17:47] #1843 closed

[2021-12-01 18:13] ltrung commented on #1842
Hi, I did a quick test using our [meeting demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser) in iPhone iOS 15.1 and we could hear each other fine. Could you try our meeting demo and see if you could reproduce the issue?
Also could you upload a console log ?

[2021-12-02 01:40] franko-franicevich commented on #1448
thanks, this makes sense.
We’ve been testing 2.20 in our internal beta environment for a few weeks - I had *thought* I’d noticed things taking slightly longer, but I also was left wondering if I’d imagined it. This explains why (If I wasn’t imagining it).
4e02209 makes it worth it - Simulcast seems better handled due to it when streams switch from unscientific testing.

Thanks again, we'll let you

[2021-12-02 01:44] thaithanhdhv commented on #1842
ok. Thank you. let me check it.

[2021-12-02 04:36] thaithanhdhv commented on #1842
@ltrung  I fixed audio. Can hear each other.
But still can't talk. Microphone is allowed.

[2021-12-02 04:48] thaithanhdhv commented on #1842
[code]

[2021-12-02 05:27] abhinavOmni commented on #1829
Yes tried checking it nothing working.. Whats the solution to fix from coding ? pls suggest

[2021-12-02 06:13] thaithanhdhv commented on #1842
<img width="590" alt="Screen Shot 2021-12-02 at 13 12 28" src="https://user-images.githubusercontent.com/39685046/144367819-87d69096-260b-481a-bbc0-150dbb88bbda.png">

[2021-12-02 06:35] ltrung commented on #1829
Could you check to see whether you enable camera in Windows (https://support.microsoft.com/en-us/windows/manage-app-permissions-for-your-camera-in-windows-87ebc757-1f87-7bbf-84b5-0686afb6ca6b#WindowsVersion=Windows_10)?

[2021-12-02 07:11] chandruchiku opened #1845 "Unable to use Chime JS SDK as common JS module"
### What are you trying to do?
Trying to use Chime JS SDK in a Lit Element Project with Rollup and CommonJS plugin.

I'm getting error
`The requested module './../../../node_modules/amazon-chime-sdk-js/build/index.js' does not provide an export named 'TargetDisplaySize'`

### How can the documentation be improved to help your use case?
Provide documentation on how to use SDK in a ES6 environment a

[2021-12-02 08:01] husaindevelop commented on #1836
Yes its a duplicate of 1817. Since you asked us to submit a bug request, we raised this ticket. Regarding the problem, used the object-fit:contain css and resized videoElementCssheight, videoElementCsswidth but it continues to display the tile same way as the screenshot is displaying. Please guide us as what we should do. Thanks.

[2021-12-02 08:14] thaithanhdhv commented on #1842
@ltrung
I got problem like this. https://github.com/aws/amazon-chime-sdk-js/issues/1004

[2021-12-02 08:53] thaithanhdhv commented on #1004
@nicklera1  I got this issue. Can you help to fix?

[2021-12-02 12:20] vitiaaap29 commented on #1609
I have the same issue on iPhone 6, ios 12.4
`
[Error] 2021-12-02T12:15:03.203Z [ERROR] SDK - no video device chosen, stopping local video tile
	log (vendors~main.chunk.js:95348)
	error (vendors~main.chunk.js:95313)
	(anonymous function) (vendors~main.chunk.js:92506)
	generatorResume
	(anonymous function) (vendors~main.chunk.js:90748)
	initializePromise
	Promise
	(anonymous function) (vendors~main.

[2021-12-02 18:18] shriyajuneja opened #1846 "Video stream from Google Pixel 4XL distorted on receiving end."
### What happened and what did you expect to happen?

Remote video stream from Google Pixel 4XL is distorted for other participants

![image](https://user-images.githubusercontent.com/14612003/144477444-4e1a4fff-c3da-4fd7-b38c-7befd8151013.png)

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.

[2021-12-02 19:27] mickyarun commented on #1842
Same with me
 <audio id="audioTracks" ></audio>

try{
        if (new DefaultBrowserBehavior().supportsSetSinkId()) {
          try {
            this.meetingSession.audioVideo.chooseAudioOutputDevice(deviceId);
          } catch (e) {
            this.log('failed to chooseAudioOutputDevice', e);
          }
        }
        try {
            await this.meetingSession.audioVideo.bindAudioElement(

[2021-12-03 01:24] thaithanhdhv commented on #1842
@mickyarun  Did you fix it?

[2021-12-03 16:28] abhinavOmni commented on #1829
tried checking , everything is enabled already..

[2021-12-03 16:32] mickyarun commented on #1842
@thaithanhdhv still struggling, code is almost same as sample

[2021-12-03 17:14] shivam145 commented on #238
Agreed @ltrung please help me understand, as we dont have any audio output device id, how can we set the the default one to the html audio element, i went through the demo code, but didnot get any hint, am i missing something?

[2021-12-03 17:50] ltrung commented on #238
@shivam145 you just need to call `bindAudioElement` and did not need to pass any deviceid, Firefox will just use the default device output (speaker or headset if you use headset)

[2021-12-03 18:47] jonathan-emed opened #1847 "Quiet audio from speakerphone on iOS 15.1"
### What happened and what did you expect to happen?

When joining meetings using https://meeting.anycompany.xyz/ users on iOS 15.1 experience substantially quieter volume than expected.

AWS Support Ticket 9282150361

See https://bugs.webkit.org/show_bug.cgi?id=218012

Basically, there exists a bug introduced into iOS 15.1 either in echo/noise suppression mechanism which causes all audio emitted

[2021-12-03 22:55] michhyun1 commented on #1829
@abhinavOmni  I think what Trung meant to say is to double check that no other video stream is active when you call this API.

[2021-12-03 22:58] michhyun1 commented on #1842
I dont think mobile supports choosing audio output - perhaps you can choose the audio input instead. https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#i-am-unable-to-select-an-audio-output-device-in-some-browsers-is-this-a-known-issue

[2021-12-03 23:02] haifengx commented on #1847
Hi @jonathan-emed,

Thanks for reporting the issue. Can you confirm if this issue is only reproducible on iOS 15.1? I tested on an iPhone 7 Plus running iOS 14.0 and the issue is reproducible for me. I'm able to reproduce the issue with a bluetooth headset as well.

### Reproduction steps in Amazon Chime SDK demo app:
1. Join a meeting at https://meeting.anycompany.xyz/
2. DO NOT ALLOW MICROPHONE

[2021-12-04 13:22] anupjk-5 commented on #1842
@thaithanhdhv are you able to hear other attendee in safari now?

[2021-12-04 15:57] Sandip-Z commented on #1754
I am facing the same issue. When the attendee joins the meeting with switching off their camera and switch on their camera in the middle of meeting, their camera freezes until they manually switch off and switch on again or switch to back camera. I wonder what's causing this.

[2021-12-05 14:19] husaindevelop opened #1850 "Meeting V2 Demo: Unable to execute npm run start"
Please be informed, we are trying to implement meeting v2 demo vide documentation given in the git. We successfully cloned the git file, directed to demos/browser folder and ran npm run start command to which follow errors were displayed:

[code]

I somehow did not understand the logs, it says node_modules are missing, but all the node modules are installed in the root directory. Please guide us a

[2021-12-06 01:46] thaithanhdhv commented on #1842
@anupjk-5  no.

[2021-12-06 08:46] majo35-6c commented on #1823
@mrnav90 it is possible to use startVideoPreviewForVideoInput without creating a meeting session or hit the back end.
As Brad mentioned in the meeting readiness checker demo, you can initialize the DefaultDeviceController without initialize the meeting session.

After that you can call chooseVideoInputDevice and startVideoPreviewForVideoInput to show video preview.

//Initialize DefaultDeviceContr

[2021-12-06 18:52] michhyun1 commented on #1850
please try running `npm install` on the  demos/browser directory, then try doing npm run start. Let me know if that helps.

[2021-12-07 01:12] husaindevelop commented on #1850
Succesfully installed node_module in demos/browser directory. After installing it, ran the npm run start command again, to which following specific error surfaced:
`
npm ERR! Failed at the amazon-chime-sdk-js-demos@0.1.0 start script.

Entire log is as given below:
`
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! amazon-chime-sdk-js@2.23.0 prebuild:

[2021-12-07 02:51] michhyun1 commented on #1850
Can you try installing the JS SDK at the root directory? - and also what version of node are you using?

[2021-12-07 03:01] husaindevelop commented on #1850
Installed on this directory.
/home/admin/web/site/public_html/

Node Version
14.9.0

Shall try installing it on the root directory.

[2021-12-07 04:03] husaindevelop commented on #1850
Tried installing it on the root directory. On running npm install on demos/browser/ folder, encountered the following error:

[code]

[2021-12-07 12:02] beta-alpha001 commented on #1800
Hi @ltrung,
I'm using `amazon-chime-sdk-component-library-react`, which adds [audioVideoDidStop observer](https://github.com/aws/amazon-chime-sdk-component-library-react/blob/master/src/providers/MeetingProvider/MeetingManager.ts#L362), which publishes  `MeetingStatus.Failed `on `ICEGatheringTimeoutWorkaround`. I was able to reproduce the issue and meeting status did not change throughout the conn

[2021-12-07 13:11] abhinavOmni commented on #1829
@michhyun1  @ltrung  do we have any Method to start the audio call only.. i see Amazon chime has only  meetingSession.audioVideo.start(); and not only audio call. how to only start audio calls only without making camera splash on..pls guide.i think i can fix atleast with this approach..

[2021-12-07 13:32] husaindevelop commented on #1850
Ok. After going through the errors in the log, i was able to delete node_modules and rebuild, reinstall it with required dependencies. The node modules are successfully installed in demos/browser folder.  On running npm run start, following errors are displayed:

[code]

[2021-12-07 13:54] mickyarun commented on #1842
@thaithanhdhv If I manually do this from javascript its working document.getElementById("audioTracks").muted = false , somehow audio tag is getting muted

[2021-12-07 17:32] NS-BOBBY-C opened #1853 "How do I get the online/offline presence of a AppInstanceUser?"
### What are you trying to do?

I'm trying to subscribe my application to sense the presences of users. I see there is a meeting attendee presence, and I understand how to use that. However, I'm not trying to have a meeting, I'm just trying to have a chat within a channel, and indicate to the users which channel members are online/offline. To me, subscribing to "attendee presence" seems to be over

[2021-12-07 21:07] robertjcolley opened #1856 "AWS Chime SDK Doesn't work with React Native"
### What happened and what did you expect to happen?

React Native supports websockets and can handle it. I expected messaging to work, but I got an error

I ended up tracing it to the detect-browser React Native implementation here:

https://github.com/DamonOehlman/detect-browser/blob/546e6f1348375d8a486f21da07b20717267f6c49/src/index.ts#L59-L65

which is referenced in

https://github.com/aws/ama

[2021-12-07 21:19] OliverEberlei opened #1857 "us-east-1"
### What happened and what did you expect to happen?

Since us-east-1 went down today, we had issues with our chime service. Our meetings are created in eu-central-1, so I am wondering if there are any best practices to deal with this situation. Did I do sth wrong or is it currently not possible to decouple the chime SDK from us-east-1?

### Have you reviewed our existing documentation?

- [X] Git

[2021-12-07 22:03] simmkyu commented on #1857
Sorry for the inconvenience. You may have set a media region to `eu-central-1`, but a control region is still `us-east-1`.

From the [Meeting Regions guide](https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html):

⠀

Recently, we introduced the [Chime SDK Meetings namespace](https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Meetings.html) t

[2021-12-07 22:57] simmkyu commented on #1856
Thanks for creating an issue. In addition to WebSocket, Chime SDK for JavaScript uses WebRTC, MediaDevices, Web Audio, and other browser APIs that may not or partially be supported in React Native, e.g., [The WebRTC module for React Native](https://github.com/react-native-webrtc/react-native-webrtc).

For React Native use cases, we have a demo application using Chime SDK for iOS and Android. Could

[2021-12-07 23:13] simmkyu commented on #1853
Chime SDK Messaging does not support retrieving the presence of channel members. You can only see whether the current  member (you) is ready to receive Chime SDK messages via the `MessagingSessionObserver` methods:
- [MessagingSessionObserver.messagingSessionDidStart](https://aws.github.io/amazon-chime-sdk-js/interfaces/messagingsessionobserver.html#messagingsessiondidstart)
- [MessagingSessionObs

[2021-12-07 23:35] simmkyu commented on #1850
I just checked out a fresh copy of this GitHub repository and had no issue running the `npm start` script in the `demos/browser` directory. I used the macOS Terminal app.

[code]

⠀

It seems that installing the `core-js` library (a transitive dependency of Chime SDK for JavaScript) on Windows had an issue. I could find several StackOverflow questions, including the following one:
https://stackove

[2021-12-08 02:01] husaindevelop commented on #1850
I do carry git bash. Trying it, shall update you.

[2021-12-08 02:51] simmkyu commented on #1845
I did not have an issue importing the Chime SDK for JavaScript in the Rollup and CommonJS plugin environment. For testing, I did the following steps:

1. Check out the [`rollup-starter-lib` repository](https://github.com/rollup/rollup-starter-lib) that uses the Rollup CommonJS plugin to convert the CommonJS modules to ES6 modules.
2. Install the Chime SDK for JavaScript.
[code]
3. In the entry fil

[2021-12-08 03:13] simmkyu commented on #1840
According to the Chime server logs, the attendee (`b2bf2d07-272f-3d17-16c3-0c825aafe07e`) was never dropped from the meeting. The attendee successfully joined the meeting at 13:34:33, muted the microphone for 5 seconds, and left a meeting at 13:36:16. These server events match log messages in the [attached browser logs](https://github.com/aws/amazon-chime-sdk-js/files/7623509/logs.txt).

Time|Acti

[2021-12-08 18:55] jamesnakagawa opened #1860 "Open MeetingSession.audioVideoController for extension"
# Tell us about your request

Hello, I'm from [VRIFY Technologies](https://www.vrify.com), we use your service as an essential component of our product. I'm one of the web developers on the team.

I'm trying to improve connectivity in our video conferencing and manage bandwidth. We enabled the simulcast feature and it seems to be an improvement.

However, in trying to improve things further, I'm h

[2021-12-08 19:06] jamesnakagawa commented on #1860
I've opened a PR to do this at #1861.

[2021-12-08 21:13] hensmi-amazon commented on #1860
Hi James, can you expand on what you mean by
* 'required to restart video feeds': Is this in reference to local or remote video?
* 'enact refreshes': We re-check the policies every two seconds, is this delay what you would like to reduce?

[2021-12-08 22:26] jamesnakagawa commented on #1860
Hi Henry, yes of course. Thanks for your fast reply. We've actually had two use-cases where this change is relevant.

1. I was referring to local video here. We have an issue where videos are freezing (not turning off) for certain users and we're unsure of the cause. However, calling `update` on the AudioVideoController fixes things. I have retained the logs and can detail a bug report if you woul

[2021-12-09 01:06] jamesnakagawa commented on #1860
A quick update:

It turns out I don't need to manually re-check the policy, but it seems like I need to restart the local video feed after the policy has been updated. Since this happens every 2 seconds, I can call `meetingSession.audioVideoController.update` on a timer.

[2021-12-09 08:04] OliverEberlei commented on #1857
Thank you for your response. I implemented our chime SDK back when we still had to connect to us-east-1 for the control region and missed this update. Very happy that this is possible now, thank you for your great work :)

[2021-12-09 08:04] #1857 closed

[2021-12-09 09:54] thaithanhdhv commented on #1842
@mickyarun  I have button to control muted or unmute. I try to switch but still not working

[2021-12-09 11:30] anupjk-5 commented on #1842
@thaithanhdhv instead of muted/ unmuted, control the play/ pause methods of the audio element using the button

[2021-12-09 12:16] thaithanhdhv commented on #1842
@anupjk-5 are you talking about audio input?

[2021-12-09 12:19] anupjk-5 commented on #1842
I am talking about the audio element which is used to bind the audio stream

[2021-12-09 13:42] NS-BOBBY-C commented on #1853
Closing issue - no longer required for my project. Thank you for the answer!

[2021-12-09 13:42] #1853 closed

[2021-12-09 14:00] NS-BOBBY-C commented on #1856
I have checked that out and have no issues with the meeting functionality provided by those SDKs! They work great 😄.

This issue came about after implementing the messaging (which is implemented in web sockets - something that react native supports). The patch file I provided was enough for this to be completely fixed.

Not an issue with this project, I just need something fixed in the detect-brow

[2021-12-10 00:51] jing-chen1 commented on #1856
Hi @NS-BOBBY-C,

Thanks for your interest in Chime SDK for JavaScript! Please let us know when `detect-browser` fix take your fix and upgrade on NPM, then we can update our dependency to fix your problem.

[2021-12-10 02:13] sanjitkung commented on #1837
I understand there are whole lot of work load on your end. If you can please provide some feedback or guide to fix this, that will be really helpful. Thanks in advance.

[2021-12-10 07:35] Th3G4mbl3r opened #1871 "Cannot launch browser sample app based on readme instruction"
### What happened and what did you expect to happen?

I followed the instructions at the [readme for browser sample app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/browser#readme) to try and run the MeetingAppv2 demo. However, it fails to start with the following error:

[code]
As we can see the problem is that in server.js line 52 - the member reference for meeting object also i

[2021-12-10 22:42] devalevenkatesh commented on #1871
Thanks for reporting the issue, I checked and find this to be running fine for me. This is optional chaining, I do not know why it is failing for you.

- Can you once confirm if `meeting.Meeting?.MeetingFeatures?.Audio?.EchoReduction === 'AVAILABLE'` works for you? This should not change much as the first `?.` will check for valid `meeting` object itself.
- What is your typescript version?
- What

[2021-12-10 23:22] devalevenkatesh commented on #1871
Found that Node14+ supports optional chaining.
https://stackoverflow.com/questions/59574047/how-to-use-optional-chaining-in-node-js-12

Request to confirm your node version, I am raising this PR to fallback to older syntax.
#1873

[2021-12-10 23:53] devalevenkatesh commented on #1871
The PR is merged and this should be fixed now. Thanks!

[2021-12-10 23:53] #1871 closed

[2021-12-11 01:23] jing-chen1 commented on #1756
Closing it, please feel free to re-open it if you still have problem.

[2021-12-11 01:23] #1756 closed

[2021-12-11 01:27] jing-chen1 commented on #1789
Closing it, feel free to reopen if you still have problems.

[2021-12-11 01:27] #1789 closed

[2021-12-11 01:28] jing-chen1 commented on #625
Closing it, feel free to reopen if you still have problems.

[2021-12-11 01:28] #625 closed

[2021-12-11 01:31] ltrung commented on #1850
@husaindevelop Did you have ruby install in your machine. From the error log:
`sh: ruby: command not found`

[2021-12-11 01:33] ltrung commented on #1846
I think this issue happens to other pixel devices such as Pixel 3 and Pixel 3 XL too.

[2021-12-11 01:36] ltrung commented on #1833
Updated the guide in PR https://github.com/aws/amazon-chime-sdk-js/pull/1848 to mention the need to use the regional meeting SDK so close this issue for now. Feel free to reopen if you have additional question.