[2021-12-11 01:36] #1833 closed

[2021-12-11 01:36] ltrung commented on #1817
Close as duplicate of #1836

[2021-12-11 01:36] #1817 closed

[2021-12-11 01:37] ltrung commented on #1762
The workaround fix for iOS 15.1 has been released in the latest NPM version so closing this issue.

[2021-12-11 01:37] #1762 closed

[2021-12-12 19:00] beta-alpha001 commented on #1840
Hi @simmkyu , we log actions performed by user - and in this case there was no end call action for `b2bf2d07-272f-3d17-16c3-0c825aafe07e`.
Also, when we call `meetingManager.leave()` there are some logs like - `running task ReleaseMediaStreamsTask`, `stopContentShare`, `stopLocalVideoTile`, `unbindAudioElement`, `chooseVideoInputDevice null`, etc which were not present here but the second particip

[2021-12-13 02:17] alhambra1 opened #1874 "videoTileDidUpdate: boundExternalUserId null in tileState"
### What happened and what did you expect to happen?

We regularly, but not all the time, see an explicit JavaScript `null` value in the `boundExternalUserId` field of tileState parameter provided to the `videoTileDidUpdate` callback.

We expect to see a correct string for that value that would enable us to associate it with information needed for our use case.

We are on version 2.21.0 of the Jav

[2021-12-13 02:22] alhambra1 commented on #1874
An example tileState we received:
[code]

[2021-12-13 04:29] thaithanhdhv commented on #1842
oh, let me try.
Working on IOS or not?
@anupjk-5

[2021-12-13 05:30] anupjk-5 commented on #1842
It was working on iOS

[2021-12-13 10:30] chandruchiku commented on #1845
@simmkyu I have an web component project with Lit Element and Web Dev Server. I tried the rollup configuration on the web-dev-server configuration but it does not seem to work.

[code]
In the file `OpenWcAppProj.ts` I included the logger to simulate what we are trying.

Link to My Code: [Github Lit WebComponent](https://github.com/chandruchiku/open-wc-app-proj)

[2021-12-13 15:10] gmonn opened #1875 "When will v2.24 go to npm"
I see that v2.24 was released on 12/7 but it is not available on npm yet. Any word on when that will happen?

[2021-12-13 16:40] hensmi-amazon commented on #1860
That sounds like a bug, so I'd rather fix that then call `update` every 2 seconds, as it can occasionally be an expensive operation.  Can you submit a report?

[2021-12-13 17:37] jamesnakagawa commented on #1860
Absolutely, I'll put one together.

[2021-12-13 18:21] gmonn commented on #1875
Thank you for the update.

[2021-12-13 21:38] ltrung commented on #1707
@mark-vanr and @dathacky, we just added an option `keepLastFrameWhenPaused` in the meeting session configuration to allow you to keep the last frame when video is paused. Let me know if this meets your requirement.

[2021-12-13 23:29] simmkyu commented on #1845
It seems that you modified the Web Dev Server's configuration. Could you try the following steps?

1. Delete the `plugins` field from the `web-dev-server.config.mjs`.
[code]
2. Use the Rollup CommonJS plugin in the `rollup.config.js`.
[code]
[code]
3. Ensure that the following commands work okay.
[code]

All three commands succeeded in my local environment (npm 7.20.3, node 16.6.1). The local web

[2021-12-13 23:46] jing-chen1 commented on #1800
Hi @beta-alpha001,

Tested on React meeting demo, if we have disconnected for over 2 mins, we will receive following logs/events:

* transitioning from Connected to Disconnecting with Fail
* transitioning from Disconnecting to NotConnected with FinishDisconnecting
* AudioVideoClean
* removing meeting observer
* Stopping DefaultStatsCollector
* removing a ping-pong observer
* removing meeting obser

[2021-12-14 00:17] simmkyu commented on #1840
## Missing browser logs?

Yes, for example, the Chime SDK for JavaScript should output the following transition message when an attendee leaves a call.

[code]

Note that the [attached browser logs](https://github.com/aws/amazon-chime-sdk-js/files/7623509/logs.txt) contain transition messages for the initial connection, such as `transitioning from Connecting to Connected with FinishConnecting`.

T

[2021-12-14 09:26] Coachtube opened #1877 "Can't render video with no wisible errors"
Hi guys!

I'm trying to implement your JS SDK API in our project based on Svelte3 and everyhting seems to be fine except the fact that I can't get the non empty video tiles. There are no errors in console, meeting session perfectly esteblished via our custom AWS Lambda endpoint and the Logger shows, that everyting is working fine. Audio and Video devices are listed and atteched without any issues

[2021-12-14 10:01] vijayamin83 opened #1878 "Screen Sharing Stop frequently, when call is longer than 30 mins"
Hello Support Team,

We are using the following classroom application with the customisation at the design level. Overall, application work well, but at the some lever when call is longer, screen sharing stopped and behave randomly.

https://github.com/aws-samples/amazon-chime-sdk-classroom-demo

I think it's memory or cpu usage increasing.

So, Can you please suggest on this?

[2021-12-14 22:15] mark-vanr commented on #1448
We're experiencing this issue as well and are looking forward to a fix - thanks @hensmi-amazon for this! Am curious to know if there's a release coming soon that will include this change?

[2021-12-14 23:09] simmkyu commented on #1878
Could you provide us with the following information? We can check whether the attendee experienced any network drop event.
- Meeting ID
- Attendee ID
- INFO-level logs

[2021-12-14 23:23] simmkyu commented on #1877
The Chime SDK server logs indicate that you created a meeting and an attendee in your server application, but that attendee did not join a meeting in your client application.

The attached browser logs also show that you did not call the start API. The browser logs should contain the following messages at least once when an attendee successfully joined a meeting in a browser:

[code]

Could you en

[2021-12-15 03:04] injuk opened #1880 "Chime media capture pipeline records the video with a black screen."
### What happened and what did you expect to happen?

Hi guys!

We have a React-based web application for non-contact online lectures.
Our application uses Chime's meeting for lectures, and all of the teacher's lectures must be recorded. Whereas the students do not need to be recorded.

Unfortunately, during the meeting two days ago, while the teacher's video and audio shown to other attendees dur

[2021-12-15 07:10] Coachtube commented on #1877
I did here

![image](https://user-images.githubusercon
[localhost-1639552177772.log](https://github.com/aws/amazon-chime-sdk-js/files/7717137/localhost-1639552177772.log)
tent.com/30532310/146139930-aac076b2-f759-45c4-a853-d195796829b1.png)

[2021-12-15 07:33] chandruchiku commented on #1845
@simmkyu Thank you. But here is the actual issue, when you do a '`npm run start:build`' it works fine as it serves the built files. If we do a '`npm run start`', it wont run and throws the error.

`The requested module './../../node_modules/amazon-chime-sdk-js/build/logger/ConsoleLogger.js' does not provide an export named 'default'`

You may need to do a _**hard refresh to see this**_ as browser

[2021-12-15 17:23] ltrung commented on #1877
Could you try to put `audioVideo.startLocalVideoTile()`  in audioVideoDidStart event to make sure the meeting has already started at that point?

[2021-12-15 17:45] hensmi-amazon commented on #1448
2.24.0 will include this and should be released 12/21

[2021-12-15 23:38] luchinilato opened #1881 "how to intercept SendDataMessage messages in backend"
Is it possible to intercept messages sent from realtimeSendDataMessage in the backend? Is there any example of this?

[2021-12-16 00:04] luchinilato opened #1882 "Make vocal changes"
Is there a possibility to apply vocal changes of a participant?

[2021-12-16 00:36] xuesichao commented on #1882
Hi! Could you please explain it a bit more? What do you mean by "vocal change"?

[2021-12-16 03:29] luchinilato commented on #1882
Hi. Thanks for the reply.
Sorry if I didn't explain my question correctly. I will try to be more clear.

I found the following project:
https://voicechanger.io
The project is basically a list of effects to apply to the audio.
Ex:
https://voicechanger.io/transforms/church.js
https://voicechanger.io/transforms/pitch.js
https://voicechanger.io/transforms/cuteRobot.js
https://voicechanger.io/transform

[2021-12-16 05:34] Coachtube commented on #1877
It's the same

Please find details below

[localhost-1639632596627.log](https://github.com/aws/amazon-chime-sdk-js/files/7724801/localhost-1639632596627.log)

![image](https://user-images.githubusercontent.com/30532310/146313989-341f5dac-1e9c-4caa-9cde-d525064e889c.png)

[2021-12-16 09:50] abhimanusharma opened #1883 "Mute/Unmute sip participant"
[[### What are you trying to do?

*Mute/Unmute SIP participant*

### How can the documentation be improved to help your use case?
Implementation of this:
https://docs.aws.amazon.com/chime/latest/dg/mute-unmute.html
in this:
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Chime.html#updateSipMediaApplicationCall-property

### What documentation have you looked at so far?

*For example: READ

[2021-12-16 15:46] vsimeikoKG opened #1884 "Missing TURN credentials - user video appears and disappears"
### What happened and what did you expect to happen?

We had an issue where only one video tile was constantly disappearing for a few seconds and then appearing back for maybe seconds 10. It was happening all the time during our meeting. To be more specific, all users were seeing the same behaviour for that user.

Chime setup notes:
- In this meeting we had a priority policy enabled with the stabl

[2021-12-16 16:24] vsimeikoKG opened #1885 "Simulcast kills video streams"
### What happened and what did you expect to happen?

I experience missing video streams or simply frozen video tiles for almost all remote users when I enter meeting with enabled default simulcast policy.

Additional notes:
- I didn't use any custom downlink policy here.
- My internet speed: 3ms ping, 264mbps downlink, and 53mbps uplink.
- All four attendees joined from the same device (my localh

[2021-12-16 18:22] ltrung commented on #1874
Do  you use priority based downlink policy by any chance? From the log you show it seems to be the case. Priority based downlink policy create an empty video if there is no bandwidth to subscribe to that video and will subscribe to it once bandwidth allows. You should receive a `tileWillBePausedByDownlinkPolicy` (See https://github.com/aws/amazon-chime-sdk-js/blob/master/src/videodownlinkbandwidth

[2021-12-16 18:23] ltrung commented on #1881
Could you give more details for an example use case?

[2021-12-16 18:27] ltrung commented on #1881
Alternatively you could take a look at [Amazon Chime Messaging SDK](https://docs.aws.amazon.com/chime/latest/dg/using-the-messaging-sdk.html) that allows you to intercept and do things like moderation and sentiment analysis (Example can be found here [here](https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/moderated-chat-and-sentiment-analysis)).

[2021-12-16 18:30] ltrung commented on #1882
I have not tried this library before but if it can produce a MediaStream then you can call `chooseAudioInputDevice` and set the audio input to that media stream.

[2021-12-16 19:02] dvervitsiotis commented on #1883
Hi - thanks for your question! If I'm understanding it correctly, you're asking if you can use updateSipMediaApplicationCall to mute Chime SDK meeting participants using ModifyChimeMeetingAttendee. You absolutely can by returning a ModifyChimeMeetingAttendee action in response to the CALL_UPDATE_REQUESTED event that is sent to your AWS Lambda.

[2021-12-16 20:05] ltrung commented on #1884
Do you mean the default Amazon Chime JS SDK reconnect logic or your custom logic?
The error comes from here `https://github.com/aws/amazon-chime-sdk-js/blob/master/src/task/ReceiveTURNCredentialsTask.ts#L45` which just means that the TURN credentials is not available and it will fallback ad try to fetch it from the backend. Without the INFO log, we can't tell whether it succeeds but from our backe

[2021-12-16 22:06] luchinilato commented on #1881
I am transcribing each participant's audio with webspeechapi. I transmit this transcript to all attendees in realtime using realtimeSendDataMessage.

I want to save all this transcribed text in a database via api. If every transcribed text I make a request for an api, I will have performance problems. So I'm thinking of a way to intercept the data sent by realtimeSendDataMessage, make some kind of

[2021-12-17 14:24] husaindevelop commented on #1850
Installed it, still facing the same error

Here are the logs
[code]

[2021-12-17 16:05] gustavofamorim opened #1887 "Content share tiles disapearing while using default video downlink and uplink policies"
### What happened and what did you expect to happen?

After upgrading chime SDK from version 2.17.0 to version 2.23.0, when a attendee starts a content share the video tile for other attendees gets removed temporarily in a intermitent manner. This causes the binded video element to disappear when the tile is removed.

It's important to notice that I'm not changing defaults downlink and uplink poli

[2021-12-17 16:13] gmonn commented on #1875
Any more word on when this might be released?

[2021-12-17 16:36] vsimeikoKG commented on #1884
@ltrung ,

We're using two reconnects:
1) Default Chime JS SDK reconnect logic
2) Our custom reconnect logic. Code snippet for it:
[code]

It looks like the same user had the same issue this morning again.

I'll add DEBUG/INFO logs and hopefully we can get back to you with more information.

[2021-12-17 18:05] ltrung commented on #1850
[code]

Did you run `npm install` in the parent folder? Seem like just missing library.

[2021-12-17 18:27] xuesichao commented on #1875
Hi @gmonn We are now working on testing, it should be released soon. We will update this thread once we released.

[2021-12-17 22:28] simmkyu commented on #1881
The `realtimeSendDataMessage` API requires an attendee to join a meeting in a browser environment.

⠀

The Chime SDK has a similar transcription feature that generates text from an attendee's audio:
https://docs.aws.amazon.com/chime/latest/dg/meeting-transcription.html

But this feature supports receiving text only in a browser environment via the Chime SDK for JavaScript.

[2021-12-17 23:22] simmkyu commented on #1877
The Chime server logs show that the attendee (`dc6c5ec6-d111-47c8-49b8-6e16627dd3c7`) successfully joined a meeting and enabled a local video.

Time | Action
--|--
12/16/21 05:29:46 | Created using CreateAttendee, BatchCreateAttendees, or CreateMeeingWithAttendees API action
12/16/21 05:29:48 | Joined a meeting
12/16/21 05:29:49 | Started a video
12/16/21 05:32:38 | Stopped a video
12/16/21 05:32:

[2021-12-18 00:00] devalevenkatesh commented on #1850
Looks like `node command is not found`, check if you have `node` or `nodejs` in `/usr/bin/<nodejs | node>?` or under `/usr/local/
[code]

If `nodejs` then try creating symlink in gitbash using `$ ln -s /usr/bin/nodejs /usr/bin/node` or further may have to check few links for working this fine with windows using GitBash such as:
https://gist.github.com/kelsS/0ecdc9209fef8fa3d8842cab399eb976

[2021-12-18 02:03] husaindevelop commented on #1850
We used following commands to check whether node exists

# whereis node
node: /usr/bin/node /root/.nvm/versions/node/v14.9.0/bin/node

[root@ip-172-31-11-50 browser]# which npm
/root/.nvm/versions/node/v14.9.0/bin/npm

Please tell us whether these are installed in right folders.  And whenever we try to install node modules in /root/amazon-chime-sdk-js/demos/browser/ directory, we encounter nodejs

[2021-12-18 09:38] husaindevelop opened #1891 "Unable to determine the aspect ratio of the tile"
### What happened and what did you expect to happen?

Please be informed this ticket is in continuation of ticket #1836. We are trying to stretch the video vertically eg (400 width x 700 height), but the video tile continues to display the tile in proportionate dimensions eg (400 width x 250 height), which image is attached herealong for your reference
![video_chat](https://user-images.githubuserc

[2021-12-20 18:53] hensmi-amazon opened #1893 "Chrome 97 disconnects when video is toggled off"
### What happened and what did you expect to happen?

Chrome 97 released a change to local session description parsing that led to SDK versions 2.20.0, 2.21.0, 2.21.1, 2.22.0, and 2.23.0 disconnecting when video is toggled off due to how it completed SDP munging of RTP Header extensions, which previously had no issue. More details and the fix can be found in https://github.com/aws/amazon-chime-sdk

[2021-12-20 21:08] ltrung commented on #1874
Closing for now. Feel free to reopen if you have additional questions.

[2021-12-20 21:08] #1874 closed

[2021-12-20 21:11] ltrung commented on #1847
It sounds like the same as the one documented in the known issue thread https://github.com/aws/amazon-chime-sdk-js/issues/1059:

https://bugs.webkit.org/show_bug.cgi?id=230902

[2021-12-20 21:11] #1847 closed

[2021-12-20 21:43] ltrung commented on #1884
Just curious why do we need custom reconnect logic? Doesn't JS SDK reconnect by itself in these case (not meeting ended or left) anyway?

[2021-12-20 22:39] ltrung commented on #1887
The behavior you described is due to this change https://github.com/aws/amazon-chime-sdk-js/pull/1614 which changes the defaut downlink policy from `AllHighestVideoBandwidthPolicy` to `VideoAdaptiveProbePolicy` to be the same as mentioned in the [Simulcast guide](https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/05_Simulcast.md).
Instead of trying to subscribe to all videos at the high

[2021-12-20 22:42] ltrung commented on #1885
@vsimeikoKG  This is similar to this issue here that I have replied https://github.com/aws/amazon-chime-sdk-js/issues/1887#issuecomment-998323487.

[2021-12-20 22:54] xuesichao commented on #1891
Hi @husaindevelop thanks for reporting this.

1. There is typo in the code sample you posted.
[code]

[2021-12-21 01:29] husaindevelop commented on #1891
First of all, thanks for replying.  I tried changing the css styles of video element in so many different ways, but it still remains the same. Here is the html and css taken from various sources including stylev2.scss from meetingv2 demo.

[code]

the html
[code]

Shall appreciate should you help point us out where we are going wrong, so that we can put an end to this issue which has been going on

[2021-12-21 03:14] thaithanhdhv commented on #1842
@anupjk-5  tried your solution. Microphone still don't work on IOS

[2021-12-21 12:34] beta-alpha001 commented on #1846
Hi @ltrung, thanks for your response.

We do not have Pixel 3 or Pixel 3 XL to verify. Is this due to encoder issue with size not in 16's multiples or something else.

<img width="808" alt="Screenshot 2021-12-21 at 5 59 41 PM" src="https://user-images.githubusercontent.com/91276454/146930505-82927fb9-9e5e-4da4-a6e6-53e1a3de60b8.png">

[2021-12-21 18:17] michhyun1 commented on #1842
@thaithanhdhv Have you tried the meeting demo? Everything seems to work on the meeting demo that I deployed serverlessly.

Can you also make sure that the microphone is not being used by any other application.

You can also try to see if its an issue with your mic: https://webrtc.github.io/samples/src/content/getusermedia/audio/

[2021-12-22 07:09] mrnav90 commented on #1823
@majo35-6c
I've tried your solution, it's not working ...

[2021-12-22 08:33] suman2755 opened #1896 "Need to set the highest priority for video source of active speaker"
### What are you trying to do?

I am trying to set highest priority for video source of active speaker. For identifying the active speaker, I am using useActiveSpeakersState hook. But this hook is updated often and causes frequent rendering. For setting up the priority, I am using VideoPriorityBasedPolicy. As we know, useActiveSpeakersState causes frequent rendering, so I doubt it might affect the

[2021-12-22 10:10] beta-alpha001 commented on #1840
Sure, will do when this happens again. Till then I think we can close this issue

[2021-12-22 14:30] alhambra1 commented on #1874
@ltrung thank you for clarifying!

[2021-12-22 18:28] xuesichao commented on #1896
Hi @suman2755. The `activeSpeakerDetector` is designed to reflect the active speakers in real-time, so it's supposed to update frequently. However you could delay this update by creating a new hook yourself. I would recommend you to check the implementation of `useFeaturedTileState` hook which returns the most active speaker. Or maybe just use this hook.

https://github.com/aws/amazon-chime-sdk-co

[2021-12-22 19:27] xuesichao commented on #1840
Close the issue for now. Feel free to reopen it if it happens again.

[2021-12-22 19:27] #1840 closed

[2021-12-22 20:45] xuesichao commented on #1891
Hi @husaindevelop ! So the video tile is an object containing a video stream and some related meta data. To display a video tile we need to bind the video stream to the `<video>` element. The video stream itself can not be cropped and it's dimension is determined by the video publisher - the attendee that enables local video.

So here's are two workarouds.
#### 1. [`chooseVideoInputQuality(width,

[2021-12-22 21:50] xuesichao commented on #1891
This issue is not related to SDK itself that much, so close the issue for now.
If you are still having questions, feel free to reopen it.

[2021-12-22 21:50] #1891 closed

[2021-12-23 02:13] devalevenkatesh commented on #1881
Hi @luchinilato ,

Does the transcription feature linked above does not suffice your use case?

[2021-12-23 02:31] luchinilato commented on #1881
no, because unfortunately it is a paid feature.

Em qua., 22 de dez. de 2021 às 23:13, Venkatesh Devale <
***@***.***> escreveu:

--
Luciano Chinilato da Cunha
Cel: (21) 97977-4333

[2021-12-23 03:28] alhambra1 commented on #1874
@ltrung by the way, is this line incorrect? https://github.com/aws/amazon-chime-sdk-js/blob/457dd7c1db9630817af92e9d170c994b8fa98b8f/src/videouplinkbandwidthpolicy/DefaultSimulcastUplinkPolicy.ts#L156

Shouldn't the 1200 be assigned in the next line (157) because on line 154, we have `this.newActiveStreams = ActiveStreams.kHi;` ??

[2021-12-23 08:19] husaindevelop commented on #1818
Please check the logs that is outputted on testing the sdk on mobile device as asked by you

[code]

[2021-12-23 22:38] devalevenkatesh commented on #1881
So the realtimeSendDataMessage API uses WebRTC data message under the hood and I could not find any resources on whether we can intercept those. We do not have a way in backend as well to do so.

This means that you to create your own backend, where all the data-messages are sent and then do the caching in there and publish it to all. Your app will have to establish a connection to your backend us

[2021-12-23 22:38] #1881 closed

[2021-12-24 11:16] shriyajuneja opened #1898 "DefaultBrowserBehavior.isSupported() returns incorrect value for firefox"
### What happened and what did you expect to happen?

As per chime's documentation Firefox version 75 and above are supported but `DefaultBrowserBehavior.isSupported` returns true for all versions above 60.
https://github.com/aws/amazon-chime-sdk-js/blob/457dd7c1db9630817af92e9d170c994b8fa98b8f/src/browserbehavior/DefaultBrowserBehavior.ts#L16
However it does break in versions below 75, it throws

[2021-12-27 11:59] JunedBrilworks opened #1899 "Video stream are paused even though having bandwidth availability."
### What happened and what did you expect to happen?

We have a video downlink policy applied in our application. We have noticed even though we are having enough bandwidth video tiles are remaining in the paused state specifically on **firefox** (logs are for Mac OS 11.1 & Firefox 95.0.2 but have been observed on all browsers). For the attached meeting's logs, I was having around 40 Mbps upload s

[2021-12-27 17:45] ltrung commented on #1818
Did you call `chooseAudioOutputDevice`? It seems the browsers in Android does not support changing select audio device and thus, it errors out.

[2021-12-27 21:29] ltrung commented on #1899
@JunedBrilworks Currently the priority-based downlink policy does not work in Firefox because Firefox does not support downlink bandwidth estimation metrics. For now, could you use this API [supportDownlinkBandwidthEstimation](https://aws.github.io/amazon-chime-sdk-js/classes/defaultbrowserbehavior.html#supportdownlinkbandwidthestimation) to check whether the browser support the policy?

[2021-12-27 21:51] ltrung commented on #1898
@shriyajuneja Thanks for finding it. I have opened PR #1903 to address it.

[2021-12-27 23:48] ltrung commented on #1896
Could you let us know the JS SDK version that you are using?

[2021-12-28 04:31] JunedBrilworks commented on #1899
@itrung Noted will put browser compatibility and apply downlink policy accordingly. But for chrome and safari, we experience even though having bandwidth video tiles are still remain paused.

[2021-12-28 04:58] suman2755 commented on #1896
Hi @ltrung , I am using the latest JS SDK version 2.24.0

[2021-12-28 08:40] E5920 opened #1904 "How do I know if the screen is being shared or not."
### What happened and what did you expect to happen?

@ltrung @michhyun1 @devalevenkatesh  @simmkyu  ,We have used aws chime to build a virtual conferencing platform in our application.So I have question,
1 :- How do I know if the screen is being shared or not. kindly suggest me,  we can know whether screen sharing is happening or not through event or any other ways ?

2:- I know Chime SDK only al

[2021-12-28 10:12] mrnav90 commented on #1748
@awsvikas Could you tell me how about working process this feature?
Thanks

[2021-12-28 11:19] JunedBrilworks commented on #1899
Here is the log for another meeting user having an issue. The user was on around 80 Mbps connection with no other bandwidth-consuming content open in the browser. Even though there was only 5 attendee in the
meeting video tile was remaining off.

[logfile.log](https://github.com/aws/amazon-chime-sdk-js/files/7784375/logfile.log)

[2021-12-28 19:35] awsvikas commented on #1748
@mrnav90 - Thank you for your interest in the feature, we are currently researching on options to make this easier to adopt. Thank you for your patience, I will update this issue once we have details.

[2021-12-28 22:57] devalevenkatesh commented on #1904
1 :- How do I know if the screen is being shared or not. kindly suggest me, we can know whether screen sharing is happening or not through event or any other ways ?

- You can use the content share observer methods to know when a content share starts / stops or is paused / un-paused.

- Check that the meetingV2 demo [implements](https://github.com/aws/amazon-chime-sdk-js/blob/main/demos/browser/ap

[2021-12-28 23:03] devalevenkatesh commented on #1898
The linked PR is merged now and should be available in the next release.

[2021-12-28 23:10] devalevenkatesh commented on #1878
Closing this issue due to in-activity, please feel free to re-open if you still face the issue but request you to please provide above request information for debugging.

[2021-12-28 23:17] devalevenkatesh commented on #1877
I checked your `videoTileDidUpdate` callback, you are returning early when the video tile state has `tileState.localTile` as true. Hence, there would not be any binding of the video element due to early return. Please remove that OR condition and I think you should be good. As suggested earlier make sure to start the local video tile after you receive the session start in `audioVideoDidStart` obse

[2021-12-28 23:17] #1877 closed

[2021-12-28 23:19] devalevenkatesh commented on #1875
Closing this is issue as the v24 is released. Sorry for any misscommunication.

[2021-12-28 23:19] #1875 closed

[2021-12-28 23:44] devalevenkatesh commented on #1884
Closing this issue due to no new activity, request you to please re-open if you still face the same issue and please provide the browser console logs as request for further debugging. Thanks!

[2021-12-28 23:44] #1884 closed

[2021-12-28 23:54] devalevenkatesh commented on #1880
@tenge-amzn Could you please look into this issue? We have labelled the issue as capture service so it should have created a ticket internally, but since we see no update request you to please check once into this.

[2021-12-28 23:57] devalevenkatesh commented on #1860
@jamesnakagawa I am closing this issue due to no-activity but please feel free to re-open this issue or a new one with a bug template so that we can get the necessary information such as logs, browser version and so on for any further help / debugging. Thanks for reporting this issue.

[2021-12-28 23:57] #1860 closed

[2021-12-29 00:32] devalevenkatesh commented on #1850
I think a new start on the entire process is needed as I am a bit confused on directories and the installations done :

This has been a painful process due to the `npm run deps` command when you do `npm run start` in `demos/browser`. That `deps` is basically going into the actual `amazon-chime-sdk-js`'s cloned folder and then executing `npm install` and building the library itself. That is why you

[2021-12-29 01:39] devalevenkatesh commented on #1846
I have a Pixel 3a XL and I can reproduce the pixelated video on the remote side in my device using our meetingV2 demo which uses the `amazon-chime-sdk-js`. To test further, I found that this is also reproducible in WebRTC official samples (You may try testing in below apps once):
- https://webrtc.github.io/samples/src/content/peerconnection/constraints/
- https://webrtc.github.io/samples/src/conte

[2021-12-29 01:55] devalevenkatesh commented on #1846
I just tested this with my Pixel 3a XL on the Chrome Beta App on Android 12 and could see the video coming through fine on the remote side.

Version details:
Chrome Beta App Version: 97.0.4692.56 (Installed from PlayStore).
Android 12 (beta) build number S2B1.211112.006.

[2021-12-29 04:48] thaithanhdhv commented on #1842
@michhyun1  I tested my mic. It's ok.
and also checked.
 it's not being used by any other application.

[2021-12-29 05:06] thaithanhdhv commented on #1842
I don't understand what missing here :(

[2021-12-29 07:39] thaithanhdhv commented on #1842
When I put 2 devices close to each other.
There is sound when 2 microphones are close to each other.
So here I think the iPhone's microphone is still working but it can't transmit audio to other meeting participants

[2021-12-29 10:28] vijayamin83 commented on #1878
No, I am on the high speed internet. And testing through different system.

[2021-12-29 10:28] vijayamin83 commented on #1878
And this problem happen in the prod build, so, could not able to generate the log even.

[2021-12-29 18:54] michhyun1 commented on #1842
@thaithanhdhv Is there a way you can attach any console logs? thanks

[2021-12-29 20:15] devalevenkatesh commented on #1837
@aws-geoff Tagging you as this is labelled as meeting-service, could you please help update this issue?

[2021-12-29 21:38] devalevenkatesh commented on #1836
Closing this issue due to provided guideline here in an duplicate of this:
https://github.com/aws/amazon-chime-sdk-js/issues/1891#issuecomment-999870232

So the video stream dimensions cannot be changed rather the video itself can zoom-in / out based on the `object-fit: contain | cover` or `chooseVideoInputQuality` API. We do not have a workaround or solution to preserve the video's dimensions its

[2021-12-29 21:38] #1836 closed

[2021-12-29 22:32] devalevenkatesh commented on #1829
@abhinavOmni we do not have any specific method to start audio only meeting but to workaround the permission you can try below steps:

[code]

The `NotReadableError` can have multiple issues. [MDN Docs](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#exceptions)

If you have tried `await navigator.mediaDevices.getUserMedia({video: true});` normally in a window where ther

[2021-12-29 22:53] ltrung commented on #1899
From the log it seems it is indeed paused due to bandwidth:
[code]

The network estimate comes from the browser webRTC metrics (you can view it during the call if you open chrome chrome://webrtc-internals/). You can also get that metrics from `MetricsDidReceive` and log it as seen in our [demo](https://github.com/aws/amazon-chime-sdk-js/blob/main/demos/browser/app/meetingV2/meetingV2.ts#L1412).
In

[2021-12-29 22:57] ltrung commented on #1837
Yes, `listAttendees` API lists all attendees created for a meeting and thus, will include attendees that already left. Does it not work for your use case?
If you tell us your use case, we might be able to suggest a workaround.

[2021-12-30 00:37] husaindevelop commented on #1818
Yes used chooseAudioOutputDevice. Can we comment it out ? So that it can start working.

[2021-12-30 00:39] ltrung commented on #1818
You should be able to use `supportsSetSinkId` API (https://github.com/aws/amazon-chime-sdk-js/blob/main/src/browserbehavior/DefaultBrowserBehavior.ts#L274) to check whether the browser supports it.

[2021-12-30 00:44] devalevenkatesh commented on #1818
We also have an FAQ on the `setSinkId` support:
https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#i-am-getting-cannot-select-audio-output-device-this-browser-does-not-support-setsinkid-error-on-the-browser-console-is-this-a-known-issue

The Android Chrome 96 does not support it and hence the error.
https://caniuse.com/?search=setsinkid

You should use `chooseAudioOutputDevice` and `listA

[2021-12-30 00:49] husaindevelop commented on #1818
So does Chrome 97, Yes, commenting out chooseAudioOutputDevice and listAudioOutputDevice when it is not supported initializes the video successfully. Shall use setSinkId to check whether support exists or not before using both these apis.

[2021-12-30 00:52] devalevenkatesh commented on #1818
Unless Android Chrome supports it we cannot do anything on our side.

Thanks for confirmation though! I am closing this issue now. Feel free to open new issue if you face any further issues.

[2021-12-30 00:52] #1818 closed

[2021-12-30 01:13] devalevenkatesh commented on #1799
Closing this issue due to in-activity, feel free to re-open if you still need any help further or have any questions around this.

[2021-12-30 01:13] #1799 closed

[2021-12-30 01:15] devalevenkatesh commented on #1767
Closing this issue due to in-activity, feel free to re-open if you still need any help further or have any questions around this.

[2021-12-30 01:15] #1767 closed

[2021-12-30 01:17] devalevenkatesh commented on #1760
Closing this issue due to in-activity, feel free to re-open if you still need any help further or have any questions around this.

[2021-12-30 01:17] #1760 closed

[2021-12-30 01:23] devalevenkatesh commented on #1754
@Sandip-Z @BC-Mikey Is this still happening? Does this happen with latest versions of JS SDK as well?

If yes, could you try below official WebRTC sample to check if this is a generic issue on your devices:
1. https://webrtc.github.io/samples/src/content/peerconnection/pc1/ (This involved peerconnection and should give a local and remote view of your video)
2. https://webrtc.github.io/samples/src/

[2021-12-30 01:25] sanjitkung commented on #1837
Thank you for the response.

Let's say I have an ongoing meeting. I want to check every five minutes how many active attendees are in meeting. This should not include the users who join the meeting and left.

Based on number of active attendee count, My backend server will trigger some actions.

[2021-12-30 01:34] devalevenkatesh commented on #1679
So this seems like we do not support manual reconnection and SDK can run into issues if this is triggered manually. Also the meeting session status is used when upon existing calculations within SDK it is determined that there is an issue with connection and in this there might be knobs for video which are affected so manually calling it does not seem to work. This API is also an internally used s

[2021-12-30 01:34] #1679 closed

[2021-12-30 01:43] devalevenkatesh commented on #1613
Sorry for the delay this seems to me like a problematic behavior when Siri gets enabled. Though in my testing I found that the SDK worked fine when Siri is disabled. If Siri or even an external call comes in then this seems to happen and as soon as it is done the SDK works as expected. Since, the audio attendee join is audio signal driven, if the Siri enabling or call goes on for more seconds > 15

[2021-12-30 01:43] #1613 closed

[2021-12-30 01:49] devalevenkatesh commented on #1548
Going through the issue, seems like SDK cannot do much and it is due to the Web Audio support in general on Safari browser. Closing this issue due to no new activity, request you to please re-open if you still face the same issue. Thanks!

[2021-12-30 01:49] #1548 closed

[2021-12-30 01:51] devalevenkatesh commented on #1448
Closing this issue as the 2.24 is released to NPM now. Please feel free to file new issues if face any :)

[2021-12-30 01:54] schuettc commented on #1837
Another way to do it would be to use an EventBridge rule that triggers a Lambda on something like this:

{
  "source": ["aws.chime"],
  "detail-type": ["Chime Meeting State Change"],
  "detail": {
    "eventType": ["chime:AttendeeAdded"]
  }
}

This would let you track all changes as they happen and store that information.

However, I just tried create-meeting, then create-attendee, list-attendees

[2021-12-30 13:26] JunedBrilworks commented on #1899
ok have put this log and compare it with actual bandwidth requirement

[2021-12-30 14:10] sanjitkung commented on #1837
You are @ltrung, I mean the users who left on client side by closing the browser.

[2021-12-30 14:56] BC-Mikey commented on #1754
Hi @devalevenkatesh, our engineer with this device is currently out of the office, but I will make sure this gets over to him to test next week when he returns. Thank you for the update!

[2021-12-30 16:03] Breners opened #1906 "After the meeting ends, the red LED on the active chrome tab"
### What happened and what did you expect to happen?

After the meeting ends, the red LED on the active chrome tab indicates that a device is being used and in this case, the chrome indicates that the microphone is being used

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-ch

[2021-12-30 17:38] devalevenkatesh commented on #1906
Hello, thanks for reporting this issue.

Few questions:
1. Are you using video as well or simply just audio?
2. Are you using amazon-chime-sdk-js or amazon-chime-sdk-component-library-react?

For cleaning up the audio and video, please follow below FAQ:
https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#after-leaving-a-meeting-the-camera-led-is-still-on-indicating-that-the-camera-has-not-

[2021-12-30 17:42] ltrung commented on #1837
For your use cases, you can either `deleteAttendee` who left so `listAttendees` returns the active attendees only or you can use the [RealtimeSubscribeToAttendeeIdPresence](https://aws.github.io/amazon-chime-sdk-js/interfaces/audiovideofacade.html#realtimesubscribetoattendeeidpresence) to keep track of the roster on client and every 5 minutes send the roster size to where you need.

[2021-12-30 17:45] ltrung commented on #1899
Closing the issue for now. Feel free to reopen if needed.

[2021-12-30 17:45] #1899 closed

[2021-12-30 17:45] #1898 closed

[2021-12-30 17:53] ltrung commented on #1896
To avoid the frequent rendering when active speakers change frequently, I think you may need to add some additional logic like what @xuesichao suggested or implement your custom [active speaker policy](https://aws.github.io/amazon-chime-sdk-js/classes/defaultactivespeakerpolicy.html) with less take over rate.

[2021-12-30 17:55] ltrung commented on #1883
Closing due to inactivity. Feel free to reopen if you still have questions.

[2021-12-30 17:55] #1883 closed

[2021-12-30 17:55] ltrung commented on #1882
Closing for now but feel free to reopen if you have additional questions.

[2021-12-30 17:55] #1882 closed

[2021-12-30 18:06] ltrung commented on #1904
Closing this for now. Feel free to open if you have additional questions.

[2021-12-30 18:06] #1904 closed

[2021-12-30 18:33] ltrung commented on #1885
Closing as dup of #1887.

[2021-12-30 18:33] #1885 closed

[2021-12-30 18:58] Breners commented on #1906
1. Both
2. amazon-chime-sdk-component-library-react

[2021-12-30 19:49] sanjitkung commented on #1837
If every attendee leaves the meeting (close the browser) my frontend will not be able to send roster size to backend.

For other suggestion, Is there a way to reliability trigger deleteAttendee from frontend when attendee just closes the browser?

It would be really great if there is some way to get list of attendees that are present using server SDK.

[2021-12-30 19:52] devalevenkatesh commented on #1906
@Breners thanks, so did you check the FAQ I linked, if you are using react component library you do not have to call stop after leave as it is done for you inside the [`meetingManager.leave()`](https://github.com/aws/amazon-chime-sdk-component-library-react/blob/main/src/providers/MeetingProvider/MeetingManager.ts#L246-L271) call.

I request you to check our [meeting demo](https://github.com/aws-s

[2021-12-30 20:02] devalevenkatesh commented on #1837
To add to Trung, you can make use of [PageVisibility API](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API) in browser + browser's `unload` event on your document web page so that you can trigger the `deleteAttendee` API when your user is leaving the webpage. Request you to check browser reliability though on how accurately browser triggers these events. ( Sorry, I could not fi

[2021-12-30 21:14] ltrung commented on #1837
You could do like @schuettc suggested to use EventBridge (See https://docs.aws.amazon.com/chime/latest/dg/using-events.html) and listen to `chime:AttendeeLeft` event then call `deleteAttendee`.

[2022-01-01 22:57] timanderson opened #1909 "TypeScript errors with OffscreenCanvas and SharedArrayBuffer"
Note: I am quite new to TypeScript so may be missing something!

I am using TypeScript in a web application and importing modules from the SDK, having installed it via npm. I get four errors from the TypeScript compiler:

../node_modules/amazon-chime-sdk-js/build/videoframeprocessor/VideoFrameBuffer.d.ts:33:45 - error TS2304: Cannot find name 'OffscreenCanvas'.

33     asCanvasElement?(): HTMLCanv

[2022-01-03 11:15] timanderson opened #1910 "Tree-shaking the SDK"
The AWS Chime SDK for JavaScript is very large. I have switched to using the npm module with TypeScript and I use WebPack with ts-loader and terser to create a bundle. In my code I have:

import {
    ConsoleLogger,
    DefaultDeviceController,
    DefaultMeetingSession,
    LogLevel,
    MeetingSessionConfiguration,
    MeetingSessionStatusCode
} from 'amazon-chime-sdk-js';

I was hoping that I w

[2022-01-03 14:39] haofiltered commented on #1887
I had the same issue on our end, I have to turn off simulcast to avoid this kind of issue happening.
Keep an eye on this issue.

[2022-01-03 15:18] Brenerss commented on #1906
I tested the demo and the led disappears. In my case, when the interview ends, I take the user to a new route if I don't call meetingManager.leave(); both the camera and microphone are enabled, but if I call meetingManager.leave(); google indicates that only the microphone is being used

[2022-01-03 18:10] gustavofamorim commented on #1887
@ltrung I've updated my code to use the `AllHighestVideoBandwidthPolicy` and now it works flawlessly. Very thank you to help with this.

I was using the documentation page [Quality, Bandwidth, and Connectivity](https://aws.github.io/amazon-chime-sdk-js/modules/qualitybandwidth_connectivity.html#configure-a-video-downlink-policy) as a base for the update and I've not seen the Simulcast guide that y

[2022-01-03 18:37] ltrung commented on #1887
@gustavofamorim Here is the Simulcast guide https://aws.github.io/amazon-chime-sdk-js/modules/simulcast.html

[2022-01-03 20:17] devalevenkatesh commented on #1906
Yes, you have to call `meetingManager.leave()` to clear-up the meeting session. It calls the necessary clean-up APIs so you won't have to call `audioVideo.stop()` explicitly. Can you listen on the `useMeetingStatus` hook and re-direct rather than early re-directing. Not sure early re-directing is affecting the `leave` call.

[2022-01-03 21:38] ltrung commented on #1909
@timanderson This seems like a Typescript error. What is your TS version?

[2022-01-03 21:43] ltrung commented on #1910
@timanderson Could you provide us more details on your use case on why you need a smaller bundle? We have not heard this request before. Is there an ideal size that you are targeting?
Thanks,
Trung

[2022-01-03 21:44] timanderson commented on #1909
tsc version 4.5.4

[2022-01-03 21:47] ltrung commented on #1909
@timanderson I think 4.5.4 contains some breaking changes. The current TS version in our dependency is 4.5.3

[2022-01-03 21:49] timanderson commented on #1910
Just to make our application a bit quicker to load - some of our users do not have fast internet connections. We can live with it but I was hoping to get the size down.

Tim

[2022-01-04 02:09] ltrung commented on #1887
@gustavofamorim Depending on how many users have video on in a meeting, the default `AllHighestVideoBandwidthPolicy` may not be the best one to use. Can you try the `VideoPriorityBasedPolicy` and see if it works well for you?

[2022-01-04 02:18] t-sugimoto0914 opened #1914 "Local video is forcibly shut down when switching devices."
### What happened and what did you expect to happen?

When switching devices, local video is forcibly terminated and goes dark when the acquisition fails.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aw

[2022-01-04 06:18] devalevenkatesh commented on #1914
Thanks for reporting the issue, could you please take a look at https://github.com/aws/amazon-chime-sdk-js/issues/1893 and see whether it is a similar one?

If yes, request you to upgrade to JS SDK >=v2.23.1 to solve the issue.

[2022-01-04 12:20] arpitmittal-lab opened #1915 "Camera / Mic Indicator is on when the camera was initialising user routed to different page."
I am using the below code to show the preview video before joining the call, but when the camera was initialising if the user navigates to a different page then the LED light indicator keeps on running on different route also. It should get closed as soon as the user leaves the page.

**Previe Video Code**
[code]

**Render**:
`<video ref={videoElement}></video>`

[2022-01-04 14:26] abbasdevelopers commented on #1909
I am having the same issue.  node_modules/amazon-chime-sdk-js/build/videoframeprocessor/VideoFrameBuffer.d.ts:33:45 - error TS2304: Cannot find name 'OffscreenCanvas'.
I am using typescript version 4.5.2 and Angular 13.

[2022-01-04 15:44] jitt3 opened #1916 "Delay removing attendee from meeting and meeting status"
### What happened and what did you expect to happen?

We have implemented a feature to remove an attendee from the call.  but we have a huge delay since we request the 'remove' until we get the signal in the frontend side

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-

[2022-01-04 17:35] ltrung commented on #1909
@abbasdevelopers Yes, the TS version has to be 4.2.3 :)

[2022-01-04 17:44] devalevenkatesh commented on #1915
Thanks for reporting the issue. Yes, if JS SDK has already called `getUserMedia` as part of `await deviceController.chooseVideoInputDevice(deviceList[0]?.deviceId);` then the LED will go ON and any re-direction would not stop it automatically.

To turn the LED off, you have to follow this [FAQ](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#after-leaving-a-meeting-the-camera-led-is-st

[2022-01-04 20:40] hensmi-amazon commented on #1813
Hi @kg-jcaron have you been able to reproduce the issue with client logs? Do you continue to see the issue?

[2022-01-05 00:47] devalevenkatesh commented on #1916
Hi, thanks for reporting this issue. We already have an open issue for this. https://github.com/aws/amazon-chime-sdk-js/issues/1440 and https://github.com/aws/amazon-chime-sdk-js/issues/1042 related to this issue.

Could you please provide full browser console logs to understand the delay?

[2022-01-05 02:02] niborkar commented on #1880
Hi injuk@

Is this issue reproducible consistently?

Also, for the meeting above, can you check-
1) If the teacher's individual video chunk files were captured correctly in the /video folder?
2) Was the audio content in the chunk files stored in the /audio folder as expected?

[2022-01-05 02:42] ThomasCarltonInPerson opened #1917 "Is it possible to create a watch-only attendee in AWS Chime SDK?"
Hello community,

We are creating a video app using AWS Chime SDK.

We would like some users to be able to join the meeting only to watch. Without any adding-video/audio capability.

So far, our app requests a join token for an attendee and sends it back to the client :

	{
	"Attendee":
		{
		"AttendeeId":"b0637fd9-0140-3412-a51a-2c51ebd8fd08",
		"ExternalUserId":"MaavEFZt1DEfy",
		"JoinToken":"Yj

[2022-01-05 05:49] arpitmittal-lab commented on #1915
@devalevenkatesh the solution that you have shared is for closing the camera on the tab change, but we need the solution when the user is routing to a different route/page on our website.

[2022-01-05 06:01] injuk commented on #1880
Hi niborkar@ !

Unfortunately, the same issue has not been reproduced since that case.

1. No. We do not want all individual attendee's video files to be saved without voice. We wanted both ActiveSpeaker’s screen and voice to be recorded, not the screen of a specific attendee's.
2. Yes. We expected a chunk file that integrated the video and voice of ActiveSpeaker. Chunk files have been saved in th

[2022-01-05 13:46] MohanNB opened #1918 "Mobile browser and Webview not working video enable option page getting quits or option not enabling?"
### What happened and what did you expect to happen?

we are created server less demo link : https://github.com/aws/amazon-chime-sdk-js/tree/main/demos/serverless

Laptop and desktop browser are working fine but while trying mobile browser getting issues .

Please any one look on the issues and let share the updated code.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](ht

[2022-01-05 16:18] #1893 closed

[2022-01-05 16:19] hensmi-amazon commented on #1893
Marking as closed as mitigation is provided.

[2022-01-05 17:44] ltrung commented on #1917
@ThomasCarltonInPerson I am not sure I follow the question. If you want the attendee to not send video, you can just not call `chooseVideoInputDevice` right? Your app can handle the permission on whether an attendee can turn on video and only call that API when they have permission.

[2022-01-05 17:47] ltrung commented on #1915
@arpitmittal-lab That is the app logic to handle whether to stop the video so its hard for us to suggest a concrete solution without knowing how your app works. For framework like React, you can make sure to call audioVideo.stop() when a component is unmount.

[2022-01-05 17:54] ThomasCarltonInPerson commented on #1917
Thanks Itrung for your answer.

Actually yes I'm not calling `chooseVideoInputDevice `. But I'm talking about the case where the end user forces it or runs this command from the developer tab of his browser for exemple.

How can my app handle this permission since this is happening between the client and Chime SDK ? Can you please explain that ?

Thank you very much.

[2022-01-05 17:57] devalevenkatesh commented on #1915
For the route change, you can implement the same API calls logic but before routing. I am not sure what routing mechanism you are using or any framework but you could use same above code but with `beforeunload` or `unload` event from browser.

You can also use `window.location.pathname | href` to know the location and then trigger the APIs to leave the meeting. For example in our react meeting dem

[2022-01-05 18:46] ltrung commented on #1917
Just curious, do you export the audio video facade or meeting session object? Otherwise, how do users can call `chooseVideoInputDevice` in console?

[2022-01-05 22:04] #1813 closed

[2022-01-06 08:01] arpitmittal-lab commented on #1915
@devalevenkatesh I am already doing so on unmounting.

Issue Video: https://youtu.be/bKN-j5KJl74

I notice sometimes it gets removed after a few seconds and sometimes it doesn't.

Note: I am using amazon-chime-sdk-js just for handling the preview video without joining the meeting.

**Code**
[code]

[2022-01-06 11:39] Abhilash-Ram commented on #1918
You can check 2.24 for H264 format issue solution.

[2022-01-06 13:26] ThomasCarltonInPerson commented on #1917
Please correct me if I'm mistaken. Video facade and meeting session objects are available on the client side. I'm using the following [article](https://github.com/aws-samples/amazon-chime-sdk/tree/main/utils/singlejs) to integrate the SDK as a single JS file in my web app. Hence meeting session objects are accessible from the client side. Am I wrong about that please ?

[2022-01-06 16:40] jonathan-emed opened #1919 "Conditional removal of H264 support is broken because H264 Camera sections are not found"
### What happened and what did you expect to happen?

The function `DefaultSDP.findActiveCameraSection` incorrectly looks for `sendrecv` however the presence of that field is not guaranteed.  In fact, it is assumed to be the default value if `recvonly` is not present.

https://github.com/aws/amazon-chime-sdk-js/blob/128fa920d85c3817d42406b900b37c71e57a98bf/src/sdp/DefaultSDP.ts#L78

See https://da

[2022-01-06 18:01] ltrung commented on #1917
So unless you explicitly export a variable like in our [demo](https://github.com/aws/amazon-chime-sdk-js/blob/main/demos/browser/app/meetingV2/meetingV2.ts#L373), i don't think it is possible to just open the console and type in `audioVideo.chooseVideoInputDevice`. They would need to know where to put a break point and call it in debug mode.

Regarding your question, unfortunately, we do not curre

[2022-01-06 18:13] ltrung commented on #1919
@jonathan-emed Thanks for reporting. Could you add some details on how this affect your application use case?

[2022-01-06 18:17] jonathan-emed commented on #1919
This https://github.com/aws/amazon-chime-sdk-js/blob/128fa920d85c3817d42406b900b37c71e57a98bf/src/task/SetLocalDescriptionTask.ts#L36

Tries to remove H264 from the SDP under certain conditions and it doesn't work on some browsers which omit the `sendrecv` attribute because it isn't necessary or required as per the RFC... which is Safari because Safari does not produce `sendrecv` and the browser t

[2022-01-06 20:21] michhyun1 commented on #1915
hmm just curious - could you try putting the code for previewVideoStop:
[code]

directly into the return function for that last useEffect hook? I'm suspicious of the `ref.current` somehow being cleared before we can use it to stop the preview video.

[code]

[2022-01-06 23:05] michhyun1 commented on #1917
We actually have this feature in our [React Library demo guide](https://github.com/aws/amazon-chime-sdk-component-library-react/blob/46834ce43f25c00638467671933abc9b17d35f01/src/components/quickStarts.stories.mdx#join-a-meeting-in-view-only-mode). Feel free to take a look there.

[2022-01-07 08:07] arpitmittal-lab commented on #1915
@michhyun1 tried the way you suggested, but no luck.

[2022-01-08 01:22] hensmi-amazon commented on #1707
Closing as mitigation is likely provided. Please reopen if the feature mentioned by Trung does not solve your issue.

[2022-01-08 01:22] #1707 closed

[2022-01-11 11:03] marnixhoh opened #1923 "[Feature request]: `keepAliveTime` option for `createMeeting()`"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-01-11 18:52] michhyun1 commented on #1915
@arpitmittal-lab Thanks for your patience. Is there a way you can call `stopVideoPreviewForVideoInput` on the button click event - instead of on a useEffect event? Im wondering if there might be some race condition with the videoElement.current ref being cleared out before the stream attached to that HTMLVideoElement ref can be removed.

[2022-01-11 20:40] michhyun1 commented on #1923
@marnixhoh you've probably seen this already, but just attaching here for visibility: https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#when-does-an-amazon-chime-sdk-meeting-end
Chime Meeting Auto end policy ^

Thanks for bringing this up. We'll take a look at this and determine if its something we can work on in the future.

[2022-01-11 20:41] michhyun1 commented on #1880
@niborkar do you have any more guidance for @injuk?

[2022-01-12 00:30] jihalpatel commented on #632
@haifengx can you please point me to an example where SDK's output audio stream is used with PannerNode, if there is any.
I have been trying to get this to work, but having issues around accessing the output audio stream.

[2022-01-12 04:39] franko-franicevich commented on #1448
Hate to break the news, but our testing shows this is still, unfortunately, an issue :(
We'll investigate and try pull logs once more over the next week if we get time. For now we're rolling back to our work around - in theory it should still work when applied against the 2.24 release, but we'll let you know as well.

Since it's the same issue, seems like it's better to reopen this one?

[2022-01-12 07:53] andreisergiu98 opened #1927 "Wrong bandwidth estimation for AdaptiveProbePolicy of VideoPriorityBasedPolicy"
### What happened and what did you expect to happen?

At some point during a meeting the estimated bandwidth becomes 0. When this happens videos will continuously be paused and unpaused.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] REA

[2022-01-12 09:21] marnixhoh commented on #1923
@michhyun1 Yes I have indeed already seen that. But thank you anyway for sharing! :)

No worries. That would be great! Do you happen to know any "workarounds"?

[2022-01-12 17:28] devalevenkatesh commented on #1448
Re-opening this issue as per above comment and tagging @hensmi-amazon to help more.

[2022-01-12 17:44] hensmi-amazon commented on #1448
Hey @franko-franicevich thanks for testing. I was not able to reproduce in practice, so unfortunately that was a possibility. I think my change missed pausing while connecting and only paused the receiving post connect. Were your reproductions done on initial call join?

[2022-01-12 18:50] ildar-shamilov-clearscale opened #1928 "missing TURN credentials - falling back to fetch"
### What happened and what did you expect to happen?

- Deploy chime demo app locally "amazon-chime-sdk-js\demos\browser"
- Join multiple users
- Enable cameras on for users
- See random flickering, hanging, dissapearing of video tiles
happens on any platform
Looks like it works fine for only one user online.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.

[2022-01-12 23:23] michhyun1 commented on #1923
@marnixhoh unfortunately not that I know of currently. We'll be sure to keep track of this item. Thanks!

[2022-01-13 01:02] franko-franicevich commented on #1448
thinking about it, yes, the only instances I’ve seen (or had reported to me by other participants) are when I initially connect.

That is. if there are 3 people in a room, and I join, the other participants will see me, but I may not see them.

Asking them to toggle their video off then on again always resolves this.

Pretty sure that previously it could occur any time someone joined even after my

[2022-01-13 01:04] franko-franicevich commented on #1448
(In addition, the workaround we use needed to handle both scenarios, if I understand what you are referring to by ‘connecting’ and ‘post connect’ to be connecting vs updating streams afer you’ve successfully connected. )

[2022-01-13 09:33] ShutoYamada commented on #1928
I am facing the same situation.

In my case, the error occurred when I made a call between the same networks.
On the other hand, I can talk on different networks without any problems.

Maybe the Turn Server is down.

[2022-01-13 09:38] ildar-shamilov-clearscale commented on #1928
Bumped to 2.24.0, works fine now.

[2022-01-13 10:16] Coachtube opened #1930 "Video tiles does not appear even though there are no errors"
### What happened and what did you expect to happen?

Reopening the https://github.com/aws/amazon-chime-sdk-js/issues/1877

Hi guys!
I did what you suggested in the #1877, but there is no visuals rendered in the required area. Please find the attachments below
[localhost-1642068324140.log](https://github.com/aws/amazon-chime-sdk-js/files/7861893/localhost-1642068324140.log)

<img width="570" alt="

[2022-01-13 14:33] ArtemZakharchuk opened #1931 "iOS device cant automatically reconnect to call after restore internet connection"
### What happened and what did you expect to happen?

Expected:
After restoring the internet connection iOS device should successfully reconnect to call
Actual:
iOS device cant reconnect to call after restoring the internet connection.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io

[2022-01-13 17:29] hensmi-amazon commented on #1448
Gotcha, I think I underestimated the likelihood of this happening on initial connect. I have a quick fix, that i should have out today to cover there as well.

[2022-01-13 20:04] #1928 closed

[2022-01-13 20:25] franko-franicevich commented on #1448
Thanks Henry!  We’ll get this deployed asap to our beta ennvironment for testing through next week

[2022-01-13 21:04] hensmi-amazon commented on #1448
Actually before thats done, let me fix up some special handling of indexes on connection.  Don't want to push another bug with that change :).

[2022-01-13 23:28] devalevenkatesh commented on #1846
i am closing this issue since Chrome 97 is released now and the video from my pixel 3a Xl appeared as expected on the remote attendee side in Android Chrome 97.

[2022-01-13 23:28] #1846 closed

[2022-01-13 23:35] devalevenkatesh commented on #1906
Closing this issue request you to please checkout the meeting demo linked in previous which you confirmed works for you. In that solution also we re-direct when user click leave meeting and hence would be a similar implementation required in your side to solve it. Please feel free to re-open if you still face issues.

[2022-01-13 23:35] #1906 closed

[2022-01-14 00:53] marrionluaka opened #1935 "Safari 15+ unable to select a microphone that's attached to a camera"
### What happened and what did you expect to happen?

**Expected:**
When selecting a microphone that's attached to a camera (that belongs to the same physical device), the mic in question should be selected and should be able to pick up my voice.

**Actual:**
The selected microphone does not pick up my voice.

**Extra notes:**
It seems to only be an issue in Safari 15+

https://user-images.githubu

[2022-01-14 01:05] michhyun1 commented on #1918
@MohanNB if you could please give more specific details as to what you are trying to do, that would be helpful. The more details you share, the easier we can solve this issue.

I am able to turn my video on when I deploy a serverless demo on iOS (15.1) Safari. Can you confirm if you can do this? If not, when you deploy the demo, are you able to join a meeting and enable video on desktop chrome?

[2022-01-14 01:06] michhyun1 commented on #1918
I also ran this demo: https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/iOS-WKWebView-sample

When I visited the deployed demo, I was able to turn on my video also.

[2022-01-14 01:12] hensmi-amazon commented on #1919
Hi @jonathan-emed, sorry for the delay, but appreciate seeing someone who enjoys looking at RFCs as much as I do :).

I'm onboard with your recommended change (i assume we would also want to check 'inactive' just in case the browser wants to throw that at the beginning of the function), but I am having difficulty reproducing. When I am using 15.2 MacOS safari (not sure there would be a difference

[2022-01-14 02:52] devalevenkatesh commented on #1915
Hi @arpitmittal-lab , I tried to work with your provided code and could re-pro using a react app created using the `create-react-app`. The reason your camera does not get clear is due to the `ref.current` goes to `null`  before react calls the `useEffect`'s cleanup function. Hence, this results into the JS SDK API failure to stop the video preview, the video component un-mounts but the camera is s

[2022-01-14 13:01] mohamadkhalil88 opened #1938 "Cannot find name 'OffscreenCanvas' Angular 13"
### What happened and what did you expect to happen?

I upgrade my application angular 13, now i have error with the library:

[code]

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws/amazon-chime-sdk-js

[2022-01-14 17:53] MingcongQi commented on #1880
We found an issue on our backend side that would have caused it and we are fixing it.

[2022-01-14 17:54] michhyun1 commented on #1935
I just tried this on my macbook pro 16", and I was not able to reproduce with my external webcam. I am able to switch between the macbook mic and the external webcam mic.

@marrionluaka Is there any way you can send us some browser logs for this case?

[2022-01-14 18:22] luchinilato commented on #1923
I have the same problem and this is limiting me a lot

[2022-01-14 19:54] Brenerss commented on #1923
This feature will help me to make better my project and remove there limits

[2022-01-14 19:55] thiagosilvadev commented on #1923
Same here. The 5 min auto-end policy gave me a huge problem. This feature would solve my problem

[2022-01-14 20:14] marrionluaka commented on #1935
Hi @michhyun1 thanks for getting back to me so quickly! Attached please find the browser logs you requested.
[Console.txt](https://github.com/aws/amazon-chime-sdk-js/files/7872956/Console.txt)

[2022-01-14 22:20] michhyun1 commented on #1935
I mostly just see logs like this:
[code]

Can you please check that the internet connection is okay? Also, I didnt see any calls to `chooseAudioInputDevice`, so not which should be called when you switch audio input devices.

[2022-01-16 10:24] Demi-ob opened #1940 "Turning video on during a meeting causes meeting to stop and reconnect"
### What happened and what did you expect to happen?

Everything works well if no video is turned on but once a video gets turned on, it causes the meeting session to reconnect and i get the following warning in console:

```react_devtools_backend.js:4045 2022-01-16T10:10:48.179Z [WARN] SDK - will retry due to status code TaskFailed and error: serial group task AudioVideoUpdate/6d6060af-e9e7-488f-

[2022-01-17 05:56] DhavalKholiya3 opened #1941 "Audio device not found"
### What happened and what did you expect to happen?

I am trying to make video calls using chime meeting.
While I am trying from my desktop I am getting error audio device is not getting found in console.
But While I am trying to make call from my laptop audio video device getting found but audio-video is getting breaking not getting properly.

Please provide me any sample code to implement calli

[2022-01-17 09:59] mohamadkhalil88 commented on #1909
@ltrung so this library cannot work on Angular 13? because Angular 13 require TS version 4.4.2 or higher

[2022-01-17 10:06] w-okada commented on #1940
Maybe the same issue. Connect and reconnect are repeated in official demo.

https://user-images.githubusercontent.com/48346627/149749327-868244c8-b2a8-41c1-949a-7705b3a020b3.mp4

[2022-01-17 13:13] DhavalKholiya3 opened #1942 "Not able to start recording c# SDK S3 Bucket Issue"
I am using .net sdk for meetings. I am trying to start recording but following getting exception
I have tried to assigned all the required permissions to user and also created bucket as public but I am still getting following error.

![S3BuckertError](https://user-images.githubusercontent.com/66063891/149775270-e6b72a59-9e84-47a1-9c20-ab367de4e226.png)
Please suggest me possible solutions.

**S3 B

[2022-01-17 17:02] marrionluaka commented on #1935
There were no issues with the internet connection and yes these logs were taken when I switched between audio input devices (just like the video above).

[2022-01-18 03:59] CharlieDigital commented on #1909
@mohamadkhalil88 You can fix this problem by adding the `@types/offscreencanvas` package:

[code]

[2022-01-18 05:55] yoshitsugu opened #1943 "Incorrect video chunks are generated for shared screen in Media Capture Pipeline"
### What happened and what did you expect to happen?

I don't know here is the right place to report this kind of issue. Please close if not.
(Please tell me where is the right place to report if you know...)
I've tried Media Capture Pipelines following this article.
https://aws.amazon.com/blogs/business-productivity/capture-amazon-chime-sdk-meetings-using-media-capture-pipelines/
I've noticed som

[2022-01-18 08:31] mohamadkhalil88 commented on #1909
@CharlieDigital unfortunately this solution doesn't work. i installed @types/offscreencanvas and still same error:
packaje.json:
"@types/offscreencanvas": "^2019.6.4",

[2022-01-18 08:34] abbasdevelopers commented on #1909
@CharlieDigital I am facing the same issue even after installing @types/offscreencanvas.

[2022-01-18 10:36] mohamadkhalil88 commented on #1909
i added offscreencanvas to my tsconfig.json file:
[code]
But still have the same problem

[2022-01-18 10:51] mohamadkhalil88 commented on #1909
i added offscreencanvas to types in tsconfig.json and it works:
[code]
Thanks @CharlieDigital

[2022-01-18 13:07] JunedBrilworks commented on #1927
I'm also having the same issue. The user did a speed test on the browser it showed 40 Mbps but as per the browser, log bandwidth is very low.

[log.txt](https://github.com/aws/amazon-chime-sdk-js/files/7889244/bandwidth.txt)

[2022-01-18 13:09] JunedBrilworks commented on #1899
@ltrung Once again one of our users faced the same issue. In the browser when they are doing a speed test it's showing around 40 Mbps, but on the browser log, it's showing very bandwidth estimation.
[log.txt](https://github.com/aws/amazon-chime-sdk-js/files/7889256/bandwidth.txt)

[2022-01-18 18:55] hensmi-amazon commented on #1899
Hi @JunedBrilworks , unfortunately the browser bandwidth estimation can be a bit finicky, and though we have modified our logic to wait until it sees packet loss, among other things to try to make it less sensitive, it is still dependent on the actual bitrate being received, which is why the active speaker logic to change resolution may be causing it to occasionally nose-dive if it happens to see

[2022-01-18 20:45] ltrung commented on #1837
Closing due to inactivity. Feel free to reopen if you have additional questions.

[2022-01-18 20:45] #1837 closed

[2022-01-18 20:50] tenge-amzn commented on #1563
You can use media capture pipeline to store the transcription in to S3 file as json objects.
https://aws.amazon.com/blogs/business-productivity/capture-amazon-chime-sdk-meetings-using-media-capture-pipelines/

[2022-01-18 20:50] #1563 closed

[2022-01-18 22:09] vincebai commented on #1785
Hello. I was unable to get traction on this issue from EventBridge team but EventBridge messages are best effort and occasionally messages may be dropped due to a service error or outage on EventBridge side. If you are continually seeing this issue, please feel free to reopen with more data and we will further investigate.

[2022-01-19 01:38] ltrung commented on #1810
@ryanbrown-rcd I have made some quick changes to migrate to aws sdk v3 in this branch https://github.com/aws/amazon-chime-sdk-js/blob/aws-sdk-v3/. Could you check this out to see if it solves the issue for you?
Just want to point out that `messagingSession.start` is now an async function due to aws-sdk v3 changes (https://github.com/aws/amazon-chime-sdk-js/blob/aws-sdk-v3/src/messagingsession/Defa

[2022-01-19 02:01] franko-franicevich commented on #1448
Hi Henry! Do you have an update for this?

thanks!

[2022-01-19 17:55] hensmi-amazon commented on #1448
Hey Frank, so for the delay, I went ahead and fixed another issue https://github.com/aws/amazon-chime-sdk-js/pull/1934 (already in 2.26)  and then rerolled the change with a small change in https://github.com/aws/amazon-chime-sdk-js/pull/1937 . At that point it seems pretty stable so I think you should be good to test with the combination of those changes :).

[2022-01-19 18:10] michhyun1 commented on #1940
@Demi-ob I think this issue would be solved if you upgrade to 2.24.0 or higher.

[2022-01-19 18:16] michhyun1 commented on #1942
@DhavalKholiya3 Can you please take a look at this issue? - https://github.com/aws/amazon-chime-sdk-js/issues/1558

[2022-01-19 19:13] gmonn commented on #1448
Any ideas as to when 2.26 will go to npm? we are experiencing alot of the same simulcast issues as described here, but I would rather wait until 2.26 is on npm to get it and then test and see if it fixes our issues.

[2022-01-19 20:11] Demi-ob commented on #1940
Thanks. Upgrading fixed it for me

[2022-01-19 20:57] pracheth commented on #1941
We do have a JS demo that can be found in https://github.com/aws/amazon-chime-sdk-js/tree/main/demos/browser/app/meetingV2

Steps to deploy this demo into your AWS account can be found in the readme here: https://github.com/aws/amazon-chime-sdk-js/tree/main/demos/serverless

Let us know if the demo code linked above helps solve this issue.

[2022-01-19 21:21] jonathan-emed commented on #1919
@hensmi-amazon I reproduced the issue on an earlier version of Safari in December.  It could have been the iPad or Desktop.  I only discovered it because it wasn't actually removing the H264 like expected.  So, a version of Safari did exist in December, which required this change.

[2022-01-19 21:46] franko-franicevich commented on #1448
Thanks Henry!
Looking at the code, from my limited understanding, it does seem like it should fix our last observed issues on connect, but we’ll get this deployed to our beta environment asap to test, and let you know how it goes!

	— Franko

[2022-01-19 22:48] hensmi-amazon commented on #1448
Hi @gmonn, we can unfortunately not commit to any dates.

[2022-01-19 23:22] nehtambe commented on #1943
Hi, we are looking into this issue. We will update once it is fixed.

[2022-01-20 04:02] maruware commented on #923
Hi, @ltrung , I wanted to do the same thing, so I followed the instructions below, but the first time the preview shows up as intended, but when I switch devices using deviceController.chooseVideoInputDevice, the preview shows up completely black https://github.com/aws/amazon-chime-sdk-js/issues/923#issuecomment-742943700

I've also tried running stopVideoPreviewForVideoInput after deviceControlle

[2022-01-20 09:55] dathacky opened #1946 "The video bitrate beyond the selected value?"
I noticed that the bitrate value during the meeting exceeds the bitrate value previously selected, is this a bug? If not please explain bitrate to help me. Thank you!

<img width="395" alt="Screen Shot 2022-01-20 at 16 42 56" src="https://user-images.githubusercontent.com/37299929/150314800-ef2c9c4b-0eb8-4260-b656-a0401d0c9563.png">
<img width="758" alt="Screen Shot 2022-01-20 at 16 45 07" src="ht

[2022-01-20 11:45] Abhilash-Ram opened #1947 "Black background in video element - IPad 12.9 Inch IOS 15.1 version"
### What happened and what did you expect to happen?

We updated Chime SDK to 2.24 and, this resolved Ipad device video issue. Now we are facing black screen in video element whenever we minimize the safari browser in ipad and resume that browser window back. At the time of minimize, we saw black screen of ipad device video element in other users screen but after switching back to safari browser i

[2022-01-20 12:23] gmonn opened #1948 "Safari Attendee dropped from meeting when not on the active browser tab"
### What happened and what did you expect to happen?

In our testing when an attendee or the host is using Safari (we are on 15.2) and then they open another tab or go to another application on their machine, then the attendee is dropped from the chime meeting, when they return then the attendee is brought back into the meeting, sometimes successfully, and then some times not. I know i have read d

[2022-01-20 14:48] gmonn commented on #1948
After testing this in the demo meetingV2, with Chrome and then with Safari 15.2, i see that there is a presence = false and a dropped Event for the Safari user. but yet the safari user still remains in the remote video tiles of the host in chrome. this makes me think that on a dropped event we should not be taking the remote tile out of the list?

[2022-01-20 18:00] #1940 closed

[2022-01-20 21:52] ltrung commented on #923
I think you want to call `stopVideoPreviewForVideoInput` first before calling `deviceController.chooseVideoInputDevice`. `stopVideoPreviewForVideoInput` will release the current video stream (which undo what you just select in `chooseVideoInputDevice`.

[2022-01-20 22:32] ltrung commented on #1946
@dathacky Hi, thanks for reporting. We are currently looking at this issue. Could you let us know how you reproduced it in our meeting demo?

[2022-01-20 22:34] ltrung commented on #1938
This is a duplicate of https://github.com/aws/amazon-chime-sdk-js/issues/1909. There is a workaround suggested.

[2022-01-20 22:34] #1938 closed

[2022-01-20 22:55] ltrung commented on #1748
We have released background replacement that allow users to use background image (See PR https://github.com/aws/amazon-chime-sdk-js/pull/1920). This feature is available in NPM version 2.25.0 so close this issue now. Feel free to try it out and let us know your feedback.

[2022-01-20 22:55] #1748 closed

[2022-01-20 22:57] ltrung commented on #1592
@AlexMCarv I recently made a change in https://github.com/aws/amazon-chime-sdk-js/pull/1872 to allow showing last frame when pausing a remote video so I think you workaround to get what you want.
Basically when users click on pause content share you can send data messages to all other remote attendees and call audioVideo.pauseVideoTile() to show the last frame. However, this only works with remote

[2022-01-20 23:00] ltrung commented on #1766
We have released background replacement that allow users to use background image (See PR #1920). This feature is available in NPM version 2.25.0 so close this issue now. Feel free to try it out and let us know your feedback.

[2022-01-20 23:00] #1766 closed

[2022-01-20 23:01] ltrung commented on #1759
We have released background replacement that allow users to use background image (See PR #1920). This feature is available in NPM version 2.25.0. Could you try it to see if it improves on the delay when switching background?

[2022-01-20 23:38] nehtambe commented on #1942
Adding a blog link for reference - https://aws.amazon.com/blogs/business-productivity/capture-amazon-chime-sdk-meetings-using-media-capture-pipelines/

[2022-01-21 00:48] maruware commented on #923
@ltrung I fixed it as you said, and it works as intended. Thanks!

[2022-01-21 02:19] dathacky commented on #1946
I joined the meeting and select resolution 360p 15fps 600 kbps max

[2022-01-21 04:13] DhavalKholiya3 commented on #1942
Thanks It's resolved now meeting is getting recorded.

Now I am looking on how to generate single from from multiple recorded chunks. I am using .Net sdk for meetings and single JS for meetings.

Can you provide sample code or solution for .NET how to concat this recording files in single file?

[2022-01-21 04:31] DhavalKholiya3 commented on #1941
I am already referring this demo you have provided. I am using .NET SDK for create meetings and attendees, and generated Single JS to join meeting from front end.

I am getting error of from my desktop audio device is not getting found. But I am already using Zoom and Skype for call purpose and it's working.

I am able to hear voice as well as see video from my laptop.

[2022-01-21 11:37] Coachtube commented on #1930
@michhyun1 thanks for the point, but, unfortunately this is also not working. Please find the screenshots and logs below

![image](https://user-images.githubusercontent.com/30532310/150520134-51c6bf7e-6f48-4ec1-8d55-f73e15dc0a78.png)

![image](https://user-images.githubusercontent.com/30532310/150520237-1251b7c3-7267-4ef2-b5b1-ced710fa1a85.png)

[localhost-1642764934187.log](https://github.com/aws

[2022-01-21 18:37] marrionluaka commented on #1935
Hi @michhyun1 Any updates on this issue?

[2022-01-21 20:00] nehtambe commented on #1942
You can check the section **Demo for combining the meeting artifacts** in the above shared blog.
Demo for combining the chunks - https://github.com/aws-samples/amazon-chime-media-capture-pipeline-demo
Let us know if this helps.

[2022-01-21 21:49] wolfmanjacko opened #1950 "Content Share is no longer working"
Browser: Chrome Version 97.0.4692.99 (Official Build) (64-bit)
Node: version 14.12.0

Downloaded the demos, attempted the meeting demo (v1 and v2)
Deployed properly without issue, went to the link for v2
https://xxxxxxx.execute-api.us-east-1.amazonaws.com/Prod/v2?m=mymeet
Logged on multiple "people"
When I select the share dropdown and then Test Video
I can hear the video playing but no video comp

[2022-01-21 23:36] ltrung commented on #1950
This is documented in #1059 as a known issue with chrome. Have you tried to disable hardware acceleration?

[2022-01-21 23:57] ltrung commented on #1950
Sorry maybe irrelevant but i noticed that your URL has V2 in it which seems to be very old (The current demo code no longer uses that). How old is the code or is the URL incorrect?
https://xxxxxxx.execute-api.us-east-1.amazonaws.com/Prod/?m=mymeet <- URL should just be like this using the current code.

[2022-01-22 00:03] wolfmanjacko commented on #1950
The URL is correct, it is using an older zip of demo code as it was first built in July 2020 but it was working perfectly (in production use) until a few weeks ago by client reports.

[2022-01-22 00:51] wolfmanjacko commented on #1950
Is there a demo you can point to where content sharing is currently working in Chrome 97? It would be a lot of work to port the code but if necessary we can do it.

[2022-01-22 00:53] ltrung commented on #1950
I just did a serverless demo from the main branch and content share a test video worked for me in Chrome 97 no issue.

[2022-01-22 01:03] wolfmanjacko commented on #1950
I downloaded that one, went into demos/serverless ran npm install and then ran npm run deploy -- -r us-east-1 -b chime-main-b1 -s chime-main-s1 -a meeting.

It crashes out with a error about ruby is not recognized. Is there more installation instructions than what the read me has?

[2022-01-22 01:08] ltrung commented on #1950
You just have to have ruby installed and export it in PATH. We have some ruby script when running npm run build.

[2022-01-24 05:02] mrnav90 opened #1953 "Turn ON/OFF Event camera delay 2s ~ 4s"
Hi @ltrung
Currently, we have issue with case revive events mute / unmute camera.
Some times, this issue happen with a camera device input or camera of macbook / windows.
I've checked and see event mute / unmute delay so can't show camera in same time with button on / off
Could you help check this case?
I will send you video record.

https://user-images.githubusercontent.com/9253581/150724699-b3b6

[2022-01-24 11:08] shettyaditsathish opened #1954 "With release 2.25 16 videos are showed instead of 25"
### What happened and what did you expect to happen?

Create a meeting which has 25 attendees. Start the meeting with video turned on for all attendees.
Note that only 16 video tiles show up and the remaining 9 attendees are showing up as joined in the roster but there video is not enabled.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chim

[2022-01-24 11:22] shettyaditsathish commented on #1954
Note this works fine for version 2.24.0

[2022-01-24 19:31] michhyun1 commented on #1930
Perhaps you can remove the startLocalVideoTile() before the audioVideo.start() call, since youre calling it after the audioVideo starts via the observer callback.

Just for debugging purposes, could you perhaps attach the startLocalVideo call to a button and click on the button to be able to see what happens when you click on it? Rather than be in the observer callback.

[2022-01-24 21:37] Brenerss opened #1955 "Limite of data on realtime"
### What happened and what did you expect to happen?

I tried to pass a relatively large json with array of objects and it returned me the following message

"SDK - failed with status code RealtimeApiFailed and error: Data size has to be less than 2048 bytes"

Is it impossible to transfer data larger than that?
If not, what alternative do you suggest?

### Have you reviewed our existing documentat

[2022-01-24 22:41] hensmi-amazon commented on #1805
Pardon the delay. https://github.com/aws/amazon-chime-sdk-js/pull/1831 was finally merged, will be included in 2.26 and hopefully makes this issue impossible. Please let us know if you still see it after picking up that change. I will close this issue on 2.26 release.

[2022-01-24 22:41] hensmi-amazon commented on #1807
Pardon the delay. https://github.com/aws/amazon-chime-sdk-js/pull/1831 was finally merged, will be included in 2.26 and hopefully makes this issue impossible. Please let us know if you still see it after picking up that change. I will close this issue on 2.26 release.

[2022-01-25 15:27] Coachtube commented on #1930
@michhyun1 here it is

[localhost-1643123953349.log](https://github.com/aws/amazon-chime-sdk-js/files/7934817/localhost-1643123953349.log)

<img width="960" alt="fe" src="https://user-images.githubusercontent.com/30532310/151006181-8477654d-3fd9-4cbf-8d7f-6c18ac7cbb25.png">

<img width="672" alt="cd" src="https://user-images.githubusercontent.com/30532310/151006230-7ba9c9d7-9dd1-432d-8045-66cb3bcf

[2022-01-25 19:23] pgutierrez-bcov commented on #1754
We tested with the device using the WebRTC samples. It seems to be a generic issue with the device. Thanks for the help!

[2022-01-25 20:15] ltrung commented on #1754
Thanks. Closing the issue for now.

[2022-01-25 20:15] #1754 closed

[2022-01-25 23:10] michhyun1 commented on #1930
@Coachtube thanks for the quick reply - is it possible to try this without the usb camera that you're defaulting to?

[2022-01-26 03:05] pracheth commented on #1941
I was able to join a test meeting from chrome 97 and mobile safari using the link shared above and was able to confirm that audio was flowing fine in both directions

I was also  able to reproduce the same error as you in another test when I tried to join the meeting from an incognito chrome window and I clicked on `block` when prompted for device permissions
[code]

Do you get prompted for device

[2022-01-26 12:15] nandzz opened #1959 "Possible solution for Testing without browser"
# Tell us about your request

I'd like to know if it's possible to test the video call without using the browser but with a video simulating the audio/video input broadcasted from a server.

## What do you want us to build?

A way to make chime SDK run on the server-side without the need for browser support.

## Tell us about the problem you are trying to solve and why is it hard?

We have a proct

[2022-01-26 18:19] ltrung commented on #1954
@shettyaditsathish Could you retest? We identified this was a bug in our backend and have rolled out a fix recently.

[2022-01-26 18:49] #1948 closed

[2022-01-26 21:00] timanderson opened #1960 "High CPU in Firefox"
Video meeting in Firefox with 4 users. Noticed fan roaring away. Task Manager showed high CPU in Firefox and GPU active. This is on a high-spec PC, Windows 11. Is this noise suppression kicking in, it is not configured as far as I know? Any way to monitor/tune this?

[2022-01-26 21:42] jing-chen1 commented on #1960
Hi @timanderson,

Thanks for your interest in Amazon Chime SDK for JavaScript. Could you please provide more details about your use case?

* Have you checked on other browsers, such as Chrome and Safari? Do you still have the same issue?
* Are you running our severless meeting demo? Could you please compare your implementation with our demo to see if there are any discrepencies which may cause the

[2022-01-26 22:26] timanderson commented on #1960
Thanks for your comment. Unfortunately I don't know if this occurs in other browsers and I don't have logs. I can tell you that if I run it now with only me in the meeting, I don't see the same level of CPU/GPU. So it is related to the number of people in the meeting. It is not the serverless demo, this is the singlejs demo plus our custom code. The video elements are quite small, just 200px wide.

[2022-01-26 22:26] ltrung commented on #1959
We do not currently support this use case but I am curious if you can use Selenium or other automation frameworks (Playwright, Cypress, etc.) to automate this process?

[2022-01-26 23:17] user4fti opened #1961 "[Feature request]: MediaCapturePipeline - add State to AudioArtifactsConfiguration"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-01-27 01:57] jing-chen1 commented on #1947
Hi @Abhilash-Ram,

Thanks for your interest in Chime SDK for JavaScript. Here are the steps I do to reproduce (IPad Pro 11 / IOS 15.1):
* Join a meeting, one attendee from Ipad/Safari, and the other one from Mac/Chrome
* Turn on the video for both attendees
* If I switch to other application: I can still see the video of Ipad
* If I press the `home` button and put the browsers in the background: I

[2022-01-27 04:25] DhavalKholiya3 commented on #1941
Thanks for your response.
No I didn't got prompted for device permissions in my desktop but I got permission asking in my laptop.

I have tried this setting to allow permission but still getting same error. Sometimes I can here audio from joined person but other joined person can't here my audio.

[2022-01-27 05:21] Coachtube commented on #1930
@michhyun1 this is an only option to use the USB camera on my ROG Zepyrus, since it dosen't have a built in one.

[2022-01-27 08:07] Abhilash-Ram commented on #1947
Hey @jing-chen1 m
Yes, minimize the browser window.

[2022-01-27 08:18] shettyaditsathish commented on #1954
I still see the same issue only 16 videos show up instead of 25, I took a clean copy , pointing to aws chime sdk version 2.25.0,

[2022-01-27 09:07] DhavalKholiya3 commented on #1942
I am already referring this demo. But we are using .net SDK in our project not node js.
Currently I am facing following issues.

1. Currently files are getting recorded in 5 seconds chunk. Is there any setting or parameter available we can set it to record meeting in single file in one go instead of applying solution to combine it?

2. I am also facing issue of sometime audio getting properly and

[2022-01-27 15:06] nandzz commented on #1959
Hi @ltrung , Thank you for your feedback. It would be great to have the possibility without using a framework. But Your idea just works in our case. Thank you very much!

[2022-01-27 17:14] ltrung commented on #1954
@shettyaditsathish Is there a meeting Id you can share so we could take a look on our backend?

[2022-01-27 17:22] ltrung commented on #1950
@wolfmanjacko Any luck?

[2022-01-27 17:40] #1829 closed

[2022-01-27 18:35] wolfmanjacko commented on #1950
I was able to use the current version...unfortunately I built an entire video conferencing tool based on a previous version which is not longer working. So I am trying to figure out if I can retrofit the current methods into this older version.

[2022-01-27 18:38] ltrung commented on #1950
Sorry but there should be no work to be done from your side to update to a new version since it is supposed to be backward compatible.

[2022-01-27 19:18] akshay-prabhu-github commented on #1954
In addition to Trung's request, Can you also confirm if all the 25 attendees on the meeting were able to turn on their video or only 16 were able to broadcast their video? and the others were able to see the 16 videos out of the 25 videos being broadcasted.

[2022-01-27 19:42] ltrung opened #1964 "Amazon Chime SDK JS V3 Plan"
The Amazon Chime SDK JS team is planning for the next major version v3.0.0 to:
- Improve device workflow by decoupling the device controller from audio video controller, better high level API to handle audio/video permission mode when joining.
- Improve our client metrics and audio/video bandwidth events.
- Decouple event controller so that it can be used out of the meeting context.
- Improve audi

[2022-01-27 21:22] ltrung commented on #1955
Yes, we currently limit the data size to less than 2048 bytes. Could you try some compression 3rd party tool to compress the json file?

[2022-01-27 21:24] michhyun1 commented on #1930
@Coachtube usually the usb cameras have a light that comes on when the device is selected - can you confirm if the usb camera light turns on?

Perhaps from the developer console, you can try:

[code]

Does this work for you?

[2022-01-27 22:27] hensmi-amazon commented on #1805
Argh...so sorry about all of this. I had finally gotten https://github.com/aws/amazon-chime-sdk-js/pull/1831 in close to us wanting to release 2.26 and it turns out there was an additional regression that I hadn't caught (or maybe some new interaction with some change over the past 2 months), so I am just reverting in https://github.com/aws/amazon-chime-sdk-js/pull/1965 to unblock. I will get it i

[2022-01-27 22:27] hensmi-amazon commented on #1807
Argh...so sorry about all of this. I had finally gotten #1831 in close to us wanting to release 2.26 and it turns out there was an additional regression that I hadn't caught (or maybe some new interaction with some change over the past 2 months), so I am just reverting in #1965 to unblock. I will get it in 2.27 though.

[2022-01-28 01:41] mrnav90 commented on #1953
@ltrung
Could you please help check this issue?
Thanks

[2022-01-28 08:36] dathacky opened #1968 "Use MediaStream as an alternative to bindVideoElement"
I have been using chime SDK for almost 1 year, I have a lot of problems using `bindVideoElement()`.
In ReactJS, every time we render we always have to call the `bindVideoElement()` function again. This happens a lot because our UI changes frequently (grid layout, full screen, whiteboard,...), causing us to get a lot of video related errors if the UI renders but doesn't call `bindVideoElement`, so

[2022-01-28 11:41] davide-desio-eleva commented on #205
Hi, we are also experiencing this issue as described by @kelvin2200.
Basically after canceling a share content session, no more sharing is possible.

Workflow to repeat the issue (on chrome):
- start share content
- click on cancel button
- error "Permission denied by system" is shown in console
- click again on share content, nothing happens.

Attaching a video for reference.
@lawrencepit have yo

[2022-01-28 11:51] antennix commented on #205
I had the same issue today but solved it with the latest version of chrome browser.

[2022-01-28 12:23] davide-desio-eleva commented on #205
Hi @antennix, I've got latest one as well but this is still an open issue to me.

<img width="705" alt="Schermata 2022-01-28 alle 13 22 44" src="https://user-images.githubusercontent.com/20799924/151546207-e9069a32-e01d-4fad-8974-83c779dce35d.png">

[2022-01-28 18:32] ltrung commented on #1968
Sorry pass it to what?

I am not sure I follow this. Could you clarify? listVideoInputDevices and chooseVideoInputDevice are needed to get the stream from browsers.

When there is a change in audio/video stream, we need to update the stream subscription in the backend and thus cause some delay to `videoTileDidUpdate`. It is something we could try to improve in the future. However, can you workarou

[2022-01-28 18:35] ltrung commented on #1953
Is this a regression that you noticed recently or it has always been this way?
I am not quite sure what you mean by mute/unmute. Do you mean toggle video on/off?
Also is this the same issue as #3 in https://github.com/aws/amazon-chime-sdk-js/issues/1968 ?

[2022-01-29 00:27] MingcongQi commented on #1942
Hi,
#1 which stream do you want to combine?
#2 could you give more information about how "not getting properly"?
#3 We are doing a fix for this issue in our backend

[2022-01-31 04:27] yoshitsugu commented on #1943
@nehtambe thank you for your response. please notify me if you have any update.

[2022-01-31 06:30] abhimanusharma opened #1972 "Getting "AudioJoinedFromAnotherDevice" error too frequently after version update."
### What happened and what did you expect to happen?

Getting this in log.
[code]
[code]

Then meeting session is ended.

Meeting session should not be ended until host ends or chime policy end session requirements are met.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chim

[2022-01-31 10:32] maruware opened #1973 "[Feature request] Binarization support for Background Filter mask"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-01-31 22:19] vidya-mohan commented on #1918
Resolving as no response

[2022-01-31 22:19] #1918 closed

[2022-01-31 22:20] vidya-mohan commented on #1850
Resolving as no response

[2022-01-31 22:20] #1850 closed

[2022-01-31 22:21] vidya-mohan commented on #1842
Resolving as no response

[2022-01-31 22:21] #1842 closed

[2022-01-31 22:22] vidya-mohan commented on #1896
Resolving as no response - @suman2755 hope this suggestion helps you

[2022-01-31 22:22] #1896 closed

[2022-01-31 22:22] vidya-mohan commented on #1916
Resolving as no response

[2022-01-31 22:22] #1916 closed

[2022-01-31 23:05] jing-chen1 commented on #1947
Then it is a default behavior. For more details, please check our [FAQ](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#i-notice-that-if-i-turn-on-camera-and-put-the-browsers-in-background-others-in-the-meeting-will-see-black-tile-in-safarichromefirefox-in-ios-and-frozen-tile-in-chrome-in-android-is-this-a-known-issue)
Closing this ticket, please feel free to reopen it if you still hav

[2022-01-31 23:05] #1947 closed

[2022-01-31 23:12] ltrung commented on #1946
@dathacky Can you still reproduce this issue? We pushed out some fixes in 2.26 version.

[2022-01-31 23:21] simmkyu commented on #1972
### AudioJoinedFromAnotherDevice

The `AudioJoinedFromAnotherDevice` error occurs when you use the same attendee response in multiple meetings.

From the [Meeting error messages](https://aws.github.io/amazon-chime-sdk-js/modules/meetingevents.html#meeting-error-messages) section in the meeting event guide:

⠀
### NotReadableError

The `NotReadableError: Could not start video source` error often oc

[2022-02-01 00:20] jing-chen1 commented on #1960
Thanks for your response. Just want to make sure the 4 users come from different devices or just one device? My mac will have 200% CPU usage when I create 6 attendees, join in a meeting and turn on the video. Also would like to know what is your custom code. Would be appreciated it if you can provide some logs.

[2022-02-01 00:31] dathacky commented on #1946
it's fixed, thank you

[2022-02-01 00:31] #1946 closed

[2022-02-01 00:43] #1959 closed

[2022-02-01 01:09] tindevelopers commented on #1878
Is it possible to re-open this issue? It's not an issue of network connectivity, because the meeting is on and continues to be active.

[2022-02-01 01:10] tindevelopers opened #1974 "Re-Open this issue: https://github.com/aws/amazon-chime-sdk-js/issues/1878"
Just wanted to know if is possible to re-open this issue?
https://github.com/aws/amazon-chime-sdk-js/issues/1878

[2022-02-01 01:12] tindevelopers commented on #1878
90% of the time, the screen share works fine for the first time, but 1 out of 10 times, when the screen share is stopped and then started again, and appears to be working i.e. it looks like it is working for the originator, but the other participants cannot see the screen share. We can’t seem to figure out how to troubleshoot this problem.

[2022-02-01 01:31] simmkyu commented on #1878
Content sharing (screen sharing) in the Chime SDK for JavaScript is no different from regular videos, except that an attendee can share screens or any [MediaStream](https://developer.mozilla.org/en-US/docs/Web/API/MediaStream).

For example, when **Attendee A** enables screen sharing, a content-sharing attendee (non-human) joins a meeting and shares **Attendee A**'s screen over the same WebRTC con

[2022-02-01 01:32] simmkyu commented on #1974
Closing this issue and we re-opened #1878

[2022-02-01 01:32] #1974 closed

[2022-02-01 07:39] venkatrv75 opened #1975 "Video not working on few Android mobile chrome"
Hello all, I am using the latest chime js sdk. On one of the Android tablet I have, on Chrome browser (latest), video is not working, with below error. On a different android mobile phone, it is working fine. Could you please provide any pointers for resolving?

 ----------Error----------------
2022-01-31T13:35:15.014Z [ERROR] ChimeMeetingLogs - failed to get video device for constraints {"video":

[2022-02-01 07:46] venkatrv75 opened #1976 "Video not working on few Android mobile chrome"
### What happened and what did you expect to happen?

Hello all, I am using the latest chime js sdk. On one of the Android tablet I have, on Chrome browser (latest), video is not working, with below error. On a different android mobile phone, it is working fine. Could you please provide any pointers for resolving?

Thanks in advance!!
-Ramana

### Have you reviewed our existing documentation?

- [

[2022-02-01 09:12] venkatrv75 commented on #1975
duplicate

[2022-02-01 09:12] #1975 closed

[2022-02-01 09:24] timanderson commented on #1960
The 4 users are from different devices. The PC is Core i7-7700 3.6 GHz, 16GB RAM and Nvidia  RTX 2060 GPU. This is what I get:

![image](https://user-images.githubusercontent.com/200854/151942519-b63a8cfb-5986-4df1-8c28-e61a5e174155.png)

If that is normal for 4 attendees then I have learned something! But I think I had four attendees with an earlier version of Chime  SDK that did not show this le

[2022-02-01 10:06] tindevelopers commented on #1878
Yes, we will monitor and send over the meeting ID. Will be updating to the latest SDK make a difference, and are there multiple ways or other ways to share a screen?

[2022-02-01 10:44] alisaliso commented on #1810
Also trying to reduce bundle size on the project with v3 `@aws-sdk/client-chime-sdk-messaging` lib functions for getting / deleting and listing messages, but the `amazon-chime-sdk-js` requires `aws-sdk/global`.

`amazon-chime-sdk-js` doesn't support the `@aws-sdk/client-chime-sdk-messaging` ChimeSDKMessagingClient and can't connect

[2022-02-01 11:04] Sagar1219 opened #1977 "How to send attachments and emojis in Chime Messaging ?"
### What are you trying to do?

I am trying to find out how I can send an attachment like a file ( doc/pdf/xml/json/xlsv/odt/txt ) or maybe an image or a video in a
conversation channel?
So far the messaging has been working fine on basic texting,  I am only able to push text messages into the channel using [sendChannelMessage](https://docs.aws.amazon.com/aws-sdk-php/v3/api/api-chime-2018-05-01.ht

[2022-02-01 14:30] abhimanusharma opened #1978 "realtimeSubscribeToAttendeeVideoTileStatus"
### What are you trying to do?

*I'm trying to get the status of all video is enabled/disabled by the attendees.*

### How can the documentation be improved to help your use case?

*Include a section which shows how to get if videoTile is on or off of every attendee*
If this section is not yet present this should be part of the SDK.

### What documentation have you looked at so far?

*README.md, A

[2022-02-01 16:13] marnixhoh commented on #1923
@itsbeautifullife Yes that's correct... I really don't like this either.

I "solved" it by checking server-side if the meeting exists. If it no longer exists, I just create a new meeting.

[2022-02-01 17:08] Brenerss commented on #1955
i used another way to send message

[2022-02-01 18:27] simmkyu commented on #1878
Which version of the Chime SDK for JavaScript are you using? We have improved video APIs in the last few versions ([CHANGELOG](https://github.com/aws/amazon-chime-sdk-js/blob/main/CHANGELOG.md#2260---2022-01-14)). Some of which will be applicable for content sharing since a local video and screen share use the same video API.

⠀

No. The Chime SDK for JavaScript only offers the content sharing API

[2022-02-01 18:39] ltrung commented on #1810
@alisaliso Can you try the branch above to see if it resolves for you?

[2022-02-01 18:43] alisaliso commented on #1810
@ltrung  The link to the branch leads to the 404 page for me

[2022-02-01 18:47] ltrung commented on #1810
Sorry, fixed the link now.

[2022-02-01 19:02] #1955 closed

[2022-02-01 19:03] ltrung commented on #1955
Just curious, did you end up use another 3rd party tool to send message?

[2022-02-01 19:28] Brenerss opened #1979 "Status internet"
### What happened and what did you expect to happen?

I need to check if my user has been disconnected from the meeting, is there any property that does this?

Because React's useRosterState only returns the updated roster if I'm connected to the internet

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](h

[2022-02-01 20:56] ltrung commented on #1976
`NotReadableError` is an error thrown by the browsers when the video stream could not be acquired.
I noticed from the log you pasted that it contains some old constraints that we have ( `googCpuOveruseDetection`, `googCpuOveruseEncodeUsage`, etc.) that have been removed since July last year (https://github.com/aws/amazon-chime-sdk-js/commit/9fcb308859812f56e12951b079a0e99a5f257267#diff-5bbd65d9874

[2022-02-01 21:38] Brenerss commented on #1955
No, instead of passing all the json, I only pass the object or values ​​that I want to update and when I receive it, I do the replace

[2022-02-01 22:09] achris commented on #1961
Thanks for the feature request.  What data are you looking to capture?  Is it the data messages, the meeting events, or audio transcript?

[2022-02-02 04:14] venkatrv75 commented on #1976
I have updated the chime js sdk and still below error is seen.

--------------------
2022-02-02T04:14:28.617Z [ERROR] ChimeMeetingLogs - failed to get video device for constraints {"video":{"deviceId":{"exact":"9b04c4b235488a089a4fc4c983aac99c8de3b0608e2f81d2fee9d7a1fca690e0"},"width":{"ideal":960},"height":{"ideal":540},"frameRate":{"ideal":15}}}: NotReadableError: Could not start video source
--

[2022-02-02 04:17] venkatrv75 commented on #1976
I am not passing any constraints. The code looks like:
await deviceController.chooseVideoInputDevice(cameraId)

thanks.
Ramana

[2022-02-02 04:21] justsanjit opened #1983 "On binding a remote tile to video element, disablePictureInPicture attribute being removed"
### What happened and what did you expect to happen?

I am trying to disable Picture In Picture option for my tiles by adding the disablePictureInPicture attribute. I can see this attribute in inspect tool until I bind the remote tile to this element.

Looks like adding a remote tile to the video element removes this attribute.

Is it expected? How can I disable PictureInPicture mode for my remote

[2022-02-02 04:38] franko-franicevich commented on #1448
Early testing has been positive. We’ll continue to monitor in our beta environment over the next week, and let you know if we strike any new issues.
But so far, it looks like this one is finally resolved!

[2022-02-02 06:50] venkatrv75 opened #1984 "Audio device issue Android tablet"
### What happened and what did you expect to happen?

The issue is observed on certain android tablets only. In other android devices, working fine. When deviceController.chooseAudioInputDevice(microphoneId) is run, following error is thrown in the logs.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](ht

[2022-02-02 14:38] user4fti commented on #1961
- Data messages, Yes
- Meeting events, Yes
- Audio transcript, No

[2022-02-02 17:49] vidya-mohan commented on #1059
Testing

[2022-02-02 17:52] rnewman commented on #1059
@vidya-mohan test success!

[2022-02-02 20:39] jing-chen1 commented on #1984
Hi @venkatrv75,

Thanks for your interest in Chime SDK for JavaScript. Seems like it is a device issue since it works in other Android devices. We have other client SDK that can be used by applications based on different OS. Could you check [Amazon Chime SDK for Android](https://github.com/aws/amazon-chime-sdk-android) repo?

[2022-02-02 20:59] tindevelopers commented on #1878
This is the meeting ID: 2d5e5910
The error happened about halfway into the call @ about 16:14 Paris Time CET, after screen sharing 2 times, the 3rd time seemed to have failed.

[2022-02-02 21:29] simmkyu opened #1985 "Reconnection timeout on VPN"
### What happened and what did you expect to happen?

The Chime SDK for JavaScript reconnection timed out when turning WiFI on/off on the VPN connection.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [page](https://github.com/aws

[2022-02-02 21:36] jing-chen1 commented on #1878
Hi @tindevelopers,

The format of the meetingID is not correct. Could you provide something like `92d2ab67-c207-42a9-ab9a-dca25ba60706`?

[2022-02-02 21:49] jing-chen1 commented on #1122
Closing this issue, please feel free to reopen it if you still have problems.

[2022-02-02 22:00] jing-chen1 commented on #1887
Closing it due to inactivity.

[2022-02-02 22:00] #1887 closed

[2022-02-02 22:01] jing-chen1 commented on #1914
Closing it, please feel free to reopen it if you still have problem.

[2022-02-02 22:01] #1914 closed

[2022-02-02 22:04] jing-chen1 commented on #1915
Closing it for now, feel free to reopen it if you still have problems.

[2022-02-02 22:04] #1915 closed

[2022-02-02 23:00] jing-chen1 commented on #1984
I can see there is a permission error: `NotAllowedError: Permission denied` which indicates that the attendee did not provide the audio permission to the browser, so you have audio device issue. Could you please provide the audio permission once prompted when joining the meeting? Please let me know if it works.

Also want to check which version of Samsung tab you are using since we only support ve

[2022-02-03 02:02] ltrung commented on #1984
Can you also try out the webRTC sample https://webrtc.github.io/samples/src/content/devices/input-output/ to see if you can get audio stream in that device?

[2022-02-03 02:19] ltrung commented on #1983
Seem like we currently manually enable `disablePictureInPicture` and `disableRemotePlayback` for local tile and disable them for remote tiles ([Code link](https://github.com/aws/amazon-chime-sdk-js/blob/main/src/videotile/DefaultVideoTile.ts#L32)). I will follow up with the team about this.
In the mean time, can you try to set the value after you bind video stream to video element?
[code]

[2022-02-03 06:47] venkatrv75 commented on #1984
Turns out to be permissions issue on the device. webRTC samples worked fine.

[2022-02-03 06:47] #1984 closed

[2022-02-03 13:25] vijayamin83 commented on #1878
Hello @jing-chen1

this is the correct meeting ID: f9673e6-34f2-463b-9b79-e95703080706 for above meeting

Please check.

[2022-02-03 18:32] jing-chen1 commented on #1950
Closing this issue due to inactivity, please feel free to reopen it if you still have problems.

[2022-02-03 18:32] #1950 closed

[2022-02-03 18:51] jing-chen1 commented on #1878
The meeting ID may not be correct. Your meetingID is one digit less than the example meetingID, so I can not find any data in our server.

Example: `92d2ab67-c207-42a9-ab9a-dca25ba60706`
Yours---: `f9673e6-34f2-463b-9b79-e95703080706`

[2022-02-03 20:12] Brenerss commented on #1979
That's right, it's the local user. These methods have an empty return, wouldn't there be something like status = 99 (No connection) for example?

[2022-02-03 20:18] ltrung commented on #1979
These methods are events so you will need to register to audioVideoObserver to receive the events.
[code]

[2022-02-03 20:23] ltrung commented on #1976
@venkatrv75 Could you try to use our [meeting demo app](https://github.com/aws/amazon-chime-sdk-js/tree/main/demos/browser/app/meetingV2) and see whether it works?
Another sample to try is the webRTC sample https://webrtc.github.io/samples/src/content/devices/input-output/. If this fails, then something in browser or os setting prevents the browser from getting the video stream from the camera.

[2022-02-03 20:38] Brenerss commented on #1979
Obrigado

[2022-02-03 20:38] #1979 closed

[2022-02-03 21:36] ltrung commented on #1954
@shettyaditsathish Any update?

[2022-02-03 22:32] vidya-mohan commented on #1529
Another resource for background replacement that allow users to use background image (See PR https://github.com/aws/amazon-chime-sdk-js/pull/1920). This feature is available in NPM version 2.25.0. Feel free to try it out and let us know your feedback.

[2022-02-04 00:23] simmkyu commented on #1985
## Root cause

Suppose that VPN is enabled.  The root cause is that an existing WebSocket object does not receive the `close` event when calling the `WebSocket.close` API. The Chime SDK for JavaScript opens a new connection only when receiving the `WebSocket.close` event during retries.

## Reproducible steps without using the Chime SDK for JavaScript

The bug is reproducible in the WebSocket-base

[2022-02-04 06:48] itsbeautifullife opened #1989 "Record meeting as a single MP4 file"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-02-04 13:19] vijayamin83 commented on #1878
Hello @jing-chen1

{
    "ClientRequestToken": "845e2097-62e3-4080-bf71-1df23e8bfe57",
    "MediaRegion": "us-east-1",
    "NotificationsConfiguration": {
        "SqsQueueArn": "arn:aws:sqs:us-east-1:XXXXXXXXXXX:roomzzconnect-MeetingNotificationsQueue-1JM1A8SN2MQ18"
    },
    "MeetingHostId": "6133fe57-0ac7-4ec7-89ed-12278390880a#Gene"
}

Please find the response of the create meeting API, Let m

[2022-02-04 17:18] ashrafhere opened #1990 "Video stream doesn't show up on the web when connected from Android App (Chime Android SDK) on the cellular network"
### What happened and what did you expect to happen?

Video stream doesn't show up on the web when connected from Android App (Chime Android SDK) on the cellular network.  It works when the android app is connected with wifi, video streaming stops the moment I switch to the cellular network. It seems like it has to do something with the bandwidth, but there is no place in the API to connect with t

[2022-02-04 17:44] ltrung commented on #1990
@ashrafhere Sorry but the version 2.0.0 is very old. Can you try to update to 2.26.0 and see if it resolves your issue?
Also is there any error thrown in console? A log would be great.

[2022-02-04 17:54] ltrung commented on #1930
@Coachtube Just to verify that the webcam work, can you try https://webrtc.github.io/samples/src/content/devices/input-output/ to see whether you can get a video stream?
I took a look at the log and it all seems fine to me (Also can you try JS SDK 2.26.0 and Chrome latest).

[2022-02-04 21:16] ltrung commented on #1978
There is no API or single event to manage attendee's video status but you can easily do so by registering to `audioVideoObserver` and handle `videoTileDidUpdate` and `videoTileWasRemoved`. As seen from our meeting demo:
[code]

[2022-02-04 21:16] #1978 closed

[2022-02-04 21:28] ltrung commented on #1954
Closing due to inactivity but feel free to reopen if you still have issue.

[2022-02-04 21:28] #1954 closed

[2022-02-04 21:29] ltrung commented on #1953
Closing due to inactivity but feel free to reopen if you still have issues.

[2022-02-05 01:47] abhimanusharma commented on #1978
@ltrung what about the participants whose tile was off initially, on preview page settings?

[2022-02-05 15:35] Coachtube commented on #1930
Guys! I woudn't be bothering you without checking that the camera is working. I'm using the same set making calls for months with Zoom, Google Meet, Telegram Desktop and even AWS Kinesis Video Streams Sample is perfectly working on the very same setting.

![image](https://user-images.githubusercontent.com/30532310/152647930-88e8d263-ed5f-43d7-be02-c8d660b85027.png)

![image](https://user-images.gi

[2022-02-05 22:09] ashrafhere commented on #1990
I mistyped it, we are using the latest version of 2.26.0. Please see attached the log files.
[Verbose Logs.log](https://github.com/aws/amazon-chime-sdk-js/files/8009002/Verbose.Logs.log)

[2022-02-05 22:10] ashrafhere commented on #1990
Still can't get it to work, please help.
Thank you.

[2022-02-06 08:22] ThomasCarltonInPerson opened #1991 "Does AWS Chime SDK work on Xamarin Webview ?"
I have an AWS Chime meeting app inside Xamarin Webview.

I read according to this [article ](https://github.com/aws/amazon-chime-sdk-js/issues/1386) that now Chime SDK supports android webview.

I was wondering if this applies also to Xamarin Webview.

When running my code I'm getting the following error :

		ConsoleLogger.js:68 2022-02-06T08:15:45.085Z [INFO] ChimeMeetingLogs - browser is chromiu

[2022-02-06 14:15] ashrafhere commented on #1990
More logs.
[Verbose (1).log](https://github.com/aws/amazon-chime-sdk-js/files/8010339/Verbose.1.log)

[2022-02-07 02:01] dathacky commented on #1968
Sorry about that, i mean:
`pass it to <//video> tag.`

[2022-02-07 02:11] mrnav90 commented on #1953
@ltrung
Sorry for late.

--> yes.

Chime SDK demo also happens issue mute / unmute ( blank / black video camera )
Please help check

[2022-02-07 04:04] vijayamin83 commented on #1878
Meeting ID1: dd7a9b1d-02e5-4825-808d-b80eb5d70706
Meeting ID2: d57c785-fbaa-498d-8a56-617a9ae80706

Thanks

[2022-02-07 04:14] tindevelopers commented on #1878
Meeting ID2: 1d57c785-fbaa-498d-8a56-617a9ae80706

[2022-02-07 06:10] ashrafhere commented on #1990
Here are more logs with my analysis and notes.
[More logs with notes.log](https://github.com/aws/amazon-chime-sdk-js/files/8012787/More.logs.with.notes.log)

[2022-02-07 07:20] Sagar1219 commented on #1977
Guys any update?

[2022-02-07 08:26] penguin-taling opened #1992 "after calling audioVideo.chooseAudioInputDevice(null) LED stay turn on"
### What happened and what did you expect to happen?

After calling `audioVideo.chooseAudioInputDevice(null)`, `stopLocalVideoTile()` camera dose not stream to others that I
But MacBook Camera stay turn on LED.

And I found weird solution.
When LED is turning on, open browser inspector and click element tab, then LED turn off.

### Have you reviewed our existing documentation?

- [X] GitHub [issue

[2022-02-07 09:05] ricksonmenezes commented on #1990
I am working with @ashrafhere  on the same issue. Some insights on this issue. We have subscription policy adaptive for chromium set as true. This issue does not take place if android browser connects to PC chrome browser nor does it take place during a android app to android app or even the mobile app in WIFI <-> PC browser. It only takes place android app with mobile data internet  to web browse

[2022-02-07 09:41] achris commented on #1989
Thanks for the feature request.

As a workaround, you can take a look at https://github.com/aws-samples/amazon-chime-media-capture-pipeline-demo which demonstrates how to post-process the artifacts in a lambda function.

[2022-02-07 19:01] emopti-jrufer commented on #1660
I am running into the same issue. I am not using using the React components but rather using the SDK in an Angular app. What I discovered when trying to figure out why the memory in our app was increasing after every meeting is that the "AudioBufferSourceNode" objects were being created during the teardown of the meeting. Initially followed the convention used in the examples for tearing down by c

[2022-02-07 20:47] ltrung commented on #1968
@dathacky `listVideoInputDevices` also just get the stream from `getUserMedia`. Could you provide more details on why you want to call it manually yourself?

[2022-02-07 22:26] simmkyu commented on #1878
@tindevelopers Thanks for sharing the meeting ID.

### Chime SDK server logs

Chime SDK server logs for the meeting ID: 1d57c785-fbaa-498d-8a56-617a9ae80706

- **Attendee A** (1st attendee) and **Attendee D** (4th attendee) enabled screen sharing.
- For some reason, the **Attendee A**'s screen sharing immediately stopped at 08:47:07 (PST).
- **Attendee D** shared the screen for about 40 minutes.
-

[2022-02-07 22:35] simmkyu commented on #1878
Chime SDK server logs for the meeting ID: dd7a9b1d-02e5-4825-808d-b80eb5d70706

- **Attendee D** toggled screen sharing three times at 07:25:49, 07:33:18, and 07:44:02 (PST). Could you check if your frequent stop events match these time?
- Other than that, this meeting ID shows the same behaviors as in another meeting ID: 1d57c785-fbaa-498d-8a56-617a9ae80706 Please see the previous comment for mor

[2022-02-08 00:30] jing-chen1 commented on #1991
Hi @ThomasCarltonInPerson

Thanks for your interested in Chime SDK for JavaScript. We are supporting Android WebView which has more limitations compared to Chrome for Android. For more details about Android WebView, please go to [Android-WebView-sample](https://github.com/aws-samples/amazon-chime-sdk/tree/main/apps/Android-WebView-sample).

Unfortunately, Chime SDK for JavaScript does not currentl

[2022-02-08 00:41] jing-chen1 commented on #1992
Hi @penguin-taling,

Thanks for your interest in Chime SDK for JavaScript. The LED lights will be turned off unless all media streams that use the devices are released. So choosing the null as audio input device and stop local video are not enough, you would like to do something like this:
[code]

Please also note that when the camera LED remains on, it does not necessarily mean the device is broa

[2022-02-08 00:47] ltrung commented on #1930
Sorry @Coachtube, i know it is obvious but just want to make sure it is not a camera issue. I have looked at the logs but did not see any potential issue (Thanks for adding the binding log). For next step:
- Have you tried the [JS SDK meeting demo](https://github.com/aws/amazon-chime-sdk-js/tree/main/demos/browser/app/meetingV2)? That would tell us whether this is something with our JS SDK or your

[2022-02-08 01:37] tindevelopers commented on #1878
I am ATTENDEE "A" and the one who is starting the screen, sharing and as I see the logs, it looks like something stops the screen sharing as soon as it is started.

**First Break in Failure.**

02/06/22 08:47:07 | Attendee A | Started screen sharing
-- | -- | --
02/06/22 08:47:07 | Attendee A | Stopped screen sharing

**Second Break**

02/06/22 07:23:02 | Attendee A | Started screen sharing.
-- |

[2022-02-08 01:43] tindevelopers commented on #1878
Attendee D toggled screen sharing three times at 07:25:49, 07:33:18, and 07:44:02 (PST). Could you check if your frequent stop events match these time?

This is actually ATTENDEE A, rejoining back, so these are real meetings and the workaround when the screen fails, is to leave the meeting as the Host, and rejoin as a normal attendee so we can continue with our meeting. Once we re-join, then we ca

[2022-02-08 01:50] jing-chen1 commented on #1960
Please correct me if I am wrong. The 4 users are from different devices, and they all join the meeting through Firefox. One of the user(let's say A) with a high-spec PC experience high CPU usage during the meeting.

* Do all 4 users turn on the video?
* Do they share the content or enable Amazon Voice Focus or BackGround Blur/Replacement, or any other CPU-intensive activities?
* When the CPU usage

[2022-02-08 01:51] ltrung commented on #1927
So bandwidth estimate is from the webRTC [availableOutgoingBitrate](https://developer.mozilla.org/en-US/docs/Web/API/RTCIceCandidatePairStats/availableOutgoingBitrate) and [availableIncomingBitrate](https://developer.mozilla.org/en-US/docs/Web/API/RTCIceCandidatePairStats/availableIncomingBitrate) stats for uplink and downlink estimate respectively. As mentioned in the MDN page (copied below), the

[2022-02-08 17:32] simmkyu commented on #1878
In the meeting `1d57c785-fbaa-498d-8a56-617a9ae80706`, **Attendee A** started content sharing and ended it in 700 ms. Here's a table including timestamps with milliseconds.

Time (PST) | Attendee | Action
-- | -- | --
**08:47:07.089** | Attendee A | Started screen sharing
**08:47:07.785** | Attendee A | Stopped screen sharing

⠀

Chime SDK does not offer any backend API to start or stop content sh

[2022-02-08 17:51] Brenerss opened #1994 "Live transcription implementation on ReactJS app"
### What happened and what did you expect to happen?

I'm currently needing to implement a feature that will show the entire transcript during the meeting.
I completed the first step which would be "Creating a Service-Linked Role for Amazon Chime Live Transcription" from this
url (https://docs.aws.amazon.com/chime/latest/ag/using-service-linked-roles-transcription.html)

after that, as soon as the

[2022-02-08 18:15] jing-chen1 commented on #1931
Hi @ArtemZakharchuk

Thanks for reporting this issue! I can reproduce it on the IPhone. Tested disconnecting it from the internet for 10s, 30s, 1 min and 2min, and there is no auto-reconnect in all cases. I think it may be related OpenSignalingConnection. We have a known issue that there is no `WebSocketClosed` event after `WebSocketClosing` when the Internet connection is back. We are working on

[2022-02-08 21:40] xuesichao commented on #1994
@Brenerss Are you following this guide? https://docs.aws.amazon.com/chime/latest/dg/meeting-transcription.html

For your first question:

You need to have a serverless deployment to create new AWS Lambda endpoints for live transcription. AWS Lambda endpoints for live transcription does not exist when running locally.

[2022-02-08 22:07] Brenerss commented on #1994
Yes, im following this guide and ok i will try create this

[2022-02-08 22:18] xuesichao commented on #1994
@Brenerss For your second question:

According to our [doc](https://docs.aws.amazon.com/chime/latest/dg/initiate-transcription.html):

You got the response 200, basically it means you started the transcription service successfully. I assume the cause here is you used the wrong way to receive the transcription result.

According to our [demo App implementation](https://github.com/aws/amazon-chime-s

[2022-02-09 01:27] hensmi-amazon commented on #1448
Perfect thanks for the testing! Will close this issue for now.

[2022-02-09 01:27] #1448 closed

[2022-02-09 02:03] ltrung commented on #1991
@ThomasCarltonInPerson As @jing-chen1 mentioned, we do not currently support Xamarin Webview. However, did you have any luck setting it up? From the log you posted:
[code]
This is just a warning that we do not currently support it.
[code]
This is an error which just means the setSinkId API to set the audio output is not supported in this environment so you would not be able to call `chooseAudioOut

[2022-02-09 02:07] ThomasCarltonInPerson commented on #1991
Thanks @ltrung for your answer. Unfortunately, I couldn't make it work.

[2022-02-09 02:35] mrnav90 commented on #1953
@ltrung hi, could you help check. I can't re-open this issue.

[2022-02-09 03:21] dathacky commented on #1968
@ltrung I want to work with MediaStream completely like any other SDK, it makes it easier for me to develop and find bugs. I will also easily customize the stream by adding effects to change devices, filters, backgrounds.

[2022-02-09 05:27] ltrung commented on #1953
@mrnav90 Could you attach a console log so we could take a look further?

[2022-02-09 05:29] ltrung commented on #1968
@dathacky  Currently, there is no API to access the video stream directly but you could access via `meetingSession.audioVideo.deviceController.activeDevices['video'].stream`.

[2022-02-09 06:54] dathacky commented on #1968
Thanks, I hope in the future chime SDK can access video streams including remote

[2022-02-09 07:39] ltrung commented on #1968
@dathacky You can actually access the remote stream too from tileState.boundVideoStream in videoTileDidUpdate, you can just skip binding video element method.

[2022-02-09 10:30] ricksonmenezes commented on #1990
update: downgrading to Android SDK to 0.13x fixes the issue. So the issue persists in version that we had; 0.14.2

[2022-02-09 14:10] mrnav90 commented on #1953
@ltrung
<img width="552" alt="Screen Shot 2022-02-09 at 16 57 03" src="https://user-images.githubusercontent.com/9253581/153217115-8acc3bc4-c756-4f12-bcc1-cac0e1863c7c.png">
After called `audioVideo.chooseAudioInputDevice` then event `videoTileDidUpdate` delay some seconds like video.
Chime SDK Demo App also happened issue.

[2022-02-09 18:49] ltrung commented on #1953
I assume this is a typo and you mean `chooseVideoInputDevice`. The delay is because it tries to get the stream from browsers and update the subscription to back end.

[2022-02-09 19:03] xuesichao commented on #1660
@emopti-jrufer Hi, thanks for providing such a detailed observation. We are working on a fix now.

[2022-02-09 19:21] xuesichao commented on #1990
@ashrafhere @ricksonmenezes Hi, I forwarded your updates to the same issue you opened in Chime Android SDK repo. Our Android SDK team will be working on a hotfix and keep you posted there.

Close this issue as duplicate.

[2022-02-09 19:21] #1990 closed

[2022-02-09 19:32] ltrung commented on #1953
Also if you could give us some logs we could confirm what takes time for you

[2022-02-09 19:59] xuesichao commented on #1935
@marrionluaka Hi, sorry for the late reply. Could you please try to reproduce the same issue using this WebRTC sample?
https://webrtc.github.io/samples/src/content/devices/input-output/

[2022-02-09 20:44] xuesichao commented on #1935
I was not able to reproduce this issue with external camera with JS SDK 2.24.0 and Safari 15.3.

[2022-02-10 00:08] RidipDe opened #2000 "Need for a load test tool to test audio video communication applications."
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-02-10 01:53] mrnav90 commented on #1953
@ltrung
This is video from Chime SDK demo
https://user-images.githubusercontent.com/9253581/153321859-4cf3215b-0ed8-41d4-a1eb-719047ffce87.mp4

[2022-02-10 02:41] mrnav90 commented on #1953
@ltrung @xuesichao
This is video from Chime SDK Demo

https://user-images.githubusercontent.com/9253581/153326915-b0501ead-8493-4350-8d4e-eeb6f1bb52e7.mp4

[2022-02-10 14:55] Brenerss commented on #1994
I used this function, the call to api returned 200 but no console.log of this function referring to the transcript event is shown as I speak

I'm not sure if I'm getting the MeetingId from the right place

endpoint of fetchMeeting is `join?title=meetingId&name=name&region=region`

[code]

and JoinInfo retuns `JoinInfo.Meeting.MeetingId` and it is this value that I am passing to the request `meetin

[2022-02-10 18:28] xuesichao opened #2002 "Camera videos are rendered in grayscale in Chromium 98/ Windows"
### What happened and what did you expect to happen?

Camera videos are rendered in grayscale on Chrome 98/ Windows when 5-8 videos are enabled in a call and hardware acceleration is enabled.

#### Cause
The issue occurs on the video sender side with the default video uplink bandwidth policy. If the video sender is using Chrome 98 on Windows and there are 5-8 videos enabled in the meeting. The vid

[2022-02-10 19:52] xuesichao commented on #2002
Hi @ildar-shamilov-clearscale we are actively working on the fix right now. Once the fix is finalized we will release a hot fix ASAP.

[2022-02-10 20:25] jpchatt commented on #2002
Are you guys also working on the related issues of a dis-colored screen shares?

[2022-02-10 21:00] jpchatt commented on #2002
@ltrung I have run into it myself, yes. but only when hardware acceleration is turned on.
<img width="1075" alt="Screen Shot 2022-02-10 at 3 59 46 PM" src="https://user-images.githubusercontent.com/2590314/153495482-ce2a89ed-1110-40cf-b7f2-6a256e8958ed.png">

[2022-02-10 21:03] xuesichao commented on #2002
@antoineveldhoven , by default the active speaker is set to 540P. That's why it's in full color. The issue only occurs when encoding video in 480P.

[2022-02-10 21:26] Level60Warlock opened #2005 "Unable to join meeting with Samsung Galaxy Tab A7 Lite, SM-T220"
### What happened and what did you expect to happen?

Unable to successfully join a meeting with a Samsung Galaxy Tab A7 Lite, SM-T220, running Chrome 97.  Experiencing in both older
 (2.7) and latest versions of the SDK.  Reproduced in browser demo app.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](ht

[2022-02-10 21:59] ltrung commented on #2002
@jpchatt What browser version and Windows did you see this on? If it is Chrome 98, have you tried on Chrome 97?
I did a quick check on Chrome 98 on Mac (Big Sur) and did not see any issue.
It maybe another encoder issue with Chrome hardware acceleration. In Chrome 88, it also broke and sent a black screen instead.
Anyway I would suggest to open a new issue regarding this.

[2022-02-10 22:02] xuesichao commented on #2002
@jpchatt Hi, could you please provide more info for your issue?
* How many people are in the meeting?
* What is the browser version and OS platform does the content sharer use?
* What is the browser version and OS platform does the one that is able to observe this issue?
* Can content sharer observe this issue?
*

[2022-02-10 23:20] ltrung commented on #2005
It seems ICEGathering fails. Did you connect with VPN?
From the log:
[code]

[2022-02-11 00:21] xuesichao commented on #2002
Hi, we have published the hotfix 2.26.1 to npm. Could you please try to upgrade the SDK and let us know the result?

[2022-02-11 00:22] tenge-amzn commented on #1989
The team is currently working on this. We will provide more updates once we have design finalized.

[2022-02-11 00:42] tenge-amzn opened #2007 "Amazon Chime SDK now supports streaming to Amazon IVS and Elemental MediaLive through live connector feature"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-02-11 08:11] mrnav90 commented on #1953
@ltrung @xuesichao
Could you help check video...

[2022-02-11 10:46] ildar-shamilov-clearscale commented on #2002
Looks good so far. Thanks.

[2022-02-11 14:26] Level60Warlock commented on #2005
@ltrung - Thanks for the question.  In this case, there is no VPN being used, so I believe that to be a red herring.  Has also been experienced on multiple instances of this specific device, all on different network connections, but never with VPN in the equation.

[2022-02-11 17:52] BitCanny commented on #364
Can you elaborate what is this key and certificate files and where to find them? I am trying the broadcast feature and get the following
Unable to find meeting
There was an issue finding that meeting. The meeting may have already ended, or your authorization may have expired.

Cannot read properties of undefined (reading 'Meeting')

[2022-02-11 17:58] ltrung commented on #1953
@mrnav90 Yeah in our demo we just toggle the status of the button when you click on it so if you keep clicking it will go out of sync with the actually video on/off. As I mentioned above, this is because to it takes time to get video input from browsers and update the video subscription. We can do something in the UI to prevent you from clicking until the video show up.

[2022-02-11 18:50] ltrung commented on #364
@BitCanny Can you open a separate issue? Could you also clarify what broadcast feature you are trying.

[2022-02-11 21:20] timanderson commented on #1960
Thanks. All 4 users turn on video but there is no other content sharing or other features like Voice Focus.

I will look at the Chrome performance tools though note this is on Firefox.

Tim

[2022-02-12 00:26] MingcongQi commented on #1880
The fix has been fully deployed in our backend

[2022-02-13 15:40] mrnav90 commented on #1953
@ltrung
Thank you, but for the future of Chime SDK. Chime SDK Team can be improve that?

[2022-02-14 01:06] reynelle101 opened #2015 "Update Media capture pipeline to record constant frame rate to avoid audio sync issues"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-02-14 16:39] ltrung commented on #1953
Yes, I will close this issue for now and track the feature request in #1968.

[2022-02-14 16:39] #1953 closed

[2022-02-14 19:46] MitchTalmadge opened #2017 "Blur Processor Worker Does Not Close"
### What happened and what did you expect to happen?

After calling `BackgroundBlurVideoFrameProcessor.create()` followed by `processor.destroy()` once the processor has been created, the Dedicated Worker does not close and the message `unknown operation close` is emitted by the worker.

Here I have repeated the example 10 times by use of this [codepen](https://codepen.io/mitchtalmadge/pen/podWbox

[2022-02-14 19:50] MitchTalmadge commented on #2017
Here is where `close` is emitted:

https://github.com/aws/amazon-chime-sdk-js/blob/2f9ab450288ea0371eb5e3cb41bdb9ca8d4134ae/src/backgroundfilter/BackgroundFilterProcessor.ts#L396-L407

In the worker (viewed through Chrome F12 Sources tab) you can see where the switch statement does not include "close":

[code]

[2022-02-14 19:54] xuesichao commented on #2002
Close the issue as the fix has been released in v2.26.1.
https://www.npmjs.com/package/amazon-chime-sdk-js

[2022-02-14 19:54] #2002 closed

[2022-02-14 20:23] MitchTalmadge commented on #2017
As a temporary fix, I was able to force-send the `stop` message, which does close the worker as seen here:

https://codepen.io/mitchtalmadge/pen/OJOxRgY

[2022-02-14 20:56] richhx commented on #2017
Hi Mitch! Thanks for reporting this problem. As you pointed out, the wrong message is being sent (i.e. `stop` should've been sent instead of `close` to the WebWorker. I'll submit a PR in a bit with a unit test.

[2022-02-15 17:16] vidya-mohan commented on #1931
@ArtemZakharchuk could you please try NPM 2.27.0 and see if you are hitting it and if so share the details?

[2022-02-15 21:53] vidya-mohan commented on #1985
This is released in 2.27

[2022-02-15 21:53] #1985 closed

[2022-02-16 05:52] bmmshaha opened #2024 "Requesting contentShareError method on ContentShareObserver"
# Tell us about your request
We are working with the ChimeSdk for one of our products where we wanna capture metrics during contentShare failure as of now theres no way to capture the failure during the content share and get the status.

## What do you want us to build?
Which Amazon Chime SDK or feature area is this request for?
Right now we are using both js sdk and react component library
Such a

[2022-02-16 09:17] ArtemZakharchuk commented on #1931
@vidya-mohan Ok. I try a new version and share the results with you.

[2022-02-16 09:55] husaindevelop opened #2026 "Unable to execute startMeetingTranscription in chime singlejs"
### What happened and what did you expect to happen?

We tried to implement amazon transcribe with amazon chime for live transcription of attendee and host's speech based on the documentation given:https://docs.aws.amazon.com/chime/latest/dg/delivery-examples.html, but unfortunately we encountered error "meetingSession.startMeetingTranscription is not a function".

### Have you reviewed our existi

[2022-02-16 14:17] AnkurSavaliya opened #2027 "Stop chime media capture pipeline when no one join in meeting"
## Tell us about the problem you are trying to solve and why is it hard?
I am using chime SDK java for creating meetings and creating a media capture pipeline.
So First I create a meeting and join one attendee, and also started a chime media capture pipeline, so this attendee did not initialize the meeting/Not join from the frontend side. So that time only the media capture attendee is in a meetin

[2022-02-16 18:23] xuesichao commented on #2026
Hi @husaindevelop , in JS SDK meeting demo, we have this function to trigger the start transcript API in our `server.js` file.
https://github.com/aws/amazon-chime-sdk-js/blob/32f93abd80f84c17b78e7e0f7a7cbadfbefed753/demos/browser/app/meetingV2/meetingV2.ts#L1155-L1165

And the corresponding API is:
https://github.com/aws/amazon-chime-sdk-js/blob/32f93abd80f84c17b78e7e0f7a7cbadfbefed753/demos/brows

[2022-02-16 19:24] xuesichao commented on #2002
@jpchatt Hi, we reproduced this issue today, it happens when using Chrome Version 98.0.4758.80, enabling hardware acceleration, sharing the screen of laptop itself instead of external monitor( We are using MacBook Pro 16-inch) and having at least one other video tile. After we upgrade the Chrome version to 98.0.4758.102 (Official Build) (x86_64). The issue is gone.

Could you please try to update

[2022-02-16 19:41] xuesichao opened #2028 "Color of local ContentShare messed up for Chrome 98"
### What happened and what did you expect to happen?

![image](https://user-images.githubusercontent.com/20471438/154341434-6e845480-e21c-4200-8c95-baeb22669a71.png)
When using Chrome version `98.0.4758.80` with the hardware acceleration enabled, starting content share and having at least one other video tile in your video grid, the content sharer observes incorrect color of the content share (loc

[2022-02-16 19:42] #2028 closed

[2022-02-16 19:48] devalevenkatesh opened #2029 "Chrome 98 grey scale while sharing content with one video in Amazon Chime SDK for JavaScript meeting"
**Problem**
We have observed that a user will see a grey scaled content share in your app using Amazon Chime SDK for JavaScript under below circumstances:
1. The user is using Chrome 98.0.4758.80.
2. There is at least one video in the meeting session.
3. The screen sharer shares the entire screen through laptop and not an external display.
4. Chrome Hardware Acceleration is enabled under `chrome:/

[2022-02-16 21:52] ltrung commented on #1810
@alisaliso Did it work for you?

[2022-02-17 00:46] marrionluaka commented on #1935
Hi @xuesichao I can no longer reproduce the issue after I've upgraded to the latest version of the SDK 2.26.1. Closing for now.

[2022-02-17 00:46] #1935 closed

[2022-02-17 01:14] xuesichao commented on #2027
Hi @AnkurSavaliya , I don't really think this should be a feature request.

According to our doc: https://github.com/aws/amazon-chime-sdk-js#attendees

**Use case 23**. Subscribe to attendee presence changes. When an attendee joins or leaves a session, the callback receives presentAttendeeId and present (a boolean).

[code]
You could subscribe to this event and listen to the number of attendees in

[2022-02-17 01:17] husaindevelop commented on #2026
Thanks for your response. I did refer it for your information, unlike in the meeting demo,  in our use case, the user need not to choose parameters under transcriptionconfiguration. The configuration is default chosen with values as given in our above code. The 239 line which you specified is the problem for us.

[code]

We are unable to point to appropriate the 'client' element, which results in

[2022-02-17 10:50] AnkurSavaliya commented on #2027
Hi @xuesichao

For example, the meeting have only one real attendee and I started a media capture pipeline, but if that attendee close the browser/tab so it accidentally left from the meeting, how can I know no one in a meeting? or how can I stop media capture pipeline because last real attendee left accidentally, So I don't get a callback from `**realtimeSubscribeToAttendeeIdPresence**`
this subs

[2022-02-17 12:41] alisaliso commented on #1810
@ltrung, not sure, I'm getting the
[code]
when trying to run my project. I'm figuring out why

[2022-02-17 15:15] haofiltered opened #2033 "Occasionally cannot start the meeting on Chrome"
### What happened and what did you expect to happen?

Occasionally cannot start the meeting on Chrome. The `audioVideoDidStart` will never be triggered when this happened. `videoTileDidUpdate` can received `localTile` data, but local camera will not be on. And cannot join the meeting session to see other people.

I could join the meeting using Firefox or any other browsers, and restart Chrome coul

[2022-02-17 17:57] ltrung commented on #2005
@Level60Warlock Have you tried to update to Chrome 98 to see if it fixes the issue?

[2022-02-17 18:06] devalevenkatesh commented on #2005
I tested on Chrome 98 Android 11 samsung device but could see the connectivity fine and the attendee could join the meeting fine. As mentioned by Trung above two things to try:
1. Could you please test peer connection demo if working fine on that device with below official WebRTC sample? https://webrtc.github.io/samples/src/content/peerconnection/channel/
2. Try upgrading to Chrome 98 on the same

[2022-02-17 18:19] xuesichao commented on #2033
Hi @haofiltered. I don't think we've had similar issues so far, could you try to update your Chrome and "amazon-chime-sdk-js" to the latest version and see if it helps?

[2022-02-17 18:48] xuesichao commented on #2027
@AnkurSavaliya You're right, in that case `realtimeSubscribeToAttendeeIdPresence` can not help.

Then you can try to receive the lifecycle event from server side.
There's an event for this case - "Amazon Chime SDK attendee leaves a meeting". Check this guide: https://docs.aws.amazon.com/chime/latest/dg/using-events.html

[2022-02-17 19:15] haofiltered commented on #2033
@devalevenkatesh
Yes, that's exactly the issue is. I am pretty sure that I'm under a stable and good network, I can join the meeting using firefox with the same machine under the same network when this happened on Chrome.

Not sure what's the cause of that signaling failed to establish, but definitely worth investigating here.

@xuesichao
Thanks for your reply, like I mentioned on the issue descri

[2022-02-17 19:21] Level60Warlock commented on #2005
@ltrung / @devalevenkatesh  - I am working on both of these requests.  Will keep you posted on my findings.

[2022-02-18 02:22] dathacky opened #2038 "Video goes black screen after selecting blur background"
### What happened and what did you expect to happen?

After selecting blur background, I noticed the video went black before rendering it made our customer unhappy, is there any way to fix this?

https://user-images.githubusercontent.com/37299929/154604895-8a6010e1-d205-4c89-9d6b-9e5e6f9bef45.mp4

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazo

[2022-02-18 05:23] JunedBrilworks commented on #1927
@ltrung if you see end of log file you can see it showing available bandwidth around 4-6 mbps but still see packet loss in logs. And its  pausing streams of below attendees.

`{ 875ab483-d5dd-fa03-aefb-1f31428e7dd8 350a488a-9a9d-2109-629d-cc99e1ace3be e6af7d4f-52dc-ce7b-0d19-d9eb36791be2 e6af7d4f-52dc-ce7b-0d19-d9eb36791be2#content 50a53e52-7251-7265-eedf-4c562d1376a4#content 401843ce-c3f8-c443-ce

[2022-02-18 13:55] subhendukundu commented on #1122
Hey! I am on `2.15.0` but seems not working.
This is what I am doing

[code]
then when I need to set the quality high or low
[code]
 This doesn't work. It used work with a forked version which I had created to override the policy suggested by @ltrung a long time ago which still work with fork version. But we need to upgrade it now.

 Reproduceable code -> https://github.com/subhendukundu/aws-chime

[2022-02-18 17:02] Level60Warlock commented on #2005
@ltrung / @devalevenkatesh - I was able to confirm the device in question has been upgraded to the latest chrome version: Chrome is 98.0.4758.101
OS Android 11, SM-T220 Build/RP1A.200720.02

While attempting to load the WebRTC peer connection demo on that device in Chrome 98, here was the behavior experienced:
1. On browser tab 1, when starting the Peer connection test, the video feed displays
2.

[2022-02-18 19:21] xuesichao commented on #2033
@haofiltered Hi, we confirmed with the team that this is same issue as #1985.
The fix (#1993) has been released in `amazon-chime-sdk-js@2.27.0`.

I think you need to wait until this [fix](https://github.com/aws/amazon-chime-sdk-js/pull/1831#issuecomment-1040761318) is deployed and upgrade your `amazon-chime-sdk-js` to `2.27.0` to solve this issue.

[2022-02-18 19:37] xuesichao commented on #2038
Hi @dathacky. There are two types of device: `Device` or `VideoTransformDevice`. The original camera is of `Device` type. The `VideoTransformDevice` is a device that applies processing to another device. So background blur function is actually a `VideoTransformDevice`. It applies background blur processing to the original devices.

When you switch the background blur filter between different CPU u

[2022-02-18 20:00] OliverwengFiltered commented on #2033
@xuesichao

it looks like amazon-chime-sdk-js latest public version is 2.27.0

so the fix has been included in the latest version already, is it correct ?

[2022-02-18 20:07] xuesichao commented on #2033
@OliverwengFiltered Yes, the fix for this issue is already in 2.27.0.

[2022-02-18 23:13] hensmi-amazon commented on #1807
Finally released.

[2022-02-18 23:13] #1807 closed

[2022-02-18 23:15] hensmi-amazon commented on #1805
Shipped in current release. Please open a new issue with logs if seen again.

[2022-02-18 23:15] #1805 closed

[2022-02-19 00:17] #2033 closed

[2022-02-19 00:19] devalevenkatesh commented on #1209
Filed a Webkit bug: https://bugs.webkit.org/show_bug.cgi?id=236870
Had not found a bug with Webkit around this. Please feel free to update if you have information on similar filed bugs.

[2022-02-20 00:53] DjWilly opened #2040 "Unable to find meeting"
### What happened and what did you expect to happen?

I fill in the details and press continue only to be faced with meeting cannot be found!

![image](https://user-images.githubusercontent.com/7012392/154824113-6e1d5322-3246-4bb5-87e4-1570aa8c7741.png)

![image](https://user-images.githubusercontent.com/7012392/154824101-4130db57-139f-4afd-a6da-46eb0a6976f8.png)

### Have you reviewed our existin

[2022-02-20 17:48] sanjitkung opened #2041 "Screen share failed with DOMException: The object can not be found here"
### What happened and what did you expect to happen?

When I am trying to start a screen share on Firefox (MacOS Catalina, BigSur, or Monterey) using LambdaTest, Screen share failed with "DOMException: The object can not be found here" errors.

Screenshare is working as expected when I test it on macOS Mojave.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github

[2022-02-21 01:56] DarshanVirdi opened #2042 "No such S3 Bucket"
Hi,

I have used the following command to setup the demo on my AWS account:

_>> node ./deploy.js -r ap-southeast-1 -b chime-bucket-0210221500 -s chime-stack-0210221500 -a meeting_

During deployment I have noticed that in the script somehow the bucket name goes missing.

        Deploying with following values
        ===============================
        Stack name                   : chime-st

[2022-02-21 05:04] JunedBrilworks opened #2043 "Video tiles are getting blank"
### What happened and what did you expect to happen?

we have noticed that video tiles are remaining blank in our application. Upon further investigating for blank tiles **MediaStream** 's id is something like **v_id** for example **v_12** instead of 36 character UUID. Turning the camera on/off for attendees whose tiles are blank also didn't help.

In our application, We have applied a downlink po

[2022-02-21 15:42] puresick opened #2044 "Browser support on Linux/Ubuntu (Firefox, Gnome Web etc.)"
Hey Chime SDK team. :wave:

### What are you trying to do?

I was checking out your documentation regarding supported devices and platforms and saw that for Linux, only Ubuntu is supported and only by using Google Chrome.
That got me curious why other browsers are not supported on Linux (especially Firefox but also WebKit based browsers like Epiphany/Gnome Web).

Are there any plans yet or even wo

[2022-02-21 17:26] devalevenkatesh commented on #2044
Thank you for your interest in Amazon Chime SDK for JavaScript. I am not sure of a reason yet, but we have not tested the SDK significantly on ubuntu for other browsers hence it is not officially supported. I am marking this as a feature request as of now.

[2022-02-21 18:05] ltrung commented on #1810
@alisaliso Any luck?

[2022-02-21 18:28] ltrung commented on #2041
Have you enabled screen sharing permission for Firefox under Security & Privacy -> Screen Recording ->  Firefox?
This is an error thrown by the browser and is not from JS SDK.

[2022-02-21 18:30] ltrung commented on #2043
@JunedBrilworks Could you please attach a log?

[2022-02-21 18:56] hekmatba commented on #2038
Hi, sorry for the inconvenience and thank you for reporting this. We will look into this and respond to this ticket. Thank you.

[2022-02-21 19:36] xuesichao commented on #2042
Hi @DarshanVirdi .

TLDR:
The command you used to deploy the demo is lack of name for S3 bucket used for media capture service.
You correct command should be:
[code]
---
If you check the `deploy.js` script:
https://github.com/aws/amazon-chime-sdk-js/blob/db36d8a4191ad6fe58af68d51008c12a5b1286a9/demos/serverless/deploy.js#L37-L52
`-o` means the prefix for S3 bucket name for media capture service.

[2022-02-21 19:41] xuesichao commented on #2042
You could also refer to this doc:
https://github.com/aws/amazon-chime-sdk-js/tree/main/demos/serverless#media-capture

[2022-02-21 20:06] xuesichao commented on #2040
Hi @DjWilly , thanks for reporting this issue. I mosaicked the confidential information in your screenshot.

I saw the status code`502` of below HTTP request in the log:
[code]

Before joining the meeting we need to get some meeting data returned by the above HTTP request. And the property `Meeting` is part of this data.

Based on these observations, I suspect that something is wrong with your dep

[2022-02-21 20:17] DjWilly commented on #2040
Many thanks @xuesichao Really appreciate your support.
I should have come back to update this. I tried again with a different region and different EC2 type. Now it's working fine.
Sorry I didn't update the report and thank you for covering my confidential information

[2022-02-21 20:22] xuesichao commented on #2026
@husaindevelop
So in our `server.js` file:
https://github.com/aws/amazon-chime-sdk-js/blob/db36d8a4191ad6fe58af68d51008c12a5b1286a9/demos/browser/server.js#L237-L243

The `client` is returned by `getClientForMeeting()` API which returns either `chimeSDKMeetings` or `chime`:
https://github.com/aws/amazon-chime-sdk-js/blob/db36d8a4191ad6fe58af68d51008c12a5b1286a9/demos/browser/server.js#L51-L60

And

[2022-02-21 20:28] xuesichao commented on #2042
The above explanation should help solve your problem. Let me close this issue for now.
If you are still having this problem, please feel free to ping me and I will reopen the issue.

[2022-02-21 20:28] #2042 closed

[2022-02-21 20:30] xuesichao commented on #2040
@DjWilly You're welcome! Then let me close this issue for now. Please let us know if you have any other concern.

[2022-02-21 20:30] #2040 closed

[2022-02-21 20:41] xuesichao commented on #1994
@Brenerss I assume you were using the HTTP request to start the transcription service following this doc: https://docs.aws.amazon.com/chime/latest/dg/initiate-transcription.html

I'm not familiar with this part. I checked our browser demo where it calls `StartMeetingTranscription` API to start the transcription service.
Could you please follow the steps in below comment and see if it helps?
https:

[2022-02-21 21:05] Level60Warlock commented on #2005
@ltrung - There are no errors in the browser console, at least none when doing remote debugging.

Logged a Chromium issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1299615

[2022-02-22 00:57] DarshanVirdi commented on #2042
Hi Xuesichao,

Thank you for your reply, now I understand the mistake I made.
Also thank you for sharing the list of parameters, will help explore the sample further more.

Appreciate your support.

Thank you,
Darshan

[2022-02-22 05:35] JunedBrilworks commented on #2043
We switched from 2.24.0 to 2.26.0 2.26.1 and 2.27.0 gradually in all this version issue is replicated. We have enabled simulcast recently and this issue is present with or without simulcast.

[2022-02-22 05:38] JunedBrilworks commented on #2043
I will update to 2.27.0 and will post log ASAP.

[2022-02-22 23:27] jadamroth commented on #2040
Sorry to hijack this issue, but I'm literally having the exact same problem: deployed the serverless demo out of the box via the commands on the readme and have tried deploying to 3 different regions. Same exact error in the browser and in the console.

@DjWilly what did you do to fix the error "Unable to find meeting... cannot read properties of undefined?

[2022-02-23 00:01] DjWilly commented on #2040
oh.. mine was interesting. I've switched to a different EC2 type (t3.medium). I have a feeling that it shouldn't be a problem but not sure why it worked when I did that. Maybe the free EC2 didn't come with all the requirments (CLI2, npm, sam, etc) pre-installed?

[2022-02-23 00:27] jadamroth commented on #2040
Thanks for the quick reply.

Did you not use the serverless demo and let lambda/cloud formation handle the meeting? How did you change/set ec2 type or is this where you ran the script? I’m deploying this from my local machine. My browser demo worked phone

[2022-02-23 00:54] husaindevelop commented on #2026
Shall check and revert back to you.

[2022-02-23 01:31] jadamroth commented on #2040
Just tried running the demo from an ec2 instance and got the same result. Other than setting IAM credentials (which I even made admin, so I know I would have all permissions), what else did you change before successfully running the script, just this?
[code]

[2022-02-23 01:31] devalevenkatesh commented on #2043
@JunedBrilworks Could you also let us know which downlink policy you are using?

[2022-02-23 02:06] DjWilly commented on #2040
I actually just tried to follow the same steps on my company's account and it didn't work. But maybe you have a better luck :)

I added many more policies:

AmazonS3FullAccess
AmazonChimeFullAccess
AdministratorAccess
AmazonChimeUserManagement

AmazonChimeReadOnly (this is probably not needed tbh)
Gamelift-StartSessionPolicy
AmazonChimeSDK
AmazonS3OutpostsFullAccess
GameLiftGameServerGroupPolicy

[2022-02-23 04:25] jadamroth commented on #2040
Thanks again for the reply. Weird that it now doesn't work for you either.

I've tried rolling back to older releases. I'm confused on why it's not working since all my tests and outputs seem good. I'll start digging into the code tomorrow and see what I can't find

[2022-02-23 06:22] tenge-amzn commented on #1961
Hi,
Would like to know more information about your data messages. Are they encoded or plaintext? Right now media capture pipeline print the data messages as ascii - it will not handling well if your data messages are not text.

[2022-02-23 06:25] paul365 opened #2049 "How to setup Chime events notification to SNS topic?"
### What are you trying to do?

I'm trying to receive chime meeting events on an SNS topic in the us-east-1 region, also created a role/policy following https://docs.aws.amazon.com/chime/latest/dg/mtgs-sdk-notifications.html passed the SNS arn in create meeting, but still not getting any notifications.
sample meeting Id: 77a8c8d1-2756-4811-b7bc-957fff7d0706

### How can the documentation be improv

[2022-02-23 07:08] MjdBh opened #2050 "I can not get camera access with chime sdk in react native."
### What happened and what did you expect to happen?

The meeting information is coming from the server, but I'm doing it on mobile (React native). The meeting started with audio and video, but the camera did not appear. I have adb log.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.i

[2022-02-23 10:01] JunedBrilworks commented on #2043
We are using `VideoPriorityBasedPolicy` policy

[2022-02-23 11:33] MohammedTaha opened #2051 "Unavailable audio with an event named `receivingAudioDropped`"
### What are you trying to do?

Trying to fix an state where users (just got connected with meeting, can see each other means video is getting transmitted without any problem) are unable to hear each other with this event named `receivingAudioDropped`

### How can the documentation be improved to help your use case?

Please suggest the possible actions I shall take in order to
 - Avoid this issue

[2022-02-23 13:46] ildar-shamilov-clearscale commented on #2049
Check policies.
Chime should have policy to write into SNS topic.

[2022-02-23 13:56] #2049 closed

[2022-02-23 17:53] LeviSklaroff commented on #1122
Looking through your code base it looks like you're externally creating your own [meetingManager](https://github.com/subhendukundu/aws-chime-content-share/blob/main/src/App.js#L28), when you create your own meetingManager the meetingProvider will not create its own which means it will not insert the meetingConfig. You can either omit the outside creation of the meetingManager or pass the params li

[2022-02-23 18:11] stanggt3 opened #2052 "Failed to get video device in Chrome 98"
We recently noticed that our application no longer works in Chrome 98. Both the app itself and the readiness checker cannot get the video. Nothing has changed in our application.

[ERROR] SDK - failed to get video device for constraints {"video":{"deviceId":{"exact":"91530b4f9878a844d2bb2989b31e0178f7947aa296fc1a6f0ff9bb7209c562bd"},"width":{"ideal":1280},"height":{"ideal":720},"frameRate":{"ideal

[2022-02-23 18:31] devalevenkatesh commented on #2051
@MohammedTaha Thank you for reporting this issue. This `receivingAudioDropped` event is triggered when the Amazon Chime SDK for JavaScript (JS SDK) sees that there is not enough bandwidth and is experiencing connectivity issues. When SDK sees that the connection is good you should be able to connect back fine and there is no handling required from builders to connect the audio back.

So couple of

[2022-02-23 18:56] #2052 closed

[2022-02-23 18:56] devalevenkatesh commented on #2052
Thanks for reporting this issue. The `NotReadableError` can have many reason as stated in the MDN doc:
https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia

It would be great to follow the bug template while filing this issue and provide us with the complete browser console logs. Couple of next things we can try checking:
- Can you reproduce on the JS SDK meeting demo? [Link]

[2022-02-23 18:56] stanggt3 commented on #2052
Still investigating

[2022-02-23 18:57] devalevenkatesh commented on #2043
Thanks for the update, can you also provide the console logs and whether you have updated to latest version 2.27.0 of `amazon-chime-sdk-js`?

[2022-02-23 19:55] devalevenkatesh commented on #2027
@AnkurSavaliya so the `amazon-chime-sdk-js` on the client side wont be able to help much since there wont be a central place to get events rather only on specific attendees client side individually. I suggest you to please check below meeting events guide. Using it, you can receive events from Amazon Chime backend and then trigger the appropriate downstream logic.

As stated by Sichao above, reque

[2022-02-23 19:55] #2027 closed

[2022-02-23 19:59] devalevenkatesh commented on #1785
Closing this issue with the updates provided above. Please file a new or re-open this if you are continuously running into the same issue with same details like meetingId.

[2022-02-23 19:59] #1785 closed

[2022-02-23 20:13] devalevenkatesh commented on #1749
@abhimanusharma Please note that there is no meeting title attribute and in the `amazon-chime-sdk-js` demo, the title is basically used as just a name for `ExternalMeetingId` attribute which can be passed while you call the `createMeeting` API. Hence, there would not be any title attribute and you will receive the `externalMeetingId` if it is provided.

In the demo, check [here](https://github.com

[2022-02-23 20:13] #1749 closed

[2022-02-23 21:34] MohammedTaha commented on #2051
@devalevenkatesh, thanks for the prompt response.

I'll add these observers and see if it can help in delivering better experience.  Let me also try to answer your questions
 1 - On me, I'll add them and see if audio gets available as soon as connectionDidBecomeGood gets triggered. Assuming its just the network bandwidth issue, I think the video streaming should also get impacted while its not the

[2022-02-23 21:52] #1880 closed

[2022-02-23 21:53] vidya-mohan commented on #1592
Resolving - hope this solution works for you @AlexMCarv

[2022-02-23 21:53] #1592 closed

[2022-02-23 22:19] vidya-mohan commented on #1510
@russellc92 hope the suggestion was helpful. Our ports are documented in https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#what-are-the-subnets-and-ports-used-by-an-application-using-the-aws-sdk and if not used by KVS, should be fine

[2022-02-23 22:19] #1510 closed

[2022-02-23 23:28] devalevenkatesh commented on #2043
I am able to reproduce this issue with M1 mac mini, I will trying other machine to see if can repro. Basically even if the local side has valid UUID stream id for video or content share, the remote attendee gets it as `v_2`..`v_3` and then even though there is bound video stream in a `VideoTileState` it actually has incorrect streamIds.

I will update the issue once I have more info.

[2022-02-24 01:05] devalevenkatesh commented on #2043
I also tested on a Intel Mac Big Sur 11.6.3 Safari Version 15.3 and could get the video and content share fine but the same does not work for Mac Mini M1 Safari 14. I tried the same JS SDK version so the stream IDs `v_2`.. `v_3` still work and no issues on UX.

[2022-02-24 01:38] hensmi-amazon commented on #2043
Worth noting that we do not forward MSID, so it is expected that the remote receiving party's MSID will not match the senders. We use the `v_X` pattern for matching receive streams with the sending attendee ID.

[2022-02-24 01:46] dathacky commented on #2038
@xuesichao  @hekmatba
Thank you, hope it gets fixed soon

[2022-02-24 06:24] JunedBrilworks commented on #2043
Logs for the attendee who is receiving blank video tile
**OS**: `macOS Big Sur 11.1  MacBook Air (M1, 2020) Apple M1`
**Browser**:  `Firefox 97.0.1 64-bit`
[console-export-2022-2-24_11-48-36.txt](https://github.com/aws/amazon-chime-sdk-js/files/8130126/console-export-2022-2-24_11-48-36.txt)

Logs of attendee whose tile when blank
**OS**: `macOS Big Sur 11.1  MacBook Air (M1, 2020) Apple M1`
**Brow

[2022-02-24 10:14] ddennis commented on #1113
Any news on how to use with Expo and eas-build?

[2022-02-24 10:23] itzikbuktshin opened #2057 "Noise is coming out from the speakers when using chime on macOS - Safari browser"
### What happened and what did you expect to happen?

Join a meeting via Safari web browser and I'm hearing myself repeatedly or with eco.

I'm expecting not to hear myself at all.

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html)
- [X] README [p

[2022-02-24 12:04] subhendukundu commented on #1122
We just tried this. Removed the meetingManager, like so https://github.com/subhendukundu/aws-chime-content-share/blob/main/src/App.js#L54

Still activeSpeakerPolicy not able to push higher video quality. :( Is there anything we are missing?

[2022-02-24 17:44] devalevenkatesh commented on #2051
We have fixed a [reconnecting issue](https://github.com/aws/amazon-chime-sdk-js/pull/1993) in `2.27.0` but not sure if this is the same issue you are observing. Can you also try to upgrade to `2.27.0` and see if the re-connection also gets better?

[2022-02-24 19:17] devalevenkatesh commented on #2043
We have filed a WebKit bug for Apple M1 black content share issue: https://bugs.webkit.org/show_bug.cgi?id=236870. I am not sure yet if this is an issue with local video because, I tested camera video and it worked fine for from Safari -> any browser or from Chrome -> FF or FF -> Chrome. I have the same versions as mentioned above.

So only problem is for content share from Safari (14.0.2, 14.1.1,

[2022-02-24 20:06] justindarc opened #2059 "NScaleVideoUplinkBandwidthPolicy spamming the logs potentially causing audio quality issues"
### What happened and what did you expect to happen?

The `NScaleVideoUplinkBandwidthPolicy` was seen spamming the logs 7,300 times without taking any action to actually change the scale factor. This seems to indicate some degree of recurring work that is happening under certain conditions far more frequently than it should. This user also experienced sender audio quality loss during this time.

#

[2022-02-24 22:10] LeviSklaroff commented on #2057
Hi, I tried reproducing the issue as you provided but I was not able to hear myself, so I have a few questions to try and reproduce.

- By "Even when the mic is muted, we still can hear the noise" do you mean the mic is muted in the chime app or is the mic itself muted?
- Is this with the Mac's internal microphone or is this with an external microphone.
- Are you able to reproduce this on our [mee

[2022-02-24 22:42] justindarc commented on #2059
This is reproducible if someone on the call is sending video via simulcast.

[2022-02-24 22:54] devalevenkatesh commented on #1992
I tried the reproductions steps provided in issue description and could not reproduce the issue on a M1 mac as well as intel macbook pro. Please check below systems where I could not reproduce the LED issue.

As soon as I either call `meetingSession.audioVideo.chooseVideoInputDevice(null)` or `meetingSession.audioVideo.stopLocalVideo()` both turn my camera LED off as well as stopped the video.

Sy

[2022-02-24 22:54] #1992 closed

[2022-02-24 23:07] hensmi-amazon commented on #1927
Just popping in to answer that last question but haven't dug into original report. BWE will not always rise on its own without receiving increased data from the remote end. Our downlink policy attempts to work around this by 'probing' higher receive bitrates to keep BWE from getting stuck.
* `targetBitrate`: BWE from browser, possibly with hysteresis applied
* `subscribedRate`: Total receive strea

[2022-02-24 23:51] LeviSklaroff commented on #1927
@JunedBrilworks
- Do you happen to be modifying VideoPreferences at all? We recently came across and fixed a bug that had similar behavior to what you have described but may be unrelated.
- Have you tested if this problem only occurs with Simulcast on? Or will it also occur with VideoPriorityBasedPolicy

[2022-02-25 05:22] itsbeautifullife opened #2063 "Pin a user permanently to the "featured" video tile"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-02-25 07:09] dathacky opened #2064 "Video cannot be received when turning on/off in a room with 2 participants"
### What happened and what did you expect to happen?

The remote side can't see the video when I try to turn on/off the camera

https://drive.google.com/file/d/1zCY8OWJ86ksKBKqKvG5gZT5Y-vfuqmsN/view?usp=sharing

### Have you reviewed our existing documentation?

- [X] GitHub [issues](https://github.com/aws/amazon-chime-sdk-js/issues)
- [X] FAQs [page](https://aws.github.io/amazon-chime-sdk-js/modu

[2022-02-25 12:45] JunedBrilworks commented on #2043
Happening in 2.24.0 also.
[www.devaccel.com-1645792724235.log](https://github.com/aws/amazon-chime-sdk-js/files/8141210/www.devaccel.com-1645792724235.log)
[www.devaccel.com-1645792973290.log](https://github.com/aws/amazon-chime-sdk-js/files/8141211/www.devaccel.com-1645792973290.log)

[2022-02-25 13:49] JunedBrilworks commented on #2043
<img width="1440" alt="Screenshot 2022-02-25 at 19 16 37" src="https://user-images.githubusercontent.com/93306798/155726144-2976a56b-ffb5-462f-a13e-2a417d2cb6f1.png">
<img width="1440" alt="Screenshot 2022-02-25 at 19 17 19" src="https://user-images.githubusercontent.com/93306798/155726171-46683fbe-8df7-4418-9cc6-e35d73a1a8fe.png">
From logs looks like correspond  attendee is not found for stream

[2022-02-25 13:52] JunedBrilworks commented on #2043
<img width="1404" alt="Screenshot 2022-02-25 at 19 20 15" src="https://user-images.githubusercontent.com/93306798/155726536-c80732dc-00d2-45ca-8b01-30920a11e327.png">
<img width="1392" alt="Screenshot 2022-02-25 at 19 20 51" src="https://user-images.githubusercontent.com/93306798/155726566-c9598e57-5cce-41d6-a0c9-5a287d2a32fc.png">

From logs looks like SDK fails to find corresponded attendee for

[2022-02-25 17:27] devalevenkatesh commented on #2064
Thanks for reporting the issue. I checked the video and tried to reproduced with our deployed apps for `2.24.0` as well as the latest SDK versions and could not reproduce the same issue.

My System:
- macOS Big Sur 11.6.3
- Chrome 98.0.4758.102 (Official Build) (x86_64)

- Could you please attach your browser console logs to check further?
- Your deployed demo is using `2.24.0` version can you  on

[2022-02-25 21:06] ltrung commented on #1964
[amazon-chime-sdk-js@v3.0.0-beta.0](https://www.npmjs.com/package/amazon-chime-sdk-js/v/3.0.0-beta.0) has been released. You can find more info from [CHANGELOG.md](https://github.com/aws/amazon-chime-sdk-js/blob/v3.0.0-beta.0/CHANGELOG.md#300-beta0---2022-02-08).
We also start a [migration doc](https://github.com/aws/amazon-chime-sdk-js/blob/v3.0.0-beta.0/guides/17_Migration_to_3_0.md) from v2 to

[2022-02-25 21:43] ltrung commented on #1810
@ltrung @ryanbrown-rcd We have released v3.0.0-beta.0 that remove the need for aws global object. Could you check it out?

[2022-02-26 09:37] alisaliso commented on #1810
On it

[2022-02-27 12:44] alisaliso commented on #1810
@ltrung hi! Checked the v3.0.0-beta.0, everything is working perfectly

[2022-02-28 01:36] dathacky commented on #2064
@devalevenkatesh
Can you reproduce it with the steps below, I just updated it, including joining the meeting room with 2 options Enable Simulcast for Chrome and Use Priority-Based Downlink Policy [Stable Network]
1. A and B join the meeting (Check Enable Simulcast for Chrome and Use Priority-Based Downlink Policy [Stable Network])
2. A and B turn on the camera
3. A turn off the camera
4. A turn on

[2022-02-28 01:40] yoshitsugu commented on #1943
@nehtambe Do you have any idea when it will be fixed?

[2022-02-28 03:58] JunedBrilworks commented on #1927
**Do you happen to be modifying VideoPreferences at all? We recently came across and fixed a bug that had similar behavior to what you have described but may be unrelated.**

Yes we are modifying the VideoPreferences on active speaker changes. Yes we tried 2.27.0 and issue is still there but we need to revert immediately as in that version introduces other issues
https://github.com/aws/amazon-chim

[2022-02-28 04:03] JunedBrilworks commented on #2043
@devalevenkatesh @hensmi-amazon @ltrung

Can you guys please give your feedback what could be possible solution ?

[2022-02-28 06:20] ltrung commented on #2064
Thanks for reporting. I could reproduce this with just toggle a video on/off then on again in a simulcast meeting. Seem like the issue is with the uplink (transceiver encoder). I will investigate more and get back to you.

[2022-02-28 17:42] devalevenkatesh commented on #2043
@JunedBrilworks I will go through the new logs. I did go through the older logs and found that attendees are starting the local videos before the SDK connects meeting session completely. From the logs, I see that the `startLocalVideoTile` call comes in while the SDK is completing the connection and hence any further update is deferred until SDK connection setup completes.

Can you confirm if you c

[2022-02-28 18:29] devalevenkatesh commented on #1976
Hello @venkatrv75 , I am closing this issue due to in-activity, please feel free to re-open if you are still facing the same issue and as requested in previous comment request you to test on provided links to check if this is SDK related or WebRTC or device specific issue.

[2022-02-28 18:29] #1976 closed

[2022-02-28 18:57] devalevenkatesh commented on #2043
I also found that you are mentioned in other issue that you are modifying video preferences based on active speaker: https://github.com/aws/amazon-chime-sdk-js/issues/1927#issuecomment-1053858992. I think we recently merged in a fix https://github.com/aws/amazon-chime-sdk-js/pull/2055 for handling a similar issue to not mutate the video preference object which is currently been accessed so can you

[2022-02-28 19:21] sinanliuAmazon commented on #1943
Hi, we will deploy the fix to ap-northeast-1 region in around 2 - 3 weeks.

[2022-02-28 19:25] hensmi-amazon commented on #2064
Thanks for the report @dathacky , we have narrowed this down to a backend change for an unrelated Firefox fix which split up send/recv video RTP extension negotiation and had a side effect of not putting extensions in inactive sections. libwebrtc responds a bit unfortunately here even though the section is inactive (likely due to removing 'mid') and disables simulcast for all future negotiations.

[2022-03-01 02:27] devalevenkatesh commented on #2043
I think I went through the same `log-1` and `log-2` logs you provided and gave above suggestions, let me know if any of it works?

[2022-03-01 04:11] JunedBrilworks commented on #2043
OK sure I will try it out and update it here.

[2022-03-01 06:11] vijayamin83 commented on #1878
Hello Support Team,

Can you please check the log for this meeting id: ee6dcbf3-f935-4ee9-8bb9-604fff980706

The Problem with this meeting id is, even I stop the screen share, it keep changing the screens on the another machines.

Thanks,

[2022-03-01 13:39] Level60Warlock commented on #2005
@ltrung - Still waiting on Google for additional guidance around these Samsung device issues.

Any reason that this can't be added to https://github.com/aws/amazon-chime-sdk-js/issues/1059/?

Additionally, do we have any options to beef up [defaultbrowserbehavior.html#issupported](https://aws.github.io/amazon-chime-sdk-js/classes/defaultbrowserbehavior.html#issupported), which would allow consumer

[2022-03-01 17:33] hensmi-amazon commented on #2064
Fix has been deployed and I have confirmed fix using our demo. Closing now, sorry for the inconvenience!

[2022-03-01 17:33] #2064 closed

[2022-03-01 17:47] hensmi-amazon opened #2078 "Firefox occaisionally doesn't render pairs of videos on initial join"
### What happened and what did you expect to happen?

Making an issue for discussion on https://github.com/aws/amazon-chime-sdk-js/pull/1831 just so it doesn't get lost. I was able to reproduce (maybe a similar issue) an unsignalled SSRC related issue in FF with network manipulation and pushed a backend change to not negotiate MID on client receive streams, which fixed the issue for me, however it

[2022-03-01 17:51] hensmi-amazon commented on #2078
@haofiltered Looking at last logs, I was just going to say that the backend changes were deployed (I can tell they were in those logs by the SDP), I wonder if this is some other FF related issue then the one fixed.
* Whats the repro rate? It was only like 1/10 for me without manual network manipulation, in which case I was able to get 100% (but that was fixed by backend changes).
* Does changing r

[2022-03-01 18:00] ltrung commented on #2063
Please refer to this comment https://github.com/aws/amazon-chime-sdk-js/issues/1122#issuecomment-969149430 for more details, but you can create a copy of active speaker policy to suppress the default behavior to always feature active speaker. After that you can manually call `setHasBandwidthPriority` from `NScaleVideoUplinkBandwidthPolicy` to set the presenter the main video.

[2022-03-01 18:21] haofiltered commented on #2078
Hi @hensmi-amazon

- I can reproduce it almost every time. Just using FF to join the meeting with camera off by default, don't call `startLocalVideoTile()`.
- Didn't test the region, but I think it has no impact.
- Toggle video on remote does help with recovery.

Not sure how to get the FF debug logs, can you be more specific? Here is the log by setting `LogLevel.DEBUG`.[logs2.txt](https://github.

[2022-03-01 22:06] LeviSklaroff commented on #2005
Thanks for the update, added to known issues. Sadly because this is a device specific issue we are not able to handle it in `isSupported` as we are only able to gather the browser and the OS from the browser level.

[2022-03-02 18:29] joey-slingshot commented on #1910
I'd also like to request to feature to be implemented.  Currently, when I run the webpack/vite visualizer plugin for my production build, `amazon-chime-sdk-js` shows a file size of `1.49 MB` and it takes up 25% of my total JS build.

This [official AWS document](https://aws.amazon.com/blogs/developer/modular-packages-in-aws-sdk-for-javascript/) specifically talks about the "the performance improve

[2022-03-02 19:27] ltrung commented on #1910
@joey-slingshot Is it possible to attach the webpack visualize plugin result or just a breakdown of what contributes to that 1.49MB size? Almost all of `amazon-chime-sdk-js` is meeting-related APIs so it is a bit different with aws-sdk js where they can bundle based on specific functionalities.

[2022-03-02 19:31] joey-slingshot commented on #1910
@ltrung yes, is this what you're looking for?

![image](https://user-images.githubusercontent.com/93208839/156435363-e4ad1e7d-4a67-40dc-b19b-4f614956dbbd.png)

[2022-03-03 11:46] JunedBrilworks commented on #2043
Initial tests are looking good.

Only notice a couple of times for firefox during the initial render. Looking forward to the solution of the below issue.
https://github.com/aws/amazon-chime-sdk-js/issues/2078

We close this issue if not reproducible during further tests.

[2022-03-03 20:34] michhyun1 commented on #2043
Great, thanks for the feedback and for communicating your results with us.

[2022-03-03 21:39] ltrung commented on #2043
@JunedBrilworks Noticed that you mentioned Firefox which does not work with priority based downlink policy as the browser does not support bandwidth estimation stats. You can use this API [supportDownlinkBandwidthEstimation](https://github.com/aws/amazon-chime-sdk-js/blob/main/src/browserbehavior/DefaultBrowserBehavior.ts#L202) to check on whether you can use priority based downlink policy.

[2022-03-04 02:58] dathacky commented on #2038
@hekmatba
Hi, hope you are still interested in this issue

[2022-03-04 10:26] JunedBrilworks commented on #2043
Yes, We can are using this API [supportDownlinkBandwidthEstimation](https://github.com/aws/amazon-chime-sdk-js/blob/main/src/browserbehavior/DefaultBrowserBehavior.ts#L202) to check on whether we can use a priority-based downlink policy.

For Firefox we have are also facing this issue https://github.com/aws/amazon-chime-sdk-js/issues/2078

[2022-03-04 17:43] LeviSklaroff commented on #1927
Has the fixed you tried out in [#2043](https://github.com/aws/amazon-chime-sdk-js/issues/2043) helped with this issue?

[2022-03-04 19:02] LeviSklaroff commented on #1878
Could you clarify what you mean by "it keeps changing the screens on the another machines" are you continuing to see the screen share after its been disabled?
Looking through the logs I found there were 58 cases that screen share was started, and out of those 58 there were 51 cases where the other attendee was able to view the screen, 6 of these cases the screen share ended instantly like in above

[2022-03-04 19:09] tindevelopers commented on #1878
He means that on the host machine, when screen sharing is "stopped", the target machines continue to see the screen being shared, and the host who is sharing the screen has no way of stopping the screen share unless he exits the session or another person on the conference starts sharing their screen, taking control of the screen sharing channel.

[2022-03-04 21:29] Brenerss opened #2085 "Live transcription on PRODUCTION"
### What happened and what did you expect to happen?

I managed to configure it to run locally but when I go to test in production, the url returns 502

https://example.com/transcript?title=dd3858cbc47a22b6edfe5cf6bcd41538
Request Method: GET
Status Code: 502

Do you have an example to use when configuring? I did it this way, but I imagine that some more configuration is missing

this function is

[2022-03-04 22:00] LeviSklaroff commented on #1878
Looking at the logs and backend all instances of content share had a stop event trigger.

- Is this issue occurring in all instances of sharing your screen? Or is it similar to your issue where screen sharing instantly stops 1/10 times?

- I found one case where Attendee B started sharing their screen and then Attendee C started sharing their screen which caused Attendee B to stop. Is this an inst

[2022-03-05 00:40] LeviSklaroff commented on #2085
This AWS post has an example of configuring: https://docs.aws.amazon.com/chime/latest/dg/initiate-transcription.html although it looks like your config is correct. What is https://example.com/transcript?title=dd3858cbc47a22b6edfe5cf6bcd41538 in this case?

[2022-03-07 12:36] Brenerss commented on #2085
`example.com` is   oculting my production url

[2022-03-07 16:16] itzikbuktshin commented on #2057
Hi.
The mic is muted in the chime app.
I'm using Mac's mic microphone.
I wasn't able to reproduce it with the meeting demo app in v.2.27.0

[2022-03-07 16:51] Brenerss commented on #1994
Its works! But when i tested on prod, returns

[code]

[2022-03-07 22:38] LeviSklaroff commented on #2085
Ah sorry, I was wondering what the transcript?title=dd3858cbc47a22b6edfe5cf6bcd41538 endpoint was in this case? Is this the meeting that is being transcripted?

[2022-03-07 23:05] LeviSklaroff commented on #1994
I noticed in this #2085 you are not passing a region, if the region is not specified it uses the same region as the meeting, which can sometimes not support transcription and you will receive this error. You can Use "region = 'auto'" to have Amazon Chime use Amazon Transcribe in a nearby region if it is not available in the meeting region.
https://docs.aws.amazon.com/chime/latest/APIReference/API_

[2022-03-07 23:15] LeviSklaroff commented on #2057
Hmm, that's quite odd.

- Could you provide a meeting id for when this bug occurs?
- Could provide browser console logs from the user experiencing this issue?

[2022-03-08 00:08] jadamroth commented on #2040
Solved my issue. Very stupid. I launched in us-east-2 and us-west-1. Both don't have capabilities for launching meetings in that region. I launched in us-east-1, and it worked.

https://docs.aws.amazon.com/chime/latest/dg/sdk-available-regions.html

[2022-03-08 20:14] hensmi-amazon commented on #2078
I will take a look again now, had to come back to this. For the debug logs (assuming you are on MacOS) you can copy that into a shell script (e.g. `firefox_debug.sh`, then quit firefox, and then run it to restart.
[code]
Then can reproduce and attach a tarball of the logs to this ticket.

I'm hoping I can find a mitigation that doesn't require spamming SDP negotiations until all videos are receive

[2022-03-08 20:47] haofiltered commented on #2078
Here is the debug log, thank you @hensmi-amazon
I assume you only need `ice.log`, but I compressed the whole folder just in case.
Let me know if you need anything else. I am using latest `2.28.0` for this debug log.
[debug.zip](https://github.com/aws/amazon-chime-sdk-js/files/8209474/debug.zip)

[2022-03-08 23:04] nainkunal933 commented on #2063
@itsbeautifullife Did Trung's comment answer your question?

[2022-03-08 23:30] ltrung commented on #2063
Closing for now but let us know if you have additional questions.

[2022-03-08 23:30] #2063 closed

[2022-03-09 01:16] antennix opened #2095 "Can create a boundary between two meeting rooms?"
If create two Amazon Chime SDK Web applications with one AWS account,

・Web App:A
・Web App:B

can I create a boundary between creating two meeting rooms?

I'm afraid that the conference room created in A will be fetched as a list by the listMeeting executed in B.

[2022-03-09 18:57] hensmi-amazon commented on #2078
@haofiltered do you have meeting ID? its unfortunatly not in debug logs. Thanks for those, I can see a similar issue around unsignalled SSRCs (though I am not having luck reproducing myself :( )
[code]

Looks like its thrashing between two SSRCs (why it needs 2+ videos to repro) before receiving the SDP and can't recover after. Will continue looking.

[2022-03-09 19:57] haofiltered commented on #2078
@hensmi-amazon
Couldn't find the meetingID, so I just generated another debug log with meetingID down below:
MeetingID: `83b56da8-a7c9-422a-9dd0-3df276860706`
[debug.zip](https://github.com/aws/amazon-chime-sdk-js/files/8217694/debug.zip)

No need 2+ videos to reproduce, I reproduced this time with only one remote video.

So here is what I did:
1. Join a user (A) using Chrome, with video on.
2. Jo

[2022-03-09 20:35] sj94123 commented on #1317
Facing a similar issue with Chime Client. When a user switches a default device using system settings, the getUserMedia considers the previously connected device as the default device and connects to that instead of the most recently changed default device.

[2022-03-09 22:01] michhyun1 commented on #1317
@sj94123 can you please create a new issue and link to this issue if its related? Thanks

[2022-03-09 22:17] sj94123 opened #2098 "Can't connect to updated default device during meeting"
### What happened and what did you expect to happen?

This issue is reproducible in Chime web/electron which uses Chime SDK 2.28.0. Connected my Airpods  and  Plantronics Blackwire 5220 Series . Steps to repro in web/Electron:
1. Set the default device to any device and join using that device. (I chose Plantronics Blackwire 5220 Series as my default device)
2. During the meeting switch the default

[2022-03-09 22:17] sj94123 commented on #2098
This might be related to https://github.com/aws/amazon-chime-sdk-js/issues/1317

[2022-03-10 10:49] Ajamuar opened #2099 "Incorrect attendee roster on refresh for one of the participants"
### What happened and what did you expect to happen?

We are using `useAudioVideo` hook for our use cases. On loading for the first , `audioVideo?.realtimeSubscribeToAttendeeIdPresence(attendeeCallback)` calls the callback passed to it. But if we refresh the page, the callback from the same place is not called. Currently we are only capturing `Video` on one side and `None` on the other. When we ch

[2022-03-10 11:36] MjdBh opened #2100 "How increace media creation limitation"
### What happened and what did you expect to happen?

When  I am starting a new media creation pipeline, I am getting the following error. But I can not find anywhere how I can increase it.

 "errorType": "ResourceLimitExceeded",
    "errorMessage": "Cannot create new media capture pipeline for source type 'ChimeSdkMeeting' and source arn 'arn:aws:chime::*************:meeting:67be25d6-7eca-475f-b1

[2022-03-10 13:02] ArtemZakharchuk commented on #1931
@vidya-mohan Sorry for the delayed response. The problem is gone after the SDK update.

[2022-03-10 16:48] ltrung commented on #2098
@sj94123 This seems to be related to the Chime Client so please open a support ticket with that team.

[2022-03-10 16:48] #2098 closed

[2022-03-10 18:10] niborkar commented on #2100
Hi MjdBh@,

The error indicates that you are trying to create more than one media capture pipeline for the same ChimeSdkMeeting at a given time, which is not allowed. We currently support creating only one capture pipeline per meeting.

[2022-03-10 18:31] hensmi-amazon commented on #2078
So I was able to reproduce, its actually same issue as before, reintroduced with an adjustment for chrome simulcast...browsers are fun. Basically (perhaps not information interesting to everyone...):

* FF has  unsignalled SSRC bug that breaks video seemingly 100% of the time RTP comes before SDP with how we negotiated SDP. Previously we unintentionally mitigated this without knowing before, by sp

[2022-03-10 18:33] #1931 closed

[2022-03-10 18:34] michhyun1 commented on #1931
@ArtemZakharchuk thanks for the reply - closed this issue for now. Please let us know if you have any other issues.

[2022-03-10 19:57] haofiltered commented on #2078
Thank you @hensmi-amazon !
Glad you could reproduce on your end now. Looking forward to the fix.
And just FYI, I had `simulcast` **off** while reproducing this issue, just trying to provide as more info as possible, hopefully can help you with the fix a little bit. :)

[2022-03-10 21:54] MjdBh commented on #2100
We create meeting at first, so this situation can't happen.
We hadn't had this problem for three months while deploying it to production.
But this type of error occurs in this week.

[2022-03-11 01:13] tindevelopers commented on #1878
Is this issue occurring in all instances of sharing your screen? **"NO"** Or is it similar to your issue where screen sharing instantly stops 1/10 times?

I found one case where Attendee B started sharing their screen and then Attendee C started sharing their screen which caused Attendee B to stop. Is this an instance of the bug? In this case it looks like meetingSession.audioVideo.stopContentShar

[2022-03-11 19:48] xuesichao commented on #1320
Close the issue as the fix will be release in v3.0.0-beta.1

[2022-03-11 19:48] #1320 closed

[2022-03-11 20:40] #2085 closed

[2022-03-11 20:40] #1994 closed

[2022-03-11 20:42] Brenerss opened #2103 "Exists some voice changer for amazon chime sdk?"
### What are you trying to do?

I'm trying change my voice to be like robot

### What documentation have you looked at so far?

README.md, Amazon Chime SDK Developer Guide, etc.

[2022-03-12 00:41] mdebusschere2 commented on #811
This behavior seems to have continued, we still can not enumerate audio output devices on IOS and Chrome.
Out tests on Safari worked though.
We had other issues with IoS and Chrome - video and audio did not actual start streaming despite no errors.
Forcing a user to respond to an Alert appears to have resolved the issue on a couple of tests.

userAgent=Mozilla/5.0 (iPhone; CPU iPhone OS 15_3_1 lik

[2022-03-12 02:34] nainkunal933 commented on #2103
Hey @Brenerss,

I have worked mostly with video stream transform but I think audio transform is also possible. While doing some research I found this article that showcases how to modify audio streams:
[Transforming audio and shared content in the Amazon Chime SDK for JavaScript](https://aws.amazon.com/blogs/business-productivity/transforming-audio-and-shared-content-in-the-amazon-chime-sdk-for-ja

[2022-03-14 17:13] sinanliuAmazon commented on #1943
Hi, the fix is deployed to ap-northeast-1 region, please let us know if you still see this issue.

[2022-03-14 20:14] ltrung commented on #1964
[amazon-chime-sdk-js@v3.0.0-beta.1](https://www.npmjs.com/package/amazon-chime-sdk-js/v/3.0.0-beta.1) has been released. The main change in this beta build is:
- Migrate from the legacy Google metric stats in `metricsDidReceive`.  You will receive standard metrics in Chrome now. You can also access raw webRTC stats [`RTCStatsReport`](https://developer.mozilla.org/en-US/docs/Web/API/RTCStatsReport)

[2022-03-14 20:19] michhyun1 commented on #811
@mdebusschere2 This ticket is already closed - can I ask that you create a new issue and please give us more context into your issue. The more detailed you are, the more we can help. Thanks